---
title: Enabling TAS for VMs Users
owner: <%= vars.product_name %> Documentation
---

The topics in this subsection explain how to manage user accounts and enable the users of a <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) runtime on <%= vars.platform_name %>.


## <a id='overview'></a> Overview

<%= vars.app_runtime_abbr %>-based runtimes are opinionated development environments with built-in structures to compartmentalize, support, and track multiple independent app development teams. Enabling <%= vars.app_runtime_abbr %> users means:

* Inviting new users and assigning user roles
* Setting up and managing user notifications
* Setting up orgs, spaces, and segments for developer users to work in
* Giving developers access to software services and buildpacks
* Giving developers and security objects
* Enabling secure traffic between apps
* Integrating <%= vars.app_runtime_abbr %> with container systems and development environments

In addition to these tasks, <%= vars.app_runtime_abbr %> managers may also deploy apps, create service instances, and perform other tasks that <%= vars.app_runtime_abbr %> app developers do. For more information, see [Developer Guide](../devguide/index.html).
      

## <a id='contents'></a> Contents

### <a id='accounts'></a> User Accounts and Communications

- [Managing User Roles with Apps Manager](../console/console-roles.html)

- [Creating New <%= vars.app_runtime_abbr %> User Accounts](../opsguide/creating-account.html)

- [Adding Existing SAML or LDAP Users](../opsguide/external-user-management.html)

- [Creating and Managing Users with the cf CLI](../adminguide/cli-user-management.html)

- [Creating and Managing Users with the UAA CLI (UAAC)](../uaa/uaa-user-management.html)

- [Getting Started with the Notifications Service](../adminguide/notifications.html)

### <a id='devs'></a> Enabling Developers

- [Managing Apps and Service Instances Using Apps Manager](../console/manage-apps.html)

- [Managing Access to Service Plans](../services/access-control.html)

- [Managing Service Instances](../devguide/services/managing-services.html)

- [Managing Service Keys](../devguide/services/service-keys.html)

- [Managing Custom Buildpacks](../adminguide/buildpacks.html)

- [Configuring Container-to-Container Networking](../devguide/deploy-apps/cf-networking.html)

- [Managing Isolation Segments](../adminguide/isolation-segments.html)

- [Using Docker in <%= vars.app_runtime_abbr %>](../adminguide/docker.html)

- [Trusted System Certificates](../devguide/deploy-apps/trusted-system-certificates.html)
