---
breadcrumb: <%= vars.product_name %> Documentation
title: Getting Started with PAS
owner: <%= vars.product_name %> Documentation
---

##<a id='who'></a>Introduction

This topic gives a high-level conceptual overview and introduction to Pivotal Application Service (PAS). It is designed to:

* Introduce the PAS runtime to people who are unfamiliar with it.

* Provide context and explanations that support the how-to information in the Pivotal documentation's role-based guides.

* Explain how you can get started running apps on PAS in two ways:

  - Install and run <a href="https://docs.pivotal.io/pcf-dev/index.html"><%= vars.product_name %> Dev</a>, a free, lightweight version of PAS that enables you to develop and run  apps on your local workstation.

  - Subscribe to <a href="http://docs.run.pivotal.io/starting/index.html">Pivotal Web Services</a> (PWS), a full PAS platform hosted by Pivotal.

If you want to learn about how PAS works or test it out yourself, this guide is for you.

##<a id='contents'></a>Contents

* <a href="/pivotalcf/concepts/overview.html">Cloud Foundry Overview</a> - A general introduction to [Cloud Foundry Application Runtime](https://www.cloudfoundry.org/application-runtime/), the open-source software that underlies PAS. Read this first.

  - <a href="/pivotalcf/concepts/cf-routing-architecture.html">Cloud Foundry Routing Architecture</a>

  - <a href="/pivotalcf/concepts/diego/diego-architecture.html">How the Diego Auction Balances Jobs</a>

  - <a href="/pivotalcf/concepts/diego/diego-auction.html">How the Diego Auction Balances App Processes</a>

  - <a href="/pivotalcf/concepts/how-applications-are-staged.html">How Apps Are Staged</a>

  - <a href="/pivotalcf/devguide/deploy-apps/app-ssh-overview.html">Application SSH Overview</a>

  - <a href="/pivotalcf/concepts/high-availability.html">High Availability in Cloud Foundry</a>


* <a href="/pivotalcf/customizing/user-types.html"><%= vars.product_name %> User Types</a> - Explains the main categories of <%= vars.product_name %> users: the operators who run the platform, the runtime users who develop and manage apps and containers on the platform, and the end users who use the cloud-based apps that the platform hosts.

  - <a href="/pivotalcf/concepts/roles.html">Orgs, Spaces, Roles, and Permissions</a>

* <a href="/pivotalcf/concepts/architecture/index.html">PAS Components</a> - Describes the internal components of PAS, and how these specialized processes work together to support, maintain, and provide control over hosted apps.  Each component performs a different function within the platform.

  - <a href="/pivotalcf/concepts/architecture/cloud-controller.html">Component: Cloud Controller</a>

  - <a href="/pivotalcf/concepts/architecture/messaging-nats.html">Component: Messaging (NATS)</a>

  - <a href="/pivotalcf/concepts/architecture/router.html">Component: Gorouter</a>

  - <a href="/pivotalcf/concepts/architecture/uaa.html">Component: User Account and Authentication (UAA) Server</a>

  - <a href="/pivotalcf/concepts/architecture/garden.html">Component: Garden</a>

  - <a href="/pivotalcf/concepts/http-routing.html">Component: HTTP Routing</a>

  - <a href="/pivotalcf/concepts/diego/ssh-conceptual.html">Application SSH Components and Processes</a>

* <a href="/pivotalcf/concepts/security.html">Cloud Foundry Security</a> - An overview of how PAS protects its internal components and hosted apps from security threats.

  - <a href="/pivotalcf/security/concepts/index.html">Security Concepts</a>

  - <a href="/pivotalcf/security/process/index.html"><%= vars.product_name %> Security Processes</a>

  - <a href="/pivotalcf/security/process/pcf-security.html"><%= vars.product_name %> Security Overview and Policy</a>

  - <a href="/pivotalcf/security/process/security-lifecycle.html"><%= vars.product_name %> Testing, Release, and Security Lifecycle</a>

  - <a href="/pivotalcf/concepts/container-security.html">Container Security</a>

  - <a href="/pivotalcf/concepts/understand-cf-networking.html">Container-to-Container Networking</a>

* <a href="https://docs.pivotal.io/pcf-dev/index.html"><%= vars.product_name %> Dev</a> - A lightweight PAS that runs on your workstation, for developing apps locally.

* <a href="http://docs.run.pivotal.io/starting/index.html">Pivotal Web Services</a> - A subscription PAS installation operated by Pivotal.
