---
title: Managing the PAS Platform
owner: PCF Documentation
---

The topics in this subsection explain how to manage the structure and capabilities of an app runtime on <%= vars.platform_name %>, such as <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>).


## <a id='overview'></a> Overview

<%= vars.app_runtime_abbr %>-based runtimes are opinionated development environments with built-in structures to compartmentalize, support, and track multiple independent app development teams. Managing this environment includes:

* Managing routes and domains
* Managing orgs, spaces, and platform settings
* Generating app logs and usage reports

In addition to these tasks, <%= vars.app_runtime_abbr %> managers may also deploy apps, create service instances, and perform other tasks that <%= vars.app_runtime_abbr %> app developers do. For more information, see [Developer Guide](../devguide/index.html).
      

## <a id='contents'></a> Contents

### <a id='routes'></a> Managing Routes and Domains

- [Routes and Domains](../devguide/deploy-apps/routes-domains.html)

### <a id='org-space'></a> Managing Orgs, Spaces, and Platform Settings

- [Getting Started with Apps Manager](../console/dev-console.html)

- [Logging Into Apps Manager](../customizing/console-login.html)

- [Managing Orgs and Spaces Using Apps Manager](../console/manage-spaces.html)

- [Viewing ASGs in Apps Manager](../console/space-asgs.html)

- [Creating and Modifying Quota Plans](../adminguide/quota-plans.html)

- [Feature Flags](../adminguide/listing-feature-flags.html)

- [<%= vars.app_runtime_abbr %> Environment Variables](../devguide/deploy-apps/environment-variable.html)

### <a id='logs'></a> Generating App Logs and Usage Reports

- [App Logging in <%= vars.app_runtime_abbr %>](../devguide/deploy-apps/streaming-logs.html)

- [Reporting App, Task, and Service Instance Usage](../opsguide/accounting-report.html)

- [Reporting Instance Usage with Apps Manager](../opsguide/accounting-report-apps-man.html)

- [Using App Health Checks](../devguide/deploy-apps/healthchecks.html)

- [Installing the Loggregator Plugin for cf CLI](../loggregator/cli-plugin.html)
