---
title: TAS for VMs v6.0 Release notes
owner: Release Engineering
---

These are the release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='6.0.0'></a> 6.0.0

**Release Date:** 04/09/2024

* **[Breaking Change]** Remove Portal from TAS
* **[Breaking Change]** Change default internal route service port to 7070
* **[Breaking Change]** No longer install cflinuxfs3 by default
* **[Breaking Change]** Replace cpu entitlement counters with cpu_entitlement percentage gauge
* **[Breaking Change]** Remove (deprecated) Metrics Agent and Metrics Discovery Release
* **[Breaking Change]**: Move and adapt UAA password complexity policies 
* **[Breaking Change]**: Remove ability of UAA to serve as a native SAML identity provider (operators can continue to configure UAA to connect to an external SAML identity provider, using the **Authentication and Enterprise SSO** pane of the <%= vars.app_runtime_abbr %> tile configuration)
* **[Breaking Change]** Gorouter's deprecated /varz and /healthz endpoints on port 8080 have been removed
* **[Feature]** New form option and migration to opt-into allowing Small Footprint TAS to 'full' TAS upgrade.
* **[Feature]** Add support for NTLM authentication in Gorouter
* **[Feature]** CAPI Enable legacy MD5 buildpack paths
* **[Feature]** Adds Diego support for Docker workloads using OCI images
* **[Feature]**: Gorouters can be configured to prefer routing to app instances in the same AZ as the router
* **[Feature]** Operators can now turn off non-TLS load balancer health check endpoints for Gorouter and TCP Router via the "Enable HTTP load balancer health checks" properties in the "Networking" tab
* **[Feature]** dopplers can be scaled to zero
* **[Feature]** Gorouter now supports LB Health Checks over TLS on port 8443
* **[Feature]** Operators can set the property "Maximum number of network policies per app source" in the "App Developer Controls"
* **[Feature]** CF API now includes routability status from App Readiness checks in the /processes/:id/stats endpoint.
* **[Feature]** Expose a custom environment identifier on component logs forwarded via syslog
* **[Feature]** Advanced Configuration: Do not deploy Diego cells
* **[Feature Improvement]** Make database "encrypt key" setting more intentional, to avoid password-manager autofilling of the field
* **[Feature Improvement]** Reintroduce global log rate limit
* **[Feature Improvement]** OTel Collector marks OTLP Sums as monotonic if they originate from a Loggregator counter
* **[Feature Improvement]** Stop logging out of external OIDC provider when logging out of TAS
* **[Feature Improvement]** Operators can select which protocols Routing API will accept via the "Routing API Endpoint Protocol" property in the Networking tab. This property defaults to the backwards compatible option "both" that works with all tile integrations.
* **[Feature Improvement]**  Allow to configure w3c tracing headers in router
* **[Feature Improvement]** [Cloud Controller] Add option to configure Instance File Descriptor Limit
* **[Feature Improvement]** Apps using readiness health checks will now see audit.app.process.notready and audit.app.process.ready events reported to `cf events`
* **[Feature Improvement]** Garden now emits an `UnkillableContainers` metric to help identify cells that will be unable to redeploy successfully without operator intervention
* **[Feature Improvement]** Adds opt-in support for NTLM + other challenge-response based authentication using `Authorization: Negotiate` flows by automatically enabling sticky sessions for those requests.
* **[Feature Improvement]** Adds support for `Partitioned` cookies to allow for sticky sessions in embedded contexts. 

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.406</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.19.7</td>
      <td>
        <details>
          <summary>v1.19.7</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **storage:** Updated to v1.39.1.<br>For more information, see [storage](https://github.com/googleapis/google-cloud-go).
  * **bosh-backup-and-restore:** Updated to v1.9.61.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **api:** Updated to v0.170.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.19.4</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.22.1. (#1573)
  ## Dependencies
  * **azblob:** Updated to v1.3.1.<br>For more information, see [azblob](https://github.com/Azure/azure-sdk-for-go).
  * **credentials:** Updated to v1.17.7.<br>For more information, see [credentials](https://github.com/aws/aws-sdk-go-v2).
  * **s3:** Updated to v1.51.4.<br>For more information, see [s3](https://github.com/aws/aws-sdk-go-v2).
  * **mysql:** Updated to v1.8.0.<br>For more information, see [mysql](https://github.com/go-sql-driver/mysql).
  * **v2:** Updated to v2.16.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **oauth2:** Updated to v0.18.0.<br>For more information, see [oauth2](https://github.com/golang/oauth2).
  * **api:** Updated to v0.168.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.10</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.17</td><td></td></tr>
    <tr><td>capi</td><td>1.175.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>250.2.1</td>
      <td>
        <details>
          <summary>v250.2.1</summary>
          <pre style="max-width: 30em">
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-cli</td><td>1.60.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.44.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.387.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>1.82.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.66</td>
      <td>
        <details>
          <summary>2.12.66</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Build(deps): Bump rubocop from 1.62.0 to 1.62.1 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/199
  * Build(deps): Bump rubocop-ast from 1.31.1 to 1.31.2 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/198
  * Build(deps): bump io.netty:netty-tcnative-boringssl-static
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.65...2.12.66
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.95.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.26</td>
      <td>
        <details>
          <summary>2.4.26</summary>
          <pre style="max-width: 30em">
  * Add dotnet-sdk 8.0.203, remove dotnet-sdk 8.0.202 (#947)
  * Add dotnet-aspnetcore 6.0.28, remove dotnet-aspnetcore 6.0.27
  * Add dotnet-runtime 6.0.28, remove dotnet-runtime 6.0.27 (#940)
  * Add dotnet-sdk 6.0.420, remove dotnet-sdk 6.0.419 (#939)
  * Add dotnet-aspnetcore 7.0.17, remove dotnet-aspnetcore 7.0.16 (#942)
  * Add dotnet-runtime 7.0.17, remove dotnet-runtime 7.0.16 (#945)
  * Add dotnet-sdk 7.0.407, remove dotnet-sdk 7.0.406 (#941)
  * Add dotnet-aspnetcore 8.0.3, remove dotnet-aspnetcore 8.0.2 (#937)
  * Add dotnet-runtime 8.0.3, remove dotnet-runtime 8.0.2 (#943)
  * Add dotnet-sdk 8.0.202, remove dotnet-sdk 8.0.201 (#938)
  | name | version | cf_stacks |
  |-|-|-|
  | bower | 1.8.14 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 6.0.28 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 7.0.17 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 8.0.3 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 6.0.28 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 7.0.17 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 8.0.3 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 6.0.420 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 7.0.407 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 8.0.203 | cflinuxfs3, cflinuxfs4 |
  | libgdiplus | 6.1 | cflinuxfs3 |
  | libgdiplus | 6.1 | cflinuxfs4 |
  | libunwind | 1.8.1 | cflinuxfs3 |
  | libunwind | 1.8.1 | cflinuxfs4 |
  | node | 20.11.1 | cflinuxfs3 |
  | node | 20.11.1 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | dotnet-runtime | 6.0.x |
  | dotnet-aspnetcore | 6.0.x |
  | dotnet-sdk | 6.0.x |
  | bower | 1.8.x |
  * Uncached buildpack SHA256: e2bc48da530ea18ca0573ed2bcb68a9ee104a0d25c53fbe6525f96ff2befd214
  * Uncached buildpack SHA256: 2caccdd40beedad3cd69f816c3b8b78f2a85293d68205c1cf8bb8550917bfc10
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>garden-runc</td><td>1.50.0</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.10.17</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.67.0</td><td></td></tr>
    <tr><td>java-native-image-cnb-buildpack</td><td>0.9.0</td>
      <td>
        <details>
          <summary>0.9.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.11.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.11.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>log-cache</td><td>3.0.11</td><td></td></tr>
    <tr><td>loggregator</td><td>107.0.13</td>
      <td>
        <details>
          <summary>v107.0.13</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.12...v107.0.13
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>8.0.2</td>
      <td>
        <details>
          <summary>v8.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v8.0.1...v8.0.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.62</td>
      <td>
        <details>
          <summary>v1.2.62</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **mapfs:** Updated to v`599ec1c`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.61</summary>
          <pre style="max-width: 30em">
  Maintenance release
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metric-registrar</td><td>3.0.2</td>
      <td>
        <details>
          <summary>v3.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  **Full Changelog**: https://github.com/pivotal-cf/metric-registrar-release/compare/v3.0.1...v3.0.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mysql-monitoring</td><td>10.11.0</td><td></td></tr>
    <tr><td>nats</td><td>56.15.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.57</td>
      <td>
        <details>
          <summary>v7.1.57</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **nfsbroker:** Updated to v`422ac7a`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`b4451c3`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.12</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.23</td><td></td></tr>
    <tr><td>notifications</td><td>69.0.0</td><td></td></tr>
    <tr><td>notifications-ui</td><td>47.0.0</td><td></td></tr>
    <tr><td>otel-collector</td><td>0.4.0</td>
      <td>
        <details>
          <summary>v0.4.0</summary>
          <pre style="max-width: 30em">
  * Add spec property `ingress.grpc.address` to allow the listen address of the otel collector to be configured.
  * Add spec property `trace_exporters` to allow exporters to be configured to handle traces. It is not currently possible to register the same exporter name in both metric and trace pipelines.
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>php-offline-buildpack</td><td>4.6.17</td>
      <td>
        <details>
          <summary>4.6.17</summary>
          <pre style="max-width: 30em">
  * Add php 8.3.4, remove php 8.3.1 for stack(s) cflinuxfs4, cflinuxfs3
  * Add php 8.2.17, remove php 8.2.15 for stack(s) cflinuxfs4, cflinuxfs3
  * Add composer 2.7.2, remove composer 2.7.1 for stack(s) cflinuxfs4, cflinuxfs3
  | name | version | cf_stacks | modules |
  |-|-|-|-|
  | appdynamics | 23.11.0-839 | cflinuxfs3, cflinuxfs4 |  |
  | composer | 2.7.2 | cflinuxfs3, cflinuxfs4 |  |
  | httpd | 2.4.58 | cflinuxfs3 |  |
  | httpd | 2.4.58 | cflinuxfs4 |  |
  | newrelic | 10.11.0.3 | cflinuxfs3, cflinuxfs4 |  |
  | nginx | 1.24.0 | cflinuxfs3 |  |
  | nginx | 1.24.0 | cflinuxfs4 |  |
  | nginx | 1.25.4 | cflinuxfs3 |  |
  | nginx | 1.25.4 | cflinuxfs4 |  |
  | php | 8.1.26 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.26 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.27 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.27 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.2.16 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.16 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.17 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.17 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.3.3 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.3.3 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.3.4 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.3.4 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | python | 2.7.18 | cflinuxfs4 |  |
  | ruby | 3.0.5 | cflinuxfs4 |  |
  Default binary versions:
  | name | version |
  |-|-|
  | php | 8.1.27 |
  | httpd | 2.4.58 |
  | newrelic | 10.11.0.3 |
  | nginx | 1.25.4 |
  | composer | 2.7.2 |
  * Uncached buildpack SHA256: 2e107dc20c1513e1dce4cd720d7035cfa315e103d98861030aaed6a79272c65b
  * Uncached buildpack SHA256: 4e02b065fe8f9e55ceb566e0d799be4a2b53d801017f1ff09db7202ceef365ed
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>push-apps-manager-release</td><td>677.0.41</td>
      <td>
        <details>
          <summary>677.0.41</summary>
          <pre style="max-width: 30em">
  * remove global http2 warning
  * set a warning if trying to leave page while app is restaging.
          </pre>
        </details>
        <details>
          <summary>677.0.40</summary>
          <pre style="max-width: 30em">
  * update dependencies
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>push-offline-docs-release</td><td>6.0.158</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.92</td>
      <td>
        <details>
          <summary>v674.0.92</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`38d03a4`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>pxc</td><td>1.0.24</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.8.22</td>
      <td>
        <details>
          <summary>1.8.22</summary>
          <pre style="max-width: 30em">
  * Add setuptools 69.2.0, remove setuptools 69.1.1 for stack(s) cflinuxfs4, cflinuxfs3
  | name | version | cf_stacks |
  |-|-|-|
  | libffi | 3.2.1 | cflinuxfs3, cflinuxfs4 |
  | libmemcache | 1.0.18 | cflinuxfs3, cflinuxfs4 |
  | miniconda3-py39 | 24.1.2 | cflinuxfs3, cflinuxfs4 |
  | pip | 24.0 | cflinuxfs3, cflinuxfs4 |
  | pipenv | 2023.12.1 | cflinuxfs3 |
  | pipenv | 2023.12.1 | cflinuxfs4 |
  | python | 3.8.18 | cflinuxfs3 |
  | python | 3.8.18 | cflinuxfs4 |
  | python | 3.9.18 | cflinuxfs3 |
  | python | 3.9.18 | cflinuxfs4 |
  | python | 3.10.13 | cflinuxfs3 |
  | python | 3.10.13 | cflinuxfs4 |
  | python | 3.11.8 | cflinuxfs3 |
  | python | 3.11.8 | cflinuxfs4 |
  | python | 3.12.2 | cflinuxfs3 |
  | python | 3.12.2 | cflinuxfs4 |
  | setuptools | 69.2.0 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | python | 3.10.x |
  * Uncached buildpack SHA256: 7c6b86a80d6e078c58271e3f7c308c9e8376d128c85f3f6d4486a15aab9f04f1
  * Uncached buildpack SHA256: cc71449c03802052e53785b799a826f7530ff7f1a3da7158d825e3e6aa0cb66c
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>r-offline-buildpack</td><td>1.2.10</td>
      <td>
        <details>
          <summary>1.2.10</summary>
          <pre style="max-width: 30em">
  * Update r 4.2.3 dependencies for stack(s) cflinuxfs3, cflinuxfs4:
  * forecast from 8.21.1 to 8.22.0
  | name | version | cf_stacks | modules |
  |-|-|-|-|
  | r | 3.6.3 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.3 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.3 | cflinuxfs4 | forecast, plumber, rserve, shiny |
  | r | 4.3.2 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.3.2 | cflinuxfs4 | forecast, plumber, rserve, shiny |
  * Uncached buildpack SHA256: 7490f99a30928dbae9bd9b1e512234a866aa5bc007e19426c7b7f3113655970b
  * Uncached buildpack SHA256: b8b7e66e4fc7a02d896ec58913482ea666527f07569d2a983b093a77c346138b
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.293.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.10.11</td>
      <td>
        <details>
          <summary>1.10.11</summary>
          <pre style="max-width: 30em">
  * Add yarn 1.22.22, remove yarn 1.22.21 (#913)
  for stack(s) cflinuxfs4, cflinuxfs3
  | name | version | cf_stacks |
  |-|-|-|
  | bundler | 2.5.6 | cflinuxfs3, cflinuxfs4 |
  | jruby | 9.4.6.0 | cflinuxfs3 |
  | jruby | 9.4.6.0 | cflinuxfs4 |
  | node | 20.11.1 | cflinuxfs3 |
  | node | 20.11.1 | cflinuxfs4 |
  | openjdk1.8-latest | 1.8.0 | cflinuxfs3, cflinuxfs4 |
  | ruby | 3.0.5 | cflinuxfs3 |
  | ruby | 3.0.6 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs4 |
  | ruby | 3.1.4 | cflinuxfs3 |
  | ruby | 3.1.4 | cflinuxfs4 |
  | ruby | 3.2.2 | cflinuxfs3 |
  | ruby | 3.2.2 | cflinuxfs4 |
  | ruby | 3.2.3 | cflinuxfs3 |
  | ruby | 3.2.3 | cflinuxfs4 |
  | ruby | 3.3.0 | cflinuxfs3 |
  | ruby | 3.3.0 | cflinuxfs4 |
  | rubygems | 3.5.6 | cflinuxfs3, cflinuxfs4 |
  | yarn | 1.22.22 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | ruby | 3.2.x |
  * Uncached buildpack SHA256: dee5085e36c0a8e206523b6b6e00c86799997ebc2a1b36b7acafdfde249da8d2
  * Uncached buildpack SHA256: b1d01a6463853ed53b18a2a1f104652feebc27f41ba5a8c21ea7b16d6b032ce6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>web-servers-cnb-buildpack</td><td>0.11.0</td>
      <td>
        <details>
          <summary>0.11.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.14.0](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.14.0)
          </pre>
        </details>
        <details>
          <summary>0.10.1</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.13.1](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.13.1)
          </pre>
        </details>
        <details>
          <summary>0.10.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.13.0](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.13.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.44.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.60</td>
      <td>
        <details>
          <summary>v3.1.60</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`7d3a9db`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
          </pre>
        </details>
        <details>
          <summary>v3.1.59</summary>
          <pre style="max-width: 30em">
  ## Changes
  * fix regression for DFS exposed SMB Shares (#366)
  ## Dependencies
  * **smbbroker:** Updated to v`281c0d3`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`803264c`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.58</summary>
          <pre style="max-width: 30em">
  ## Changes
  * +Golang: Updated to v1.22.1 (#360)
  ## Dependencies
  * **ginkgo/v2:** Updated to v2.16.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **smbbroker:** Updated to v`d3987c2`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`151a764`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.5</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.6.11</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.39</td>
      <td>
        <details>
          <summary>v1.11.39</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.38...v1.11.39
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.2.3</td>
      <td>
        <details>
          <summary>v12.2.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.2.2...v12.2.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>system-metrics-scraper</td><td>4.0.7</td>
      <td>
        <details>
          <summary>v4.0.7</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v4.0.6...v4.0.7
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>uaa</td><td>77.3.0</td>
      <td>
        <details>
          <summary>v77.3.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Misc
  * fixes a regression introduced in commit [d10922a](https://github.com/cloudfoundry/uaa/commit/d10922a8f606b7d4ed8a7eb6bc585d9226e70f9e) where we stopped reading the signatureAlgorithm from the properties file and only used the SHA1 default.
  ### Dependency Bumps
  * Add jwtClientAuthentication in Oauth provider examples by @strehle in https://github.com/cloudfoundry/uaa-release/pull/818
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v77.2.0...v77.3.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>tanzu-jammy-stack</td><td>1.0.1</td>
      <td>
        <details>
          <summary>v1.0.1</summary>
          <pre style="max-width: 30em">
  # 1.0.1`tanzu-jammy-stack` bosh release
  ## Dependency image versions:
  - [tanzu-jammy-base-stack-0.1.85](https://github.com/pivotal-cf/tanzu-jammy-base-stack/releases/tag/v0.1.85)
  - [tanzu-jammy-full-stack-0.1.144](https://github.com/pivotal-cf/tanzu-jammy-full-stack/releases/tag/v0.1.144)
          </pre>
        </details>
      </td>
    </tr>
  </tbody>
</table>

## <a id='new-features'></a> New features in <%= vars.app_runtime_full %> <%= vars.v_major_version %>

These are the new features for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.

### Reduced logging and metric infrastructure requirements

For customers that do not use the legacy V1 and V2 Loggregator Firehoses it is now possible to scale Doppler and Traffic Controller VMs
down to zero. This can significantly reduce costs or free up resources that may instead be used to run additional workloads on the platform.
You may not be able to scale down to zero if you have integrations or other features that depend on the firehose, such as log and metric nozzles or
metric registrar.

### Reintroduction of global log rate limit

<%= vars.app_runtime_abbr %> v3.0 introduced granular app log rate limits for fine-grained control over application log rates.

<%= vars.app_runtime_abbr %> v4.0 removed the older global log rate limit feature **App log rate limit (deprecated)** under **App Containers**. This was problematic for operators who were performing a jump upgrade to <%= vars.app_runtime_abbr %> v4.0 (skipping v3.0), as logs
would not be rate limited until application-based log rate limits were applied.

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> restores the global log rate limit, so that operators can perform upgrades while retaining log rate limits. Operators
must configure the same setting separately for both <%= vars.segment_runtime_full %> and <%= vars.windows_runtime_abbr %>.

If you had previously set a global log rate limit, this limit is re-applied following the upgrade to
<%= vars.app_runtime_full %> <%= vars.v_major_version %>.

### App Autoscaler supports scaling on CPU entitlement

<%= vars.app_runtime_full %> <%= vars.v_major_version %> introduces support for autoscaling on CPU entitlement. This
improves App Autoscaler support for scaling on CPU. Previously, App Autoscaler CPU rules could be brittle due to
their dependency on the underlying Diego Cell configuration. With this feature, apps can autoscale on the CPU
entitlement available, calculated appropriately based on the memory allocated.

## <a id='breaking-changes'></a> Breaking changes

These are the breaking changes for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.

### Default Stacks No Longer Include cflinuxfs3

New installations of TAS 6.0 will no longer default to include cflinuxfs3 in the list of stacks.
Operators can [still configure TAS](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/config-cloud-controller.html)
to install cflinuxfs3, as desired.

Upgrading existing TAS foundations to TAS 6.0 will NOT remove cflinuxfs3.
Apps running on cflinuxfs3 will continue to operate, as normal.
It will still be possible to push applications with cflinuxfs3 as the stack.
However, if operators [remove cflinuxfs3](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/6.0/tas-for-vms/stack-auditor.html)
from an existing foundation,
then cflinuxfs3 will no longer be installed when deploying TAS,
unless the default stack list is configured to include cflinuxfs3 (see above).

TAS 6.0 is anticipated to be the last TAS release that will include cflinuxfs3.
If you have not already, please migrate all apps off of cflinuxfs3
and remove the stack from your foundations.

### Absolute CPU Entitlement metrics no longer available

The `absolute_entitlement` and `absolute_usage` metrics are no longer emitted for each container. They are replaced by the `cpu_entitlement`
metric. If you have any dashboards that reference the `absolute_entitlement` and `absolute_usage` metrics, update the dashboards to use the new metric.

Due to the removal of these metrics, the experimental CPU Entitlement Plug-in no longer functions. If you use this plug-in to view
CPU entitlement usage, you can instead view the `cpu_entitlement` metric, for example using the Log Cache cf CLI plug-in.

## <a id='known-issues'></a> Known issues

Here are the known issues for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.

### Loggregator Agents in other products may log failure when dopplers are scaled to zero

Service tile products may make use of Loggregator Agent to egress metrics for service instances. If the doppler instance group is scaled to zero
then Loggregator Agent jobs deployed by these products may repeatedly log a failure to connect to doppler:

```
failed to connect: unable to lookup a log consumer
```
