---
title: VMware Tanzu Application Service for VMs v2.13 Release Notes
owner: Release Engineering
---

This topic contains release notes for VMware Tanzu Application Service for VMs (TAS for VMs) v2.13.

TAS for VMs is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing TAS for VMs containing that patch.

**Required Cloud Foundry Command-Line Interface (cf CLI) version**: You must install cf CLI v7 or cf CLI v8 when upgrading to or using TAS for VMs v2.13.

For more information, see [Upgrading to cf CLI v7](https://docs.pivotal.io/application-service/2-13/cf-cli/v7.html) and [Upgrading to cf CLI v8](https://docs.pivotal.io/application-service/2-13/cf-cli/v8.html).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.13.7'></a> 2.13.7

**Release Date:** 07/19/2022

* **[Security Fix]** Update Content-Security-Policy
* **[Feature]** Enable telemetry for iptables rules on Diego cells
* **[Feature]** User has the ability to manage step up scaling app instances using Apps Manager
* **[Feature Improvement]** Deprecate Spring Cloud Connectors & Spring Auto Configuration support in Java Buildpack.
* **[Bug Fix]** Add health check script for Bosh DNS for Cloud Controller
* **[Bug Fix]** Fix dummy routes showing in the User Interface
* **[Bug Fix]** Fix role assignment when users are created through the CLI
* **[Bug Fix]** Fix share domain with organization screen from erroring out
* **[Bug Fix]** Resolves an issue with HAProxy log rotation creating null bytes and not freeing disk space after rotation
* **[Bug Fix]** Use Content-Disposition header as heapdump filename
* **[None]** Bump pxc for new features and security fixes
* Bump backup-and-restore-sdk to version `1.18.46`
* Bump cf-autoscaling to version `249.0.13`
* Bump cf-networking to version `3.9.0`
* Bump cflinuxfs3 to version `0.309.0`
* Bump credhub to version `2.12.6`
* Bump diego to version `2.62.0`
* Bump dotnet-core-offline-buildpack to version `2.3.43`
* Bump go-offline-buildpack to version `1.9.47`
* Bump haproxy to version `11.11.0`
* Bump loggregator-agent to version `6.4.2`
* Bump metrics-discovery to version `3.1.0`
* Bump nats to version `45`
* Bump nodejs-offline-buildpack to version `1.7.71`
* Bump php-offline-buildpack to version `4.4.63`
* Bump push-apps-manager-release to version `676.0.3`
* Bump pxc to version `0.43.0`
* Bump routing to version `0.235.0`
* Bump silk to version `3.9.0`
* Bump syslog to version `11.8.0`
* Bump system-metrics-scraper to version `3.2.6`
* Bump uaa to version `74.5.45`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.252</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.46</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.22</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>capi</td><td>1.127.2</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.13</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.9.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.309.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.6</td>
      <td>
        <details>
          <summary>2.12.6</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies
          </pre>
        </details>
        <details>
          <summary>2.12.5</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies
  ### Bug Fixes
  - Fix for URL path handling on Windows ([cloudfoundry/credhub issue 266](https://github.com/cloudfoundry/credhub/issues/266))
  ### Features
  - CredHub now logs as info instead of error when a credential isn't found
  - Added support for jammy-based stemcells that have openssl 3 ([pivotal/credhub-release issue 65](https://github.com/pivotal/credhub-release/issues/65))
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.43</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.47</td><td></td></tr>
    <tr><td>haproxy</td><td>11.11.0</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.49</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.11</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.2</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.1.0</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>45</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.38</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.71</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.63</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.3</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>0.43.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.54</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.29</td><td></td></tr>
    <tr><td>routing</td><td>0.235.0</td>
      <td>
        <details>
          <summary>0.235.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter healthchecker retries connection instead of monit (https://github.com/cloudfoundry/routing-release/pull/275)
  ## ✨  Built with go 1.17.11
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.234.0...0.235.0
          </pre>
        </details>
        <details>
          <summary>0.234.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter: the metrics package now uses `lsof` to monitor file descriptors on MacOS @domdom82 https://github.com/cloudfoundry/gorouter/pull/312
  * 🐛 Bumped the `lager` dependency to resolve issues where the timeFormat flag was not honored, resulting in epoch timestamps vs human readable. Thanks @ameowlia!
  * Now tested with the bionic stemcell in CI
  ## ✨  Built with go 1.17.11
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.233.0...0.234.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.54</td><td></td></tr>
    <tr><td>silk</td><td>3.9.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.30</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.19</td><td></td></tr>
    <tr><td>syslog</td><td>11.8.0</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.6</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.45</td><td></td></tr>
  </tbody>
</table>



### <a id='2.13.6'></a> 2.13.6

**Release Date:** 06/24/2022

<p class="note warning"><strong style="text-transform: none">Warning: Upcoming reduction in maintenance and security release coverage</strong><br>
In future patches, no sooner than July 1st 2022, some TAS components will become more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. Specifically, components that use Go will no longer support TLS 1.0 or 1.1, or certificates using SHA-1. Use supported TLS protocols to avoid breaking changes and continue receiving maintenance and security releases.</p>

* Bump diego to version `2.62.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.244</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.42</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.22</td></tr>
    <tr><td>bpm</td><td>1.1.18</td></tr>
    <tr><td>capi</td><td>1.127.2</td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.7</td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td></tr>
    <tr><td>cf-networking</td><td>3.6.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.301.0</td></tr>
    <tr><td>credhub</td><td>2.12.4</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.42</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.46</td></tr>
    <tr><td>haproxy</td><td>11.10.2</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.49</td></tr>
    <tr><td>log-cache</td><td>2.11.11</td></tr>
    <tr><td>loggregator</td><td>106.6.7</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>44</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.38</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.70</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.61</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.2</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td></tr>
    <tr><td>pxc</td><td>0.41.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.54</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.29</td></tr>
    <tr><td>routing</td><td>0.233.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.54</td></tr>
    <tr><td>silk</td><td>3.6.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.30</td></tr>
    <tr><td>statsd-injector</td><td>1.11.19</td></tr>
    <tr><td>syslog</td><td>11.7.10</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.5</td></tr>
    <tr><td>uaa</td><td>74.5.41</td></tr>
  </tbody>
</table>



### <a id='2.13.5'></a> 2.13.5

**Release Date:** 06/09/2022

<p class="note warning"><strong style="text-transform: none;">Warning: Breaking change</strong><br>
This version contains Diego 2.64.0, which bumps to Go 1.18. Go 1.18 no longer supports TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. We stated earlier that we wouldn't bump to Go 1.18 until July 1, 2022. This TAS release with Diego 2.64.0 breaks that promise. We apologize. We are rolling back to Diego 2.62.0.  If you already successfully deployed to this TAS release with Diego 2.64.0, then you are safe to continue using it.</p>


* **[Security Fix]** Added Content-Security-Policy headers in UAA responses
* **[Bug Fix]** Fix metric registrar secure scraping with isolation segments
* **[Bug Fix]** Resolves [an issue with Dynamic ASGs](https://community.pivotal.io/s/article/Apps-stop-running-after-a-deploy-when-using-dynamic-ASGs-with-icmp-any-rule) and ASG containing 'ICMP any' rules causing apps not to start
* **[Bug Fix]** Sticky sessions no longer break when used with route-services that return HTTP 4xx/5xx responses
* **[Breaking Change]** Syslog drains configured to use TLS now [reject certificates signed with the SHA-1 hash function](https://go.dev/doc/go1.18#sha1).
* **[Breaking Change]** If you followed the procedure in [Autoscale application fails with MySQL Deadlock errors](https://community.pivotal.io/s/article/Autoscale-application-errors-with-MySQL-Deadlock) to manually add an index to an Autoscale database, and the index is not dropped before you upgrade to TAS for VMs v2.13.5, upgrading causes an error.
* **[Bug Fix/Improvement]** Stop emitting debug metrics for agents and log-cache by default. Reduces load on logging system by >=720 metrics per vm per minute
* Bump backup-and-restore-sdk to version `1.18.42`
* Bump binary-offline-buildpack to version `1.0.45`
* Bump bosh-system-metrics-forwarder to version `0.0.22`
* Bump bpm to version `1.1.18`
* Bump capi to version `1.127.2`
* Bump cf-autoscaling to version `249.0.7`
* Bump cf-networking to version `3.6.0`
* Bump cflinuxfs3 to version `0.301.0`
* Bump diego to version `2.64.0`
* Bump dotnet-core-offline-buildpack to version `2.3.42`
* Bump garden-runc to version `1.20.6`
* Bump go-offline-buildpack to version `1.9.46`
* Bump haproxy to version `11.10.2`
* Bump java-offline-buildpack to version `4.49`
* Bump log-cache to version `2.11.11`
* Bump loggregator to version `106.6.7`
* Bump loggregator-agent to version `6.4.1`
* Bump metric-registrar to version `1.2.6`
* Bump metrics-discovery to version `3.0.13`
* Bump nats to version `44`
* Bump nginx-offline-buildpack to version `1.1.38`
* Bump nodejs-offline-buildpack to version `1.7.70`
* Bump php-offline-buildpack to version `4.4.61`
* Bump push-apps-manager-release to version `676.0.2`
* Bump push-offline-docs-release to version `1.0.94`
* Bump push-usage-service-release to version `674.0.24`
* Bump python-offline-buildpack to version `1.7.54`
* Bump r-offline-buildpack to version `1.1.29`
* Bump routing to version `0.233.0`
* Bump ruby-offline-buildpack to version `1.8.54`
* Bump silk to version `3.6.0`
* Bump staticfile-offline-buildpack to version `1.5.30`
* Bump statsd-injector to version `1.11.19`
* Bump syslog to version `11.7.10`
* Bump system-metrics-scraper to version `3.2.5`
* Bump uaa to version `74.5.41`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.244</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.42</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.22</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>capi</td><td>1.127.2</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.7</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.6.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.301.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.4</td><td></td></tr>
    <tr><td>diego</td><td>2.64.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.42</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.46</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.2</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.49</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.11</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>44</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.38</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.70</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.61</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.2</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>0.41.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.54</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.29</td><td></td></tr>
    <tr><td>routing</td><td>0.233.0</td>
      <td>
        <details>
          <summary>0.233.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * TCP Router: Add locking to the haproxy_reloader script to avoid haproxy reload/restart race conditions by @geofffranks in https://github.com/cloudfoundry/routing-release/pull/269
  * TCP Router: Bump HAProxy from 1.8.13 to 2.5.4 by @cunnie in https://github.com/cloudfoundry/routing-release/pull/266
  * Gorouter: fix proxy round tripper race condition by @ameowlia and @geofffranks  in https://github.com/cloudfoundry/gorouter/pull/318
  * Routing API: fix timestamp precision issue that caused routes to be pruned unexpectedly by @geofffranks in https://github.com/cloudfoundry/routing-api/pull/24
  *  Routing API: remove `golang.x509ignoreCN` bosh property by @geofffranks and @mariash
  * Routing API: fix bug that caused TCP Router's HAProxy to reload every minute by @jrussett in https://github.com/cloudfoundry/routing-api/pull/26.
  ## Manifest Property Changes
  | Job | Property  | Notes |
  | --- | --- | --- |
  | `routing-api` | `golang.x509ignoreCN` | This property exposed a go debug flag for go version 1.15. Since go 1.16 this go debug flag has had no affect. Removing this bosh property is part of our effort to keep our code base free of cruft. |
  ## ✨  Built with go 1.17.10
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.232.0...0.233.0
          </pre>
        </details>
        <details>
          <summary>0.232.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fixing issue #250: Return a 503 not a 404 when all instances down by @kecirlotfi in https://github.com/cloudfoundry/routing-release/pull/268 and https://github.com/cloudfoundry/gorouter/pull/314
  * Fixing issue https://github.com/cloudfoundry/gorouter/pull/315: Fix route service pruning by @geofffranks
  ## Manifest Property Changes
  | Job | Property | default | notes |
  | --- | --- | --- | --- |
  | `gorouter` | `for_backwards_compatibility_only.empty_pool_response_code_503` | `0s` | This property was added to enable https://github.com/cloudfoundry/routing-release/pull/268 |
  ## New Contributors 🎉
  * @kecirlotfi made their first contribution! Thanks so much!
  ## ✨  Built with go 1.17.9
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.231.0...0.232.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.54</td><td></td></tr>
    <tr><td>silk</td><td>3.6.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.30</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.19</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.10</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.5</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.41</td><td></td></tr>
  </tbody>
</table>



### <a id='2.13.4'></a> 2.13.4

**Release Date:** 04/21/2022

<%= partial "/pcf/tas/known-issues/icmp-dynamic-asg-note" %>

* Bump capi to version `1.127.1`
* Bump credhub to version `2.12.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.39</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.43</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>capi</td><td>1.127.1</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>248</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.285.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.4</td>
      <td>
        <details>
          <summary>2.12.4</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.3</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.1</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
  ### Bug Fixes
  - Fixes an issue where CredHub experiences downtime during certificate rotation process by making CredHub properly load concatenated mTLS CA certificates.
  ### Features
  - CredHub is now compatible with Postgres 13, 14.
          </pre>
        </details>
        <details>
          <summary>2.11.1</summary>
          <pre style="max-width: 30em">
  ### Dependency Bumps
  - Bumps log4j2 to 2.17.1
          </pre>
        </details>
        <details>
          <summary>2.11.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Further addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q) and [its prior incomplete fix](https://github.com/advisories/GHSA-7rjr-3q55-vv33) by bumping to log4j2 2.16.0.
          </pre>
        </details>
        <details>
          <summary>2.10.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q)
  ### Features
  - Adds a minimum duration server-level configuration fields for leaf and CA certificates: `certificates.leaf_minimum_duration_in_days` and `certificates.ca_minimum_duration_in_days`. When these fields are configured, if a request to generate or regenerate a certificate has a duration lower than the minimum, then the minimum duration is used instead. (https://github.com/cloudfoundry/credhub/pull/201)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.41</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.42</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.1</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.2</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.5</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.2</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.4</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>43</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.37</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.69</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.59</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.71</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td><td></td></tr>
    <tr><td>pxc</td><td>0.41.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.53</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.28</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.53</td><td></td></tr>
    <tr><td>silk</td><td>3.3.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.29</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.37</td><td></td></tr>
  </tbody>
</table>



### <a id='2.13.3'></a> 2.13.3 - Withdrawn

<p class="note warning"><strong> Warning:</strong> This release has been removed from VMware Tanzu Network due to an issue with the version of capi release included in the patch.</p>

**Release Date:** 04/20/2022

<%= partial "/pcf/tas/known-issues/icmp-dynamic-asg-note" %>

* **[Security Fix]** This release fixes [CVE-2022-23806](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23806) and [CVE-2022-23772](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23772).
* **[Feature Improvement]** Add option to configure CC BBR health check timeout
* Bump backup-and-restore-sdk to version `1.18.39`
* Bump binary-offline-buildpack to version `1.0.43`
* Bump capi to version `1.127.1`
* Bump cflinuxfs3 to version `0.285.0`
* Bump credhub to version `2.12.2`
* Bump diego to version `2.62.0`
* Bump dotnet-core-offline-buildpack to version `2.3.41`
* Bump garden-runc to version `1.20.3`
* Bump go-offline-buildpack to version `1.9.42`
* Bump haproxy to version `11.10.1`
* Bump java-offline-buildpack to version `4.48.2`
* Bump nginx-offline-buildpack to version `1.1.37`
* Bump nodejs-offline-buildpack to version `1.7.69`
* Bump php-offline-buildpack to version `4.4.59`
* Bump push-offline-docs-release to version `1.0.71`
* Bump python-offline-buildpack to version `1.7.53`
* Bump r-offline-buildpack to version `1.1.28`
* Bump ruby-offline-buildpack to version `1.8.53`
* Bump staticfile-offline-buildpack to version `1.5.29`
* Bump uaa to version `74.5.37`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.39</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.43</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>capi</td><td>1.127.1</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>248</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.285.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.2</td>
      <td>
        <details>
          <summary>2.12.1</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
  ### Bug Fixes
  - Fixes an issue where CredHub experiences downtime during certificate rotation process by making CredHub properly load concatenated mTLS CA certificates.
  ### Features
  - CredHub is now compatible with Postgres 13, 14.
          </pre>
        </details>
        <details>
          <summary>2.11.1</summary>
          <pre style="max-width: 30em">
  ### Dependency Bumps
  - Bumps log4j2 to 2.17.1
          </pre>
        </details>
        <details>
          <summary>2.11.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Further addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q) and [its prior incomplete fix](https://github.com/advisories/GHSA-7rjr-3q55-vv33) by bumping to log4j2 2.16.0.
          </pre>
        </details>
        <details>
          <summary>2.10.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q)
  ### Features
  - Adds a minimum duration server-level configuration fields for leaf and CA certificates: `certificates.leaf_minimum_duration_in_days` and `certificates.ca_minimum_duration_in_days`. When these fields are configured, if a request to generate or regenerate a certificate has a duration lower than the minimum, then the minimum duration is used instead. (https://github.com/cloudfoundry/credhub/pull/201)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.41</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.42</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.1</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.2</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.5</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.2</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.4</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>43</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.37</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.69</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.59</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.71</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td><td></td></tr>
    <tr><td>pxc</td><td>0.41.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.53</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.28</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.53</td><td></td></tr>
    <tr><td>silk</td><td>3.3.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.29</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.37</td><td></td></tr>
  </tbody>
</table>



### <a id='2.13.2'></a> 2.13.2

**Release Date:** 04/06/2022

<%= partial "/pcf/tas/known-issues/icmp-dynamic-asg-note" %>

* **[Security Fix]** This release fixes [CVE-2022-22965](https://tanzu.vmware.com/security/cve-2022-22965); note that the "fix" in the immediately prior version did not actually address the vulnerability, as Spring framework dependencies in UAA that should have been updated, were not. We have confirmed this version actually contains the dependency bumps, and that it is no longer vulnerable to our confirmed exploit. We consider this patch necessary for secure operation; see the VMware Security Advisory [here](https://www.vmware.com/security/advisories/VMSA-2022-0010.html) for more details. This release also includes a new version of the Java Buildpack.
* Bump java-offline-buildpack to version `4.48.2`
* Bump uaa to version `74.5.37`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.34</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.42</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>capi</td><td>1.127.0</td></tr>
    <tr><td>cf-autoscaling</td><td>248</td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>credhub</td><td>2.9.9</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.38</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.38</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.2</td></tr>
    <tr><td>log-cache</td><td>2.11.5</td></tr>
    <tr><td>loggregator</td><td>106.6.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>43</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.34</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.66</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.55</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.33</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td></tr>
    <tr><td>pxc</td><td>0.41.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.49</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.25</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.50</td></tr>
    <tr><td>silk</td><td>3.3.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.28</td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td></tr>
    <tr><td>uaa</td><td>74.5.37</td></tr>
  </tbody>
</table>



### <a id='2.13.1'></a> 2.13.1

**Release Date:** 03/31/2022

<%= partial "/pcf/tas/known-issues/icmp-dynamic-asg-note" %>

* **[Security Fix]** This release was intended to address [CVE-2022-22965](https://tanzu.vmware.com/security/cve-2022-22965), but did not actually update the vulnerable dependencies. Upgrade to a more recent patch version instead. See the VMware Security Advisory [here](https://www.vmware.com/security/advisories/VMSA-2022-0010.html) for more details.
* Bump uaa to version `74.5.36`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.34</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.42</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>capi</td><td>1.127.0</td></tr>
    <tr><td>cf-autoscaling</td><td>248</td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>credhub</td><td>2.9.9</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.38</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.38</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48</td></tr>
    <tr><td>log-cache</td><td>2.11.5</td></tr>
    <tr><td>loggregator</td><td>106.6.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>43</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.34</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.66</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.55</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.33</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td></tr>
    <tr><td>pxc</td><td>0.41.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.49</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.25</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.50</td></tr>
    <tr><td>silk</td><td>3.3.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.28</td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td></tr>
    <tr><td>uaa</td><td>74.5.36</td></tr>
  </tbody>
</table>



### <a id='2.13.0'></a> 2.13.0

**Release Date:** March 29, 2022

<%= partial "/pcf/tas/known-issues/icmp-dynamic-asg-note" %>

* See [New Features in TAS for VMs v2.13](#new-features).
* See [Breaking Changes](#breaking-changes).
* See [Known Issues](#known-issues).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.34</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.42</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>capi</td><td>1.127.0</td></tr>
    <tr><td>cf-autoscaling</td><td>248</td></tr>
    <tr><td>cf-cli (v7/v8)<sup>*</sup></td><td>1.38.0</td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>credhub</td><td>2.9.9</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.38</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.38</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48</td></tr>
    <tr><td>log-cache</td><td>2.11.5</td></tr>
    <tr><td>loggregator</td><td>106.6.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>43</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.34</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.66</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.55</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.33</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td></tr>
    <tr><td>pxc</td><td>0.41.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.49</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.25</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.50</td></tr>
    <tr><td>silk</td><td>3.3.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.28</td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td></tr>
    <tr><td>uaa</td><td>74.5.34</td></tr>
  </tbody>
</table>
<sup>*</sup> The `cf-cli` version corresponds to the commercial distribution on <%= vars.product_network %>.

## <a id='upgrade'></a> How to Upgrade

To upgrade to TAS for VMs v2.13, see [Configuring TAS for VMs for Upgrades](https://docs.pivotal.io/application-service/2-12/operating/configuring.html).

When upgrading to TAS for VMs v2.13, be aware of the following upgrade considerations:

* If you previously used an earlier version of TAS for VMs, you must first upgrade to TAS for VMs v2.11 to successfully upgrade to TAS for VMs v2.13.

* Upgrade the cf CLI to the latest cf CLI v7 release, the latest cf CLI v8 release, or the commercial cf CLI distribution available on [VMware Tanzu Network](https://network.pivotal.io/products/elastic-runtime/).

* Some partner service tiles might be incompatible with TAS for VMs v2.13.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of TAS for VMs.
  <br/><br/> For information about which partner service releases are currently compatible with TAS for VMs
  v2.13, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in TAS for VMs v2.13

TAS for VMs v2.13 includes the following major features:

### <a id='app-protocol'></a> Update the Destination App Protocol for Routes

In TAS for VMs v2.13.0, developers can update the destination protocol for app routes.
After the destination protocol is updated, the app uses that protocol for all incoming and outgoing communications.

You can update the destination protocol using Apps Manager or cf CLI v8.

Before you can update the destination app protocol, you must enable HTTP/2 ingress and egress for the Gorouter.
This option is enabled by default in the **Networking** pane of the TAS for VMs tile.

To update the destination app protocol in Apps Manager, see [Change the Destination Protocol for a Route](https://docs.pivotal.io/application-service/2-13/console/manage-apps.html#route-protocol) in _Managing Apps and Service Instances Using Apps Manager_.

To update the destination app protocol using cf CLI v8:

```
cf update-destination --app-protocol PROTOCOL APP-NAME APP-DOMAIN --hostname HOSTNAME
```

Where:

- `PROTOCOL` is the app protocol you want to use. You can use `http1` or `http2`.
- `APP-NAME` is the name of your app. For example, `my-app`.
- `APP-DOMAIN` is the domain name of your app. For example, `app-domain.com`.
- `HOSTNAME` is the hostname of your app. For example, `my-hostname`.

For example:

<pre class="terminal">
$ cf update-destination --app-protocol http2 my-app app-domain.com --hostname my-hostname

Destination-protocol changed to http2
OK
</pre>

The command above updates the destination protocol for my-app to HTTP/2.

### <a id='mysql-8'></a> TAS for VMs is Compatible with MySQL 8

TAS for VMs v2.13.0 supports MySQL 8 for external databases.
Previous versions of TAS for VMs supported MySQL 5.7, which is expected to go out of support in 2023.
If you use an external MySQL database with TAS for VMs v2.13, use a MySQL 8 database for improved security and a longer window of support.

### <a id='golang-1-17'></a> TAS for VMs Components Use Golang v1.17

In TAS for VMs v2.13.0, several TAS for VMs components use Golang v1.17.

The following table lists the component releases that have been updated to use Golang v1.17:

<table class="nice">
  <tr>
    <th>Release</th>
    <th>First version that uses Golang v1.17</th>
  </tr>
  <tr>
    <td>cf-networking</td>
    <td>2.43.0</td>
  </tr>
  <tr>
    <td>silk</td>
    <td>2.43.0</td>
  </tr>
  <tr>
    <td>diego</td>
    <td>2.53.1</td>
  </tr>
  <tr>
    <td>nats</td>
    <td>41</td>
  </tr>
  <tr>
    <td>garden-runc</td>
    <td>1.19.31</td>
  </tr>
  <tr>
    <td>routing</td>
    <td>0.229.0</td>
  </tr>
</table>

For important information, see [Gorouter Certificates Require a SAN Extension](#certs-require-san) in the _Breaking Changes_ section.

### <a id='dynamic-asg'></a> Dynamic App Security Group Rules

TAS for VMs v2.13 introduces dynamic App Security Groups (ASGs).

ASGs are a collection of egress rules that specify the protocols, ports, and IP address ranges where app or task instances send traffic.
Previously, updating an existing ASG required you to restart the app before the ASG went into effect.

Dynamic ASGs can automatically update security groups without requiring an app restart.
If you have existing ASGs, you can run any of the security group cf CLI commands, including `cf bind-security-group` and `cf update-security-group`, and the changes apply automatically to any running apps.

To enable dynamic ASGs:

1. Navigate to the Ops Manager Installation Dashboard and click the TAS for VMs tile.
1. Select **Networking**.
1. Select the **Enable dynamic application security group changes** checkbox.
1. Click **Save**.

For more information about ASGs, see [App Security Groups](../concepts/asg.html).

### <a id='scaling-factors'></a> Configure Scaling Factors for App Autoscaler

In TAS for VMs v2.13.0, App Autoscaler can scale apps by one or more app instances based on autoscaling rules.
In previous releases of TAS for VMs, App Autoscaler only scaled app instances up or down by one instance at a time.
You can configure scaling factors using the App Autoscaler API or the App Autoscaler CLI plugin.

To configure scaling factors using the API, see [Update an App Binding](https://docs.pivotal.io/application-service/2-13/appsman-services/autoscaler/using-autoscaler-api.html#update-app) in _Using the App Autoscaler API_.

To configure scaling factors using the App Autoscaler CLI plugin, see [Update Scaling Factors](https://docs.pivotal.io/application-service/2-13/appsman-services/autoscaler/using-autoscaler-cli.html#updating-scaling-factors) in _Using the App Autoscaler CLI_.

For more information, see [About App Autoscaler](https://docs.pivotal.io/application-service/2-13/appsman-services/autoscaler/about-app-autoscaler.html).

### <a id='separate-log-cache'></a> Log Cache Uses Its Own Instance Group

In TAS for VMs v2.13.0, the Log Cache component runs on its own Log Cache instance group. Log Cache is no longer part of Doppler instances. Additionally, syslog ingress is enabled by default.

This change allows TAS for VMs to do the following:

* Enable Log Cache to scale independently from Doppler. For example, to provide more memory for storing logs and metrics. You can reduce the memory allocation for Doppler instances.
* Scale Log Cache to more than 40 VMs, because it is no longer limited by Doppler and TrafficController's throughput and connection-based horizontal scaling limits.
* Reduce the number of network hops required for logs and metrics to get to Log Cache.

For important information, see the related [Breaking Change](#log-metric-topology) and [Known Issue](#upgrade-downtime).

### <a id='no-recreate'></a> Rotate the Root CA and NATS CA Without Re-Creating All VMs

In [Ops Manager v2.10.20](https://docs.pivotal.io/ops-manager/2-10/release-notes.html#2-10-20) and later, operators can rotate the root certificate authority (CA) or NATS CA without re-creating all VMs.
If you rotate these certificates in Ops Manager and click **Apply Changes**, Ops Manager updates the certificates on the VMs without re-creating the VMs.

For more information, see [Rotating CAs and Leaf Certificates](https://docs.pivotal.io/ops-manager/2-10/security/pcf-infrastructure/rotate-cas-and-leaf-certs.html) in the Ops Manager documentation.

### <a id='imdsv2'></a> Enable IMDSv2 in Ops Manager on AWS

Operators can configure [Ops Manager v2.10.23](https://docs.pivotal.io/ops-manager/2-10/release-notes.html#2-10-23) and later to require IMDSv2 on all BOSH-deployed VMs in Amazon Web Services (AWS).
This Ops Manager feature is compatible with installations of TAS for VMs v2.13.0 and later.

For more information, see [Enable IMDSv2 in Ops Manager](https://docs.pivotal.io/ops-manager/2-10/security/security-adjacent/security-guidelines-iaas.html#aws-imds-v2) in the Ops Manager documentation.

### <a id='tls-c2c'></a> Enable One-Way TLS for Container-to-Container Communication

In TAS for VMs v2.13.0, developers can enable TLS for communication between app containers. <%# how? %>

When you enable this feature, TLS is terminated at Envoy.
Developers can continue to serve HTTP traffic on port 8080, and Envoy listens on port 61443 with a TLS certificate with a SAN that includes app internal routes.
Envoy proxies this port to port 8080 inside the container.
When a new route is mapped to the app, the certificate is updated without requiring an app restart.

Warning: this feature introduces a migration to the bbs database. Rolling back from this release will cause database issues.

### <a id='offline-tools'></a> Download Offline Tools in Air-Gapped Environments

In TAS for VMs v2.13.0, you can include documentation and cf CLI packages in Apps Manager that operators and developers can download in air-gapped environments.
TAS for VMs v2.13.0 adds the post-deploy **Offline Docs Errand**.

To enable access to offline tools in air-gapped environments:

1. Navigate to the Installation Dashboard and click the TAS for VMs tile.
1. Select **Apps Manager**.
1. Under **Configure how developers access documentation, tools and pluggins when unable to connect to the internet**, select the checkbox for **Enable access to offline tools**.
1. Under **Choose which CF CLI packages to include**, select either **CF CLI V7** or **CF CLI V8**.
1. Click **Save**.
1. Select **Errands**.
1. Under **Offline Docs Errand**, select **On** from the dropdown.
1. Click **Save**.
1. Return to the Installation Dashboard.
1. Click **Review Pending Changes**.
1. Review the changes, and then click **Apply Changes**.

For more information, see [(Optional) Configure Custom Branding and Apps Manager](https://docs.pivotal.io/application-service/2-13/operating/configure-pas.html#customize-apps-man) in _Configuring TAS for VMs_.


## <a id='breaking-changes'></a> Breaking Changes

TAS for VMs v2.13 includes the following breaking changes:

### <a id='log-metric-topology'></a> Log and Metric Topology Changes

In TAS for VMs v2.13, the Log Cache component runs on its own Log Cache instance group. Log Cache is no longer part of Doppler instances.

As a result of this change, Diego Cells with high logging volume might experience higher CPU usage than they did prior to this change.

When you upgrade to TAS for VMs v2.13, you might experience temporary difficulties getting logs and metrics from the cf CLI for apps that are pushed during the upgrade.
This should not affect whether or not the app is able to be deployed.
See the related [Known Issue](#upgrade-downtime).

This change comes with the following considerations when you upgrade to TAS for VMs v2.13:

<table>
  <tr>
    <th>Breaking Change</th>
    <th>Recommended Action</th>
  </tr>
  <tr>
    <td>Log Cache uses syslog ingress by default.</td>
    <td>Confirm that your instances, including those within Isolation Segments, are permitted to establish connections to Log Cache nodes on port 6067. You might need to update firewall rules to allow logs to flow directly from your instances to the Log Cache syslog server.</td>
  </tr>
  <tr>
    <td>Underscaled Log Cache instances can fail with <code>Out of Memory</code> errors, which locks the BOSH Director.</td>
    <td>Scale up your Log Cache instance count. VMware recommends scaling up to match the number of VMs and amount of memory as your Doppler instances before the upgrade. Starting larger and then adjusting for actual use is safer than a deployment failure.</td>
  </tr>
  <tr>
    <td>Service instance metrics might not be retrievable using the <code>log-cache</code> cf CLI plugin.</td>
    <td>Syslog ingestion is recommended. If you need to retrieve metrics from service tiles that do not support this feature, in the <strong>System Logging</strong> pane of the TAS for VMs tile, deselect the <strong>Enable Log Cache syslog ingestion</strong> checkbox.</td>
  </tr>
</table>

### <a id='certs-require-san'></a> Gorouter Certificates Require a SAN Extension

In TAS for VMs v2.13, all Gorouter certificates require a valid subjectAltName (SAN) extension.
If any Gorouter certificates lack a SAN, Go clients cannot connect to servers and deployment fails.

Before you upgrade to TAS for VMs v2.13, you must:

  1. Verify that all certificates in Ops Manager use a valid SAN. If they do not, rotate your certificates using a valid SAN.
  1. Verify that all external systems that the Gorouter connects to have certificates with a valid SAN. If you use route services, this includes either the route services themselves or the load balancer in front of the route service.

For more information about updating certificates, see [Routing and Golang 1.15 X.509 CommonName deprecation](https://community.pivotal.io/s/article/Routing-and-golang-1-15-X-509-CommonName-deprecation) in the Knowledge Base.

### <a id='ip-leading-zero'></a> Golang v1.17 Rejects IP Addresses with Leading Zeros

Golang v1.17 contains stricter IP parsing standards, so IP addresses with leading zeros in any octets cause a BOSH template failure.
Operators can remove the leading zeros and try deploying again.
This affects properties that feed into all releases that use Golang v1.17.
For a complete list, see [TAS for VMs Components Use Golang v1.17](#golang-1-17) above.
Syslog drains and metric registrar endpoints that are registered using user-provided services might also be affected.

### <a id='cf-cli-v6'></a> cf CLI v6 is Not Supported

TAS for VMs v2.13 does not support cf CLI v6. You must upgrade to cf CLI v7 or cf CLI v8.

To upgrade to a supported cf CLI version, see one of the following:

- [Upgrading to cf CLI v7](https://docs.pivotal.io/application-service/2-13/cf-cli/v7.html)
- [Upgrading to cf CLI v8](https://docs.pivotal.io/application-service/2-13/cf-cli/v8.html)


## <a id='known-issues'></a> Known Issues

TAS for VMs v2.13 includes the following known issues:

### <a id='upgrade-downtime'></a> Possible Downtime When Upgrading from Certain TAS for VMs Versions

If you are upgrading from one of the following TAS for VMs versions, you might experience a small amount of log and metric downtime during an upgrade to TAS for VMs v2.13. This downtime is more likely if you use Isolation Segments:

- TAS for VMs v2.11.15 or earlier
- TAS for VMs v2.12.8 or earlier


### <a id='icmp-dynamic-asgs'></a> Apps Stop Running After Deploy when Using Dynamic ASGs with ICMP Any Rules

When dynamic ASGs are enabled, the vxlan policy agent is unable to clean up ASGs with ICMP any rules.
Undocumented iptables behavior with ICMP any rules causes a cleanup failure,
which causes a container creation failure, which prevents any apps from starting.

This results in a vxlan policy agent error:

* `iptables: Bad rule (does a matching rule exist in that chain?)`

or

* `exit status 1: iptables: No chain/target/match by that name`.

For more information this issue and how to mitigate it, see
[Apps stop running after a deploy when using dynamic ASGs with icmp any rule](https://community.pivotal.io/s/article/Apps-stop-running-after-a-deploy-when-using-dynamic-ASGs-with-icmp-any-rule?language=en_US") in the Knowledge Base.
