---
title: TAS for VMs v3.0 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='3-0-0'></a> 3.0.0

**Release Date:** 10/06/2022

* **[Feature]** Allow operators to specify isolation segments that should be routable through <%= vars.app_runtime_abbr %> routers
* **[Feature]** Bump CAPI and add default app log rate limit configuration
* **[Feature]** Developers can quickly find specific org members in Apps Manager
* **[Feature]** Dynamic ASGs are now allowed by default. If you wish to keep them off, you must manually disallow them through the
<%= vars.app_runtime_abbr %> tile before deploying.
* **[Feature Improvement]** Add Java Buildpack for cflinuxfs4
* **[Feature Improvement]** Bump component releases in time for <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>
* **[Feature Improvement]** Bump golang to 1.18 for diego, routing, cf-networking, and silk
* **[Feature Improvement]** Bump to latest pxc-release with Percona XtraDB Cluster 8.0.29
* **[Feature Improvement]** Gorouter Metrics Toggle
* **[Breaking Change]** HAProxy removed
* Bump capi to version `1.139.0`
* Bump cf-cli to version `1.41.0`
* Bump garden-runc to version `1.22.2`
* Bump java-offline-buildpack to version `4.52`
* Bump metrics-discovery to version `3.2.0`
* Bump nodejs-offline-buildpack to version `1.8.0`
* Bump push-apps-manager-release to version `677.0.7`
* Bump pxc to version `1.0.1`
* Bump smoke-tests to version `4.7.0`
* Bump uaa to version `76.0.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.8</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.52</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>capi</td><td>1.139.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.17</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.41.0</td>
      <td>
        <details>
          <summary>v1.41.0</summary>
          <pre style="max-width: 30em">
  ### This release contains the following versions of the CF CLI
  | Major version  | Prior version | Current version |
  | ------------- | ------------- | ------------- |
  | **v8** | **8.4.0** | [8.5.0](https://github.com/cloudfoundry/cli/releases/tag/v8.5.0) |
  | **v7**  | **7.5.0** | [7.5.0](https://github.com/cloudfoundry/cli/releases/tag/v7.5.0) |
  | **v6**  | **6.53.0**  | **[6.53.0](https://github.com/cloudfoundry/cli/releases/tag/v6.53.0)** |
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-networking</td><td>3.12.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.8</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.2</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.49</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.52</td><td></td></tr>
    <tr><td>log-cache</td><td>2.12.0</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.9</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.11</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.10</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.0</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.18.0</td><td></td></tr>
    <tr><td>nats</td><td>50</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.6</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.42</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.0</td>
      <td>
        <details>
          <summary>1.8.0</summary>
          <pre style="max-width: 30em">
  * Add support for cflinuxfs4 stack
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | node | 14.19.3 | cflinuxfs3 |
  | node | 14.20.0 | cflinuxfs3 |
  | node | 14.20.0 | cflinuxfs4 |
  | node | 16.16.0 | cflinuxfs3 |
  | node | 16.17.0 | cflinuxfs3 |
  | node | 16.17.0 | cflinuxfs4 |
  | node | 18.7.0 | cflinuxfs3 |
  | node | 18.9.0 | cflinuxfs3 |
  | node | 18.9.0 | cflinuxfs4 |
  | yarn | 1.22.19 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | node | 16.x |
  * Uncached buildpack SHA256: 9c916f1475c3ebfa8cb1531a31a6b70829b29e36380d3496dd105c2d8109c5de
  * Uncached buildpack SHA256: 7b59d44895ad526dd3f87bf176a5fd7a08f55f0cf4f91dcb8b2c1fa474292385
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.65</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>677.0.7</td>
      <td>
        <details>
          <summary>677.0.6</summary>
          <pre style="max-width: 30em">
  Fixed deploy.sh
  **Full Changelog**: https://github.com/pivotal-cf/apps-manager-release/compare/677.0.5...677.0.6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>1.0.1</td>
      <td>
        <details>
          <summary>v1.0.1</summary>
          <pre style="max-width: 30em">
  **Important** pxc-release v1.0 is a major database upgrade from Percona XtraDB Cluster 5.7 to Percona XtraDB Cluster 8.0
  **Version Bumps**
  - Bumped Percona XtraDB Cluster to 8.0.29-21
  - Bumped Percona XtraBackup to 8.0.29-22
  **New Features**
  - The database server default character set and collation have been changed to
  the Percona XtraDB Cluster 8.0 default of utf8mb4 and utf8mb4_0900_ai_ci
  respectively.
  The new defaults will only affect newly created databases created after
  pxc-release v1.0.1. For more information about the default database character
  set and collation see this MySQL documentation:
  https://dev.mysql.com/doc/refman/8.0/en/charset-server.html
  The database server's default character set and collation may be configured
  explicitly via the pxc-mysql job's "engine_config.character_set_server" and
  "engine_config.collation_server" properties, respectively.
  - galera-agent and cluster-health logger users no longer need to be explicitly
  specified in the pxc-mysql job's seeded_users property.
  pxc-mysql will automatically generate these users when the galera-agent or
  cluster-health-logger jobs are deployed. This removes the breaking change
  from the previous release.
  - Percona XtraDB Cluster 5.7 packages are now included in deployments to aid in
  upgrades. In the previous release, only the Percona XtraDB Cluster 8.0
  package was included on pxc/1.0 VMs.
  - Percona XtraDB Cluster 8.0 packages have been renamed from
  "/var/vcap/packages/pxc" to "/var/vcap/packages/percona-xtradb-cluster-8.0"
  in an effort to distinguish from the percona-xtradb-cluster-5.7 package
  - In the previous release, upgrades from pxc-release prior to 1.0 running
  Percona XtraDB Cluster 5.7 where the v5.7 instance was not cleanly shutdown
  or had crashed would fail.
  As of pxc-release v1.0.1, the pxc-mysql job will run crash recovery with
  Percona XtraDB Cluster 5.7 prior to the upgrade to Percona XtraDB Cluster 8.0
  - The "migrate-to-pxc" utility that previously assisted with migrations from
  cf-mysql-release are no longer included in this version of pxc-release
  **Breaking Changes**
  - If you previously relied on /var/vcap/packages/pxc in this release, the
  latest Percona XtraDB Cluster binaries are now located under
  /var/vcap/packages/percona-xtradb-cluster-8.0/bin
  Note that pxc-release always symlinks /usr/local/bin/mysql to the latest
  Percona XtraDB Cluster mysql cli for troubleshooting on the local VM.
  - Since v1.0, ubuntu-xenial is no longer supported! Only ubuntu-jammy or ubuntu-bionic stemcells can be used to deploy pxc-release v1.0.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>python-offline-buildpack</td><td>1.7.56</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.32</td><td></td></tr>
    <tr><td>routing</td><td>0.239.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.57</td><td></td></tr>
    <tr><td>silk</td><td>3.12.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.7.0</td>
      <td>
        <details>
          <summary>4.7.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.7.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.33</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.22</td><td></td></tr>
    <tr><td>syslog</td><td>12.0.4</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.3.0</td><td></td></tr>
    <tr><td>uaa</td><td>76.0.0</td>
      <td>
        <details>
          <summary>v76.0.0</summary>
          <pre style="max-width: 30em">
  ### Feature
  - Update to [UAA v76.0.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.0.0)
  ### Security fixes
  - Added Content-Security-Policy headers for responses https://github.com/cloudfoundry/uaa/pull/1981 #390
  ### Breaking Changes
  - Removed the deprecated google analytics feature https://github.com/cloudfoundry/uaa/pull/2022  #400
  ### Dependency bumps
  - Bump github.com/onsi/gomega from 1.20.0 to 1.20.2 in /k8s https://github.com/cloudfoundry/uaa/pull/2012 https://github.com/cloudfoundry/uaa/pull/2010
  - Bump jasmine from 4.3.0 to 4.4.0 in /uaa https://github.com/cloudfoundry/uaa/pull/2013
  - Bump jasmine-core from 4.3.0 to 4.4.0 in /uaa https://github.com/cloudfoundry/uaa/pull/2014
  - Bump k8s.io/client-go from 0.24.4 to 0.25.0 in /k8s https://github.com/cloudfoundry/uaa/pull/2006
  - Bump postgresql from 42.4.2 to 42.5.0 https://github.com/cloudfoundry/uaa/pull/2009
  ### Notes
  - MFA feature is being deprecated and will be removed in a future release https://github.com/cloudfoundry/uaa/pull/2024 #404
  ### Full Changelog
  - [https://github.com/cloudfoundry/uaa-release/compare/v75.23.0...v76.0.0](https://github.com/cloudfoundry/uaa-release/compare/v75.23.0...v76.0.0)
          </pre>
        </details>
      </td>
    </tr>
  </tbody>
</table>

### <a id='3-0-0-rc-1'></a> 3.0.0-rc.1

**Release Date:** 09/20/2022

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.8</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.52</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bpm</td><td>1.1.19</td></tr>
    <tr><td>capi</td><td>1.135.0</td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.17</td></tr>
    <tr><td>cf-cli</td><td>1.39.0</td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td></tr>
    <tr><td>credhub</td><td>2.12.8</td></tr>
    <tr><td>diego</td><td>2.66.3</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.49</td></tr>
    <tr><td>haproxy</td><td>11.13.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.50</td></tr>
    <tr><td>log-cache</td><td>2.12.0</td></tr>
    <tr><td>loggregator</td><td>106.6.9</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td></tr>
    <tr><td>mapfs</td><td>1.2.11</td></tr>
    <tr><td>metric-registrar</td><td>1.2.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.18.0</td></tr>
    <tr><td>nats</td><td>50</td></tr>
    <tr><td>nfs-volume</td><td>7.1.6</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.42</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.73</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.65</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.6</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td></tr>
    <tr><td>pxc</td><td>1.0.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.56</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.32</td></tr>
    <tr><td>routing</td><td>0.239.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.57</td></tr>
    <tr><td>silk</td><td>3.12.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.33</td></tr>
    <tr><td>statsd-injector</td><td>1.11.22</td></tr>
    <tr><td>syslog</td><td>12.0.4</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.3.0</td></tr>
    <tr><td>uaa</td><td>75.23.0</td></tr>
  </tbody>
</table>


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='new-policies'></a> New Policies for <%= vars.app_runtime_abbr %>

As of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, <%= vars.app_runtime_abbr %> is transitioning to a new versioning scheme, support lifecycle
policy, and release and upgrade policy. For more information, see the sections below:

* [Operational Versioning](#opsver)

* [Support Lifecycle Policy](#support-policy)

* [Release and Upgrade Policies](#release-upgrade-policies)

Other Tanzu products, such as VMware Tanzu Operations Manager, are to adopt the same versioning scheme and lifecycle policy as <%= vars.app_runtime_abbr %>
<%= vars.v_major_version %>. However, they are to follow separate release and upgrade policies, as well as continue to be versioned and released
independently.

#### <a id='opsver'></a> Operational Versioning

As of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, <%= vars.app_runtime_abbr %> is transitioning to a new versioning scheme called _operational
versioning_.

The version number format for <%= vars.app_runtime_abbr %> is the same as that of semantic versioning, the previous versioning scheme used. However, the
meaning of these version numbers differs from semantic versioning. The following list describes the types of versions to be released moving forward:

* A new major version of <%= vars.app_runtime_abbr %> is to be released every six months. Major versions include new features, significant feature
improvements, and deprecations and removals of old features.

* Minor versions of <%= vars.app_runtime_abbr %> are to be released as rarely as possible. Minor versions include breaking changes, which are necessary but
disruptive changes within a major version line.

* Patch versions are to be released as necessary. Patch versions include security fixes and other small changes that do not disrupt operation or require any
attention from an operator of <%= vars.app_runtime_abbr %>. Patches that are determined to fall short of this standard are to be quickly replaced.

### <a id='support-policy'></a> Support Lifecycle Policy

As of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, the new support lifecycle policy for <%= vars.app_runtime_abbr %> guarantees overlapping
support durations with subsequent major version lines. After a new major version line is made generally available, the previous major version line must remain
supported for at least six months.

Some major version lines are designated as being on a _long-term support track_ (LTS-T). After a new LTS-T major version line is made generally available, the
previous LTS-T major version line must remain supported for one full year. LTS-T major version lines include "+LTS-T" at the end of the version number. For
example, <%= vars.app_runtime_abbr %> v2.13+LTS-T.

#### <a id='release-upgrade-policies'></a> Release and Upgrade Policies

<%= vars.app_runtime_abbr %> v2.13 is now designated as an LTS-T release. Currently, <%= vars.app_runtime_abbr %> v4.0 is intended to be released as an LTS-T
release in the spring of 2023. <%= vars.app_runtime_abbr %> LTS-T versions are to be released annually each spring.

You can upgrade to a newer version of <%= vars.app_runtime_abbr %> in the following ways:

* From the latest patch version in the latest minor version in the previous major version line to the latest patch version in any supported major version
line. For example, if you are currently using the latest <%= vars.app_runtime_abbr %> v2.13.x patch release, you can upgrade to the latest
<%= vars.app_runtime_abbr %> v3.0.x release.

* From the prior LTS-T Major Version Line to the following LTS-T major version line.
  For example, if you are currently using Pivotal Application Service (PAS)
  v2.11+LTS-T, you can upgrade to <%= vars.app_runtime_abbr %> v2.13+LTS-T.

### <a id='ubuntu-jammy'></a> Jammy Jellyfish Stemcell Support

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> uses a stemcell line
based on Canonical Ubuntu's 22.04 "Jammy Jellyfish" distribution.

The previously-used Ubuntu 16.04 "Xenial Xerus" stemcells will reach end of general support (EOGS)
and stop receiving security updates in April 2024.

Please see the [Breaking Changes section](#breaking-changes)
for details about potentially disruptive implications of this change.

### <a id='org-member-search'></a> Search for Org Members in Apps Manager

In <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, the **Members** page for each org in Apps Manager includes a search box that you can use to
search for org members by name.

For more information about managing org members in Apps Manager, see [Manage Members](../console/manage-spaces.html#manage-members-org) in _Managing Orgs and
Spaces Using Apps Manager_.

### <a id='cflinuxfs4'></a> Jammy Jellyfish Stack Support

In addition to the existing cflinuxfs3 stack based on Ubuntu 18.04 "Bionic Beaver",
<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the cflinuxfs4 stack,
based on Ubuntu 22.04 "Jammy Jellyfish."

The presence of the new stack will allow developers to begin using cflinuxfs4
in advance of the future deprecation and removal of cflinuxfs3.

Not all buildpacks currently offer support for the new stack.

Buildpack coverage will increase in future patch releases.

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

### Jammy Stemcell Used For All Instance Groups

All of the VMs deployed in <%= vars.app_runtime_abbr %> now run on a Jammy Jellyfish stemcell line,
as described in the [Jammy Jellyfish section] above (#ubuntu-jammy).
This means that any addons colocated on these VMs,
either from other tiles or direct BOSH configuration,
will not function unless they support Jammy Jellyfish.
Tiles that declare compatability with <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> work with Jammy stemcells.

### <a id='system-metrics-server'></a> BOSH System Metrics Server is Removed

The BOSH System Metrics Server is removed from <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>. To continue receiving system metrics, you must
activate the **Enable additional System Metrics** checkbox in the **Director Config** pane of the BOSH Director tile.

To avoid deployment, platform automation, or data collection failures, you must update any queries that reference `bosh-system-metrics-forwarder` as the
`source_id` for metrics to reference `system_metrics_agent` instead.

### linuxfs4 in Stack List with Partial Buildpack Support
The new linuxfs4 stack being available can cause it to be used prematurely
if application-pushing systems are setup to find and use the latest stack.
(In the absence of such particular logic, existing applications will not change stacks.)

In addition to other issues that might arise from an unintentional stack change,
not all buildpacks currently offer support for cflinuxfs4.
This can cause failures to push for apps switching to the stack without the necessary buildpack coverage.

Future patches will expand buildpack coverage for linuxfs4.

### <a id='system-metrics-names'></a> BOSH System Metric Naming Convention is Changed

BOSH-deployed VMs no longer emit system metrics that include the prefix `system.` in their names. Additionally, metric names now include underscores instead
of periods. For example, the metric named `system.cpu.sys` in previous versions of <%= vars.app_runtime_abbr %> is named `system_cpu_sys` in
<%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

To avoid deployment or data collection failures, you must re-configure all alerting or observability dashboards that collect metric data from your
<%= vars.app_runtime_abbr %> deployment to use the new format for metric names.

### <a id='haproxy-removed'></a> HAProxy is Removed

In <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, HAProxy is removed.

If you are upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> from <%= vars.app_runtime_abbr %> v2.13 or earlier, you must re-configure the
following settings in the <%= vars.app_runtime_abbr %> tile before you upgrade:

* In the **Networking** pane:
  * If you previously selected **HAProxy** under **TLS termination point**, you must select **Gorouter** instead.
  * If you previously configured the **HAProxy IPs** field, you may need to configure the **Gorouter IPs** field instead. Depending on how you configured the
  **Allow SSH access to app containers** and **TCP routing** settings, you may also need to configure the **SSH Proxy IPs** or **TCP router IPs** fields.

* In the **Resource Config** pane:
  * If you previously configured load balancers under the **HAProxy**, you must configure load balancers under the **Router** job instead. Depending on how
  you configured the **Allow SSH access to app containers** and **TCP routing** settings in the **Networking** pane, you may also need to configure load
  balancers under the **Diego Brain** or **TCP Router** jobs.

For more information about configuring these settings, see [Configure Networking](../operating/configure-pas.html#networking) and [Configure
Resources](../operating/configure-pas.html#resources) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='global-log-rate-limit'></a> Global Log Rate Limit is Deprecated

The global log rate limit that measures app log rates in lines per second is deprecated in favor of per-app log rate limits that measure app log rates in
bytes per second.

If you have configured a global log rate limit in lines per second, <%= vars.recommended_by %> recommends that you re-configure your apps to use log rate
limits in bytes per second.

If you still want to use the global log rate limit, logs that exceed the log rate limit are immediately dropped. Previously, logs that exceeded the log rate
limit were buffered and released at the configured log rate.

For more information about app log rate limits, see [App Log Rate Limiting](../loggregator/app-log-rate-limits.html).

### <a id='custom-iptables'></a> Viewing Custom iptables Rules Requires /sbin/iptables Binaries

On the Jammy Jellyfish stemcell, the `iptables` command uses the nftables framework instead of the iptables firewall. This change does not prevent custom
rules from taking effect, regardless of how they are configured.

If you use the binaries located in your `/var/vcap/packages/iptables/sbin/iptables*` directory to configure custom iptables rules on Diego Cells, the rules
that you configure still take effect, but do not appear when you run the `iptables -L` command.

To resolve this issue, do either of the following:

* Update your custom iptables logic to use the `/sbin/iptables*` binaries.

* In a terminal window, view your custom iptables rules by running either `iptables-legacy` or `/var/vcap/packages/iptables/sbin/iptables*`.


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='stemcell-certification'></a> Stemcell Compliance Certification

The Ubuntu 22.04 long-term support (LTS) stemcell, Jammy Jellyfish, is not yet CIS- or STIG-certified.

### <a id='ncp-compatibility'></a> VMware NSX-T Container Plug-In Stemcell Compatibility

The VMware NSX-T Container Plug-in is not yet validated on the Jammy Jellyfish stemcell.
