---
title: TAS for VMs v5.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases


## <a id='new-features'></a> New Features in <%= vars.app_runtime_full %> <%= vars.v_major_version %>

## <a id='breaking-changes'></a> Breaking Changes

## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.
