---
title: TAS for VMs v5.0 Release notes
owner: Release Engineering
---

These are the release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='5.0.1'></a> 5.0.1

**Release Date:** 10/25/2023

* **[Feature Improvement]** Option to enable w3c tracing headers in router 
* **[Bug Fix]** Prevent retired app instances from receiving traffic by ensuring rep emits events to cleanup routes when `cf restart-app-instance` is invoked.
* **[Feature]** Forwarder Agent emits a new metric, egress_expired_total, per egress destination to track the number of envelopes dropped from that designation's diode
* **[Bug Fix]** Increase system metrics scraper scrape timeout
* **[Feature Improvement]** If you have configured TAS for VMs to use an external OIDC identity provider, Proof Key of Code Exchange (PKCE) will be activated by default as a security enhancement when authenticating with the provider.
* Bump backup-and-restore-sdk to version `1.18.104`
* Bump bpm to version `1.2.9`
* Bump capi to version `1.163.0`
* Bump cf-autoscaling to version `250.0.0`
* Bump cf-cli to version `1.50.0`
* Bump cf-networking to version `3.34.0`
* Bump cflinuxfs3 to version `0.376.0`
* Bump cflinuxfs4 to version `1.46.0`
* Bump credhub to version `2.12.49`
* Bump diego to version `2.83.0`
* Bump dotnet-core-offline-buildpack to version `2.4.17`
* Bump garden-runc to version `1.41.0`
* Bump go-offline-buildpack to version `1.10.13`
* Bump java-offline-buildpack to version `4.63.0`
* Bump java-native-image-cnb-buildpack to version `0.6.4`
* Bump log-cache to version `3.0.7`
* Bump loggregator to version `107.0.9`
* Bump loggregator-agent to version `7.6.4`
* Bump mapfs to version `1.2.47`
* Bump metric-registrar to version `2.1.9`
* Bump metrics-discovery to version `3.2.18`
* Bump mysql-monitoring to version `10.5.0`
* Bump nats to version `56.10.0`
* Bump nfs-volume to version `7.1.38`
* Bump notifications to version `67.0.0`
* Bump push-apps-manager-release to version `677.0.32`
* Bump push-offline-docs-release to version `5.0.342`
* Bump push-usage-service-release to version `674.0.71`
* Bump pxc to version `1.0.18`
* Bump routing to version `0.283.0`
* Bump ruby-offline-buildpack to version `1.10.5`
* Bump web-servers-cnb-buildpack to version `0.6.8`
* Bump silk to version `3.34.0`
* Bump smb-volume to version `3.1.38`
* Bump statsd-injector to version `1.11.35`
* Bump syslog to version `12.1.9`
* Bump system-metrics-scraper to version `4.0.3`
* Bump uaa to version `76.23.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.260</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.104</td>
      <td>
        <details>
          <summary>v1.18.101</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.3. (#1286)
  ## Dependencies
  * **credentials:** Updated to v1.13.43.<br>For more information, see [credentials](https://github.com/aws/aws-sdk-go-v2).
  * **s3:** Updated to v1.40.2.<br>For more information, see [s3](https://github.com/aws/aws-sdk-go-v2).
  * **sts:** Updated to v1.23.2.<br>For more information, see [sts](https://github.com/aws/aws-sdk-go-v2).
  * **aws-sdk-go-v2:** Updated to v1.21.1.<br>For more information, see [aws-sdk-go-v2](https://github.com/aws/aws-sdk-go-v2).
  * **v2:** Updated to v2.13.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **net:** Updated to v0.17.0.<br>For more information, see [net](https://github.com/golang/net).
  * **api:** Updated to v0.147.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.99</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.2. (#1268)
  ## Dependencies
  * **credentials:** Updated to v1.13.41.<br>For more information, see [credentials](https://github.com/aws/aws-sdk-go-v2).
  * **gomega:** Updated to v1.28.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **net:** Updated to v0.16.0.<br>For more information, see [net](https://github.com/golang/net).
  * **api:** Updated to v0.145.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.98</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **s3:** Updated to v1.40.0.<br>For more information, see [s3](https://github.com/aws/aws-sdk-go-v2).
  * **gomega:** Updated to v1.28.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **api:** Updated to v0.143.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.96</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.1. (#1245)
  ## Dependencies
  * **credentials:** Updated to v1.13.40.<br>For more information, see [credentials](https://github.com/aws/aws-sdk-go-v2).
  * **s3:** Updated to v1.39.0.<br>For more information, see [s3](https://github.com/aws/aws-sdk-go-v2).
  * **bosh-backup-and-restore:** Updated to v1.9.51.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **v2:** Updated to v2.12.1.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **api:** Updated to v0.142.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.92</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump openssl from 1.1.1v to 1.1.1w (#1228)
  * Golang: Updated to v1.21.1. (#1219)
  ## Dependencies
  * **storage:** Updated to v1.33.0.<br>For more information, see [storage](https://github.com/googleapis/google-cloud-go).
  * **bosh-backup-and-restore:** Updated to v1.9.50.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **oauth2:** Updated to v0.12.0.<br>For more information, see [oauth2](https://github.com/golang/oauth2).
  * **api:** Updated to v0.140.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.91</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump openssl from 1.1.1o to 1.1.1v (#1208)
  * Golang: Updated to v1.21.0. (#1209)
  ## Dependencies
  * **credentials:** Updated to v1.13.37.<br>For more information, see [credentials](https://github.com/aws/aws-sdk-go-v2).
  * **bosh-backup-and-restore:** Updated to v1.9.49.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **v2:** Updated to v2.12.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
          </pre>
        </details>
        <details>
          <summary>v1.18.89</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **credentials:** Updated to v1.13.35.<br>For more information, see [credentials](https://github.com/aws/aws-sdk-go-v2).
  * **s3:** Updated to v1.38.5.<br>For more information, see [s3](https://github.com/aws/aws-sdk-go-v2).
  * **sts:** Updated to v1.21.5.<br>For more information, see [sts](https://github.com/aws/aws-sdk-go-v2).
  * **aws-sdk-go-v2:** Updated to v1.21.0.<br>For more information, see [aws-sdk-go-v2](https://github.com/aws/aws-sdk-go-v2).
  * **v6:** Updated to v6.7.0.<br>For more information, see [v6](https://github.com/maxbrunsfeld/counterfeiter).
  * **api:** Updated to v0.138.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.7</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.9</td><td></td></tr>
    <tr><td>capi</td><td>1.163.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>250.0.0</td>
      <td>
        <details>
          <summary>v250.0.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Notice
  The autoscale-api app no longer falls back to a MySQL service binding if the database connection properties are not provided. Instead it raises an error. This should not be an issue for any operators who are deploying cf-autoscaling via the provided `deploy-autoscaler` errand.
  ### Fixes
  * Bump dependencies (addressing CVE-2023-44487)
  **Full Changelog**: https://github.com/pivotal-cf/cf-autoscaling-release/compare/v249.2.7...v250.0.0
          </pre>
        </details>
        <details>
          <summary>v249.2.7</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/pivotal-cf/cf-autoscaling-release/compare/v249.2.6...v249.2.7
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-cli</td><td>1.50.0</td>
      <td>
        <details>
          <summary>v1.50.0</summary>
          <pre style="max-width: 30em">
  ### This release contains the following versions of the CF CLI
  Major version | Prior version | Current version
  -- | -- | --
  v8 | 8.7.3 | [8.7.4](https://github.com/cloudfoundry/cli/releases/tag/v8.7.4)
  v7 | 7.7.3 | [7.7.4](https://github.com/cloudfoundry/cli/releases/tag/v7.7.4)
  v6 | 6.53.0 | [6.53.0](https://github.com/cloudfoundry/cli/releases/tag/v6.53.0)
          </pre>
        </details>
        <details>
          <summary>v1.49.0</summary>
          <pre style="max-width: 30em">
  ### This release contains the following versions of the CF CLI
  Major version | Prior version | Current version
  -- | -- | --
  v8 | 8.7.2 | [8.7.3](https://github.com/cloudfoundry/cli/releases/tag/v8.7.3)
  v7 | 7.7.2 | [7.7.3](https://github.com/cloudfoundry/cli/releases/tag/v7.7.3)
  v6 | 6.53.0 | [6.53.0](https://github.com/cloudfoundry/cli/releases/tag/v6.53.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-networking</td><td>3.34.0</td>
      <td>
        <details>
          <summary>v3.34.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3
  - Testing updates
  - CI Enhancements
  - Package dependency bumps
  - The `proxy` test/example app's `/dumprequest` endpoint will now return headers back to client via the `returnHeaders` query parameter. It also adds an `X-Proxy-Settable-Debug-Header` header if the upstream server doesn't set it explicitly, and `X-Proxy-Immutable-Debug-Header` which will override any value set by upstream servers.
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/performance-test-sd/spec b/jobs/performance-test-sd/spec
  index 0223d87e..c89d50f5 100644
  --- a/jobs/performance-test-sd/spec
  +++ b/jobs/performance-test-sd/spec
  @@ -6,7 +6,7 @@ templates:
  config.json.erb: config.json
  packages:
  -  - golang-1.20-linux
  +  - golang-1.21-linux
  - performance-test-sd
  consumes:
  ```
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/cf-networking-release/compare/v3.33.0...v3.34.0
  ## Resources
  - [Download release 3.34.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/cf-networking-release?version=3.34.0).
          </pre>
        </details>
        <details>
          <summary>v3.33.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.20.7
  - The `garden-cni` job's `garden-external-networker` has been updated to support returning interface name data handling CNI v0.4.0 data from CNI plugins it wraps. This allows for garden-runc-release to make use of the interface info for pulling networking statistics. (https://github.com/cloudfoundry/cf-networking-release/pull/229)
  - Thanks @JVecsei1, @geigerj0!
  ## ✨  Built with go 1.20.7
  **Full Changelog**: https://github.com/cloudfoundry/cf-networking-release/compare/v3.32.0...v3.33.0
  ## Resources
  - [Download release v3.33.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/cf-networking-release?version=3.33.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs3</td><td>0.376.0</td>
      <td>
        <details>
          <summary>v0.376.0</summary>
          <pre style="max-width: 30em">
  This release ships with cflinuxfs3 version 0.376.0. For more information, see the [release notes](https://github.com/pivotal-cf/tanzu-cflinuxfs3/releases/tag/0.376.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs4</td><td>1.46.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.49</td>
      <td>
        <details>
          <summary>2.12.49</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.48...2.12.49
          </pre>
        </details>
        <details>
          <summary>2.12.48</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Java 11 is now the minimum runtime version.
  * Fix for CVE-2023-4586 - Build(deps): bump nettyVersion from 4.1.99.Final to 4.1.100.Final.
  ## Other Dependency Bumps
  * Build(deps): Bump rubocop from 1.56.3 to 1.56.4 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/156
  * Build(deps): Bump unicode-display_width from 2.4.2 to 2.5.0 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/157
  * Build(deps): Bump parser from 3.2.2.3 to 3.2.2.4 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/158
  * Build(deps): Bump regexp_parser from 2.8.1 to 2.8.2 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/161
  * Build(deps): Bump rubocop from 1.56.4 to 1.57.0 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/162
  * Build(deps): bump commons-io:commons-io from 2.13.0 to 2.14.0
  * Build(deps): bump com.google.protobuf:protoc from 3.24.3 to 3.24.4
  * Build(deps): bump io.netty:netty-tcnative-boringssl-static from 2.0.61 to 2.0.62
  * Build(deps): bump com.google.api.grpc:proto-google-common-protos from 2.25.1 to 2.26.0
  * Build(deps): bump com.github.ben-manes.versions from 0.48.0 to 0.49.0
  * Build(deps): bump com.github.spotbugs.snom:spotbugs-gradle-plugin from 5.1.3 to 5.1.4
  * Build(deps): bump com.github.spotbugs from 5.1.3 to 5.1.4
  * Build(deps): bump com.google.guava:guava from 32.1.2-jre to 32.1.3-jre
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.47...2.12.48
          </pre>
        </details>
        <details>
          <summary>2.12.47</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.46...2.12.47
          </pre>
        </details>
        <details>
          <summary>2.12.46</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.45...2.12.46
          </pre>
        </details>
        <details>
          <summary>2.12.45</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.44...2.12.45
          </pre>
        </details>
        <details>
          <summary>2.12.44</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.43...2.12.44
          </pre>
        </details>
        <details>
          <summary>2.12.43</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Build(deps): Bump rubocop from 1.56.1 to 1.56.2 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/154
  * [Build(deps): bump springBootVersion from 2.7.14 to 2.7.15](https://github.com/cloudfoundry/credhub/commit/24e27799fc4dc1a1839a453cc5d65c16f7b4b356)
  * [Build(deps): bump org.mariadb.jdbc:mariadb-java-client](https://github.com/cloudfoundry/credhub/commit/86bcff73681391011aeb1da4085018d6ea8ad5ac)
  * [Build(deps): bump com.google.protobuf:protoc from 3.24.1 to 3.24.2](https://github.com/cloudfoundry/credhub/commit/677e840691cb6e3813c83caf8a7776e120376213)
  * [Build(deps): bump org.yaml:snakeyaml from 2.1 to 2.2](https://github.com/cloudfoundry/credhub/commit/dbf8c103338a7ccaea59473447a2c908d416dff3)
  * [Build(deps): bump actions/checkout from 3 to 4](https://github.com/cloudfoundry/credhub/commit/175f5a20381943cb6b1975578cd89f39fe2d2909)
  * [Build(deps): bump grpcVersion from 1.57.2 to 1.58.0](https://github.com/cloudfoundry/credhub/commit/431bbf00a9f1d0848e2951f509d00ec4441f9181)
  * [Build(deps): bump com.github.ben-manes.versions from 0.47.0 to 0.48.0](https://github.com/cloudfoundry/credhub/commit/1e20b1d6060740c1c59048795f826b438abb875a)
  * [bump gradlew from 8.2.1 to 8.3](https://github.com/cloudfoundry/credhub/commit/a4a151a0130a405e4ffcf13e848171057e39c25d)
  * [Build(deps): bump com.google.protobuf:protoc from 3.24.2 to 3.24.3](https://github.com/cloudfoundry/credhub/commit/ae2a6eb23ce64f396cc2cf88d25750f01fef07c2)
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.42...2.12.43
          </pre>
        </details>
        <details>
          <summary>2.12.42</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.41...2.12.42
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.83.0</td>
      <td>
        <details>
          <summary>v2.83.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - **[Bug Fix]** Prevent retired app instances from receiving traffic by ensuring rep emits events to cleanup routes when RetireActualLRP is called. (https://github.com/cloudfoundry/bbs/pull/72) (Fixes #820)
  - Thanks @vlast3k!
  - Cleans up stderr output from rep's `setup_mounted_data_dirs` script (#689)
  -  Thanks @romain-dartigues!
  - Docs updates for the container metrics changes from 2.82.0 (https://github.com/cloudfoundry/diego-release/pull/813)
  - Thanks @geigerj0!
  - Bump Golang to 1.21.3
  - Bump Envoy to 1.25.9
  - Bump Package Dependencies
  - CI Enhancments
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.82.0...v2.83.0
  ## Resources
  - [Download release v2.83.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.83.0).
          </pre>
        </details>
        <details>
          <summary>v2.82.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Diego now supports reading container networking metrics from garden, and publishing them along with other app container metrics. (https://github.com/cloudfoundry/diego-logging-client/pull/82, https://github.com/cloudfoundry/executor/pull/83)
  - Requires [garden-runc-release v1.38.0](https://github.com/cloudfoundry/garden-runc-release/releases/tag/v1.38.0) and [cf-networking-release v3.33.0](https://github.com/cloudfoundry/cf-networking-release/releases/tag/v3.33.0).
  - Thanks @geigerj0 and @jvecsei1!
  - Removed usage of the `code.cloudfoundry.org/systemcerts` package in favor of golang's builtin functionality.
  - Bumped to golang 1.21.0
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.81.0...v2.82.0
  ## Resources
  - [Download release v2.82.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.82.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.17</td>
      <td>
        <details>
          <summary>2.4.17</summary>
          <pre style="max-width: 30em">
  * Add dotnet-aspnetcore 6.0.22, remove dotnet-aspnetcore 6.0.21 for stack(s) cflinuxfs4, cflinuxfs3
  * Add dotnet-aspnetcore 7.0.11, remove dotnet-aspnetcore 7.0.10 for stack(s) cflinuxfs4, cflinuxfs3
  * Add dotnet-runtime 6.0.22, remove dotnet-runtime 6.0.21 for stack(s) cflinuxfs4, cflinuxfs3
  * Add dotnet-runtime 7.0.11, remove dotnet-runtime 7.0.10 for stack(s) cflinuxfs4, cflinuxfs3
  * Add dotnet-sdk 6.0.414, remove dotnet-sdk 6.0.413 for stack(s) cflinuxfs4, cflinuxfs3
  * Add dotnet-sdk 7.0.401, remove dotnet-sdk 7.0.400 for stack(s) cflinuxfs4, cflinuxfs3
  * Add node 18.18.0, remove node 18.17.1 for stack(s) cflinuxfs3, cflinuxfs4
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | bower | 1.8.14 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 6.0.22 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 7.0.11 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 6.0.22 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 7.0.11 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 6.0.414 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 7.0.401 | cflinuxfs3, cflinuxfs4 |
  | libgdiplus | 6.1 | cflinuxfs3 |
  | libgdiplus | 6.1 | cflinuxfs4 |
  | libunwind | 1.7.2 | cflinuxfs3 |
  | libunwind | 1.7.2 | cflinuxfs4 |
  | node | 18.18.0 | cflinuxfs3 |
  | node | 18.18.0 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | dotnet-runtime | 6.0.x |
  | dotnet-aspnetcore | 6.0.x |
  | dotnet-sdk | 6.0.x |
  | bower | 1.8.x |
  * Uncached buildpack SHA256: 7c9a35be8807e7a32f108cf67ff322e9f219fa6783edb3797b60fea2978ca204
  * Uncached buildpack SHA256: 7c7eb1ab0f1319ed03b8f41037fa58c8f1f99759be55af68f659420e12c99115
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>garden-runc</td><td>1.41.0</td>
      <td>
        <details>
          <summary>v1.41.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump go to 1.21.3
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.40.0...v1.41.0
  ## Resources
  - [Download release v1.41.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.41.0).
          </pre>
        </details>
        <details>
          <summary>v1.40.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump Golang to 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.39.0...v1.40.0
  ## Resources
  - [Download release v1.40.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.40.0).
          </pre>
        </details>
        <details>
          <summary>v1.39.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Garden on Linux now supports propagating extended attributes from root filesystem images + when adding filesystem data to an existing container.
  - Bumped to golang 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.38.0...v1.39.0
  ## Resources
  - [Download release v1.39.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.39.0).
          </pre>
        </details>
        <details>
          <summary>v1.38.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Garden now supports advertising container networking metrics on Linux containers via the `garden.enable_container_network_metrics` property.
  - Requires [cf-networking-release v3.33.0](https://github.com/cloudfoundry/cf-networking-release/releases/tag/v3.33.0) or newer, and [diego v2.82.0](https://github.com/cloudfoundry/diego-release/releases/tag/v2.82.0) or newer.
  - Thanks @JVecsei1 and @geigerj0!!
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/garden/spec b/jobs/garden/spec
  index 3bffb2f7..125909ed 100644
  --- a/jobs/garden/spec
  +++ b/jobs/garden/spec
  @@ -119,6 +119,10 @@ properties:
  description: "Additional hosts file entries to be used in containers."
  default: []
  +  garden.enable_container_network_metrics:
  +    description: "Enable container network metrics. This feature is only available on Linux."
  +    default: false
  +
  garden.insecure_docker_registry_list:
  description: "DEPRECATED in favour of grootfs property."
  default: []
  ```
  ## ✨  Built with go 1.20.7
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.37.0...v1.38.0
  ## Resources
  - [Download release v1.38.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.38.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>go-offline-buildpack</td><td>1.10.13</td>
      <td>
        <details>
          <summary>1.10.13</summary>
          <pre style="max-width: 30em">
  * Add go 1.21.2, remove go 1.21.1 for stack(s) cflinuxfs3, cflinuxfs4
  * Add go 1.20.9, remove go 1.20.8 for stack(s) cflinuxfs3, cflinuxfs4
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | dep | 0.5.4 | cflinuxfs3 |
  | dep | 0.5.4 | cflinuxfs4 |
  | glide | 0.13.3 | cflinuxfs3 |
  | glide | 0.13.3 | cflinuxfs4 |
  | go | 1.20.9 | cflinuxfs3 |
  | go | 1.20.9 | cflinuxfs4 |
  | go | 1.21.2 | cflinuxfs3 |
  | go | 1.21.2 | cflinuxfs4 |
  | godep | 80 | cflinuxfs3 |
  | godep | 80 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | go | 1.20.x |
  * Uncached buildpack SHA256: 6e04712ad7938dd3f22f397b5bc873da2e588b194590c274bb8348c827535e8a
  * Uncached buildpack SHA256: 7c2f4973d19b0196261ebd3edfc4604758543a50759dc4d9da1a8ec8295fabe3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>java-offline-buildpack</td><td>4.63.0</td>
      <td>
        <details>
          <summary>4.63.0</summary>
          <pre style="max-width: 30em">
  I'm pleased to announce the release of the `java-buildpack`, version `4.63.0`. This release includes the Java quarterly patch releases, as well updates to the following frameworks/agents:
  * AppDynamics
  * Azure App Insights
  * Datadog
  * Elastic APM
  * JRebel
  * Java CfEnv
  * Splunk Otel
  * Tomcat
  We are working on adding Java 21 support by default, for the moment users can add 21 as a version line in the [config file](https://github.com/cloudfoundry/java-buildpack/blob/main/config/open_jdk_jre.yml) - since the binaries are already available, bundling the buildpack will then include this version.
  For a more detailed look at the changes in 4.63.0, please take a look at the [commit log](https://github.com/cloudfoundry/java-buildpack/compare/v4.62.0...v4.63.0). The packaged version of the buildpack, suitable for use with create-buildpack and update-buildpack, can be found attached to this release.
  | Dependency | Version | CVEs | Release Notes |
  | ---------- | ------- | ---- | ------------- |
  | AppDynamics Agent | `23.9.0_35116` | | [Release Notes](https://docs.appdynamics.com/4.5.x/en/product-and-release-announcements/release-notes/language-agent-notes/java-agent-notes) |
  | Azure Application Insights Agent | `3.4.17` | | [Release Notes](https://github.com/Microsoft/ApplicationInsights-Java/releases) |
  | CA Introscope APM Framework | `23.9.1_16` | |  |
  | Client Certificate Mapper | `1.11.0_RELEASE` |Included inline above | Included inline above |
  | Container Security Provider | `1.20.0_RELEASE` |Included inline above | Included inline above |
  | Contrast Security Agent | `5.4.0` | | [Release Notes](https://docs.contrastsecurity.com/en/java-agent-release-notes.html) |
  | Datadog APM Javaagent | `1.21.0` | | [Release Notes](https://github.com/DataDog/dd-trace-java/releases) |
  | Elastic APM Agent | `1.43.0` | | [Release Notes](https://www.elastic.co/guide/en/apm/agent/java/current/release-notes.html) |
  | Gemalto Luna Security Provider | `7.4.0` | | [Release Notes](https://www.thalesdocs.com/gphsm/luna/7/docs/network/Content/CRN/Luna/CRN_Luna.htm) |
  | Geode Tomcat Session Store | `1.14.9` | |  |
  | Google Stackdriver Profiler | `0.1.0` | | [Release Notes](https://cloud.google.com/profiler/docs/release-notes) |
  | Groovy | `2.5.23` | | [Release Notes](http://www.groovy-lang.org/releases.html) |
  | JaCoCo Agent | `0.8.11` | | [Release Notes](https://github.com/jacoco/jacoco/releases) |
  | Java CFEnv | `3.1.2` | | [Release Notes](https://github.com/pivotal-cf/java-cfenv/releases) |
  | Java Memory Assistant Agent | `0.5.0` | |  |
  | Java Memory Assistant Clean Up | `0.1.0` | |  |
  | JProfiler Profiler | `13.0.7` | | [ChangeLog](https://www.ej-technologies.com/download/jprofiler/changelog.html) |
  | JRebel Agent | `2023.4.0` | | [ChangeLog](https://www.jrebel.com/products/jrebel/changelog) |
  | jvmkill Agent | `1.17.0_RELEASE` |Included inline above | Included inline above |
  | MariaDB JDBC Driver | `2.7.9` | | [Release Notes](https://mariadb.com/kb/en/mariadb-connector-j-2-7-9-release-notes/) |
  | Memory Calculator | `3.13.0_RELEASE` |Included inline above | Included inline above |
  | Metric Writer | `3.5.0_RELEASE` |Included inline above | Included inline above |
  | New Relic Agent | `8.6.0` | | [Release Notes](https://docs.newrelic.com/docs/release-notes/agent-release-notes/java-release-notes/) |
  | OpenJDK JRE 11 | `11.0.21_10` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2023.html#AppendixJAVA) | [Release Notes](https://docs.bell-sw.com/liberica-jdk/11.0.21b10/general/release-notes/) |
  | OpenJDK JRE 17 | `17.0.9_11` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2023.html#AppendixJAVA) | [Release Notes](https://docs.bell-sw.com/liberica-jdk/17.0.9b11/general/release-notes/) |
  | OpenJDK JRE 8 | `1.8.0_392` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2023.html#AppendixJAVA) | [Release Notes](https://docs.bell-sw.com/liberica-jdk/8u392b9/general/release-notes/) |
  | PostgreSQL JDBC Driver | `42.6.0` | | [ChangeLog](https://jdbc.postgresql.org/documentation/changelog.html) |
  | Redis Session Store | `1.3.6_RELEASE` |Included inline above | Included inline above |
  | Riverbed Appinternals Agent | `11.8.5_BL527` | |  |
  | SeaLights Agent | `4.0.2388` | |  |
  | SkyWalking | `8.16.0` | | [ChangeLog](https://github.com/apache/skywalking/tree/master/changes) |
  | Splunk OpenTelemetry Java Agent | `1.29.0` | | [Release Notes](https://github.com/signalfx/splunk-otel-java/releases) |
  | Spring Auto-reconfiguration | `2.12.0_RELEASE` |Included inline above | Included inline above |
  | Spring Boot CLI | `2.7.17` | |  |
  | Spring Boot Container Customizer | `2.6.0_RELEASE` |Included inline above | Included inline above |
  | Takipi Agent | `4.73.3` | | [Release Notes](https://doc.overops.com/docs/whats-new) |
  | Tomcat | `9.0.82` |[Security](https://tomcat.apache.org/security-9.html) | [ChangeLog](https://tomcat.apache.org/tomcat-9.0-doc/changelog.html) |
  | Tomcat Access Logging Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat Lifecycle Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat Logging Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | YourKit Profiler | `2023.5.231` | | [Release Notes](https://www.yourkit.com/download/yjp_2023_5_builds.jsp) |
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>java-native-image-cnb-buildpack</td><td>0.6.4</td>
      <td>
        <details>
          <summary>0.6.4</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.2](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.2)
          </pre>
        </details>
        <details>
          <summary>0.6.3</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.1](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.1)
          </pre>
        </details>
        <details>
          <summary>0.6.2</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.1](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.1)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>log-cache</td><td>3.0.7</td>
      <td>
        <details>
          <summary>v3.0.7</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v3.0.6...v3.0.7
          </pre>
        </details>
        <details>
          <summary>v3.0.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v3.0.5...v3.0.6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator</td><td>107.0.9</td>
      <td>
        <details>
          <summary>v107.0.9</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.8...v107.0.9
          </pre>
        </details>
        <details>
          <summary>v107.0.8</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * fix(grpcconnector): Correctly disconnect dopplers by @ctlong in https://github.com/cloudfoundry/loggregator-release/pull/623
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.7...v107.0.8
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>7.6.4</td>
      <td>
        <details>
          <summary>v7.6.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Feat(Forwarder Agent): Add a counter to track drops from egress diodes by @ctlong in https://github.com/cloudfoundry/loggregator-agent-release/pull/399
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.6.3...v7.6.4
          </pre>
        </details>
        <details>
          <summary>v7.6.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  ### Experimental OTel Collector changes
  * Forwarder Agent now batches metrics sent to the co-located OTel Collector to improve performance.
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.6.2...v7.6.3
          </pre>
        </details>
        <details>
          <summary>v7.6.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.6.1...v7.6.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.47</td>
      <td>
        <details>
          <summary>v1.2.47</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **mapfs:** Updated to v`9fead8e`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.46</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.3 (#162)
  ## Dependencies
  * **v2:** Updated to v2.13.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **net:** Updated to v0.17.0.<br>For more information, see [net](https://github.com/golang/net).
  * **mapfs:** Updated to v`6375877`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.45</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.1. (#149)
  ## Dependencies
  * **gomega:** Updated to v1.28.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **mapfs:** Updated to v`6142d67`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.41</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **mapfs:** Updated to v`dd24f4a`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.40</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **mapfs:** Updated to v`1eb4e0c`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.39</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **mapfs:** Updated to v`799c2e9`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.38</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.1. (#140)
  ## Dependencies
  * **mapfs:** Updated to v`641ed35`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.37</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.0. (#135)
  ## Dependencies
  * **mapfs:** Updated to v`9758d39`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.36</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **v2:** Updated to v2.12.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **mapfs:** Updated to v`06a8605`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metric-registrar</td><td>2.1.9</td>
      <td>
        <details>
          <summary>v2.1.9</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/pivotal-cf/metric-registrar-release/compare/v2.1.8...v2.1.9
          </pre>
        </details>
        <details>
          <summary>v2.1.8</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/pivotal-cf/metric-registrar-release/compare/v2.1.7...v2.1.8
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.18</td>
      <td>
        <details>
          <summary>v3.2.18</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.17...v3.2.18
          </pre>
        </details>
        <details>
          <summary>v3.2.17</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Don't configure prom scraper to scrape when metrics-discovery-registrar or metrics-agent are disabled.
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.16...v3.2.17
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mysql-monitoring</td><td>10.5.0</td>
      <td>
        <details>
          <summary>10.5.0</summary>
          <pre style="max-width: 30em">
  - Bumped Go to 1.21.3
          </pre>
        </details>
        <details>
          <summary>10.4.0</summary>
          <pre style="max-width: 30em">
  - Bumped Go to 1.21.1
  - Updated vendored dependencies
          </pre>
        </details>
        <details>
          <summary>10.3.0</summary>
          <pre style="max-width: 30em">
  **Dependency Bumps**
  - Built with Go 1.21.0
  - Bumped dependenciesa
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nats</td><td>56.10.0</td>
      <td>
        <details>
          <summary>v56.10.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to golang 1.21.3
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/nats-release/compare/v56.9.1...v56.10.0
  ## Resources
  - [Download release 56.10.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/nats-release?version=56.10.0).
          </pre>
        </details>
        <details>
          <summary>v56.9.1</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to golang 1.21.2
  ## ✨  Built with go 1.21.2
  **Full Changelog**: https://github.com/cloudfoundry/nats-release/compare/v56.8.0...v56.9.1
  ## Resources
  - [Download release 56.9.1 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/nats-release?version=56.9.1).
          </pre>
        </details>
        <details>
          <summary>v56.8.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Make nats memory limits configurable (#61)
  - Thanks @domdom82!
  - Bump nats-server to v2.10.1
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/nats-tls/spec b/jobs/nats-tls/spec
  index 4f9b3b7..777b98e 100644
  --- a/jobs/nats-tls/spec
  +++ b/jobs/nats-tls/spec
  @@ -126,3 +126,10 @@ properties:
  nats.fail_deployment_if_v1:
  description: "Fail the deployment in post-start if nats instances are on v1."
  default: false
  +
  +  nats.mem_limit.alert:
  +    description: "Raise alert if total memory consumed by nats is larger than this. Format: <number> <B|KB|MB|GB|%>"
  +    default: "500 MB"
  +  nats.mem_limit.restart:
  +    description: "Restart nats if total memory consumed is larger than this. Format: <number> <B|KB|MB|GB|%>"
  +    default: "3000 MB"
  ```
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/nats-release/compare/v56.7.0...56.8.0
  ## Resources
  - [Download release 56.8.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/nats-release?version=56.8.0).
          </pre>
        </details>
        <details>
          <summary>v56.7.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.1
  - Fix flaky test (thx @reneighbor)
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/nats-release/compare/v56.6.0...v56.7.0
  ## Resources
  - [Download release v56.7.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/nats-release?version=56.7.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nfs-volume</td><td>7.1.38</td>
      <td>
        <details>
          <summary>v7.1.38</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **nfsbroker:** Updated to v`08fd348`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`2dcf257`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.37</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.3 (#607)
  ## Dependencies
  * **gomega:** Updated to v1.28.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **nfsbroker:** Updated to v`77b6d24`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`6e0ee23`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.35</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **nfsbroker:** Updated to v`4fe73b5`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`c89a0a6`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.34</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **nfsbroker:** Updated to v`75e8459`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`e323fee`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.33</summary>
          <pre style="max-width: 30em">
  ## Changes
  * +Golang: Updated to v1.21.1 (#558)
  ## Dependencies
  * **nfsbroker:** Updated to v`4974c87`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`34863b7`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.32</summary>
          <pre style="max-width: 30em">
  ## Changes
  * +Golang: Updated to v1.21.0 (#541)
  * Update README.md (#549)
  ## Dependencies
  * **nfsbroker:** Updated to v`64e07ac`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`964ff24`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.31</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **nfsbroker:** Updated to v`ca7c06c`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`09ac66c`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.7</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.15</td><td></td></tr>
    <tr><td>notifications</td><td>67.0.0</td>
      <td>
        <details>
          <summary>v67.0.0</summary>
          <pre style="max-width: 30em">
  commit 9d726080d2a5f086c77a33bdbaf0da6692cfb084
  Author: PCF Toronto Concourse CI Bot <tpt-team+cibot@pivotal.io>
  Date:   Mon Aug 28 22:02:01 2023 +0000
  Cuts final release 67.0.0
  [ci skip]
  commit 351d8702bd0d2ac4a70b3584ef380b2b370cba99
  Author: PCF Event Alerts Team CI <pcf-event-alerts+cibot@pivotal.io>
  Date:   Mon Aug 28 21:22:18 2023 +0000
  Bump submodule src/notifications
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>notifications-ui</td><td>45.0.0</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.6.10</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>677.0.32</td>
      <td>
        <details>
          <summary>677.0.32</summary>
          <pre style="max-width: 30em">
  * stop errors in service creation page from causing blank screen as client web app crashes.
          </pre>
        </details>
        <details>
          <summary>677.0.30</summary>
          <pre style="max-width: 30em">
  * update apps-manager ajv for better validation for creating services.
          </pre>
        </details>
        <details>
          <summary>677.0.29</summary>
          <pre style="max-width: 30em">
  * update dependencies
  * fix issue where when a service offering was unshared from a org, a remaining service would be marked as "unknown" and cause stack traces within the ui
          </pre>
        </details>
        <details>
          <summary>677.0.28</summary>
          <pre style="max-width: 30em">
  * fix release size by updating files to include.
          </pre>
        </details>
        <details>
          <summary>677.0.27</summary>
          <pre style="max-width: 30em">
  * update package.json for search-server to use latest version of npm.
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>push-tas-portal-release</td><td>0.5.2</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>5.0.342</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.71</td>
      <td>
        <details>
          <summary>v674.0.71</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`4a4df69`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.70</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Maintenance release (CI improvements, technical refactorings, etc)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>pxc</td><td>1.0.18</td>
      <td>
        <details>
          <summary>v1.0.18</summary>
          <pre style="max-width: 30em">
  **New Features**
  - Bumped Go to 1.21.3
  - Bumped Percona-XtraDB-Cluster to 5.7.43-31.65
          </pre>
        </details>
        <details>
          <summary>v1.0.17</summary>
          <pre style="max-width: 30em">
  **New Features**
  - Bumped Go to 1.21.1
  - Bumped vendored dependencies
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>python-offline-buildpack</td><td>1.8.14</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.2.6</td><td></td></tr>
    <tr><td>routing</td><td>0.283.0</td>
      <td>
        <details>
          <summary>v0.283.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Adds missing timings to non-http backend requests, e.g. websockets. (https://github.com/cloudfoundry/gorouter/pull/363) (Fixes: https://github.com/cloudfoundry/routing-release/issues/278)
  - Thanks @domdom82!
  - Adds ability for gorouter to verify mTLS Client Certificate metadata (https://github.com/cloudfoundry/routing-release/pull/355)
  - Thanks @peanball!
  - CI Enhancements and updates
  - Package Dependency bumps
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/gorouter/spec b/jobs/gorouter/spec
  index 2bb394e9..e9a9dd73 100644
  --- a/jobs/gorouter/spec
  +++ b/jobs/gorouter/spec
  @@ -415,7 +415,7 @@ properties:
  default: 5
  websocket_dial_timeout_in_seconds:
  description: |
  -      Maximum time in seconds for gorouter to establish a websocket upgrade for the websocket ForwardIO connection with a backend.
  +      Maximum time in seconds for gorouter to establish a websocket upgrade for the websocket ForwardIO connection with a backend.
  This timeout comes before `tls_handshake_timeout_in_seconds` and `request_timeout_in_seconds`. When not set, defaults to `endpoint_dial_timeout_in_seconds`.
  default: endpoint_dial_timeout_in_seconds
  tls_handshake_timeout_in_seconds:
  @@ -518,6 +518,36 @@ properties:
  description: "The number of file descriptors a router can have open at one time"
  default: 100000
  +  router.enable_verify_client_certificate_metadata:
  +    description: |
  +        Enable additional client certificate verification via verify_client_certificate_metadata (see below).
  +    default: false
  +  router.verify_client_certificate_metadata:
  +    description: |
  +      Additional client certificate verification, after the certificate was validated using the regular mTLS mechanism and is issued using one of the CAs in `client_ca_certs`.
  +      The additional verification limits the allowed client certificates for a given signing CA (identified by its distinguished name) to certificates with subjects provided in the list of valid subjects. Within the certificate chain there may be more than one CA certificates (e.g. intermediate CA certificates). The `issuer_in_chain` must match one of the CA certificates in the chain.
  +      Each list entry contains an issuer_in_chain with a corresponding list of valid subjects. Each issuer_in_chain must match one of the certificates in `client_ca_certs`. When an issuer_in_chain is defined that does not match, this raises an error during templating time and at startup in gorouter.
  +      - issuer_in_chain:
  +          common_name: ""
  +          serial_number: ""
  +          country: []
  +          organization: []
  +          organizational_unit: []
  +          locality: []
  +          province: []
  +          street_address: []
  +          postal_code: []
  +        valid_cert_subjects:
  +          - common_name: ""
  +            serial_number: ""
  +            country: []
  +            organization: []
  +            organizational_unit: []
  +            locality: []
  +            province: []
  +            street_address: []
  +            postal_code: []
  +    default: []
  healthchecker.failure_counter_file:
  description: "File used by the healthchecker to monitor consecutive failures."
  default: /var/vcap/data/gorouter/counters/consecutive_healthchecker_failures.count
  ```
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.282.0...v0.283.0
  ## Resources
  - [Download release 0.283.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.283.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.10.5</td>
      <td>
        <details>
          <summary>1.10.5</summary>
          <pre style="max-width: 30em">
  * Update default Ruby version to latest 3.x
  * Add rubygems 3.4.21, remove rubygems 3.4.19 for stack(s) cflinuxfs4, cflinuxfs3
  * Add bundler 2.4.21, remove bundler 2.4.19 for stack(s) cflinuxfs4, cflinuxfs3
  * Add node 18.18.2, remove node 18.17.1 for stack(s) cflinuxfs3, cflinuxfs4
  * Add jruby 9.3.11.0, remove jruby 9.3.10.0 for stack(s) cflinuxfs3, cflinuxfs4
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | bundler | 2.4.21 | cflinuxfs3, cflinuxfs4 |
  | jruby | 9.3.11.0 | cflinuxfs3 |
  | jruby | 9.3.11.0 | cflinuxfs4 |
  | jruby | 9.4.3.0 | cflinuxfs3 |
  | jruby | 9.4.3.0 | cflinuxfs4 |
  | node | 18.18.2 | cflinuxfs3 |
  | node | 18.18.2 | cflinuxfs4 |
  | openjdk1.8-latest | 1.8.0 | cflinuxfs3, cflinuxfs4 |
  | ruby | 3.0.5 | cflinuxfs3 |
  | ruby | 3.0.6 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs4 |
  | ruby | 3.1.4 | cflinuxfs3 |
  | ruby | 3.1.4 | cflinuxfs4 |
  | ruby | 3.2.1 | cflinuxfs3 |
  | ruby | 3.2.1 | cflinuxfs4 |
  | ruby | 3.2.2 | cflinuxfs3 |
  | ruby | 3.2.2 | cflinuxfs4 |
  | rubygems | 3.4.21 | cflinuxfs3, cflinuxfs4 |
  | yarn | 1.22.19 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | ruby | 3.2.x |
  * Uncached buildpack SHA256: 8c0fdabc1df95431da32e694e866b26e83763a6cd3d7ada24b0fe6825c433458
  * Uncached buildpack SHA256: 2b00568c2517b4bb57ec523ae562ba13c494cc2b3a0922c32374b1623b60c598
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>web-servers-cnb-buildpack</td><td>0.6.8</td>
      <td>
        <details>
          <summary>0.6.8</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.9.5](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.9.5)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.34.0</td>
      <td>
        <details>
          <summary>v3.34.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3
  - Fixes a crash in `silk-datastore-syncer` when garden listed containers not present in the CNI metadata file managed by silk.
  - CI Enhancements
  - Package dependency bumps
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/silk-release/compare/v3.33.0...v3.34.0
  ## Resources
  - [Download release 3.34.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/silk-release?version=3.34.0).
          </pre>
        </details>
        <details>
          <summary>v3.33.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.20.7
  ## ✨  Built with go 1.20.7
  **Full Changelog**: https://github.com/cloudfoundry/silk-release/compare/v3.32.0...v3.33.0
  ## Resources
  - [Download release v3.33.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/silk-release?version=3.33.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smb-volume</td><td>3.1.38</td>
      <td>
        <details>
          <summary>v3.1.38</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **v2:** Updated to v2.13.0.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **gomega:** Updated to v1.28.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **smbbroker:** Updated to v`6144d48`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`ba5d545`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.37</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.21.3 (#254)
  ## Dependencies
  * **smbbroker:** Updated to v`47d1912`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`3b7fd5f`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.36</summary>
          <pre style="max-width: 30em">
  ## Changes
  * +Golang: Updated to v1.21.2 (#247)
  ## Dependencies
  * **smbbroker:** Updated to v`af9461b`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`425638f`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.35</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`6d1303d`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`c4ca5be`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.34</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`91e5d63`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`6eb0047`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.33</summary>
          <pre style="max-width: 30em">
  ## Changes
  * fix race condition (#225)
  ## Dependencies
  * **smbbroker:** Updated to v`4be065e`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`a8e248b`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.32</summary>
          <pre style="max-width: 30em">
  ## Changes
  * +Golang: Updated to v1.21.0 (#220)
  * Add final release 3.1.31 [ci skip]
  ## Dependencies
  * **smbbroker:** Updated to v`c6764c2`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`44ac537`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.31</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **smbbroker:** Updated to v`d8cd6a7`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`47fe692`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.4</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.6.7</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.35</td>
      <td>
        <details>
          <summary>v1.11.35</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.34...v1.11.35
          </pre>
        </details>
        <details>
          <summary>v1.11.34</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.33...v1.11.34
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.1.9</td>
      <td>
        <details>
          <summary>v12.1.9</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update golang packages to use go1.20.8
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.1.8...v12.1.9
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>system-metrics-scraper</td><td>4.0.3</td>
      <td>
        <details>
          <summary>v4.0.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump dependencies
  * Bump golang to v1.20.10
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v4.0.2...v4.0.3
          </pre>
        </details>
        <details>
          <summary>v4.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * fix: Increase scraper timeout by @ctlong in https://github.com/cloudfoundry/system-metrics-scraper-release/pull/161
  * Bump github.com/nats-io/nats.go from 1.28.0 to 1.29.0 in /src by @dependabot in https://github.com/cloudfoundry/system-metrics-scraper-release/pull/159
  * Bump google.golang.org/grpc from 1.58.0 to 1.58.1 in /src by @dependabot in https://github.com/cloudfoundry/system-metrics-scraper-release/pull/160
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v4.0.1...v4.0.2
          </pre>
        </details>
        <details>
          <summary>v4.0.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.8](https://groups.google.com/g/golang-announce/c/Fm51GRLNRvM/m/F5bwBlXMAQAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v4.0.0...v4.0.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>uaa</td><td>76.23.0</td>
      <td>
        <details>
          <summary>v76.23.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### New UAA
  * Bump to [UAA v76.23.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.23.0)
  ### Runtime
  * [Upgrade Tomcat to version 9.0.82](https://github.com/cloudfoundry/uaa-release/commit/4c2cfed4fa2edf20eab4c8a08fe61cb8bc862843), (https://github.com/cloudfoundry/uaa-release/commit/cfdc809a6ad540d55a7e879d2e04a8f79c86690f), [solves CVEs](https://tomcat.apache.org/security-9.html#Fixed_in_Apache_Tomcat_9.0.81)
  * [Upgrade Bellsoft JDK to version 11.0.21+10](https://github.com/cloudfoundry/uaa-release/commit/92fac818aa99063fd0a9d74f5c7d0309f2bbd450)
  ### Dependency Bumps
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.399 to 0.0.401 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/676
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.401 to 0.0.402 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/679
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.402 to 0.0.404 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/680
  * Bump golang.org/x/net from 0.16.0 to 0.17.0 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/681
  * Bump activesupport from 7.1.0 to 7.1.1 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/682
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.404 to 0.0.405 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/683
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.405 to 0.0.406 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/685
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v76.22.0...v76.23.0
          </pre>
        </details>
        <details>
          <summary>v76.22.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [UAA v76.22.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.22.0)
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.394 to 0.0.395 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/664
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.395 to 0.0.397 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/666
  * shellcheck by @bruce-ricard in https://github.com/cloudfoundry/uaa-release/pull/667
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.397 to 0.0.398 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/669
  * Bump github.com/onsi/gomega from 1.27.10 to 1.28.0 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/670
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.398 to 0.0.399 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/674
  * Bump activesupport from 7.0.8 to 7.1.0 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/675
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v76.21.0...v76.22.0
          </pre>
        </details>
        <details>
          <summary>v76.21.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [UAA v76.21.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.21.0)
  * [Upgrade Bellsoft JDK to version 11.0.20.1+1](https://github.com/cloudfoundry/uaa-release/commit/fdda19fd571f3a603388b54f7fa9c250e8d4b239)
  * [Upgrade Tomcat to version 9.0.80](https://github.com/cloudfoundry/uaa-release/commit/ac16f6e0a6d9afbad5f75a1f7a86538db0a4250a)
  * [Upgrade Newrelic to version 8.6.0](https://github.com/cloudfoundry/uaa-release/commit/bbd818fbd39e5b38d9fcea4c90ec633025483c15)
  * Bump minitest from 5.19.0 to 5.20.0 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/659
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.386 to 0.0.393 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/658
  * Bump activesupport from 7.0.7.2 to 7.0.8 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/662
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.393 to 0.0.394 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/663
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v76.20.0...v76.21.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>tanzu-jammy-stack</td><td>1.0.0</td><td></td></tr>
  </tbody>
</table>



### <a id='5.0.0'></a> 5.0.0

**Release Date:** 10/17/2023

* **[Security Fix]** Bump routing-release to v0.282.0
* **[Breaking Change]** Java Buildpack v4.62.0 will no longer install the Spring AutoReconfiguration library for Spring Boot 3 applications - the Java CfEnv library will be installed instead. See [Java Buildpack 4.62.0 removes Spring AutoReconfiguration library for Spring Boot 3 applications](#jbp-462-removes-autoreconfig) below.
* **[Breaking Change]** Remove logging timestamp format property
* **[Breaking Change]** metrics-agent and metrics-discovery-registrar disabled by default
* **[Breaking Change]** Autoscaler API no longer accepts requests with trailing slashes
* **[Feature]** (Beta) Operators can export metrics off TAS using OpenTelemetry Collector v0.83.0
* **[Feature]** Add distributed tracing to UAA logs
* **[Feature]** Adds beta Java Native Image Buildpack and beta Web Servers Buildpack compatible with `tanzu-jammy-full-stack`
* **[Feature]** App readiness healthchecks are now supported to remove/add apps to routing pools without restarting, based on a configurable healthcheck.
* **[Feature]** Added log tracing support to UAA. Log messages now have fields for a trace ID and span ID. Please note that external log parsers might need to be adjusted.
* **[Feature]** Operators can configure TAS and IST to include tanzu-jammy-full-stack
* **[Feature]** Add distributed tracing to Diego component logs.
* **[Feature]** For credential Rotation, JSON key sets are now supported in token keys
* **[Feature]** Adds distributed tracing to Diego component logs
* **[Feature]** For credential rotation, JSON key sets are now supported in token keys.
* **[Feature]** Exposes "Certificate Authorities trusted by the Gorouter for client requests" in the **Networking** tab
* **[Feature]** Adds support for W3C Trace ID logging across Diego component requests
* **[Feature improvement]** Dynamic App renaming takes effect for Silk Security Group log entries
* **[Feature Improvement]** Use routing_info for desired_lrps when there are missing actual_lrps.
* **[Feature improvement]** TAS for VMs/Isolation Segment/TAS for VMs For Windows 5.0 UI text overhaul
* **[Feature improvement]** Use routing_info for desired_lrps when there are missing actual_lrps
* **[Feature Improvement]** Aggregate drains now allow defining Certificate Authority and Client Certificates. Allow mtls for log-cache
* **[Feature Improvement]** Allow to configure Silk policy polling interval
* **[Feature Improvement]** Dynamic App renaming takes effect for Silk Security Group log entries
* **[Feature Improvement]** TAS/IST/TASW 5.0 UI text overhaul
* **[Feature Improvement]** "Back end request timeout for the Gorouter" property no longer affects idle timeout of long lived requests. Idle
timeouts are now configured by the "Front end idle timeout for the Gorouter" property.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.250</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.88</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.7</td>
      <td>
        <details>
          <summary>1.1.7</summary>
          <pre style="max-width: 30em">
  * Updating github-config (#148)
  * Uncached buildpack SHA256: 9e001804d5d4930b3a1e4d1c2c24ee8deeb663924b428fdfb46ded50fa201a42
  * Uncached buildpack SHA256: 4b016c36aa656e2ce42ad1aa7408abdae59be8daf6e8747171db86d686fcf781
  * Uncached buildpack SHA256: c323393a96eb58faf20e792a59781529823e46d0c46241a6aad8d1e9ab451e49
  * Uncached buildpack SHA256: 3f4f2d305e4030d9fb5c461651fbacb55af9bb3508a79889f1eddb0134930e46
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.6</td><td></td></tr>
    <tr><td>capi</td><td>1.158.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.2.6</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.47.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.32.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.375.0</td>
      <td>
        <details>
          <summary>v0.375.0</summary>
          <pre style="max-width: 30em">
  This release ships with cflinuxfs3 version 0.375.0. For more information, see the [release notes](https://github.com/pivotal-cf/tanzu-cflinuxfs3/releases/tag/0.375.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs4</td><td>1.44.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.41</td><td></td></tr>
    <tr><td>diego</td><td>2.81.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.16</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.37.0</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.10.12</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.62.0</td><td></td></tr>
    <tr><td>java-native-image-cnb-buildpack</td><td>0.6.1</td>
      <td>
        <details>
          <summary>0.6.1</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.0)
          </pre>
        </details>
        <details>
          <summary>0.6.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.0)
          </pre>
        </details>
        <details>
          <summary>0.5.1</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.7.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.7.0)
          </pre>
        </details>
        <details>
          <summary>0.5.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.7.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.7.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>log-cache</td><td>3.0.5</td><td></td></tr>
    <tr><td>loggregator</td><td>107.0.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.6.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.35</td><td></td></tr>
    <tr><td>metric-registrar</td><td>2.1.7</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.16</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>10.2.0</td><td></td></tr>
    <tr><td>nats</td><td>56.6.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.30</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.7</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.15</td><td></td></tr>
    <tr><td>notifications</td><td>66.0.0</td><td></td></tr>
    <tr><td>notifications-ui</td><td>45.0.0</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.6.10</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>677.0.26</td><td></td></tr>
    <tr><td>push-tas-portal-release</td><td>0.5.2</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>5.0.278</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.69</td>
      <td>
        <details>
          <summary>v674.0.69</summary>
          <pre style="max-width: 30em">
  ## Changes
  * This fixes the regression introduced in 674.0.64 which could lead to the loss of data - <br>For more information, see this [KB](https://pivotal.lightning.force.com/lightning/r/KnowledgeArticle__kav/ka08X0000002brGQAQ/view).
  ## Dependencies
  * **app-usage-service:** Updated to v`795068c`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.68</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **app-usage-service:** Updated to v`00de8f4`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.67</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`b916606`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.66</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`68821d4`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.65</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`cf55c07`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>pxc</td><td>1.0.16</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.8.14</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.2.6</td><td></td></tr>
    <tr><td>routing</td><td>0.282.0</td>
      <td>
        <details>
          <summary>v0.282.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3
  - CI Enhancements and updates
  - Package Dependency bumps
  - Resolves [gorouter/#346](https://github.com/cloudfoundry/routing-release/issues/346) by validating trace ID length prior to parsing it as a UUID
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.281.0...0.282.0
  ## Resources
  - [Download release 0.282.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.282.0).
          </pre>
        </details>
        <details>
          <summary>v0.281.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Check trace ID length before parsing the UUID (#365)
  - Bump go to 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.280.0...v0.281.0
  ## Resources
  - [Download release 0.281.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.281.0).
          </pre>
        </details>
        <details>
          <summary>v0.280.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped CF CLI to v8.7.2
  - Gorouter now logs the IP of the NATS server its connecting to/disconnecting from (instead of just the BOSH DNS name) for troubleshooting clarity. Thanks @domdom82!!
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.279.0...v0.280.0
  ## Resources
  - [Download release v0.280.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.280.0).
          </pre>
        </details>
        <details>
          <summary>v0.279.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.0!
  - Refactor of proxy config properties. Thanks @domdom82!
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/acceptance_tests/spec b/jobs/acceptance_tests/spec
  index db508ca3..e1a6a9ae 100644
  --- a/jobs/acceptance_tests/spec
  +++ b/jobs/acceptance_tests/spec
  @@ -7,7 +7,7 @@ templates:
  bpm.yml.erb: config/bpm.yml
  packages:
  - - golang-1.20-linux
  + - golang-1.21-linux
  - acceptance_tests
  - rtr
  - cf-cli-8-linux
  diff --git a/jobs/smoke_tests/spec b/jobs/smoke_tests/spec
  index 5776a9c8..b230192b 100644
  --- a/jobs/smoke_tests/spec
  +++ b/jobs/smoke_tests/spec
  @@ -7,7 +7,7 @@ templates:
  bpm.yml.erb: config/bpm.yml
  packages:
  - - golang-1.20-linux
  + - golang-1.21-linux
  - acceptance_tests
  - cf-cli-8-linux
  ```
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.278.0...v0.279.0
  ## Resources
  - [Download release v0.279.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.279.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.10.4</td><td></td></tr>
    <tr><td>web-servers-cnb-buildpack</td><td>0.6.7</td>
      <td>
        <details>
          <summary>0.6.7</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.9.5](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.9.5)
          </pre>
        </details>
        <details>
          <summary>0.6.6</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.9.5](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.9.5)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.32.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.30</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.4</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.6.7</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.33</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.8</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>4.0.0</td><td></td></tr>
    <tr><td>uaa</td><td>76.20.0</td><td></td></tr>
    <tr><td>tanzu-jammy-stack</td><td>1.0.0</td><td></td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New features in <%= vars.app_runtime_full %> <%= vars.v_major_version %>

These are the new features for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

### Readiness Healthchecks

Application “readiness” healthchecks have been added for application instances in the TAS for VMs 5.0 release. Readiness healthchecks are a great way for developers to recover faster from transient application errors and for platform engineers to reduce CPU and memory churn in a Tanzu Application Service environment. Developers can make use of the readiness healthcheck in their applications to better mitigate temporary failures such as a cold cache hit or a temporary loss of database connectivity. When its readiness healthcheck fails, the application instance is temporarily unregistered from the Gorouters to allow time for the error to resolve without destroying and recreating the instance.
See <a href='https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/deploy-apps-healthchecks.html'>Healthchecks</a> for more information.

This feature requires:

* garden-runc-release 1.37.0
* diego-release 2.81.0
* capi-release 1.158.0

### Distributed tracing enables faster debugging

Adding tracing to all Tanzu Application Service components enables faster debugging and troubleshooting for developers. You can trace errors and pinpoint network issues using [VMware Aria Operations for Logs](https://www.vmware.com/products/aria-operations-for-logs.html) and other log aggregation tools. This means that you also have a quicker way to tie information together from multiple Tanzu Application Service components, and support engineers can identify the root cause of issues and debug them more quickly.

### Add OpenTelemetry Metric Exporter support (beta)

OpenTelemetry metric exporter support has been added to Tanzu Application Service 5.0 as a beta feature. Once fully implemented, you will be able to optimize how you ship metrics on an application and platform level, resulting in fewer VMs deployed and more cost savings. This feature allows platform engineers to egress metrics directly via the OpenTelemetry Collector as an alternative to using the firehose and/or nozzles. Combined with aggregate syslog drains, Tanzu Application Service customers can complete the shared-nothing architecture for logs and metrics. 

Enabling the Collector consumes additional resources on each VM. VMware recommends that operators load test deployments to
size VMs correctly. Operators with deployments that use VM types with CPU bursting must ensure there are
sufficient reserved vCPUs for the increased CPU consumed.

In <%= vars.app_runtime_abbr %> 5.0.0 foundations with more than 150 VMs may not send all system metrics to the
OpenTelemetry Collector.

Note that this feature is beta, so it may still change in significant ways.

### Log Cache Syslog Server supports mTLS

Operators can now configure Log Cache communication with Syslog Agents to use mutual TLS.

We recommend that operators who want to enable this feature perform a two-step deployment.
1. First, upgrade to TAS for VMs 5.0.
2. Enable mTLS in a separate deployment.

### Tanzu Application Service Developer Portal supports data persistence (beta)

Developers and platform engineers can benefit from a MySQL database integration for persisting data in the software catalog and other plug-ins used in the Tanzu Application Service Developer Portal. For more information about TAS Portal, see [About TAS Portal](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/tas-portal-about-tas-portal.html).

### Automatic rotation of BOSH DNS certificates

BOSH DNS certificates automatically rotate on stemcell upgrades through an opt-in feature in 5.0. Platform engineers can track the rotation process and keep an eye on each phase of the rotation. This enables an “always be rotating” model that could help eliminate the need to allocate time and apply changes multiple times, specifically for rotating certificates.

### Improved disaster recovery workflows

In the rare event that you experience catastrophic failures within your cloud provider, there are now new BOSH workflows to repair a Tanzu Application Service deployment in a more streamlined fashion. Specifically, the following BOSH commands ([bosh create-recovery plan](https://bosh.io/docs/cli-v2/#create-recovery-plan) and [bosh recover](https://bosh.io/docs/cli-v2/#recover)) have been added to help platform engineers with their disaster recovery workflows. 

### Tanzu Operations Manager database pruning

Platform engineers with large environments can now remove data no longer needed by creating a database pruning schedule within Tanzu Operations Manager. This can be achieved with an `om cli` command to set the desired retention policy (number of days) for objects within the Operations Manager database.

### Human-readable virtual machine names for vSphere

Platform Engineers can configure Operations Manager to deploy virtual machines with human-readable names that allow for easy identification and troubleshooting within vSphere. Machines will be deployed with the following format instance-group-name_deployment-name_id versus the traditional name scheme of vm_guid (vm_d6f0f537-18cd-4a1b-b0f5-ae03e8f590e8).

### Tanzu Cloud Service Broker for AWS GAs MSSQL support

The Tanzu Cloud Service Broker for AWS has moved support for Microsoft SQL (MSSQL) to generally available (GA) status. This allows developers to deploy production-ready instances of AWS MSSQL through the Tanzu Application Service marketplace. 

### Simplified multi-site deployments with TAS MySQL tile

The release of [VMware SQL with MySQL for Tanzu Application Service 3.1](https://docs.vmware.com/en/VMware-SQL-with-MySQL-for-Tanzu-Application-Service/3.1/mysql-for-tas/release-notes.html) has introduced simplified multi-site MySQL deployment capability that enables developers to deploy easily without worrying about additional network complexity. Platform engineers can configure multi-site across two Tanzu Application Service foundations without needing their networks to be routable between each other, paving the way for multi-site support across TAS foundations hosted on different clouds.

### Expanded cloud provider support with Oracle Cloud VMware Solution

Tanzu Application Service 5.0 has added support for installing the platform on top of [Oracle Cloud VMware Solution (OCVS)](https://www.oracle.com/cloud/compute/vmware/). Platform engineers can expand their platform deployments and use additional Oracle Cloud solutions without rebuilding their application platform.

### New Java Native Image buildpack (beta)

This release introduces a beta Java Native Image buildpack based on the Paketo Java Native Buildpack. 

You can build your Java apps with native image support and deploy those apps to Cloud Foundry. 
A growing number of Java users are building Java apps using support for native images. For more information, see [Native Image](https://www.graalvm.org/reference-manual/native-image/) in the GraalVM documentation.

Java users deploying to Cloud Foundry can deploy apps compiled using native image support. However, the Cloud Foundry Java buildpack does not provide support to build, compile, and turn apps into a native image. You must perform those steps before deploying to Cloud Foundry.

For details on using this feature, see [Using Java Native Image](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/java-java-native-image.html).

### Operators can configure TAS and IST to include tanzu-jammy-full-stack

The Tanzu stacks use slightly different base images for building and running apps. Primarily, the `build` image of the stack includes important build-time dependencies, such as `gcc`, which are not required at run time. This allows for a smaller image with fewer dependencies at run time. Starting in version 5.0, TAS for VMs respects these different images and usrd the `build` and `run` images at build-time and run-time, respectively.

## <a id='breaking-changes'></a> Breaking changes

These are the breaking changes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

### <a id='jbp-462-removes-autoreconfig'></a> Java Buildpack 4.62.0 removes Spring AutoReconfiguration library for Spring Boot 3 applications

From v4.62.0, the Java Buildpack will no longer install the Spring AutoReconfiguration (SAR) library for Spring Boot 3 applications. 
This library was deprecated in May 2022 and overwrites your configured Spring Beans to connect to bound services. 
This is not recommended for use in production environments. The recommended replacement is the Java CfEnv library.

Applications should not be affected by this change if:

* They are using Spring Boot 2.x - SAR will be installed and supported for the life of Spring Boot 2, although it is recommended to migrate to Java CfEnv as soon as possible.
* They are using Spring Boot 3 and 
  * have already migrated from SAR to Java CfEnv** or
  * have already migrated from Spring Cloud Connectors to Java CfEnv** 

** The buildpack will not install Java CfEnv if it is already detected as an app dependency.

Your applications might be affected by the following two scenarios:

* The app uses Spring Boot 3 and _does not_ have Spring Cloud Connectors as a dependency.
* The app uses Spring Boot 3 and _does_ have Spring Cloud Connectors as a dependency.

If your application is affected by this change see this KB article for troubleshooting: [Spring AutoReconfiguration Removed for Spring Boot 3 Applications](https://community.pivotal.io/s/article/Spring-AutoReconfiguration-no-longer-installed-for-Spring-Boot-3-applications-since-JBP-v4-62-0)

### Logging timestamp format property removed

In TAS 4.0 the `logging_timestamp_format` product property was changed to have no effect. In TAS for VMs 5.0, this property is
removed. If you have automation that sets this property, you must remove references to it before upgrading.

### Autoscaler API no longer accepts trailing slashes in requests

Previously, the Autoscaler API responded to a URL with a trailing slash and now it returns a 404 error.

If you use the API directly, confirm that you are not including trailing slashes in the URL before you upgrade.

This does not affect users who are using the autoscaler cf CLI plug-in.

### Syslog aggregate drains property changes

The `syslog_agent_aggregate_drains` property used to declare syslog aggregate drains has been changed to allow aggregate
drains to be configured with Mutual TLS.

If you try to configure TAS for VMs with the older comma-separated syntax for defining aggregate drains, you will see the
following error from Tanzu Operations Manager (Ops Manager):

```
{"errors":{".properties.syslog_agent_aggregate_drains":["is not a property"]}}
```

References to the old property must be updated to refer to the new `mtls_syslog_agent_aggregate_drains` property.
This property is used to define aggregate syslog drains with keys and certificates for Mutual TLS, and to define
aggregate drains that are not using Mutual TLS.

Comma-separated strings are no longer accepted. Instead, pass an array of aggregate drains:

```
.properties.mtls_syslog_agent_aggregate_drains:
  value:
  - url: syslog-tls://HOSTNAME:PORT
  - url: syslog-tls://ANOTHER-HOSTNAME:PORT
```

### NATS intentionally fails deployment in post-start in v1.

In TAS for VMs 3.0, we migrated the underlying binary for nats-release from gnatsd (NATS v1) to nats-server (NATS v2).
Before removing the v1 code completely, we're adding a post-start check to confirm that NATS instances
are running nats-server.

If your TAS environment is already on v2.11.26 or greater, to avoid experiencing a deployment failure, confirm the NATS version by following the directions here:
[How to confirm your nats servers are running NATS v2](https://community.pivotal.io/s/article/How-to-confirm-your-nats-servers-are-running-NATs-v2?language=en_US).
Environments that have successfully upgraded NATS will not experience any change.

### Metrics Agent and Metrics Discovery Registrar deprecated and disabled by default

Metrics Agent is turned off by default in this release. Metrics Agent collects
metrics that pass through the Loggregator Agent and exposes them through a
Prometheus endpoint. Metrics Agent was intended to be used by internal components, but was
never adopted. With the move to OpenTelemetry Collector, anyone needing this
functionality is encouraged to configure a Prometheus Exporter in the
OpenTelemetry Collector. Metrics Agent is scheduled to be removed in TAS 6.0.

### MySQL 5.7 external system database support removed

Your TAS for VMs deployment will fail or become insecure if you are using MySQL 5.7 as the
external system database for TAS because MySQL 5.7 will soon reach End-Of-Life. Upgrade your external system database to a supported MySQL version.

This will affect you if you have configured a MySQL 5.7 database instance as the external system database for your TAS deployment. You can check your current system database settings by selecting "Databases" pane in the TAS for VMs tile. If under the **System databases location** section, the **External database server** option is selected and the configured database server is based on MySQL 5.7, you must upgrade to a supported MySQL version (such as MySQL 8.0). 


## <a id='known-issues'></a> Known issues

Here are the known issues for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.

### Tanzu Application Service Developer Portal does not currently include a list of Application Accelerators

Tanzu Application Service Developer Portal does not currently include a list of Application Accelerators by default along with the TAS Developer Portal for TAS for VMs version 5.0. For customers to use application accelerators, the TAS Operator needs to update the **Backstage Configuration** field of the TAS Portal configuration of the TAS tile. Add the following:

```
accelerator:
  engineUrl: https://${APP_ACCELERATOR_APP_NAME}.${APPS_DOMAIN}
```

### Creation of software packages from Accelerator templages work only with in-memory or non-clustered databases

The creation of software packages from Accelerator Templates works only with in-memory or non-clustered databases. Currently the TAS Portal defaults to the in-memory database.

Risk: This means that app restarts will cause a loss of components in the component list, and all components will need to be re-registered.
