---
title: TAS for VMs v2.14 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.14.0-alpha.2'></a> 2.14.0-alpha.2

**Release Date:** 04/25/2022

* **[Feature Improvement]** Add option to configure CC BBR health check timeout
* Bump backup-and-restore-sdk to version `1.18.39`
* Bump binary-offline-buildpack to version `1.0.43`
* Bump cf-autoscaling to version `249.0.2`
* Bump cf-networking to version `3.3.0`
* Bump cflinuxfs3 to version `0.285.0`
* Bump credhub to version `2.12.4`
* Bump diego to version `2.62.0`
* Bump dotnet-core-offline-buildpack to version `2.3.41`
* Bump go-offline-buildpack to version `1.9.42`
* Bump haproxy to version `11.10.1`
* Bump java-offline-buildpack to version `4.48.2`
* Bump log-cache to version `2.11.8`
* Bump loggregator to version `106.6.4`
* Bump loggregator-agent to version `6.3.11`
* Bump metrics-discovery to version `3.0.10`
* Bump nfs-volume to version `7.1.3`
* Bump nginx-offline-buildpack to version `1.1.37`
* Bump nodejs-offline-buildpack to version `1.7.69`
* Bump php-offline-buildpack to version `4.4.59`
* Bump push-offline-docs-release to version `1.0.71`
* Bump pxc to version `0.42.0`
* Bump python-offline-buildpack to version `1.7.53`
* Bump r-offline-buildpack to version `1.1.28`
* Bump ruby-offline-buildpack to version `1.8.53`
* Bump smb-volume to version `3.1.1`
* Bump uaa to version `74.5.37`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.39</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.43</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>capi</td><td>1.128.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.2</td>
      <td>
        <details>
          <summary>v249.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump github.com/onsi/gomega from 1.18.1 to 1.19.0 in /src by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/640
  * bump spring boot for cve CVE-2022-22965 by @Benjamintf1 in https://github.com/pivotal-cf/cf-autoscaling-release/pull/646
  * Bump log4j-to-slf4j from 2.17.1 to 2.17.2 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/619
  * Bump log4j-api from 2.17.1 to 2.17.2 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/618
  * Bump gson from 2.8.6 to 2.9.0 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/611
  * Bump spock-core from 2.0-groovy-3.0 to 2.1-groovy-3.0 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/613
  * Bump objenesis from 3.1 to 3.2 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/479
  **Full Changelog**: https://github.com/pivotal-cf/cf-autoscaling-release/compare/v249.0.1...v249.0.2
          </pre>
        </details>
        <details>
          <summary>v249.0.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Pin jackson-databind to 2.13.2.2 to address [CVE-2020-36518](https://nvd.nist.gov/vuln/detail/CVE-2020-36518)
  * Unpin tomcat dependencies in autoscale API in https://github.com/pivotal-cf/cf-autoscaling-release/pull/636
  * Bump autoscale API dependencies in https://github.com/pivotal-cf/cf-autoscaling-release/pull/612, https://github.com/pivotal-cf/cf-autoscaling-release/pull/625, https://github.com/pivotal-cf/cf-autoscaling-release/pull/525, https://github.com/pivotal-cf/cf-autoscaling-release/pull/634
  **Full Changelog**: https://github.com/pivotal-cf/cf-autoscaling-release/compare/v249...v249.0.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.285.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.4</td>
      <td>
        <details>
          <summary>2.12.4</summary>
          <pre>
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.3</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.41</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.42</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.1</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.2</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.8</td>
      <td>
        <details>
          <summary>v2.11.8</summary>
          <pre style="max-width: 30em">
  ## Release Highlights
  Pin Go back to go1.17.
  [Go 1.18 includes changes to memory management](https://tip.golang.org/doc/go1.18#runtime) and we'd like to get more familiarity with these changes and their impact before bumping.
  ### ✨ Built with golang 1.17.8
          </pre>
        </details>
        <details>
          <summary>v2.11.7</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#58)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator</td><td>106.6.4</td>
      <td>
        <details>
          <summary>v106.6.4</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#430)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.3.11</td>
      <td>
        <details>
          <summary>v6.3.11</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#89)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.5</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.10</td>
      <td>
        <details>
          <summary>v3.0.10</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#22)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>43</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.3</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.37</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.69</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.59</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.71</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td><td></td></tr>
    <tr><td>pxc</td><td>0.42.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.53</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.28</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.53</td><td></td></tr>
    <tr><td>silk</td><td>3.1.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.1</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.29</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.37</td><td></td></tr>
  </tbody>
</table>



### <a id='2.14.0-alpha.1'></a> 2.14.0-alpha.1

**Release Date:** 04/04/2022

* **[Feature]** Allows operators to enable Dynamic ASG updates, so that apps can inherit new and updated ASGs without requiring a restart
* **[Feature]** AppsManager - Ability to update destination protocol
* **[Feature Improvement]** AppsManager - CfCli installers now can be downloaded in airgapped envs 
* **[Feature Improvement]** Log cache split out into different instance group
* **[Bug Fix]** Assign cloud_controller.read and cloud_controller.write scopes to service brokers created using CF CLI v8
* **[Bug fix]** Remove x509ignoreCN option in Gorouter
* Bump backup-and-restore-sdk to version `1.18.36`
* Bump capi to version `1.128.0`
* Bump cf-autoscaling to version `249`
* Bump cf-networking to version `3.1.0`
* Bump cflinuxfs3 to version `0.279.0`
* Bump credhub to version `2.12.1`
* Bump diego to version `2.61.0`
* Bump dotnet-core-offline-buildpack to version `2.3.40`
* Bump garden-runc to version `1.20.3`
* Bump go-offline-buildpack to version `1.9.41`
* Bump java-offline-buildpack to version `4.48.1`
* Bump log-cache to version `2.11.6`
* Bump loggregator to version `106.6.3`
* Bump loggregator-agent to version `6.3.10`
* Bump metric-registrar to version `1.2.5`
* Bump metrics-discovery to version `3.0.9`
* Bump nginx-offline-buildpack to version `1.1.36`
* Bump nodejs-offline-buildpack to version `1.7.67`
* Bump php-offline-buildpack to version `4.4.57`
* Bump push-offline-docs-release to version `1.0.58`
* Bump python-offline-buildpack to version `1.7.51`
* Bump r-offline-buildpack to version `1.1.27`
* Bump ruby-offline-buildpack to version `1.8.52`
* Bump silk to version `3.1.0`
* Bump staticfile-offline-buildpack to version `1.5.29`
* Bump uaa to version `74.5.35`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.36</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.42</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>capi</td><td>1.128.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.1.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.279.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.1</td>
      <td>
        <details>
          <summary>2.12.1</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
  ### Bug Fixes
  - Fixes an issue where CredHub experiences downtime during certificate rotation process by making CredHub properly load concatenated mTLS CA certificates.
  ### Features
  - CredHub is now compatible with Postgres 13, 14.
          </pre>
        </details>
        <details>
          <summary>2.11.1</summary>
          <pre style="max-width: 30em">
  ### Dependency Bumps
  - Bumps log4j2 to 2.17.1
          </pre>
        </details>
        <details>
          <summary>2.11.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Further addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q) and [its prior incomplete fix](https://github.com/advisories/GHSA-7rjr-3q55-vv33) by bumping to log4j2 2.16.0.
          </pre>
        </details>
        <details>
          <summary>2.10.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q)
  ### Features
  - Adds a minimum duration server-level configuration fields for leaf and CA certificates: `certificates.leaf_minimum_duration_in_days` and `certificates.ca_minimum_duration_in_days`. When these fields are configured, if a request to generate or regenerate a certificate has a duration lower than the minimum, then the minimum duration is used instead. (https://github.com/cloudfoundry/credhub/pull/201)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.61.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.40</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.41</td><td></td></tr>
    <tr><td>haproxy</td><td>11.9.3</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.1</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.6</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.3</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.10</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.5</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.9</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>43</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.36</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.67</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.57</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.58</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td><td></td></tr>
    <tr><td>pxc</td><td>0.41.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.51</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.27</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.52</td><td></td></tr>
    <tr><td>silk</td><td>3.1.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.29</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.35</td><td></td></tr>
  </tbody>
</table>



## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:
