---
title: TAS for VMs v5.0 Release notes
owner: Release Engineering
---

These are the release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='5.0.0'></a> 5.0.0

**Release Date:** 10/17/2023

* **[Security Fix]** Bump routing-release to v0.282.0
* **[Breaking Change]** Java Buildpack v4.62.0 will no longer install the Spring AutoReconfiguration library for Spring Boot 3 applications - the Java CfEnv library will be installed instead. See [Java Buildpack 4.62.0 removes Spring AutoReconfiguration library for Spring Boot 3 applications](#jbp-462-removes-autoreconfig) below.
* **[Breaking Change]** Remove logging timestamp format property
* **[Breaking Change]** metrics-agent and metrics-discovery-registrar disabled by default
* **[Breaking change]** Autoscaler API no longer accepts requests with trailing slashes
* **[Breaking Change]** Autoscaler API no longer accepts requests with trailing slashes
* **[Feature]** (Beta) Operators can export metrics off TAS using OpenTelemetry
* **[Feature]** Add distributed tracing to UAA logs
* **[Feature]** Adds beta Java Native Image Buildpack and beta Web Servers Buildpack compatible with `tanzu-jammy-full-stack`
* **[Feature]** App readiness healthchecks are now supported to remove/add apps to routing pools without restarting, based on a configurable healthcheck.
* **[Feature]** Added log tracing support to UAA. Log messages now have fields for a trace ID and span ID. Please note that external log parsers might need to be adjusted.
* **[Feature]** Operators can configure TAS and IST to include tanzu-jammy-full-stack
* **[Feature]** Add distributed tracing to Diego component logs.
* **[Feature]** For credential Rotation, JSON key sets are now supported in token keys
* **[Feature]** Adds distributed tracing to Diego component logs
* **[Feature]** For credential rotation, JSON key sets are now supported in token keys.
* **[Feature]** Exposes "Certificate Authorities trusted by the Gorouter for client requests" in the **Networking** tab
* **[Feature]** Adds support for W3C Trace ID logging across Diego component requests
* **[Feature improvement]** Dynamic App renaming takes effect for Silk Security Group log entries
* **[Feature Improvement]** Use routing_info for desired_lrps when there are missing actual_lrps.
* **[Feature improvement]** TAS for VMs/Isolation Segment/TAS for VMs For Windows 5.0 UI text overhaul
* **[Feature improvement]** Use routing_info for desired_lrps when there are missing actual_lrps
* **[Feature Improvement]** Aggregate drains now allow defining Certificate Authority and Client Certificates. Allow mtls for log-cache
* **[Feature Improvement]** Allow to configure Silk policy polling interval
* **[Feature Improvement]** Dynamic App renaming takes effect for Silk Security Group log entries
* **[Feature Improvement]** TAS/IST/TASW 5.0 UI text overhaul
* **[Feature Improvement]** "Back end request timeout for the Gorouter" property no longer affects idle timeout of long lived requests. Idle
timeouts are now configured by the "Front end idle timeout for the Gorouter" property.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.250</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.88</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.7</td>
      <td>
        <details>
          <summary>1.1.7</summary>
          <pre style="max-width: 30em">
  * Updating github-config (#148)
  * Uncached buildpack SHA256: 9e001804d5d4930b3a1e4d1c2c24ee8deeb663924b428fdfb46ded50fa201a42
  * Uncached buildpack SHA256: 4b016c36aa656e2ce42ad1aa7408abdae59be8daf6e8747171db86d686fcf781
  * Uncached buildpack SHA256: c323393a96eb58faf20e792a59781529823e46d0c46241a6aad8d1e9ab451e49
  * Uncached buildpack SHA256: 3f4f2d305e4030d9fb5c461651fbacb55af9bb3508a79889f1eddb0134930e46
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.6</td><td></td></tr>
    <tr><td>capi</td><td>1.158.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.2.6</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.47.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.32.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.375.0</td>
      <td>
        <details>
          <summary>v0.375.0</summary>
          <pre style="max-width: 30em">
  This release ships with cflinuxfs3 version 0.375.0. For more information, see the [release notes](https://github.com/pivotal-cf/tanzu-cflinuxfs3/releases/tag/0.375.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs4</td><td>1.44.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.41</td><td></td></tr>
    <tr><td>diego</td><td>2.81.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.16</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.37.0</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.10.12</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.62.0</td><td></td></tr>
    <tr><td>java-native-image-cnb-buildpack</td><td>0.6.1</td>
      <td>
        <details>
          <summary>0.6.1</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.0)
          </pre>
        </details>
        <details>
          <summary>0.6.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.8.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.8.0)
          </pre>
        </details>
        <details>
          <summary>0.5.1</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.7.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.7.0)
          </pre>
        </details>
        <details>
          <summary>0.5.0</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.7.0](https://github.com/pivotal-cf/java-native-image-cnb-buildpack/releases/tag/v0.7.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>log-cache</td><td>3.0.5</td><td></td></tr>
    <tr><td>loggregator</td><td>107.0.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.6.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.35</td><td></td></tr>
    <tr><td>metric-registrar</td><td>2.1.7</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.16</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>10.2.0</td><td></td></tr>
    <tr><td>nats</td><td>56.6.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.30</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.7</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.15</td><td></td></tr>
    <tr><td>notifications</td><td>66.0.0</td><td></td></tr>
    <tr><td>notifications-ui</td><td>45.0.0</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.6.10</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>677.0.26</td><td></td></tr>
    <tr><td>push-tas-portal-release</td><td>0.5.2</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>5.0.278</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.69</td>
      <td>
        <details>
          <summary>v674.0.69</summary>
          <pre style="max-width: 30em">
  ## Changes
  * This fixes the regression introduced in 674.0.64 which could lead to the loss of data - <br>For more information, see this [KB](https://pivotal.lightning.force.com/lightning/r/KnowledgeArticle__kav/ka08X0000002brGQAQ/view).
  ## Dependencies
  * **app-usage-service:** Updated to v`795068c`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.68</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **app-usage-service:** Updated to v`00de8f4`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.67</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`b916606`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.66</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`68821d4`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.65</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`cf55c07`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>pxc</td><td>1.0.16</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.8.14</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.2.6</td><td></td></tr>
    <tr><td>routing</td><td>0.282.0</td>
      <td>
        <details>
          <summary>v0.282.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3
  - CI Enhancements and updates
  - Package Dependency bumps
  - Resolves [gorouter/#346](https://github.com/cloudfoundry/routing-release/issues/346) by validating trace ID length prior to parsing it as a UUID
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.281.0...0.282.0
  ## Resources
  - [Download release 0.282.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.282.0).
          </pre>
        </details>
        <details>
          <summary>v0.281.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Check trace ID length before parsing the UUID (#365)
  - Bump go to 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.280.0...v0.281.0
  ## Resources
  - [Download release 0.281.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.281.0).
          </pre>
        </details>
        <details>
          <summary>v0.280.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped CF CLI to v8.7.2
  - Gorouter now logs the IP of the NATS server its connecting to/disconnecting from (instead of just the BOSH DNS name) for troubleshooting clarity. Thanks @domdom82!!
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.279.0...v0.280.0
  ## Resources
  - [Download release v0.280.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.280.0).
          </pre>
        </details>
        <details>
          <summary>v0.279.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.0!
  - Refactor of proxy config properties. Thanks @domdom82!
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/acceptance_tests/spec b/jobs/acceptance_tests/spec
  index db508ca3..e1a6a9ae 100644
  --- a/jobs/acceptance_tests/spec
  +++ b/jobs/acceptance_tests/spec
  @@ -7,7 +7,7 @@ templates:
  bpm.yml.erb: config/bpm.yml
  packages:
  - - golang-1.20-linux
  + - golang-1.21-linux
  - acceptance_tests
  - rtr
  - cf-cli-8-linux
  diff --git a/jobs/smoke_tests/spec b/jobs/smoke_tests/spec
  index 5776a9c8..b230192b 100644
  --- a/jobs/smoke_tests/spec
  +++ b/jobs/smoke_tests/spec
  @@ -7,7 +7,7 @@ templates:
  bpm.yml.erb: config/bpm.yml
  packages:
  - - golang-1.20-linux
  + - golang-1.21-linux
  - acceptance_tests
  - cf-cli-8-linux
  ```
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.278.0...v0.279.0
  ## Resources
  - [Download release v0.279.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.279.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.10.4</td><td></td></tr>
    <tr><td>web-servers-cnb-buildpack</td><td>0.6.7</td>
      <td>
        <details>
          <summary>0.6.7</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.9.5](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.9.5)
          </pre>
        </details>
        <details>
          <summary>0.6.6</summary>
          <pre style="max-width: 30em">
  Components:
  * [buildpack v0.9.5](https://github.com/pivotal-cf/web-servers-cnb-buildpack/releases/tag/v0.9.5)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.32.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.30</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.4</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.6.7</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.33</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.8</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>4.0.0</td><td></td></tr>
    <tr><td>uaa</td><td>76.20.0</td><td></td></tr>
    <tr><td>tanzu-jammy-stack</td><td>1.0.0</td><td></td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New features in <%= vars.app_runtime_full %> <%= vars.v_major_version %>

These are the new features for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

### Readiness Healthchecks

Application “readiness” healthchecks have been added for application instances in the TAS for VMs 5.0 release. Readiness healthchecks are a great way for developers to recover faster from transient application errors and for platform engineers to reduce CPU and memory churn in a Tanzu Application Service environment. Developers can make use of the readiness healthcheck in their applications to better mitigate temporary failures such as a cold cache hit or a temporary loss of database connectivity. When its readiness healthcheck fails, the application instance is temporarily unregistered from the Gorouters to allow time for the error to resolve without destroying and recreating the instance.
See <a href='/devguide/deploy-apps/healthchecks.html'>Healthchecks</a> for more information.

This feature requires:

* garden-runc-release 1.37.0
* diego-release 2.81.0
* capi-release 1.158.0

### Distributed tracing enables faster debugging

Adding tracing to all Tanzu Application Service components enables faster debugging and troubleshooting for developers. You can trace errors and pinpoint network issues using [VMware Aria Operations for Logs](https://www.vmware.com/products/aria-operations-for-logs.html) and other log aggregation tools. This means that you also have a quicker way to tie information together from multiple Tanzu Application Service components, and support engineers can identify the root cause of issues and debug them more quickly.

### Add OpenTelemetry Metric Exporter support (beta)

OpenTelemetry metric exporter support has been added to Tanzu Application Service 5.0 as a beta feature. Once fully implemented, you will be able to optimize how you ship metrics on an application and platform level, resulting in fewer VMs deployed and more cost savings. This feature allows platform engineers to egress metrics directly via the OpenTelemetry Collector as an alternative to using the firehose and/or nozzles. Combined with aggregate syslog drains, Tanzu Application Service customers can complete the shared-nothing architecture for logs and metrics. 

Enabling the Collector consumes additional resources on each VM. VMware recommends that operators load test deployments to
size VMs correctly. Operators with deployments that use VM types with CPU bursting must ensure there are
sufficient reserved vCPUs for the increased CPU consumed.

In <%= vars.app_runtime_abbr %> 5.0.0 foundations with more than 150 VMs may not send all system metrics to the
OpenTelemetry Collector.

Note that this feature is beta, so it may still change in significant ways.

### Log Cache Syslog Server supports mTLS

Operators can now configure Log Cache communication with Syslog Agents to use mutual TLS.

We recommend that operators who want to enable this feature perform a two-step deployment.
1. First, upgrade to TAS for VMs 5.0.
2. Enable mTLS in a separate deployment.

### Tanzu Application Service Developer Portal supports data persistence (beta)

Developers and platform engineers can benefit from a MySQL database integration for persisting data in the software catalog and other plug-ins used in the Tanzu Application Service Developer Portal. For more information about TAS Portal, see [About TAS Portal](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/5.0/tas-for-vms/tas-portal-about-tas-portal.html).

### Automatic rotation of BOSH DNS certificates

BOSH DNS certificates automatically rotate on stemcell upgrades through an opt-in feature in 5.0. Platform engineers can track the rotation process and keep an eye on each phase of the rotation. This enables an “always be rotating” model that could help eliminate the need to allocate time and apply changes multiple times, specifically for rotating certificates.

### Improved disaster recovery workflows

In the rare event that you experience catastrophic failures within your cloud provider, there are now new BOSH workflows to repair a Tanzu Application Service deployment in a more streamlined fashion. Specifically, the following BOSH commands ([bosh create-recovery plan](https://bosh.io/docs/cli-v2/#create-recovery-plan) and [bosh recover](https://bosh.io/docs/cli-v2/#recover)) have been added to help platform engineers with their disaster recovery workflows. 

### Tanzu Operations Manager database pruning

Platform engineers with large environments can now remove data no longer needed by creating a database pruning schedule within Tanzu Operations Manager. This can be achieved with an `om cli` command to set the desired retention policy (number of days) for objects within the Operations Manager database.

### Human-readable virtual machine names for vSphere

Platform Engineers can configure Operations Manager to deploy virtual machines with human-readable names that allow for easy identification and troubleshooting within vSphere. Machines will be deployed with the following format instance-group-name_deployment-name_id versus the traditional name scheme of vm_guid (vm_d6f0f537-18cd-4a1b-b0f5-ae03e8f590e8).

### Tanzu Cloud Service Broker for AWS GAs MSSQL support

The Tanzu Cloud Service Broker for AWS has moved support for Microsoft SQL (MSSQL) to generally available (GA) status. This allows developers to deploy production-ready instances of AWS MSSQL through the Tanzu Application Service marketplace. 

### Simplified multi-site deployments with TAS MySQL tile

The release of [VMware SQL with MySQL for Tanzu Application Service 3.1](https://docs.vmware.com/en/VMware-SQL-with-MySQL-for-Tanzu-Application-Service/3.1/mysql-for-tas/release-notes.html) has introduced simplified multi-site MySQL deployment capability that enables developers to deploy easily without worrying about additional network complexity. Platform engineers can configure multi-site across two Tanzu Application Service foundations without needing their networks to be routable between each other, paving the way for multi-site support across TAS foundations hosted on different clouds.

### Expanded cloud provider support with Oracle Cloud VMware Solution

Tanzu Application Service 5.0 has added support for installing the platform on top of [Oracle Cloud VMware Solution (OCVS)](https://www.oracle.com/cloud/compute/vmware/). Platform engineers can expand their platform deployments and use additional Oracle Cloud solutions without rebuilding their application platform.

### New Java Native Image buildpack (beta)

This release introduces a beta Java Native Image buildpack based on the Paketo Java Native Buildpack. 

You can build your Java apps with native image support and deploy those apps to Cloud Foundry. 
A growing number of Java users are building Java apps using support for native images. For more information, see [Native Image](https://www.graalvm.org/reference-manual/native-image/) in the GraalVM documentation.

Java users deploying to Cloud Foundry can deploy apps compiled using native image support. However, the Cloud Foundry Java buildpack does not provide support to build, compile, and turn apps into a native image. You must perform those steps before deploying to Cloud Foundry.

For details on using this feature, see [Using Java Native Image](https://docs-staging.vmware.com/en/draft/VMware-Tanzu-Application-Service/5.0/tas-for-vms/java-java-native-image.html).

### Operators can configure TAS and IST to include tanzu-jammy-full-stack

The Tanzu stacks use slightly different base images for building and running apps. Primarily, the `build` image of the stack includes important build-time dependencies, such as `gcc`, which are not required at run time. This allows for a smaller image with fewer dependencies at run time. Starting in version 5.0, TAS for VMs respects these different images and usrd the `build` and `run` images at build-time and run-time, respectively.

## <a id='breaking-changes'></a> Breaking changes

These are the breaking changes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

### <a id='jbp-462-removes-autoreconfig'></a> Java Buildpack 4.62.0 removes Spring AutoReconfiguration library for Spring Boot 3 applications

From v4.62.0, the Java Buildpack will no longer install the Spring AutoReconfiguration (SAR) library for Spring Boot 3 applications. 
This library was deprecated in May 2022 and overwrites your configured Spring Beans to connect to bound services. 
This is not recommended for use in production environments. The recommended replacement is the Java CfEnv library.

Applications should not be affected by this change if:

* They are using Spring Boot 2.x - SAR will be installed and supported for the life of Spring Boot 2, although it is recommended to migrate to Java CfEnv as soon as possible.
* They are using Spring Boot 3 and 
  * have already migrated from SAR to Java CfEnv** or
  * have already migrated from Spring Cloud Connectors to Java CfEnv** 

** The buildpack will not install Java CfEnv if it is already detected as an app dependency.

Your applications might be affected by the following two scenarios:

* The app uses Spring Boot 3 and _does not_ have Spring Cloud Connectors as a dependency.
* The app uses Spring Boot 3 and _does_ have Spring Cloud Connectors as a dependency.

If your application is affected by this change see this KB article for troubleshooting: [Spring AutoReconfiguration Removed for Spring Boot 3 Applications](https://community.pivotal.io/s/article/Spring-AutoReconfiguration-no-longer-installed-for-Spring-Boot-3-applications-since-JBP-v4-62-0)

### Logging timestamp format property removed

In TAS 4.0 the `logging_timestamp_format` product property was changed to have no effect. In TAS for VMs 5.0, this property is
removed. If you have automation that sets this property, you must remove references to it before upgrading.

### Autoscaler API no longer accepts trailing slashes in requests

Previously, the Autoscaler API responded to a URL with a trailing slash and now it returns a 404 error.

If you use the API directly, confirm that you are not including trailing slashes in the URL before you upgrade.

This does not affect users who are using the autoscaler cf CLI plug-in.

### Syslog aggregate drains property changes

The `syslog_agent_aggregate_drains` property used to declare syslog aggregate drains has been changed to allow aggregate
drains to be configured with Mutual TLS.

If you try to configure TAS for VMs with the older comma-separated syntax for defining aggregate drains, you will see the
following error from Tanzu Operations Manager (Ops Manager):

```
{"errors":{".properties.syslog_agent_aggregate_drains":["is not a property"]}}
```

References to the old property must be updated to refer to the new `mtls_syslog_agent_aggregate_drains` property.
This property is used to define aggregate syslog drains with keys and certificates for Mutual TLS, and to define
aggregate drains that are not using Mutual TLS.

Comma-separated strings are no longer accepted. Instead, pass an array of aggregate drains:

```
.properties.mtls_syslog_agent_aggregate_drains:
  value:
  - url: syslog-tls://HOSTNAME:PORT
  - url: syslog-tls://ANOTHER-HOSTNAME:PORT
```

### NATS intentionally fails deployment in post-start in v1.

In TAS for VMs 3.0, we migrated the underlying binary for nats-release from gnatsd (NATS v1) to nats-server (NATS v2).
Before removing the v1 code completely, we're adding a post-start check to confirm that NATS instances
are running nats-server.

If your TAS environment is already on v2.11.26 or greater, to avoid experiencing a deployment failure, confirm the NATS version by following the directions here:
[How to confirm your nats servers are running NATS v2](https://community.pivotal.io/s/article/How-to-confirm-your-nats-servers-are-running-NATs-v2?language=en_US).
Environments that have successfully upgraded NATS will not experience any change.

### Metrics Agent and Metrics Discovery Registrar deprecated and disabled by default

Metrics Agent is turned off by default in this release. Metrics Agent collects
metrics that pass through the Loggregator Agent and exposes them through a
Prometheus endpoint. Metrics Agent was intended to be used by internal components, but was
never adopted. With the move to OpenTelemetry Collector, anyone needing this
functionality is encouraged to configure a Prometheus Exporter in the
OpenTelemetry Collector. Metrics Agent is scheduled to be removed in TAS 6.0.

### MySQL 5.7 external system database support removed

Your TAS for VMs deployment will fail or become insecure if you are using MySQL 5.7 as the
external system database for TAS because MySQL 5.7 will soon reach End-Of-Life. Upgrade your external system database to a supported MySQL version.

This will affect you if you have configured a MySQL 5.7 database instance as the external system database for your TAS deployment. You can check your current system database settings by selecting "Databases" pane in the TAS for VMs tile. If under the **System databases location** section, the **External database server** option is selected and the configured database server is based on MySQL 5.7, you must upgrade to a supported MySQL version (such as MySQL 8.0). 


## <a id='known-issues'></a> Known issues

Here are the known issues for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.

### Tanzu Application Service Developer Portal does not currently include a list of Application Accelerators

Tanzu Application Service Developer Portal does not currently include a list of Application Accelerators by default along with the TAS Developer Portal for TAS for VMs version 5.0. For customers to use application accelerators, the TAS Operator needs to update the **Backstage Configuration** field of the TAS Portal configuration of the TAS tile. Add the following:

```
accelerator:
  engineUrl: https://${APP_ACCELERATOR_APP_NAME}.${APPS_DOMAIN}
```

### Creation of software packages from Accelerator templages work only with in-memory or non-clustered databases

The creation of software packages from Accelerator Templates works only with in-memory or non-clustered databases. Currently the TAS Portal defaults to the in-memory database.

Risk: This means that app restarts will cause a loss of components in the component list, and all components will need to be re-registered.
