---
title: TAS for VMs v4.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.0'></a> 4.0.0

**Release Date:** 02/27/2023

* **[Feature Improvement]** Add option for Query Parameter Presentation in Gorouter Access Logs
* **[Bug Fix]** Improve performance of & reduce storage needs for CAPI `usage_events` queries on MySQL8
* Bump binary-offline-buildpack to version `1.1.2`
* Bump capi to version `1.146.0`
* Bump cf-autoscaling to version `249.1.2`
* Bump cf-networking to version `3.23.0`
* Bump cflinuxfs4 to version `0.62.0`
* Bump credhub to version `2.12.19`
* Bump garden-runc to version `1.23.0`
* Bump go-offline-buildpack to version `1.10.5`
* Bump log-cache to version `2.12.6`
* Bump metric-registrar to version `2.1.2`
* Bump metrics-discovery to version `3.2.7`
* Bump nats to version `56.1.0`
* Bump nginx-offline-buildpack to version `1.2.0`
* Bump nodejs-offline-buildpack to version `1.8.6`
* Bump php-offline-buildpack to version `4.5.2`
* Bump push-offline-docs-release to version `1.0.182`
* Bump r-offline-buildpack to version `1.2.0`
* Bump routing to version `0.256.0`
* Bump ruby-offline-buildpack to version `1.9.2`
* Bump silk to version `3.22.0`
* Bump smb-volume to version `3.1.9`
* Bump staticfile-offline-buildpack to version `1.5.38`
* Bump statsd-injector to version `1.11.28`
* Bump system-metrics-scraper to version `3.3.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.83</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.61</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.2</td>
      <td>
        <details>
          <summary>1.1.2</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  * Updating github-config
  * Bump github.com/onsi/gomega from 1.25.0 to 1.26.0
  * Uncached buildpack SHA256: bf9e70d06ccacf2086a942bce347ef8f30bafc4a5a09875044a8cb41817a240e
  * Uncached buildpack SHA256: c92b3c994e8cfb97d80acd598685155a9ff3ac53903722e42aa5d8fb11686d5a
  * Uncached buildpack SHA256: b8e510b406c92f27ec9520737dfbea429641200d3781b54572551c251ec0136d
  * Uncached buildpack SHA256: 011c2255794a5f1ecb132ff477ffd41ddaba070558895321c508cfdddd3578f0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.21</td><td></td></tr>
    <tr><td>capi</td><td>1.146.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.1.2</td>
      <td>
        <details>
          <summary>v249.1.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Upgrade to go 1.20.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-cli</td><td>1.41.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.23.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.350.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.62.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.19</td>
      <td>
        <details>
          <summary>2.12.19</summary>
          <pre style="max-width: 30em">
  Security Fixes
  Bump various dependencies
  ## What's Changed
  * Feat: Add github actions to job specs by @peterhaochen47 in https://github.com/pivotal/credhub-release/pull/93
  * Build(deps): Bump rspec-expectations from 3.12.0 to 3.12.1 in /spec by @peterhaochen47 in https://github.com/pivotal/credhub-release/pull/94
  * Feat: Add github actions to run lint by @peterhaochen47 in https://github.com/pivotal/credhub-release/pull/95
  * Build(deps): Bump parser from 3.1.3.0 to 3.2.0.0 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/99
  * Build(deps): Bump rspec-expectations from 3.12.1 to 3.12.2 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/100
  * Build(deps): Bump rspec-mocks from 3.12.1 to 3.12.2 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/101
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.18...2.12.19
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.71.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.5</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.23.0</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.10.5</td>
      <td>
        <details>
          <summary>1.10.5</summary>
          <pre style="max-width: 30em">
  * Add go 1.19.6, remove go 1.19.5
  for stack(s) cflinuxfs4, cflinuxfs3
  (https://www.pivotaltracker.com/story/show/184477448)
  * Bump github.com/Dynatrace/libbuildpack-dynatrace from 1.5.1 to 1.5.2
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | dep | 0.5.4 | cflinuxfs3 |
  | dep | 0.5.4 | cflinuxfs4 |
  | glide | 0.13.3 | cflinuxfs3 |
  | glide | 0.13.3 | cflinuxfs4 |
  | go | 1.18.10 | cflinuxfs3 |
  | go | 1.18.10 | cflinuxfs4 |
  | go | 1.19.6 | cflinuxfs3 |
  | go | 1.19.6 | cflinuxfs4 |
  | godep | 80 | cflinuxfs3 |
  | godep | 80 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | go | 1.18.x |
  * Uncached buildpack SHA256: 7b155c13e80e696732bb8c40da8862e5280b984a7457d0af70970180168c927f
  * Uncached buildpack SHA256: 297b970a47e201e9151e216013a2b66b9365fda502ff3b079615f1070bf1c951
          </pre>
        </details>
        <details>
          <summary>1.10.4</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | dep | 0.5.4 | cflinuxfs3 |
  | dep | 0.5.4 | cflinuxfs4 |
  | glide | 0.13.3 | cflinuxfs3 |
  | glide | 0.13.3 | cflinuxfs4 |
  | go | 1.18.10 | cflinuxfs3 |
  | go | 1.18.10 | cflinuxfs4 |
  | go | 1.19.5 | cflinuxfs3 |
  | go | 1.19.5 | cflinuxfs4 |
  | godep | 80 | cflinuxfs3 |
  | godep | 80 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | go | 1.18.x |
  * Uncached buildpack SHA256: 56fac929ff6dcdb164233d2e945beb2525ef48a91c60f85dec991ebe92443b1b
  * Uncached buildpack SHA256: 3648319f545e416a6b7dc552cff8e8711901ab31271eee811a9269e0497b186f
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>java-offline-buildpack</td><td>4.54</td><td></td></tr>
    <tr><td>log-cache</td><td>2.12.6</td>
      <td>
        <details>
          <summary>v2.12.6</summary>
          <pre style="max-width: 30em">
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v2.12.5...v2.12.6
          </pre>
        </details>
        <details>
          <summary>v2.12.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Update to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/log-cache-release/pull/162
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v2.12.4...v2.12.5
          </pre>
        </details>
        <details>
          <summary>v2.12.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update golang release to 1.19.4
  * dependency bumps
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v2.12.3...v2.12.4
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator</td><td>107.0.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.1.0</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.12</td><td></td></tr>
    <tr><td>metric-registrar</td><td>2.1.2</td>
      <td>
        <details>
          <summary>v2.1.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update to golang 1.20.1
  * update dependencies
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td>
      <td>
        <details>
          <summary>v3.2.7</summary>
          <pre style="max-width: 30em">
  * update golang to 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.6...v3.2.7###
          </pre>
        </details>
        <details>
          <summary>v3.2.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/metrics-discovery-release/pull/104
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.5...v3.2.6
          </pre>
        </details>
        <details>
          <summary>v3.2.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update dependencies
  * Expire individual metrics by @rroberts2222 in https://github.com/cloudfoundry/metrics-discovery-release/pull/103
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.4...v3.2.5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mysql-monitoring</td><td>9.23.0</td><td></td></tr>
    <tr><td>nats</td><td>56.1.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.8</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.0</td>
      <td>
        <details>
          <summary>1.2.0</summary>
          <pre style="max-width: 30em">
  * Add support for cflinuxfs4 stack
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | nginx | 1.22.1 | cflinuxfs3 |
  | nginx | 1.22.1 | cflinuxfs4 |
  | nginx | 1.23.3 | cflinuxfs3 |
  | nginx | 1.23.3 | cflinuxfs4 |
  | openresty | 1.13.6.2 | cflinuxfs3 |
  | openresty | 1.15.8.3 | cflinuxfs3 |
  | openresty | 1.17.8.2 | cflinuxfs3 |
  | openresty | 1.19.9.1 | cflinuxfs3 |
  | openresty | 1.19.9.1 | cflinuxfs4 |
  | openresty | 1.21.4.1 | cflinuxfs3 |
  | openresty | 1.21.4.1 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | nginx | 1.23.x |
  * Uncached buildpack SHA256: ab7cd71dc8ff38fdb93558b7536ca03e41baf191fe72e1980f43d61a82378dc8
  * Uncached buildpack SHA256: 1ba096283d893a6040b3733cac0e90f1f87f6de0593b3f01a81183725aeab08a
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.6</td>
      <td>
        <details>
          <summary>1.8.6</summary>
          <pre style="max-width: 30em">
  * Add node 18.14.1, remove node 18.12.1 for stack(s) cflinuxfs4, cflinuxfs3
  * Add node 16.19.1, remove node 16.18.1 for stack(s) cflinuxfs3, cflinuxfs4
  * Add node 14.21.3, remove node 14.21.1 for stack(s) cflinuxfs3, cflinuxfs4
  * Update Node 16.x deprecation date (Nodejs update on SSL deprecation) [ref](https://nodejs.org/en/blog/vulnerability/february-2023-security-releases/)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | node | 14.21.2 | cflinuxfs3 |
  | node | 14.21.2 | cflinuxfs4 |
  | node | 14.21.3 | cflinuxfs3 |
  | node | 14.21.3 | cflinuxfs4 |
  | node | 16.19.0 | cflinuxfs3 |
  | node | 16.19.0 | cflinuxfs4 |
  | node | 16.19.1 | cflinuxfs3 |
  | node | 16.19.1 | cflinuxfs4 |
  | node | 18.13.0 | cflinuxfs3 |
  | node | 18.13.0 | cflinuxfs4 |
  | node | 18.14.1 | cflinuxfs3 |
  | node | 18.14.1 | cflinuxfs4 |
  | yarn | 1.22.19 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | node | 18.x |
  * Uncached buildpack SHA256: e8f42ddddcf355c9b37597944b498cf33f624d59852ba686a97a774e881a424b
  * Uncached buildpack SHA256: c6bee0e5213870daaa2e3c2db51e2a3bf56b14bf2014c72b8cb524432d31a642
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.5.2</td>
      <td>
        <details>
          <summary>4.5.2</summary>
          <pre style="max-width: 30em">
  * Update buildpack-packager to 2.3.22
  * Update php default to latest 8.1.x version (#807)
  * Updating version for php for 8.2.X (#805)
  * Add php 8.2.2
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184381976)
  * Add php 8.1.15, remove php 8.1.13
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184388841)
  * Add nginx 1.22.1, remove nginx 1.22.0
  for stack(s) cflinuxfs4, cflinuxfs3
  (https://www.pivotaltracker.com/story/show/183579473)
  * Add composer 2.5.2, remove composer 2.5.1
  for stack(s) cflinuxfs4, cflinuxfs3
  (https://www.pivotaltracker.com/story/show/184394919)
  Packaged binaries:
  | name | version | cf_stacks | modules |
  |-|-|-|-|
  | appdynamics | 22.12.1-677 | cflinuxfs3, cflinuxfs4 |  |
  | composer | 2.5.2 | cflinuxfs3, cflinuxfs4 |  |
  | httpd | 2.4.55 | cflinuxfs3 |  |
  | httpd | 2.4.55 | cflinuxfs4 |  |
  | newrelic | 9.20.0.310 | cflinuxfs3 |  |
  | nginx | 1.22.1 | cflinuxfs3 |  |
  | nginx | 1.22.1 | cflinuxfs4 |  |
  | nginx | 1.23.3 | cflinuxfs3 |  |
  | nginx | 1.23.3 | cflinuxfs4 |  |
  | php | 8.0.26 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.0.27 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.14 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.14 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.15 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.15 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.2.1 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.1 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.2 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.2 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  Default binary versions:
  | name | version |
  |-|-|
  | php | 8.1.14 |
  | httpd | 2.4.55 |
  | newrelic | 9.20.0.310 |
  | nginx | 1.23.3 |
  | composer | 2.5.2 |
  * Uncached buildpack SHA256: 17c3a0b8f2fb84b8e473e67168e138c2537ceb9b1abc66497704d00589d9f725
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>push-apps-manager-release</td><td>677.0.14</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.182</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.30</td><td></td></tr>
    <tr><td>pxc</td><td>1.0.7</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.8.4</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.2.0</td>
      <td>
        <details>
          <summary>1.2.0</summary>
          <pre style="max-width: 30em">
  * Add cflinuxfs4 stack support for R 4.2.X
  * Rebuild r 4.2.1
  for stack(s) cflinuxfs3, cflinuxfs4
  with dependencies for stack cflinuxfs3: forecast 8.18, plumber 1.2.1, rserve 1.8.10, shiny 1.7.3
  with dependencies for stack cflinuxfs4: forecast 8.18, plumber 1.2.1, rserve 1.8.10, shiny 1.7.3
  * Rebuild r 4.2.2
  for stack(s) cflinuxfs4, cflinuxfs3
  with dependencies for stack cflinuxfs4: forecast 8.20, plumber 1.2.1, rserve 1.8.11, shiny 1.7.4
  with dependencies for stack cflinuxfs3: forecast 8.20, plumber 1.2.1, rserve 1.8.11, shiny 1.7.4
  (https://www.pivotaltracker.com/story/show/184170168)
  Packaged binaries:
  | name | version | cf_stacks | modules |
  |-|-|-|-|
  | r | 3.6.2 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 3.6.3 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.1 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.1 | cflinuxfs4 | forecast, plumber, rserve, shiny |
  | r | 4.2.2 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.2 | cflinuxfs4 | forecast, plumber, rserve, shiny |
  * Uncached buildpack SHA256: c0f65e6cc63b505c497fa3f4f12df7707570535082796cec43c01b825a630755
  * Uncached buildpack SHA256: bf3db369196f4a562e75d5cdb760f5a41a6fcc3d5100968804d45b4cd8e8c7f4
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.256.0</td>
      <td>
        <details>
          <summary>v0.256.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Update healthchecker in release to stable version
  ## ✨  Built with go 1.19.5
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.255.0...v0.256.0
  ## Resources
  - [Download release v0.256.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.256.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.9.2</td>
      <td>
        <details>
          <summary>1.9.2</summary>
          <pre style="max-width: 30em">
  * Add node 18.14.0, remove node 18.13.0
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184393261)
  * Add jruby 9.4.1.0, remove jruby 9.4.0.0
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184417188)
  * Add jruby 9.3.10.0, remove jruby 9.3.9.0
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184375182)
  * Add rubygems 3.4.6, remove rubygems 3.4.4 (#703)
  for stack(s) cflinuxfs4, cflinuxfs3
  (https://www.pivotaltracker.com/story/show/184361007)
  * Add bundler 2.4.6, remove bundler 2.4.4 (#702)
  for stack(s) cflinuxfs4, cflinuxfs3
  (https://www.pivotaltracker.com/story/show/184360955)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | bundler | 2.4.6 | cflinuxfs3, cflinuxfs4 |
  | jruby | 9.3.10.0 | cflinuxfs3 |
  | jruby | 9.3.10.0 | cflinuxfs4 |
  | jruby | 9.4.1.0 | cflinuxfs3 |
  | jruby | 9.4.1.0 | cflinuxfs4 |
  | node | 18.14.0 | cflinuxfs3 |
  | node | 18.14.0 | cflinuxfs4 |
  | openjdk1.8-latest | 1.8.0 | cflinuxfs3, cflinuxfs4 |
  | ruby | 2.7.6 | cflinuxfs3 |
  | ruby | 2.7.7 | cflinuxfs3 |
  | ruby | 3.0.4 | cflinuxfs3 |
  | ruby | 3.0.5 | cflinuxfs3 |
  | ruby | 3.1.2 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs4 |
  | ruby | 3.2.0 | cflinuxfs3 |
  | ruby | 3.2.0 | cflinuxfs4 |
  | rubygems | 3.4.6 | cflinuxfs3, cflinuxfs4 |
  | yarn | 1.22.19 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | ruby | 3.1.x |
  * Uncached buildpack SHA256: c6ec574f34b409fde8a42562c478695c53677d2fcbd9fb3a45de8e12022da3f9
  * Uncached buildpack SHA256: 02f519cd7818d2e268fb2356f207fb08cdd42b7373da54ad0219ef292ad69c93
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.22.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.9</td>
      <td>
        <details>
          <summary>v3.1.9</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Add force_noserverino property in smbdriver job (#102)
  ## Dependencies
  * **bosh-template:** Updated to v2.4.0.<br>For more information, see [bosh-template](https://github.com/cloudfoundry/bosh).
  * **smbdriver:** Updated to v`adc77c7`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.8</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbdriver:** Updated to v`6cc617a`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.7</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.19.4 (#76)
  ## Dependencies
  * **rspec:** Updated to v3.12.0.<br>For more information, see [rspec](https://github.com/rspec/rspec-metagem).
  * **smbbroker:** Updated to v`114bb05`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`f0b92e3`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.38</td>
      <td>
        <details>
          <summary>1.5.38</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  * Updating github-config (#331)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | nginx | 1.22.1 | cflinuxfs3 |
  | nginx | 1.23.3 | cflinuxfs3 |
  Default binary versions:
  | name | version |
  |-|-|
  | nginx | 1.23.x |
  * Uncached buildpack SHA256: d5e09a925a64324fe955509f792005da50626e553f03f4025064a9f7d3a9dc14
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>statsd-injector</td><td>1.11.28</td>
      <td>
        <details>
          <summary>v1.11.28</summary>
          <pre style="max-width: 30em">
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.27...v1.11.28
          </pre>
        </details>
        <details>
          <summary>v1.11.27</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/statsd-injector-release/pull/70
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.26...v1.11.27
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.1.1</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.3.6</td>
      <td>
        <details>
          <summary>v3.3.6</summary>
          <pre style="max-width: 30em">
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v3.3.5...v3.3.6
          </pre>
        </details>
        <details>
          <summary>v3.3.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/system-metrics-scraper-release/pull/96
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v3.3.4...v3.3.5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>uaa</td><td>76.5.0</td><td></td></tr>
  </tbody>
</table>


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### App syslog drains now support Mutual TLS and internal Certificate Authorities

Upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> opens up
more security options for application syslog drains. Syslog drains are now
compatible with syslog servers which:

* enforce client identity.
* have their own internal or domain-specific certificate authority.

Developers can configure their syslog drains to use Mutual TLS by specifying a
client certificate and private key. They can also configure their syslog drains
to communicate with syslog servers using internal or domain-specific
Certificate Authorities by specifying a CA. An example is provided below.

<pre class="terminal">
$ cf create-user-provided-service DRAIN-NAME -l SYSLOG-URL -p {"cert":"-----BEGIN CERTIFICATE-----\nMIIH...-----END CERTIFICATE-----","key":"-----BEGIN PRIVATE KEY-----\nMIIE...-----END PRIVATE KEY-----", "ca":"-----BEGIN CERTIFICATE-----\nMIIH...-----END CERTIFICATE-----"}
</pre>

### Dynamic App Renaming for Logs and Metrics

Customers who rename apps will now see emitted logs and metrics quickly tagged with the new application name without the need for an application restart.
This is particularly useful for customers who perform blue/green deployments by renaming applications.

<p class='note'><strong>Note:</strong> This feature does not extend to updating the `VCAP_APPLICATION` environment variable provided to containers by the
platform. Customers that need this environment variable to contain the renamed name of the application will still need to restart those applications after a
rename.</p>

Note that app name caching may be performed outside of <%= vars.app_runtime_abbr %> by other products such as the Splunk Nozzle depending on your configuration.

For applications hosted on Diego Cells provided by the <%= vars.segment_runtime_full %> or <%= vars.windows_runtime_abbr %> tiles those tiles will also need to
be updated to <%= vars.v_major_version %> to get the full benefit of this new feature. Upon upgrading <%= vars.app_runtime_abbr %> access log lines generated by
the <%= vars.app_runtime_abbr %> and <%= vars.segment_runtime_full %> gorouters will reflect application renames even if you have not yet upgraded the
<%= vars.segment_runtime_full %> or <%= vars.windows_runtime_abbr %> tiles.

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

### Component Logs Always Use Human-Readable RFC3339 Timestamp Format

Non-standardized and non-human readable timestamps in logs make debugging TAS
more difficult. Since TAS 2.10.0 there has been an option in the System Logging
tab to **Optionally Use Human-Readable Timestamps for Component Logs**. In TAS
4.0 this radio button has been removed and all components will use the
human-readable RFC3339 format for the timestamps in their logs.

### Max Request Header Size Now Defaults to 48kb

Upgrading to TAS 4.0 will automatically set **Max request header size in kb** to 48,
unless the pre-existing configuration was already lower. Lowering this value establishes
a better security posture for TAS for VMs and applications. This value can still be configured
back up to 1024kb in the Networking tab if necessary. Any requests with headers larger
than this value will receive a 431 status code.

### Recent Logs Endpoint Has Been Removed From Traffic Controller

New versions of Traffic Controller do not have the recent logs endpoint. This
will cause versions of the cf CLI before v6.52.0 to no longer be able to
retrieve logs when called with `cf logs --recent`.

### Add Validation for **Certificate Authorities trusted by the Gorouter** Property

TAS 4.0 contains validations for the **Certificate Authorities trusted by the
Gorouter** property in the Networking tab. Any entries that are not valid CA
certificates will result in an error in OpsManager. Users should remove or replace
invalid entries.

### Option to Enable (Deprecated) Global Log Rate Limit is Removed

This feature was in beta until TAS v3.0, [when it was deprecated](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#global-log-rate-limit-is-deprecated-24)
following [the introduction of app log rate limits](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#app-log-rate-limits-for-orgs-spaces-and-individual-apps-14).
The option to enable this feature has now been removed, and users should apply
app log rate limits instead.

Note that if you were using this feature to limit your overall app log
throughput, then you may see an increase in log load after upgrading. To
mitigate this, affected users are encouraged to either:

* Scale up their logging system prior to upgrading to TAS v4.0 in order to compensate for the increased log load.
* Upgrade to TAS v3.0 first in order to [set app-level log rate limits](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/app-log-rate-limits.html) while retaining the global log rate limit.

## <a id='known-issues'></a> Known issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='stemcell-certification'></a> Stemcell Compliance Certification

The Ubuntu 22.04 long-term support (LTS) stemcell, Jammy Jellyfish, is not yet CIS or STIG-certified.


### <a id='auto-reconfig-disallowed'></a> java-offline-buildpack v4.52 Disallows Spring Auto Reconfiguration by default

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.0 includes `java-offline-buildpack` v4.52, which disallows Spring Auto Reconfiguration by default.
This change creates the following issues:

* <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.0 is incompatible with some service tiles, including Spring Cloud Data Flow (SCDF).

* <%= vars.app_runtime_abbr %> cannot bind apps that use `java-offline-buildpack` v4.52 to service instances.

This known issue does not affect apps until you re-stage them.

Because the effects of this change are so disruptive, a patch release to fix this known issue is currently in development.

To temporarily restore the previous functionality of Spring Auto Reconfiguration for your apps:

1. Set the `JBP_CONFIG_SPRING_AUTO_RECONFIGURATION` environment variable for your apps by running one of the following commands:
  * To restore the previous functionality of Spring Auto Reconfiguration on a per-app basis, run:

      ```
      cf set-env APP-NAME JBP_CONFIG_SPRING_AUTO_RECONFIGURATION '{enabled: true}'
      ```
      Where `APP-NAME` is the name of your app.
  * To restore the previous functionality of Spring Auto Reconfiguration for all apps in your <%= vars.app_runtime_abbr %> deployment, run:

      ```
      cf set-staging-environment-variable-group '{"JBP_CONFIG_SPRING_AUTO_RECONFIGURATION ":"{enabled: true}"}'
      ```

For more information about the deprecation of Spring Cloud Connectors and Spring Auto Reconfiguration in `java-offline-buildpack` v4.52, see [Java Buildpack -
Deprecation of Spring Cloud Connectors & Spring Auto
Reconfiguration](https://community.pivotal.io/s/article/Java-Buildpack-Deprecation-of-Spring-Cloud-Connectors-Spring-Auto-Reconfiguration) in the VMware Tanzu
Knowledge Base.

### <a id='uaa-sso-copy'></a> UAA Single Sign-On Copy button is broken

In the User Account and Authentication (UAA) user interface (UI), the button that copies Single Sign-On (SSO) codes does not work.

To work around this issue, you must manually copy and paste the displayed code.

### <a id='dynamic-asgs-v2-api'></a> Dynamic ASG Updates Require the Use of Cloud Foundry v3 API for External Integrations

Any external integrations with the CF API to create/update/delete Application Security Group (ASG) definitions or bindings require
the use of the Cloud Foundry v3 API. Any ASG updates made with the v2 API will not be synced until an ASG update using the v3 API
has been made.

Recommended Courses of Action:

1. Ensure the integration uses the latest CF CLI binary, which already uses the v3 API endpoints.
2. Update any HTTP based integrations to use the [v3 API endpoints for security groups](http://v3-apidocs.cloudfoundry.org/version/3.128.0/index.html#security-groups).

### <a id='dynamic-renaming-silk-log-line'></a> Dynamic App Renaming Does Not Take Effect For Silk Security Group Log Lines

Silk emits log lines to application log streams when ASGs are dynamically changed. Customers who use Silk for container networking and have enabled Dynamic ASGs may find
those log lines are tagged with old application names.

To mitigate this issue customers can restart applications after they are renamed.


### <a id='check-nats-server-version'></a> Check your NATS server version

In TAS 2.11.26, VMware introduced a `nats` release that replaced the underlying package from NATS v1.0 to NATS v2.0. TAS for VMx 4.0 is the first LTS version that includes
NATS v2.0. The migration should happen invisibly; however if the migration is not successful, your NATS servers may still be running NATS v1.0. 

Per the [TAS Support Lifecycle Policy](https://docs.pivotal.io/application-service/3-0/release-notes/runtime-rn.html#support-policy), VMware will 
keep the NATS v1.0 as a fallback, but will remove it in a future version. Follow the instructions in the [Knowledge Base article](https://community.pivotal.io/s/article/How-to-confirm-your-nats-servers-are-running-NATs-v2?language=en_US) 
to confirm that your `nats` instances have migrated successfully, and see how to troubleshoot if they have not.

