---
title: VMware Tanzu Application Service for VMs v4.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a
Certified Provider?](https://www.cloudfoundry.org/blog/how-to-get-certified-cloud-foundry-certified-developer-exam-version-2/) on the Cloud Foundry
website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a
MySQL patch and VMware releasing <%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.1'></a> 4.0.1+LTS-T

**Release Date:** 05/17/2023

* **[Security Fix]** Resolve issue in gorouter where canceled requests can result in apps becoming unavailable
* **[Security Fix]** Don't allow syslog drain credentials to be overwritten ([CVE-2023-20881](https://www.cloudfoundry.org/blog/cve-2023-20881-cas-for-syslog-drain-mtls-feature-can-be-overwritten/))
* **[Feature Improvement]** Allow disabling of signature v4 streaming for system blobstore 
* **[Bug Fix]** Fixes an issue in gorouter where requests that should have returned 496, 499, 503, 525, or 526 HTTP status codes may instead have returned as 502s, potentially preventing stale route pruning.
* **[Bug Fix]** Resolve Issue where Garden failed during BOSH/OpsMan deploys due to healthcheck
* **[Bug Fix]** Resolve regression: UI error after org deletion
* Bump backup-and-restore-sdk to version `1.18.69`
* Bump binary-offline-buildpack to version `1.1.4`
* Bump bpm to version `1.2.0`
* Bump capi to version `1.152.0`
* Bump cf-autoscaling to version `249.1.9`
* Bump cf-networking to version `3.25.1`
* Bump cflinuxfs3 to version `0.364.0`
* Bump cflinuxfs4 to version `1.8.0`
* Bump count-cores-indicator to version `2.0.0`
* Bump credhub to version `2.12.26`
* Bump diego to version `2.76.0`
* Bump dotnet-core-offline-buildpack to version `2.4.10`
* Bump garden-runc to version `1.29.0`
* Bump go-offline-buildpack to version `1.10.8`
* Bump java-offline-buildpack to version `4.58`
* Bump log-cache to version `3.0.2`
* Bump loggregator to version `107.0.4`
* Bump loggregator-agent to version `7.2.1`
* Bump mapfs to version `1.2.20`
* Bump metric-registrar to version `2.1.4`
* Bump metrics-discovery to version `3.2.9`
* Bump mysql-monitoring to version `10.0.0`
* Bump nats to version `56.2.0`
* Bump nfs-volume to version `7.1.14`
* Bump nginx-offline-buildpack to version `1.2.2`
* Bump nodejs-offline-buildpack to version `1.8.9`
* Bump notifications to version `63`
* Bump notifications-ui to version `41`
* Bump php-offline-buildpack to version `4.6.4`
* Bump push-apps-manager-release to version `677.0.19`
* Bump push-offline-docs-release to version `4.0.99`
* Bump push-usage-service-release to version `674.0.42`
* Bump pxc to version `1.0.9`
* Bump python-offline-buildpack to version `1.8.9`
* Bump r-offline-buildpack to version `1.2.1`
* Bump routing to version `0.266.0`
* Bump ruby-offline-buildpack to version `1.10.1`
* Bump smb-volume to version `3.1.14`
* Bump staticfile-offline-buildpack to version `1.6.2`
* Bump statsd-injector to version `1.11.30`
* Bump syslog to version `12.1.4`
* Bump system-metrics-scraper to version `3.3.7`
* Bump uaa to version `76.11.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.108</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.69</td>
      <td>
        <details>
          <summary>v1.18.69</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump libpcre2 from 10.40 to 10.42 (#1021)
  * Bump mysql from 5.7.40 to 5.7.42 (#1030)
  * Bump mysql from 8.0.32 to 8.0.33 (#1029)
  * Golang: Updated to v1.20.4. (#1031)
  ## Dependencies
  * **aws-sdk-go:** Updated to v1.44.255.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
  * **mysql:** Updated to v1.7.1.<br>For more information, see [mysql](https://github.com/go-sql-driver/mysql).
  * **pq:** Updated to v1.10.9.<br>For more information, see [pq](https://github.com/lib/pq).
  * **api:** Updated to v0.120.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.68</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump mysql from 8.0.31 to 8.0.32 (#1005)
          </pre>
        </details>
        <details>
          <summary>v1.18.67</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **aws-sdk-go:** Updated to v1.44.242.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
  * **pq:** Updated to v1.10.8.<br>For more information, see [pq](https://github.com/lib/pq).
  * **api:** Updated to v0.118.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.66</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **aws-sdk-go:** Updated to v1.44.241.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
  * **bosh-backup-and-restore:** Updated to v1.9.44.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **net:** Updated to v0.9.0.<br>For more information, see [net](https://github.com/golang/net).
  * **oauth2:** Updated to v0.7.0.<br>For more information, see [oauth2](https://github.com/golang/oauth2).
  * **api:** Updated to v0.117.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.65</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3. (#986)
  * Update ruby to v3.2.2 (#985)
  ## Dependencies
  * **aws-sdk-go:** Updated to v1.44.236.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
  * **bosh-backup-and-restore:** Updated to v1.9.43.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **gomega:** Updated to v1.27.6.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **api:** Updated to v0.115.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.63</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump mariadb from 10.6.11 to 10.6.12 (#877)
  * Bump postgres from 11.18 to 11.19 (#883)
  * Bump postgres from 13.9 to 13.10 (#884)
  * Bump postgres from 15.1 to 15.2 (#885)
  * Golang: Updated to v1.20.2. (#937)
  ## Dependencies
  * **storage:** Updated to v1.30.1.<br>For more information, see [storage](https://github.com/googleapis/google-cloud-go).
  * **aws-sdk-go:** Updated to v1.44.230.<br>For more information, see [aws-sdk-go](https://github.com/aws/aws-sdk-go).
  * **bosh-backup-and-restore:** Updated to v1.9.42.<br>For more information, see [bosh-backup-and-restore](https://github.com/cloudfoundry-incubator/bosh-backup-and-restore).
  * **gomega:** Updated to v1.27.5.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **net:** Updated to v0.8.0.<br>For more information, see [net](https://github.com/golang/net).
  * **oauth2:** Updated to v0.6.0.<br>For more information, see [oauth2](https://github.com/golang/oauth2).
  * **api:** Updated to v0.114.0.<br>For more information, see [api](https://github.com/googleapis/google-api-go-client).
          </pre>
        </details>
        <details>
          <summary>v1.18.62</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.4</td>
      <td>
        <details>
          <summary>1.1.4</summary>
          <pre style="max-width: 30em">
  * tests: replace ruby webserver w a simple netcat porgram
  cflinuxfs4 1.x does not come with ruby on the stack
  * Update libbuildpack
  * Uncached buildpack SHA256: bd2bb05de690ef0cbe6efbf9e1c66b6085dc8efa3ebc186d7202b9e9d54ebd28
  * Uncached buildpack SHA256: 988d1392de4cffbe26d2be4e9a4487a26f7b16b1b5a27fba98e07266d1883562
  * Uncached buildpack SHA256: c8689ae3a2b3471f16fbdcac65581690bf9aa5f0d8103cb20d00d93f74837e6e
  * Uncached buildpack SHA256: 97d7643f51d1b9a7f64d3135d264b03168a5e644f7b31531351f94a951d7a4f5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.0</td><td></td></tr>
    <tr><td>capi</td><td>1.152.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.1.9</td>
      <td>
        <details>
          <summary>v249.1.9</summary>
          <pre style="max-width: 30em">
  * Bump cf CLI plugin to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
          </pre>
        </details>
        <details>
          <summary>v249.1.8</summary>
          <pre style="max-width: 30em">
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump spring-boot to 2.7.11
  * Bump dependencies
  * Replace gorilla with chi
          </pre>
        </details>
        <details>
          <summary>v249.1.7</summary>
          <pre style="max-width: 30em">
  * remove sha-1 debug variable
  * upgrade to openjdk-17 17.0.6_10
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-cli</td><td>1.44.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.25.1</td>
      <td>
        <details>
          <summary>3.25.1</summary>
          <pre style="max-width: 30em">
  ## Changes
  - None!
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/cf-networking-release/compare/3.24.0...v3.25.1
  ## Resources
  - [Download release v3.25.1 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/cf-networking-release?version=3.25.1).
          </pre>
        </details>
        <details>
          <summary>3.24.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to Go 1.20.4
  - Bump all dependencies such that only Ginkgo V2 and Lager V3 are used
  - Use [new docker images](https://github.com/cloudfoundry/cf-networking-release/commit/4b69f0a5690611dfa730a70e641f5c1f8145c66c) for local testing
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/cf-networking-release/compare/3.23.0...v3.24.0
  ## Resources
  - [Download release v3.24.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/cf-networking-release?version=3.24.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs3</td><td>0.364.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>1.8.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.26</td>
      <td>
        <details>
          <summary>2.12.26</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  socketTimeout has been set to 1 hour.
  * fix: Set mariadb jdbc driver's `socketTimeout` by @hsinn0 in https://github.com/pivotal/credhub-release/pull/126
  * Build(deps): Bump parallel from 1.22.1 to 1.23.0 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/131
  * Build(deps): Bump rspec-core from 3.12.1 to 3.12.2 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/130
  * Build(deps): Bump rspec-expectations from 3.12.2 to 3.12.3 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/132
  * Build(deps): Bump parser from 3.2.2.0 to 3.2.2.1 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/133
  ## New Contributors
  * @hsinn0 made their first contribution in https://github.com/pivotal/credhub-release/pull/126
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.25...2.12.26
          </pre>
        </details>
        <details>
          <summary>2.12.25</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.24...2.12.25
          </pre>
        </details>
        <details>
          <summary>2.12.24</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies
          </pre>
        </details>
        <details>
          <summary>2.12.23</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Build(deps): Bump rspec-mocks from 3.12.3 to 3.12.4 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/122
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.22...2.12.23
          </pre>
        </details>
        <details>
          <summary>2.12.22</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Build(deps): Bump ruby-progressbar from 1.11.0 to 1.13.0 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/119
  * Build(deps): Bump parser from 3.2.1.0 to 3.2.1.1 in /spec by @dependabot in https://github.com/pivotal/credhub-release/pull/120
  * Build(deps): bump org.owasp:dependency-check-gradle from [8.1.1 to 8.1.2](https://github.com/cloudfoundry/credhub/commit/6978a7c99be0697dee370972a417a25621b7238d)
  **Full Changelog**: https://github.com/pivotal/credhub-release/compare/2.12.21...2.12.22
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.76.0</td>
      <td>
        <details>
          <summary>v2.76.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to Go 1.20.4
  - Bump dependencies
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/auctioneer/spec b/jobs/auctioneer/spec
  index ae685ceb9..1fac48936 100644
  --- a/jobs/auctioneer/spec
  +++ b/jobs/auctioneer/spec
  @@ -88,6 +88,12 @@ properties:
  diego.auctioneer.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the auctioneer attempts to claim a lock from the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.auctioneer.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.auctioneer.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  locks.locket.enabled:
  description: When set, the auctioneer attempts to claim a lock from the Locket API.
  diff --git a/jobs/bbs/spec b/jobs/bbs/spec
  index b6f1040c2..9204a8d4c 100644
  --- a/jobs/bbs/spec
  +++ b/jobs/bbs/spec
  @@ -140,6 +140,12 @@ properties:
  diego.bbs.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the BBS attempts to claim a lock from the Locket API and will detect Diego cells registered with the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.bbs.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.bbs.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  limits.open_files:
  description: Maximum number of files (including sockets) the BBS process may have open.
  diff --git a/jobs/rep/spec b/jobs/rep/spec
  index df7bd7c49..1383b67c0 100644
  --- a/jobs/rep/spec
  +++ b/jobs/rep/spec
  @@ -217,6 +217,12 @@ properties:
  diego.rep.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the cell rep will establish its cell registration in the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.rep.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.rep.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  enable_declarative_healthcheck:
  description: "When set, enables the rep to prefer the LRP CheckDefinition to healthcheck instances over the Monitor action. Requires Garden-Runc v1.10.0+"
  diff --git a/jobs/rep_windows/spec b/jobs/rep_windows/spec
  index 4fc4504bf..023d76f18 100644
  --- a/jobs/rep_windows/spec
  +++ b/jobs/rep_windows/spec
  @@ -227,7 +227,13 @@ properties:
  diego.rep.locket.api_location:
  description: "Hostname and port of the locket server"
  default: locket.service.cf.internal:8891
  -
  +  diego.rep.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.rep.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  +
  enable_declarative_healthcheck:
  description: "When set, enables the rep to prefer the LRP CheckDefinition to healthcheck instances over the Monitor action."
  default: false
  diff --git a/jobs/vizzini/spec b/jobs/vizzini/spec
  index fa6c8d0d0..40b5eb74b 100644
  --- a/jobs/vizzini/spec
  +++ b/jobs/vizzini/spec
  @@ -47,9 +47,6 @@ properties:
  vizzini.verbose:
  description: Run tests in verbose mode
  default: false
  -  vizzini.stream:
  -    description: Stream output from parallel test nodes. This option will lead to less coherent output but is useful when debugging
  -    default: false
  enable_declarative_healthcheck:
  description: "When set, enables the declarative check tests in vizzini"
  ```
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.75.0...v2.76.0
  ## Resources
  - [Download release v2.76.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.76.0).
          </pre>
        </details>
        <details>
          <summary>v2.75.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump ginkgo to v2 and lager to v3
  * [Bug fix] Rep does not clean up resources when deleting container fails
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.73.0...v2.75.0
  ## Resources
  - [Download release v2.75.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.75.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.10</td>
      <td>
        <details>
          <summary>2.4.10</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  * Bump github.com/onsi/gomega from 1.27.2 to 1.27.6
  Bumps [github.com/onsi/gomega](https://github.com/onsi/gomega) from 1.27.2 to 1.27.6.
  - [Release notes](https://github.com/onsi/gomega/releases)
  - [Changelog](https://github.com/onsi/gomega/blob/master/CHANGELOG.md)
  - [Commits](https://github.com/onsi/gomega/compare/v1.27.2...v1.27.6)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | bower | 1.8.14 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 6.0.15 | cflinuxfs3, cflinuxfs4 |
  | dotnet-aspnetcore | 7.0.4 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 6.0.15 | cflinuxfs3, cflinuxfs4 |
  | dotnet-runtime | 7.0.4 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 6.0.407 | cflinuxfs3, cflinuxfs4 |
  | dotnet-sdk | 7.0.202 | cflinuxfs3, cflinuxfs4 |
  | libgdiplus | 6.1 | cflinuxfs3 |
  | libgdiplus | 6.1 | cflinuxfs4 |
  | libunwind | 1.6.2 | cflinuxfs3 |
  | libunwind | 1.6.2 | cflinuxfs4 |
  | node | 18.15.0 | cflinuxfs3 |
  | node | 18.15.0 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | dotnet-runtime | 6.0.x |
  | dotnet-aspnetcore | 6.0.x |
  | dotnet-sdk | 6.0.x |
  | bower | 1.8.x |
  * Uncached buildpack SHA256: 3e88499622b1992cedb5af7bdb976b2050ed08b2b16be224095b13afc1dd9719
  * Uncached buildpack SHA256: 2888a608f35c6a42173a13956c6ff12c329d23eab0b6ee4d9830797b44fb0785
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>garden-runc</td><td>1.29.0</td>
      <td>
        <details>
          <summary>v1.29.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  ⚠️We have removed the garden-healthcheck job from garden while we investigate a way to make it less painful. From v1.22.6 through v1.28.0, garden restarts with a high container count could result in BOSH deploys failing due to a race condition between garden, bpm, monit, and garden-healthchecker. This will be re-enabled at a later time when we resolve the race condition.
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.28.0...v1.29.0
  ## Resources
  - [Download release v1.29.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.29.0).
          </pre>
        </details>
        <details>
          <summary>v1.28.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to golang 1.20.4
  - Bump dependencies
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.27.0...v1.28.0
  ## Resources
  - [Download release v1.28.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.28.0).
          </pre>
        </details>
        <details>
          <summary>v1.27.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump ginkgo to v2 and lager to v3
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.26.0...v1.27.0
  ## Resources
  - [Download release v1.27.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.27.0).
          </pre>
        </details>
        <details>
          <summary>v1.26.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump runc version to 1.1.4
  - Bump containerd version to 1.6.19
  - Fix cloudfoundry/garden-runc-release#233
  ## ✨  Built with go 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.25.0...v1.26.0
  ## Resources
  - [Download release v1.26.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.26.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>go-offline-buildpack</td><td>1.10.8</td>
      <td>
        <details>
          <summary>1.10.8</summary>
          <pre style="max-width: 30em">
  * Bump github.com/cloudfoundry/switchblade from 0.2.0 to 0.3.0
  * Add go 1.19.8, remove go 1.19.7
  for stack(s) cflinuxfs4, cflinuxfs3
  * Add go 1.20.3, remove go 1.20.2
  for stack(s) cflinuxfs3, cflinuxfs4
  * Bump libbuildpack
  - to pull in retry with exponential backoff.
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | dep | 0.5.4 | cflinuxfs3 |
  | dep | 0.5.4 | cflinuxfs4 |
  | glide | 0.13.3 | cflinuxfs3 |
  | glide | 0.13.3 | cflinuxfs4 |
  | go | 1.19.8 | cflinuxfs3 |
  | go | 1.19.8 | cflinuxfs4 |
  | go | 1.20.3 | cflinuxfs3 |
  | go | 1.20.3 | cflinuxfs4 |
  | godep | 80 | cflinuxfs3 |
  | godep | 80 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | go | 1.19.x |
  * Uncached buildpack SHA256: aae9a56e9e799a5de744c775a42f37ce8ea5e4554612dfc1f0ee04cb7518e50f
  * Uncached buildpack SHA256: 4dc34678c68990694540187bd51bd32a59c2e0ce9d6561a26c80257059d76a6a
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>java-offline-buildpack</td><td>4.58</td>
      <td>
        <details>
          <summary>4.58</summary>
          <pre style="max-width: 30em">
  I'm pleased to announce the release of the java-buildpack, version 4.58. It primarily includes new OpenJDK versions, which are based on the Oracle Java Quarterly Updates for April 2023.
  The release also includes:
  * Buildpack-specific location for Ruby install (thanks @brayanhenao)
  * Updated MariaDB JDBC Connector to 2.7.9
  For a more detailed look at the changes in 4.58, please take a look at the [commit log](https://github.com/cloudfoundry/java-buildpack/compare/v4.57...v4.58). The packaged version of the buildpack, suitable for use with create-buildpack and update-buildpack, can be found attached to this release.
  | Dependency | Version | CVEs | Release Notes |
  | ---------- | ------- | ---- | ------------- |
  | AppDynamics Agent | `22.9.2_34409` | | [Release Notes](https://docs.appdynamics.com/4.5.x/en/product-and-release-announcements/release-notes/language-agent-notes/java-agent-notes) |
  | Azure Application Insights Agent | `2.6.4` | | [Release Notes](https://github.com/Microsoft/ApplicationInsights-Java/releases) |
  | CA Introscope APM Framework | `23.3.0_4` | |  |
  | Client Certificate Mapper | `1.11.0_RELEASE` |Included inline above | Included inline above |
  | Container Security Provider | `1.20.0_RELEASE` |Included inline above | Included inline above |
  | Contrast Security Agent | `4.13.1` | | [Release Notes](https://docs.contrastsecurity.com/en/java-agent-release-notes.html) |
  | Datadog APM Javaagent | `1.12.0` | | [Release Notes](https://github.com/DataDog/dd-trace-java/releases) |
  | Elastic APM Agent | `1.37.0` | | [Release Notes](https://www.elastic.co/guide/en/apm/agent/java/current/release-notes.html) |
  | Gemalto Luna Security Provider | `7.4.0` | | [Release Notes](https://www.thalesdocs.com/gphsm/luna/7/docs/network/Content/CRN/Luna/CRN_Luna.htm) |
  | Geode Tomcat Session Store | `1.13.7` | |  |
  | Google Stackdriver Debugger | `2.32.0` | | [Release Notes](https://cloud.google.com/debugger/docs/release-notes) |
  | Google Stackdriver Profiler | `0.1.0` | | [Release Notes](https://cloud.google.com/profiler/docs/release-notes) |
  | Groovy | `2.5.22` | | [Release Notes](http://www.groovy-lang.org/releases.html) |
  | JaCoCo Agent | `0.8.9` | | [Release Notes](https://github.com/jacoco/jacoco/releases) |
  | Java Memory Assistant Agent | `0.5.0` | |  |
  | Java Memory Assistant Clean Up | `0.1.0` | |  |
  | JProfiler Profiler | `12.0.4` | | [ChangeLog](https://www.ej-technologies.com/download/jprofiler/changelog.html) |
  | JRebel Agent | `2023.2.0` | | [ChangeLog](https://www.jrebel.com/products/jrebel/changelog) |
  | jvmkill Agent | `1.17.0_RELEASE` |Included inline above | Included inline above |
  | MariaDB JDBC Driver | `2.7.9` | | [Release Notes](https://mariadb.com/kb/en/mariadb-connector-j-2-7-9-release-notes/) |
  | Memory Calculator | `3.13.0_RELEASE` |Included inline above | Included inline above |
  | Metric Writer | `3.5.0_RELEASE` |Included inline above | Included inline above |
  | New Relic Agent | `8.1.0` | | [Release Notes](https://docs.newrelic.com/docs/release-notes/agent-release-notes/java-release-notes/) |
  | OpenJDK JRE 11 | `11.0.19_7` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuapr2023.html#AppendixJAVA) | [Release Notes](https://bell-sw.com/pages/liberica-release-notes-11.0.19/) |
  | OpenJDK JRE 17 | `17.0.7_7` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuapr2023.html#AppendixJAVA) | [Release Notes](https://bell-sw.com/pages/liberica-release-notes-17.0.7/) |
  | OpenJDK JRE 8 | `1.8.0_372` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuapr2023.html#AppendixJAVA) | [Release Notes](https://bell-sw.com/pages/liberica-release-notes-8u372/) |
  | PostgreSQL JDBC Driver | `42.6.0` | | [ChangeLog](https://jdbc.postgresql.org/documentation/changelog.html) |
  | Redis Session Store | `1.3.6_RELEASE` |Included inline above | Included inline above |
  | Riverbed Appinternals Agent | `11.8.5_BL527` | |  |
  | SeaLights Agent | `4.0.2258` | |  |
  | SkyWalking | `8.9.0` | | [ChangeLog](https://github.com/apache/skywalking/tree/master/changes) |
  | Splunk OpenTelemetry Java Agent | `1.23.0` | | [Release Notes](https://github.com/signalfx/splunk-otel-java/releases) |
  | Spring Auto-reconfiguration | `2.12.0_RELEASE` |Included inline above | Included inline above |
  | Spring Boot CLI | `2.7.11` | |  |
  | Spring Boot Container Customizer | `2.6.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat | `9.0.74` |[Security](https://tomcat.apache.org/security-9.html) | [ChangeLog](https://tomcat.apache.org/tomcat-9.0-doc/changelog.html) |
  | Tomcat Access Logging Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat Lifecycle Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat Logging Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | YourKit Profiler | `2022.9.182` | | [Release Notes](https://www.yourkit.com/download/yjp_2022_3_builds.jsp) |
          </pre>
        </details>
        <details>
          <summary>4.57</summary>
          <pre style="max-width: 30em">
  I'm pleased to announce the release of the java-buildpack, version 4.57. This release fixes a bug with the [Container Security Provider](https://github.com/cloudfoundry/java-buildpack-security-provider) library, in which a race condition could result in mismatched private-key and certificate pairs when Diego rotated these credentials for the container. See [this issue](https://github.com/cloudfoundry/java-buildpack-security-provider/issues/8) for more details.
  This release also contains the following:
  * The Azul Zing JRE contained a bug when generating the Java Opts, fixed with #1008 (thanks to @schelini)
  * Update to the geode_store dependency (thanks to @BenjaminPerryRoss)
  For a more detailed look at the changes in 4.57, please take a look at the [commit log](https://github.com/cloudfoundry/java-buildpack/compare/v4.56...v4.57). The packaged version of the buildpack, suitable for use with create-buildpack and update-buildpack, can be found attached to this release.
  | Dependency | Version | CVEs | Release Notes |
  | ---------- | ------- | ---- | ------------- |
  | AppDynamics Agent | `22.9.2_34409` | | [Release Notes](https://docs.appdynamics.com/4.5.x/en/product-and-release-announcements/release-notes/language-agent-notes/java-agent-notes) |
  | Azure Application Insights Agent | `2.6.4` | | [Release Notes](https://github.com/Microsoft/ApplicationInsights-Java/releases) |
  | CA Introscope APM Framework | `23.3.0_4` | |  |
  | Client Certificate Mapper | `1.11.0_RELEASE` |Included inline above | Included inline above |
  | Container Security Provider | `1.20.0_RELEASE` |Included inline above | Included inline above |
  | Contrast Security Agent | `4.13.1` | | [Release Notes](https://docs.contrastsecurity.com/en/java-agent-release-notes.html) |
  | Datadog APM Javaagent | `1.11.0` | | [Release Notes](https://github.com/DataDog/dd-trace-java/releases) |
  | Elastic APM Agent | `1.37.0` | | [Release Notes](https://www.elastic.co/guide/en/apm/agent/java/current/release-notes.html) |
  | Gemalto Luna Security Provider | `7.4.0` | | [Release Notes](https://www.thalesdocs.com/gphsm/luna/7/docs/network/Content/CRN/Luna/CRN_Luna.htm) |
  | Geode Tomcat Session Store | `1.13.7` | |  |
  | Google Stackdriver Debugger | `2.32.0` | | [Release Notes](https://cloud.google.com/debugger/docs/release-notes) |
  | Google Stackdriver Profiler | `0.1.0` | | [Release Notes](https://cloud.google.com/profiler/docs/release-notes) |
  | Groovy | `2.5.22` | | [Release Notes](http://www.groovy-lang.org/releases.html) |
  | JaCoCo Agent | `0.8.9` | | [Release Notes](https://github.com/jacoco/jacoco/releases) |
  | Java Memory Assistant Agent | `0.5.0` | |  |
  | Java Memory Assistant Clean Up | `0.1.0` | |  |
  | JProfiler Profiler | `12.0.4` | | [ChangeLog](https://www.ej-technologies.com/download/jprofiler/changelog.html) |
  | JRebel Agent | `2023.2.0` | | [ChangeLog](https://www.jrebel.com/products/jrebel/changelog) |
  | jvmkill Agent | `1.17.0_RELEASE` |Included inline above | Included inline above |
  | MariaDB JDBC Driver | `2.7.2` | | [Release Notes](https://mariadb.com/kb/en/mariadb-connector-j-274-release-notes/) |
  | Memory Calculator | `3.13.0_RELEASE` |Included inline above | Included inline above |
  | Metric Writer | `3.5.0_RELEASE` |Included inline above | Included inline above |
  | New Relic Agent | `8.0.1` | | [Release Notes](https://docs.newrelic.com/docs/release-notes/agent-release-notes/java-release-notes/) |
  | OpenJDK JRE 11 | `11.0.18_10` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2022.html#AppendixJAVA) | [Release Notes](https://bell-sw.com/pages/liberica-release-notes-11.0.18/) |
  | OpenJDK JRE 17 | `17.0.6_10` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2022.html#AppendixJAVA) | [Release Notes](https://bell-sw.com/pages/liberica-release-notes-17.0.6/) |
  | OpenJDK JRE 8 | `1.8.0_362` |[Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2022.html#AppendixJAVA) | [Release Notes](https://bell-sw.com/pages/liberica-release-notes-8u362/) |
  | PostgreSQL JDBC Driver | `42.6.0` | | [ChangeLog](https://jdbc.postgresql.org/documentation/changelog.html) |
  | Redis Session Store | `1.3.6_RELEASE` |Included inline above | Included inline above |
  | Riverbed Appinternals Agent | `11.8.5_BL527` | |  |
  | SeaLights Agent | `4.0.2242` | |  |
  | SkyWalking | `8.9.0` | | [ChangeLog](https://github.com/apache/skywalking/tree/master/changes) |
  | Splunk OpenTelemetry Java Agent | `1.22.0` | | [Release Notes](https://github.com/signalfx/splunk-otel-java/releases) |
  | Spring Auto-reconfiguration | `2.12.0_RELEASE` |Included inline above | Included inline above |
  | Spring Boot CLI | `2.7.10` | |  |
  | Spring Boot Container Customizer | `2.6.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat | `9.0.73` |[Security](https://tomcat.apache.org/security-9.html) | [ChangeLog](https://tomcat.apache.org/tomcat-9.0-doc/changelog.html) |
  | Tomcat Access Logging Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat Lifecycle Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | Tomcat Logging Support | `3.4.0_RELEASE` |Included inline above | Included inline above |
  | YourKit Profiler | `2022.9.182` | | [Release Notes](https://www.yourkit.com/download/yjp_2022_3_builds.jsp) |
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>log-cache</td><td>3.0.2</td>
      <td>
        <details>
          <summary>v3.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Replace gorilla with chi by @Benjamintf1 in https://github.com/cloudfoundry/log-cache-release/pull/197
  * Replace local tlsconfig with the standard tlsconfig library by @Benjamintf1 in https://github.com/cloudfoundry/log-cache-release/pull/200. This should not change the effective tlsconfig.
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v3.0.1...v3.0.2
          </pre>
        </details>
        <details>
          <summary>v3.0.1</summary>
          <pre style="max-width: 30em">
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/log-cache-release/compare/v3.0.0...v3.0.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator</td><td>107.0.4</td>
      <td>
        <details>
          <summary>v107.0.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.3...v107.0.4
          </pre>
        </details>
        <details>
          <summary>v107.0.3</summary>
          <pre style="max-width: 30em">
  * Upgrade to go 1.20.2
  * Bump dependencies
  * Remove unused `metron_endpoint.dropsonde_port` property in https://github.com/cloudfoundry/loggregator-release/pull/534
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.2...v107.0.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>7.2.1</td>
      <td>
        <details>
          <summary>v7.2.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.2.0...v7.2.1
          </pre>
        </details>
        <details>
          <summary>v7.2.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump golang.org/x/net from 0.8.0 to 0.9.0 in /src by @dependabot in https://github.com/cloudfoundry/loggregator-agent-release/pull/283
  * Add mtls options to aggregate drains.  by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/276
  * switch gorilla with chi by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/285
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.3...v7.2.0
          </pre>
        </details>
        <details>
          <summary>v7.1.3</summary>
          <pre style="max-width: 30em">
  * Upgrade to go 1.20.2
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.2...v7.1.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.20</td>
      <td>
        <details>
          <summary>v1.2.20</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.4 (#77, #78)
  ## Dependencies
  * **ginkgo v2:** Updated to v2.9.3.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **mapfs:** Updated to v`25c1e86`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.16</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3 (#64, #65, #71)
  ## Dependencies
  * **gomega:** Updated to v1.27.6.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **mapfs:** Updated to v`4c0a84d`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metric-registrar</td><td>2.1.4</td>
      <td>
        <details>
          <summary>v2.1.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Replace gorilla with chi by @Benjamintf1 in https://github.com/pivotal-cf/metric-registrar-release/pull/188
  * Bump dependencies
  **Full Changelog**: https://github.com/pivotal-cf/metric-registrar-release/compare/v2.1.3...v2.1.4
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.9</td>
      <td>
        <details>
          <summary>v3.2.9</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.8...v3.2.9
          </pre>
        </details>
        <details>
          <summary>v3.2.8</summary>
          <pre style="max-width: 30em">
  * Upgrade to go1.20.2.
  * Bump dependencies.
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.7...v3.2.8
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mysql-monitoring</td><td>10.0.0</td>
      <td>
        <details>
          <summary>10.0.0</summary>
          <pre style="max-width: 30em">
  **Dependency Bumps**
  - Built with Go 1.20.4
  - Bumped dependencies
  **Bugs Fixed**
  - [mysql-metrics] Fixed bug that caused metrics to be displayed for only one of the MySQL nodes in three-node HA cluster when `mysql-metrics.host` was not configured in a bosh manifest.
  **Breaking Change**
  The `mysql-metrics` job no longer consumes bosh links for defaulting the `mysql-metrics.host` property.  `mysql-metrics.host` defaults to connecting over 127.0.0.1 and `mysql-metrics.port` defaults to the port provided by the `mysql` bosh link.  This avoids a bug where mysql-metrics reports the metrics from only a single member of the cluster instead of reporting separate metrics for _each_ member of a cluster.
  This change provides accurate metrics out-of-the-box when the mysql-metrics agent is co-located with MySQL.  For niche use cases, configure the `mysql-metrics.host` and `mysql-metrics.port` explicitly as needed for your use case.
          </pre>
        </details>
        <details>
          <summary>9.25.0</summary>
          <pre style="max-width: 30em">
  Final release 9.25.0
  **Bugs Fixed**
  - Fixes bug that caused metrics to be displayed for only one of the MySQL nodes in three-node HA cluster
  **Additional notes**
  In [v9.19.0](https://github.com/cloudfoundry/mysql-monitoring-release/releases/tag/v9.19.0), a new `mysql-metrics.port` property was introduced in the `mysql-metrics` job. This bug fix also includes an update which removes the need for this property, and it will be obsoleted in a future release.
          </pre>
        </details>
        <details>
          <summary>9.24.0</summary>
          <pre style="max-width: 30em">
  Final release 9.24.0
  **Dependency Bumps**
  - Build with Go 1.20.2
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nats</td><td>56.2.0</td>
      <td>
        <details>
          <summary>v56.2.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to Go 1.20.4
  - Bump dependencies such that Ginkgo V2 and Lager V3 are used.
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/nats-release/compare/v56.1.0...v56.2.0
  ## Resources
  - [Download release v56.2.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/nats-release?version=56.2.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nfs-volume</td><td>7.1.14</td>
      <td>
        <details>
          <summary>v7.1.14</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **nfsbroker:** Updated to v`2c64157`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`14c2d4e`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.12</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3 (#355, #357)
  * Fix possible log leak of CF password (#335)
  ## Dependencies
  * **gomega:** Updated to v1.27.6.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **nfsbroker:** Updated to v`0e58c8e`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`bd396bf`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.10</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **nfsbroker:** Updated to v`7946962`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`d9aee47`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.2</td>
      <td>
        <details>
          <summary>1.2.2</summary>
          <pre style="max-width: 30em">
  * Add nginx 1.23.4, remove nginx 1.23.3
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184817118)
  * Update libbuildpack
  * Bump github.com/miekg/dns from 1.1.52 to 1.1.53
  * Bump github.com/onsi/gomega from 1.26.0 to 1.27.5
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | nginx | 1.22.1 | cflinuxfs3 |
  | nginx | 1.22.1 | cflinuxfs4 |
  | nginx | 1.23.4 | cflinuxfs3 |
  | nginx | 1.23.4 | cflinuxfs4 |
  | openresty | 1.13.6.2 | cflinuxfs3 |
  | openresty | 1.15.8.3 | cflinuxfs3 |
  | openresty | 1.17.8.2 | cflinuxfs3 |
  | openresty | 1.19.9.1 | cflinuxfs3 |
  | openresty | 1.19.9.1 | cflinuxfs4 |
  | openresty | 1.21.4.1 | cflinuxfs3 |
  | openresty | 1.21.4.1 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | nginx | 1.23.x |
  * Uncached buildpack SHA256: 3e1da9187d67d9ede6efcc05dceb4dd30362552c3aa371f2a2c8621d149ac79f
  * Uncached buildpack SHA256: a3325ae600f734b9d2b3df67523c66d78af43d93ffe7cfd98671e25d149ec8ad
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.9</td>
      <td>
        <details>
          <summary>1.8.9</summary>
          <pre style="max-width: 30em">
  * Add node 16.20.0, remove node 16.19.0 for stack(s) cflinuxfs4, cflinuxfs3
  * Don't run `yarn check` which creates a duplicate cache. Instead, we can add the `--check-files` flag to the `yarn install` command and get the same outcome.
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | node | 14.21.2 | cflinuxfs3 |
  | node | 14.21.2 | cflinuxfs4 |
  | node | 14.21.3 | cflinuxfs3 |
  | node | 14.21.3 | cflinuxfs4 |
  | node | 16.19.1 | cflinuxfs3 |
  | node | 16.19.1 | cflinuxfs4 |
  | node | 16.20.0 | cflinuxfs3 |
  | node | 16.20.0 | cflinuxfs4 |
  | node | 18.14.1 | cflinuxfs3 |
  | node | 18.14.1 | cflinuxfs4 |
  | node | 18.15.0 | cflinuxfs3 |
  | node | 18.15.0 | cflinuxfs4 |
  | python | 3.10.10 | cflinuxfs3 |
  | python | 3.10.10 | cflinuxfs4 |
  | yarn | 1.22.19 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | node | 18.x |
  | python | 3.10.x |
  * Uncached buildpack SHA256: adde57eaf1aa543c2a12565a0a211dfddb8d591333d47ab0eeb744f1afe6ced3
  * Uncached buildpack SHA256: c964c655974ec1e5b85d88d317372f9fd2276727538a175d5067c040f89c480c
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>notifications</td><td>63</td><td></td></tr>
    <tr><td>notifications-ui</td><td>41</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.6.4</td>
      <td>
        <details>
          <summary>4.6.4</summary>
          <pre style="max-width: 30em">
  * update go modules
  * bump default nginx version
  * Add nginx 1.23.4, remove nginx 1.23.3 (#857)
  for stack(s) cflinuxfs4, cflinuxfs3
  Packaged binaries:
  | name | version | cf_stacks | modules |
  |-|-|-|-|
  | appdynamics | 23.2.0-684 | cflinuxfs3, cflinuxfs4 |  |
  | composer | 2.5.5 | cflinuxfs3, cflinuxfs4 |  |
  | httpd | 2.4.56 | cflinuxfs3 |  |
  | httpd | 2.4.56 | cflinuxfs4 |  |
  | newrelic | 10.6.0.318 | cflinuxfs3, cflinuxfs4 |  |
  | nginx | 1.22.1 | cflinuxfs3 |  |
  | nginx | 1.22.1 | cflinuxfs4 |  |
  | nginx | 1.23.4 | cflinuxfs3 |  |
  | nginx | 1.23.4 | cflinuxfs4 |  |
  | php | 8.0.27 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.0.28 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.15 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.15 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.16 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.1.16 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ioncube, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaf, yaml, zip, zlib |
  | php | 8.2.2 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.2 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.3 | cflinuxfs3 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | php | 8.2.3 | cflinuxfs4 | amqp, apcu, bz2, curl, dba, enchant, exif, fileinfo, ftp, gd, gettext, gmp, igbinary, imagick, imap, ldap, lzf, mailparse, maxminddb, mbstring, memcached, mongodb, msgpack, mysqli, oauth, opcache, openssl, pcntl, pdo, pdo_firebird, pdo_mysql, pdo_odbc, pdo_pgsql, pdo_sqlite, pdo_sqlsrv, pgsql, phalcon, phpiredis, pspell, psr, rdkafka, readline, redis, shmop, snmp, soap, sockets, sodium, solr, sqlsrv, ssh2, stomp, sysvmsg, sysvsem, sysvshm, tideways_xhprof, tidy, xdebug, xsl, yaml, zip, zlib |
  | python | 2.7.18 | cflinuxfs4 |  |
  | ruby | 3.0.5 | cflinuxfs4 |  |
  Default binary versions:
  | name | version |
  |-|-|
  | php | 8.1.16 |
  | httpd | 2.4.56 |
  | newrelic | 10.6.0.318 |
  | nginx | 1.23.4 |
  | composer | 2.5.5 |
  * Uncached buildpack SHA256: 79fd9d7993bd45f86c9fda1e2be1c789ba983010eb741074c2745a28bb70191d
  * Uncached buildpack SHA256: 04821902fb1335d7554fdc7dc91155c51c5942639da61591be434a8f2e93f82a
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>push-apps-manager-release</td><td>677.0.19</td><td></td></tr>
    <tr><td>push-tas-portal-release</td><td>0.1.5</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>4.0.99</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.42</td>
      <td>
        <details>
          <summary>v674.0.42</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`1435052`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.41</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump tooling
  * Revert "[ci]: Created a new job group to test new unit tests images"
  * Update pipeline to test the latest TAS (#328)
  * creating final release 674.0.40
          </pre>
        </details>
        <details>
          <summary>v674.0.40</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`90d78a2`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.39</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **app-usage-service:** Updated to v`e7746e5`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
        <details>
          <summary>v674.0.37</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Fix potential CF creds leak (#316)
  ## Dependencies
  * **app-usage-service:** Updated to v`00dbf4a`.<br>For more information, see [app-usage-service](https://github.com/pivotal-cf/app-usage-service).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>pxc</td><td>1.0.9</td>
      <td>
        <details>
          <summary>v1.0.9</summary>
          <pre style="max-width: 30em">
  **Important** pxc-release v1.0 is a major database upgrade from Percona XtraDB Cluster 5.7 to Percona XtraDB Cluster 8.0
  **New Features**
  - Bumped Percona XtraDB Cluster 8.0 to v8.0.31-23.2
  - Bumped Percona Xtrabackup 8.0 to v8.0.32-26
  - Bumped Percona Xtrabackup 2.4 to v2.4.28
  - Bumped Go to 1.20.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>python-offline-buildpack</td><td>1.8.9</td>
      <td>
        <details>
          <summary>1.8.9</summary>
          <pre style="max-width: 30em">
  * Add python 3.10.11, remove python 3.10.10 for stack(s) cflinuxfs3, cflinuxfs4
  * Add python 3.11.3, remove python 3.11.2 for stack(s) cflinuxfs4, cflinuxfs3
  * Add setuptools 67.6.1, remove setuptools 67.4.0 for stack(s) cflinuxfs4, cflinuxfs3
  * Add pipenv 2023.3.20, remove pipenv 2023.2.18 for stack(s) cflinuxfs4, cflinuxfs3
  * Fix problem with AppDynamics hook (now it supports user-provided services)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | libffi | 3.2.1 | cflinuxfs3, cflinuxfs4 |
  | libmemcache | 1.0.18 | cflinuxfs3, cflinuxfs4 |
  | miniconda3-py39 | 4.12.0 | cflinuxfs3, cflinuxfs4 |
  | pip | 23.0.1 | cflinuxfs3, cflinuxfs4 |
  | pipenv | 2023.3.20 | cflinuxfs3 |
  | pipenv | 2023.3.20 | cflinuxfs4 |
  | python | 3.7.16 | cflinuxfs3 |
  | python | 3.7.16 | cflinuxfs4 |
  | python | 3.8.16 | cflinuxfs3 |
  | python | 3.8.16 | cflinuxfs4 |
  | python | 3.9.16 | cflinuxfs3 |
  | python | 3.9.16 | cflinuxfs4 |
  | python | 3.10.11 | cflinuxfs3 |
  | python | 3.10.11 | cflinuxfs4 |
  | python | 3.11.3 | cflinuxfs3 |
  | python | 3.11.3 | cflinuxfs4 |
  | setuptools | 67.6.1 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | python | 3.10.x |
  * Uncached buildpack SHA256: e91ab229b603b52270e358892c6ed10af8d11b274b654bb1a00efb935df10cb5
  * Uncached buildpack SHA256: 1944d47147fd4e8241432abab5692901baa2515cd979e6b1ccc8afb84cfd797a
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>r-offline-buildpack</td><td>1.2.1</td>
      <td>
        <details>
          <summary>1.2.1</summary>
          <pre style="max-width: 30em">
  * Update libbuildpack
  Packaged binaries:
  | name | version | cf_stacks | modules |
  |-|-|-|-|
  | r | 3.6.2 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 3.6.3 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.1 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.1 | cflinuxfs4 | forecast, plumber, rserve, shiny |
  | r | 4.2.2 | cflinuxfs3 | forecast, plumber, rserve, shiny |
  | r | 4.2.2 | cflinuxfs4 | forecast, plumber, rserve, shiny |
  * Uncached buildpack SHA256: c1bec774040056bd8cdd8a682d77cd532ba2552d8db02b699aef03a3e287163b
  * Uncached buildpack SHA256: a64a0ebd1b4ef9833535c824a25176c86ac62b6e4b6ca8d515d289b91f56e436
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.266.0</td>
      <td>
        <details>
          <summary>v0.266.0</summary>
          <pre style="max-width: 30em">
  ## Change
  - 🐛Fixes a bug that may cause routing failures to apps. Thanks @maxmoehl and @domdom82!!
  - Many go dependency updates across all routing packages. Thanks @winkingturtle-vmw!!
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.265.1...v0.266.0
  ## Resources
  - [Download release v0.266.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.266.0).
          </pre>
        </details>
        <details>
          <summary>v0.265.1</summary>
          <pre style="max-width: 30em">
  :warning::warning::warning:
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - Bump healthchecker
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.265.0...v0.265.1
  ## Resources
  - [Download release v0.265.1 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.265.1).
          </pre>
        </details>
        <details>
          <summary>v0.265.0</summary>
          <pre style="max-width: 30em">
  :warning::warning::warning:
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - Bump to Go 1.20.4
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.264.0...v0.265.0
  ## Resources
  - [Download release v0.265.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.265.0).
          </pre>
        </details>
        <details>
          <summary>v0.264.0</summary>
          <pre style="max-width: 30em">
  :warning::warning::warning:
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - Addresses the issue in routing-release 0.263.0 where `bosh export-releases` would fail to compile the `acceptance-tests` package.
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.263.0...v0.264.0
  ## Resources
  - [Download release v0.264.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.264.0).
          </pre>
        </details>
        <details>
          <summary>v0.263.0</summary>
          <pre style="max-width: 30em">
  ⚠️⚠️⚠️
  **This version does not compile, it will be fixed with the next release**
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - 🐛Fixed a bug present since v0.262.0 that caused CATs to intermittently fail on apps using `nc` as their server.
  - 🐛Bumped haproxy to 2.7.6 in cf-tcp-router, to resolve a bug preventing haproxy from properly transferring open connections to the new haproxy process when a reload occurred - [haproxy/#1883](https://github.com/haproxy/haproxy/issues/1883)
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.262.0...v0.263.0
  ## Resources
  - [Download release v0.263.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.263.0).
          </pre>
        </details>
        <details>
          <summary>v0.262.0</summary>
          <pre style="max-width: 30em">
  ⚠️⚠️⚠️
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - 🐛Fixes the of golang has a known issue that causes backend request failures which previously returned 496, 499, 503, 525, or 526 to instead return a 502. Additionally stale routes may not have been pruned properly. Thanks @domdom82!!
  - 🚗Gorouter now retries requests which fail prior to any HTTP content being sent (since no backend received the HTTP content, they're by definition retriable). Thanks for the [PR](https://github.com/cloudfoundry/gorouter/pull/337). Thanks @maxmoehl and @domdom82!!
  ## ✨  Built with go 1.20.2
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.261.0...v0.262.0
  ## Resources
  - [Download release v0.262.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.262.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.10.1</td>
      <td>
        <details>
          <summary>1.10.1</summary>
          <pre style="max-width: 30em">
  * Add bundler 2.4.11, remove bundler 2.4.10 for stack(s) cflinuxfs4, cflinuxfs3 (#784)
  * Add rubygems 3.4.11, remove rubygems 3.4.10 for stack(s) cflinuxfs4, cflinuxfs3 (#783)
  * Add ruby 3.1.4, remove ruby 3.1.2 for stack(s) cflinuxfs4, cflinuxfs3 (#782)
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | bundler | 2.4.11 | cflinuxfs3, cflinuxfs4 |
  | jruby | 9.3.10.0 | cflinuxfs3 |
  | jruby | 9.3.10.0 | cflinuxfs4 |
  | jruby | 9.4.2.0 | cflinuxfs3 |
  | jruby | 9.4.2.0 | cflinuxfs4 |
  | node | 18.15.0 | cflinuxfs3 |
  | node | 18.15.0 | cflinuxfs4 |
  | openjdk1.8-latest | 1.8.0 | cflinuxfs3, cflinuxfs4 |
  | ruby | 3.0.5 | cflinuxfs3 |
  | ruby | 3.0.6 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs3 |
  | ruby | 3.1.3 | cflinuxfs4 |
  | ruby | 3.1.4 | cflinuxfs3 |
  | ruby | 3.1.4 | cflinuxfs4 |
  | ruby | 3.2.1 | cflinuxfs3 |
  | ruby | 3.2.1 | cflinuxfs4 |
  | ruby | 3.2.2 | cflinuxfs3 |
  | ruby | 3.2.2 | cflinuxfs4 |
  | rubygems | 3.4.11 | cflinuxfs3, cflinuxfs4 |
  | yarn | 1.22.19 | cflinuxfs3, cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | ruby | 3.1.x |
  * Uncached buildpack SHA256: 1f8daa213515d166ac91f41a29504af037d0883a4420224f15cfa5041ff8b802
  * Uncached buildpack SHA256: 6dbafc839d80fcf165bd02c4a01bc3f98e02b7447007cb43d0f1e1a2c037d9cf
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>web-servers-cnb-buildpack</td><td>0.0.4</td><td></td></tr>
    <tr><td>silk</td><td>3.23.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.14</td>
      <td>
        <details>
          <summary>v3.1.14</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`6b6727c`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`9923294`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.13</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`62b84b6`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`124f398`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.12</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3 (#120, #128, #129)
  * Fix potential cred leak (#119)
  ## Dependencies
  * **smbbroker:** Updated to v`093c496`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`b7faa12`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.11</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **smbbroker:** Updated to v`c5b6f5e`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`73a24c2`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.6.2</td>
      <td>
        <details>
          <summary>1.6.2</summary>
          <pre style="max-width: 30em">
  * Add nginx 1.23.4, remove nginx 1.23.3
  for stack(s) cflinuxfs3, cflinuxfs4
  (https://www.pivotaltracker.com/story/show/184817130)
  * Update libbuildpack
  * Bump github.com/onsi/gomega from 1.27.5 to 1.27.6
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | nginx | 1.22.1 | cflinuxfs3 |
  | nginx | 1.22.1 | cflinuxfs4 |
  | nginx | 1.23.4 | cflinuxfs3 |
  | nginx | 1.23.4 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | nginx | 1.23.x |
  * Uncached buildpack SHA256: fa7d637b9da26d2350088bb1a19eb1915d3e0e0082163d31a03349855ae0d944
  * Uncached buildpack SHA256: 029e0f1cd04413190c8652296169592e340bce2113b417df80d75b60560af098
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>statsd-injector</td><td>1.11.30</td>
      <td>
        <details>
          <summary>v1.11.30</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.29...v1.11.30
          </pre>
        </details>
        <details>
          <summary>v1.11.29</summary>
          <pre style="max-width: 30em">
  * Upgrade to go1.20.2
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/statsd-injector-release/compare/v1.11.28...v1.11.29
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.1.4</td>
      <td>
        <details>
          <summary>v12.1.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update golang to 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.1.3...v12.1.4
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>system-metrics-scraper</td><td>3.3.7</td>
      <td>
        <details>
          <summary>v3.3.7</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/system-metrics-scraper-release/compare/v3.3.6...v3.3.7
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>uaa</td><td>76.11.0</td>
      <td>
        <details>
          <summary>v76.11.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Features
  * Bump to [UAA v76.11.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.11.0)
  ### Dependency bumps
  * Bump i18n from 1.12.0 to 1.13.0 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/571
  * Bump nokogiri from 1.13.10 to 1.14.3 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/565
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.361 to 0.0.362 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/577
  * Bump mini_portile2 from 2.8.1 to 2.8.2 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/576
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v76.10.0...v76.11.0
          </pre>
        </details>
        <details>
          <summary>v76.10.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Features
  * Bump to [UAA v76.10.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.10.0)
  * Add 2 new options signingAlg and signingCert to JWT token policy.
  ### Dependency bumps
  * Upgrade Newrelic to version 8.1.0
  * Upgrade Tomcat to version 9.0.74
  * Upgrade Bellsoft JDK to version 11.0.19+7
  * Bump github.com/cloudfoundry/bosh-utils from 0.0.360 to 0.0.361 in /src/acceptance_tests by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/564
  * Bump rspec-core from 3.12.1 to 3.12.2 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/567
  * Bump rspec-expectations from 3.12.2 to 3.12.3 by @dependabot in https://github.com/cloudfoundry/uaa-release/pull/568
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v76.9.0...v76.10.0
          </pre>
        </details>
        <details>
          <summary>v76.9.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  ### Features
  * Bump to [UAA v76.9.0](https://github.com/cloudfoundry/uaa/releases/tag/v76.9.0)
  * add support for TLSv1.3 by @adam-jian-zhang in https://github.com/cloudfoundry/uaa-release/pull/539
  ### Dependency bumps
  * Various dependency bumps
  ## New Contributors
  * @adam-jian-zhang made their first contribution in https://github.com/cloudfoundry/uaa-release/pull/539
  **Full Changelog**: https://github.com/cloudfoundry/uaa-release/compare/v76.8.0...v76.9.0
          </pre>
        </details>
      </td>
    </tr>
  </tbody>
</table>



### <a id='4.0.0'></a> 4.0.0+LTS-T

**Release Date:** 04/18/2023

* **[Security Fix]** Bump Apps Manager to address [CVE-2022-24999](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-24999), [CVE-2022-25881](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-25881), and [CVE-2023-23936](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-23936)
* **[Security Fix]** Fix BBR scripts and bump spring-boot to address [CVE-2023-20860](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-20860) and [CVE-2023-20861](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-20861)
* **[Feature]** Operators can choose if cflinuxfs4 is the default or the only stack option for apps.
* **[Feature]** Operators can allow app developers to use beta Web Servers Buildpack based on Cloud-Native Web Servers Buildpack.
* **[Feature]** Supports TAS login through external OIDC providers.
* **[Feature]** Add TAS Portal - a backstage instance with TAS resources, App Accelerator, and other plug-ins.
* **[Feature]** Update metric tags in Diego when an application is renamed.
* **[Feature Improvement]** Increase SSO service redirect URI length limitation.
* **[Feature Improvement]** Cloud Maximum staged droplet size can now be set up to a value of 5 GB. For more information, see [Configure App Developer Controls](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/configure-pas.html#appdevctrl-config).
* **[Breaking Change]** Component logs always use human-readable RFC3339 timestamp format
* **[Breaking Change]** Max request header size now defaults to 48 KB
* **[Breaking Change]** Remove Ruby and Python from the `cflinuxfs4` stack.
* **[Breaking Change]** Remove deprecated global log rate limit
* Bump backup-and-restore-sdk to version `1.18.61`
* Bump bpm to version `1.1.21`
* Bump cf-autoscaling to version `249.1.6`
* Bump credhub to version `2.12.21`
* Bump garden-runc to version `1.25.0`
* Bump log-cache to version `3.0.0`
* Bump loggregator to version `107.0.2`
* Bump loggregator-agent to version `7.1.2`
* Bump metrics-discovery to version `3.2.7`
* Bump mysql-monitoring to version `9.23.0`
* Bump nfs-volume to version `7.1.9`
* Bump push-tas-portal-release to version `0.1.5`
* Bump push-offline-docs-release to version `4.0.24`
* Bump push-usage-service-release to version `674.0.36`
* Bump pxc to version `1.0.8`
* Bump routing to version `0.261.0`
* Bump web-servers-cnb-buildpack to version `0.0.4`
* Bump smb-volume to version `3.1.10`
* Bump staticfile-offline-buildpack to version `1.6.1`
* Bump statsd-injector to version `1.11.28`
* Bump uaa to version `76.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.95</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.61</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.1.3</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.21</td><td></td></tr>
    <tr><td>capi</td><td>1.148.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.1.6</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.44.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.23.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.361.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>1.5.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.21</td><td></td></tr>
    <tr><td>diego</td><td>2.73.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.9</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.25.0</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.10.6</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.56</td><td></td></tr>
    <tr><td>log-cache</td><td>3.0.0</td><td></td></tr>
    <tr><td>loggregator</td><td>107.0.2</td>
      <td>
        <details>
          <summary>v107.0.2</summary>
          <pre style="max-width: 30em">
  * update golang to 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.1...v107.0.2
          </pre>
        </details>
        <details>
          <summary>v107.0.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/loggregator-release/pull/524
  * update dependencies
  ## New Contributors
  * @stefanlay made their first contribution in https://github.com/cloudfoundry/loggregator-release/pull/519
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v107.0.0...v107.0.1
          </pre>
        </details>
        <details>
          <summary>v107.0.0</summary>
          <pre style="max-width: 30em">
  Remove RecentLogsHandler from Traffic Controller. Traffic Controller has been providing recent logs as a fallback for environments/tools which had not moved to retrieving recent logs directly from Log Cache. With this change older versions of the cf CLI v6 will no longer be able to retrieve recent logs from Cloud Foundry.
  We are making this change as Log Cache has been the correct way of retrieving these logs for many years and the legacy support was causing issues with the splitting out of Log Cache from Dopplers.
  ## What's Changed
  * Remove RecentLogsHandler by @rroberts2222 in https://github.com/cloudfoundry/loggregator-release/pull/486
  * Bump golang.org/x/net from 0.3.0 to 0.4.0 in /src by @dependabot in https://github.com/cloudfoundry/loggregator-release/pull/487
  * Delete unused manifests & scripts, clean up README by @rroberts2222 in https://github.com/cloudfoundry/loggregator-release/pull/488
  * fix go module path by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-release/pull/490
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-release/compare/v106.7.5...v107.0.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>7.1.2</td>
      <td>
        <details>
          <summary>v7.1.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.1...v7.1.2
          </pre>
        </details>
        <details>
          <summary>v7.1.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Add error messages for better traceability of filtered out syslog drain bindings by @chombium in https://github.com/cloudfoundry/loggregator-agent-release/pull/216
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/loggregator-agent-release/pull/223
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.0...v7.1.1
          </pre>
        </details>
        <details>
          <summary>v7.1.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Add app-id and drain url in the error message by @chombium in https://github.com/cloudfoundry/loggregator-agent-release/pull/212
  ## New Contributors
  * @chombium made their first contribution in https://github.com/cloudfoundry/loggregator-agent-release/pull/212
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.0.2...v7.1.0
          </pre>
        </details>
        <details>
          <summary>v7.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Sanitize ProcID in syslog messages so messages with utf-8 in the source_type are not dropped by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/200
  * Update dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.0.1...v7.0.2
          </pre>
        </details>
        <details>
          <summary>v7.0.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fix: anonymize URL in syslog drain logs and metrics by @ctlong in https://github.com/cloudfoundry/loggregator-agent-release/pull/186
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.0.0...v7.0.1
          </pre>
        </details>
        <details>
          <summary>v7.0.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Allow application developers to set client certs and keys, as well as server cas, to be used for authentication in syslog-tls drains by @fhambrec, @dark5un in https://github.com/cloudfoundry/loggregator-agent-release/pull/177 / https://github.com/cloudfoundry/loggregator-agent-release/pull/119. Breaking change: requires new version of capi
  * Add drain scope and url tags to syslog egress metrics by @skaur20 in https://github.com/cloudfoundry/loggregator-agent-release/pull/123, Breaking change: might effect metrics dashboards and calculations.
  ## New Contributors
  * @skaur20 made their first contribution in https://github.com/cloudfoundry/loggregator-agent-release/pull/123
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.6...v7.0.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.13</td><td></td></tr>
    <tr><td>metric-registrar</td><td>2.1.3</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.23.0</td><td></td></tr>
    <tr><td>nats</td><td>56.1.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.9</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.2.1</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.8.8</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.6.3</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>677.0.18</td><td></td></tr>
    <tr><td>push-tas-portal-release</td><td>0.1.5</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>4.0.24</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.36</td><td></td></tr>
    <tr><td>pxc</td><td>1.0.8</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.8.8</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.2.0</td><td></td></tr>
    <tr><td>routing</td><td>0.261.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.9.4</td><td></td></tr>
    <tr><td>web-servers-cnb-buildpack</td><td>0.0.4</td><td></td></tr>
    <tr><td>silk</td><td>3.23.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.10</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.6.1</td>
      <td>
        <details>
          <summary>1.6.1</summary>
          <pre style="max-width: 30em">
  * Don't use ERB to template nginx.conf
  * Bump github.com/onsi/gomega from 1.27.2 to 1.27.4
  * Bump github.com/onsi/gomega from 1.27.1 to 1.27.2
  Packaged binaries:
  | name | version | cf_stacks |
  |-|-|-|
  | nginx | 1.22.1 | cflinuxfs3 |
  | nginx | 1.22.1 | cflinuxfs4 |
  | nginx | 1.23.3 | cflinuxfs3 |
  | nginx | 1.23.3 | cflinuxfs4 |
  Default binary versions:
  | name | version |
  |-|-|
  | nginx | 1.23.x |
  * Uncached buildpack SHA256: e34771e5c23a0e83e3d151137fe60b8ec8cf51ea07eeb50e06532d6b52b272ba
  * Uncached buildpack SHA256: a5bd0559590511a00300f11f5d96fb22704211735708ed83d2024afe141ead25
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>statsd-injector</td><td>1.11.28</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.3</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.3.6</td><td></td></tr>
    <tr><td>uaa</td><td>76.8.0</td><td></td></tr>
  </tbody>
</table>

## <a id='new-features'></a> New features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### App syslog drains now support Mutual TLS and internal Certificate Authorities

When you upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> it opens up more security options
for application syslog drains. Syslog drains are now compatible with syslog servers.

Syslog drains help:

* Enforce client identity
* Have their own internal or domain-specific certificate authority

You can configure your syslog drains to use Mutual TLS by specifying a client certificate and a
private key. You can also configure your syslog drains to communicate with syslog servers by using
internal or domain specific Certificate Authorities (CA).

For example:

<pre class="terminal">
$ cf create-user-provided-service DRAIN-NAME -l SYSLOG-URL -p {"cert":"-----BEGIN CERTIFICATE-----\nMIIH...-----END CERTIFICATE-----","key":"-----BEGIN PRIVATE KEY-----\nMIIE...-----END PRIVATE KEY-----", "ca":"-----BEGIN CERTIFICATE-----\nMIIH...-----END CERTIFICATE-----"}
</pre>

### Dynamic App renaming for logs and metrics

If you rename your apps, you can see emitted logs and metrics that are tagged with the new
application name without starting the application again. This is useful in blue or green
deployments.

<p class='note'><strong>Note:</strong> This feature does not extend to the updated <code>VCAP_APPLICATION</code> environment variable that is provided to containers by the platform. If you need this environment variable to contain the new name of the application, you must still restart those applications after you rename them.</p>

Depending on your configuration, app name caching can be used  outside of <%=
vars.app_runtime_abbr %> by other products such as Splunk Nozzle.

For applications hosted on Diego Cells that are provided by the <%= vars.segment_runtime_full %>
<%= vars.windows_runtime_abbr %> tiles, you must update those tiles to <%= vars.v_major_version
%> to get the full benefit of this new feature. After you upgrade <%= vars.app_runtime_abbr %>, the access log entries are generated by the <%= vars.app_runtime_abbr %> and <%=
vars.segment_runtime_full %> Gorouters. They reflect the new application names even if you have not upgraded the <%= vars.segment_runtime_full %> or <%= vars.windows_runtime_abbr %> tiles.

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

### Component logs always use human-readable RFC3339 timestamp format

Non-standardized and non-human readable timestamps in logs make debugging <%= vars.app_runtime_abbr
%> more difficult. Since <%= vars.app_runtime_abbr %> 2.10.0, there was an option in the **System
Logging** tab named **Optionally Use Human-Readable Timestamps for Component Logs**. In <%=
vars.app_runtime_abbr %> 4.0, this radio button is removed and all components use the human-readable
RFC3339 format for the timestamps in their logs.

### Max request header size now defaults to 48 KB

When you Upgrade to <%= vars.app_runtime_abbr %> 4.0 it sets the **Max request header size in KB** to 48 KB,
unless the existing configuration was already lower. Lowering this value establishes a better
security for <%= vars.app_runtime_abbr %> and applications. You can still configure this setting to
a value up to 1024 KB in the **Networking** tab. For any requests with headers larger than this value, returns a 431 status code.

To update a single Gorouter configuration, add the following line to the file:

<pre class="terminal">
/var/vcap/jobs/gorouter/config/gorouter.yml
max_header_kb: 48
</pre>

To monitor Gorouter access logs in the `/var/vcap/sys/log/gorouter/access.log` file, verify that
there are no entries with the HTTP/1.1 431 status code.

### Recent logs endpoint is removed from Traffic Controller

New versions of Traffic Controller do not have the recent logs endpoint. Versions of
the cf CLI before v6.52.0 cannot retrieve logs when they are called using the `cf logs --recent` command.

### Add validation for Certificate Authorities that are trusted by the Gorouter property

<%= vars.app_runtime_abbr %> 4.0 contains validations for the Certificate Authorities (CA) that are
trusted by the Gorouter property in the **Networking** tab. Any entries that are not valid CA
certificates can cause an error in Ops Manager. You must remove or replace invalid entries.

### Option to enable (deprecated) Global Log Rate Limit is removed

This feature was in beta until <%= vars.app_runtime_abbr %> 3.0, when it was deprecated. For
details, see [<%= vars.app_runtime_abbr %> 3.0 Release
Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#global-log-rate-limit-is-deprecated-24).

For more information on app log rate limits, see [App Log Rate
Feature](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#app-log-rate-limits-for-orgs-spaces-and-individual-apps-14).
The option to activate this feature has now been removed, and you must apply app log rate limits
instead.
<p class="note"><strong>Note:</strong> If you were using this feature to limit your overall app log throughput, then you might
see an increase in log load after you upgrade. </p>
To mitigate the increased log load problem, you can either:

* Scale up your logging system before upgrading to TAS v4.0 to compensate for the increased log
  load.

  Or

* Upgrade to <%= vars.app_runtime_abbr %> 3.0 first to set app-level log rate limits while retaining
  the global log rate limit. For more details, see [App Log Rate
  Limits](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/app-log-rate-limits.html).

### Ruby and Python have been removed from the cflinuxfs4 stack

The cflinuxfs4 stack versions prior to v1.0.0 contain both Ruby and Python interpreters. These exist to enable the execution of the PHP and Java buildpacks that are written in those languages.

To improve the security posture for all applications based on the cflinuxfs4 stack, the Ruby and Python interpreters have been removed from the stack. New versions of the PHP and Java buildpacks have been introduced to run on top of the stack if it no longer includes the required interpreter.

These include:

* cfslinuxfs4 - v1.2.0
* Java buildpack - v4.56

Any buildpacks outside of those maintained by VMware and installed as part of TAS for VMs that might be written in either Ruby or Python can now break unless those other buildpacks take steps to bring their own runtimes.

This breaking change applies to Tanzu Application Service and Small Footprint TAS.

### App developers can use **beta** Web Servers Buildpack based on CNBs

TAS for VMs 4.0 introduces a new slate of buildpacks, based on the
Cloud Native Buildpack project, that are installed with TAS for VMs and managed by the Tanzu
Application Service tile. These buildpacks are still in beta and have some limitations.

For more information on the limitations, see [Limitations](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/cnbs-overview.html#cnb-limitations).

The first buildpack is the Web Servers CNB, which allows app developers to push nginx,
httpd, and front-end JavaScript apps.

For more information about how to use the Web Servers Buildpack, see the
[documentation page](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/web-servers-index.html).

## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='stale-route-pruning'></a> Stale routes might not be pruned properly in Gorouter

This version of TAS for VMs contains a known issue with Gorouter error handling for backend app requests. Failures that previously returned HTTP Status Codes 496, 499, 503, 525, or 526 might  instead return 502. Additionally, stale routes might fail to be pruned properly, which could result in apps unexpectedly returning HTTP Status Code 502.

For more information, see this [Knowledge Base Article](https://community.pivotal.io/s/article/TAS-and-Isolation-Segment-with-routing-release-0-259-0-is?language=en_US)

### <a id='stemcell-certification'></a> Stemcell compliance certification

The Ubuntu 22.04 long-term support (LTS) stemcell, Jammy Jellyfish, is not currently CIS or
STIG-certified.

### <a id='uaa-sso-copy'></a> UAA Single Sign-On Copy button is broken

In the User Account and Authentication (UAA) user interface (UI), the button that copies Single
Sign-On (SSO) codes does not work.

To work around this issue, you must manually copy and paste the displayed code.

### <a id='dynamic-asgs-v2-api'></a> Dynamic ASG Updates require the use of Cloud Foundry v3 API for external integrations

Any external integrations with the CF API to create, update, and delete Application Security Group
(ASG) definitions or bindings require the use of the Cloud Foundry v3 API. Any ASG updates made with
the v2 API are not synchronized until an ASG update using the v3 API is made.

Recommended course of action:

1. Verify that the integration uses the latest CF CLI binary, which already uses the v3 API
   endpoints.
2. Update any HTTP based integrations to use the [v3 API endpoints for security
   groups](http://v3-apidocs.cloudfoundry.org/version/3.128.0/index.html#security-groups).

### <a id='dynamic-renaming-silk-log-line'></a> Dynamic App renaming does not take effect For Silk Security Group log entries

Silk emits log entries to application log streams when ASGs are dynamically changed. If you use Silk
for container networking and have activated Dynamic ASGs, you might find the log entries are tagged
with old application names.

To mitigate this issue, you can start the applications again after they are renamed.

### <a id='check-nats-server-version'></a> Check your NATS server version

In <%= vars.app_runtime_abbr %> 2.11.26, VMware introduced a `nats` release that replaced the
underlying package from NATS v1.0 with NATS v2.0. <%= vars.app_runtime_abbr %>. Version 4.0 is the first LTS
version that includes NATS v2.0. The migration happens invisibly. However, if the migration is not
successful, your NATS servers might still be running NATS v1.0.

As described in the [TAS Support Lifecycle
Policy](https://docs.pivotal.io/application-service/3-0/release-notes/runtime-rn.html#support-policy),
VMware keeps the NATS v1.0 as a fallback, but removes it in a future version.

Follow the
instructions in this [Knowledge Base
article](https://community.pivotal.io/s/article/How-to-confirm-your-nats-servers-are-running-NATs-v2?language=en_US)
to confirm that your `nats` instances have migrated successfully, and learn how to troubleshoot if
they have not.

### <a id='tas-portal-app-domain'></a> TAS Portal Uses Apps Domain

TAS Portal erroneously uses the default app domain instead of the operator-configured system domain.
In future patch versions of TAS, TAS Portal is available at `tas-portal.SYSTEM-DOMAIN`.

### <a id='tas-portal-http'></a> TAS Portal Application Accelerators Use HTTP

When Application Accelerators are activated for TAS Portal,
TAS Portal communicates with the Application Accelerator backend server using HTTP on port 80.
If TAS for VMs or its associated load balancers are not configured to allow HTTP ingress on port 80,
then the TAS Portal Application Accelerators page is blank.

A future patch version of TAS for VMs changes this traffic to use HTTPS on port 443.
To work around this issue, configure TAS for VMs to accept HTTP traffic on port 80.
