---
title: TAS for VMs v5.0 Release notes
owner: Release Engineering
---

These are the release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='6.0.0'></a> 6.0.0

**Release Date:** 4/1/2024




## <a id='new-features'></a> New features in <%= vars.app_runtime_full %> <%= vars.v_major_version %>

These are the new features for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.


## <a id='breaking-changes'></a> Breaking changes

These are the breaking changes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.



## <a id='known-issues'></a> Known issues

Here are the known issues for <%= vars.app_runtime_full %> <%= vars.v_major_version %>.


