---
title: TAS for VMs v2.14 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='2.13.1'></a> 2.13.1

**Release Date:** 03/31/2022

* **[Security Fix]** UAA - Bump UAA to v74.5.36 to fix CVE-2022-22965
* Bump cf-networking to version `3.3.0`
* Bump silk to version `3.3.0`
* Bump uaa to version `74.5.36`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.34</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.42</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>capi</td><td>1.127.0</td></tr>
    <tr><td>cf-autoscaling</td><td>248</td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>credhub</td><td>2.9.9</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.38</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.38</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48</td></tr>
    <tr><td>log-cache</td><td>2.11.5</td></tr>
    <tr><td>loggregator</td><td>106.6.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>43</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.34</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.66</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.55</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.33</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td></tr>
    <tr><td>pxc</td><td>0.41.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.49</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.25</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.50</td></tr>
    <tr><td>silk</td><td>3.3.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.28</td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td></tr>
    <tr><td>uaa</td><td>74.5.36</td></tr>
  </tbody>
</table>



<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:
