---
title: TAS for VMs v3.0 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_first %> <%= vars.v_major_version %>.

<%= vars.app_runtime_abbr %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='3-0-0'></a> 3.0.0

**Release Date:** 09/20/2022

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.8</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.52</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td></tr>
    <tr><td>bpm</td><td>1.1.19</td></tr>
    <tr><td>capi</td><td>1.135.0</td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.17</td></tr>
    <tr><td>cf-cli</td><td>1.39.0</td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td></tr>
    <tr><td>credhub</td><td>2.12.8</td></tr>
    <tr><td>diego</td><td>2.66.3</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.4.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.0</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.49</td></tr>
    <tr><td>haproxy</td><td>11.13.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.50</td></tr>
    <tr><td>log-cache</td><td>2.12.0</td></tr>
    <tr><td>loggregator</td><td>106.6.9</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td></tr>
    <tr><td>mapfs</td><td>1.2.11</td></tr>
    <tr><td>metric-registrar</td><td>1.2.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.1.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.18.0</td></tr>
    <tr><td>nats</td><td>50</td></tr>
    <tr><td>nfs-volume</td><td>7.1.6</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.42</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.73</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.65</td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.6</td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td></tr>
    <tr><td>pxc</td><td>1.0.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.56</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.32</td></tr>
    <tr><td>routing</td><td>0.239.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.57</td></tr>
    <tr><td>silk</td><td>3.12.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.33</td></tr>
    <tr><td>statsd-injector</td><td>1.11.22</td></tr>
    <tr><td>syslog</td><td>12.0.4</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.3.0</td></tr>
    <tr><td>uaa</td><td>75.23.0</td></tr>
  </tbody>
</table>

### <a id='2-14-0'></a> 2.14.0

**Release Date:** 08/10/2022

* **[Feature Improvement]** Application Security Group poller makes fewer requests to Cloud Controller.
* Bump backup-and-restore-sdk to version `1.18.47`
* Bump capi to version `1.134.0`
* Bump cf-autoscaling to version `249.0.17`
* Bump cf-networking to version `3.11.0`
* Bump cflinuxfs3 to version `0.312.0`
* Bump diego to version `2.65.0`
* Bump dotnet-core-offline-buildpack to version `2.3.44`
* Bump go-offline-buildpack to version `1.9.48`
* Bump haproxy to version `11.12.0`
* Bump java-offline-buildpack to version `4.50`
* Bump log-cache to version `2.11.12`
* Bump loggregator to version `106.6.8`
* Bump loggregator-agent to version `6.4.3`
* Bump metric-registrar to version `1.2.9`
* Bump metrics-discovery to version `3.1.1`
* Bump mysql-monitoring to version `9.16.0`
* Bump nats to version `49`
* Bump nginx-offline-buildpack to version `1.1.41`
* Bump nodejs-offline-buildpack to version `1.7.72`
* Bump php-offline-buildpack to version `4.4.64`
* Bump push-apps-manager-release to version `676.0.5`
* Bump pxc to version `0.44.0`
* Bump python-offline-buildpack to version `1.7.56`
* Bump r-offline-buildpack to version `1.1.31`
* Bump routing to version `0.237.0`
* Bump ruby-offline-buildpack to version `1.8.56`
* Bump silk to version `3.11.0`
* Bump staticfile-offline-buildpack to version `1.5.32`
* Bump statsd-injector to version `1.11.20`
* Bump syslog to version `12.0.2`
* Bump system-metrics-scraper to version `3.2.7`
* Bump uaa to version `74.5.46`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.261</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.47</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>capi</td><td>1.134.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.17</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.11.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.312.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.6</td><td></td></tr>
    <tr><td>diego</td><td>2.65.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.44</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.48</td><td></td></tr>
    <tr><td>haproxy</td><td>11.12.0</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.50</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.12</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.8</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.3</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.7</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.9</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.1.1</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.16.0</td><td></td></tr>
    <tr><td>nats</td><td>49</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.3</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.41</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.72</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.64</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.5</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>0.44.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.56</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.31</td><td></td></tr>
    <tr><td>routing</td><td>0.237.0</td>
      <td>
        <details>
          <summary>v0.237.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - ⚠️ Bump to golang 1.18 🎉
  **Breaking Changes:** The routing components are now more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. These components have been updated to Go 1.18, and will no longer support TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases.
  Please see this golang 1.18 release notes [section](https://tip.golang.org/doc/go1.18#tls10) for more information about the golang 1.18 change.
  ###
  * Update uaa-go-client; by @joergdw in https://github.com/cloudfoundry/routing-release/pull/277
  * updated spec files to match packages by @ebroberson in https://github.com/cloudfoundry/routing-release/pull/282
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.236.0...v0.237.0
  ## New Contributors
  * @joergdw made their first contribution in https://github.com/cloudfoundry/routing-release/pull/277
  * @ebroberson made their first contribution in https://github.com/cloudfoundry/routing-release/pull/282
  ## ✨  Built with go 1.18.4
          </pre>
        </details>
        <details>
          <summary>v0.236.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter restart script waits for the gorouter to be running before reloading monit
  ## ✨  Built with go 1.17.12
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.235.0...0.236.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.56</td><td></td></tr>
    <tr><td>silk</td><td>3.11.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.2</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.32</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.20</td><td></td></tr>
    <tr><td>syslog</td><td>12.0.2</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.7</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.46</td><td></td></tr>
  </tbody>
</table>

### <a id='2-14-0-alpha-5'></a> 2.14.0-alpha.5

**Release Date:** 07/19/2022

* **[Security Fix]** Update Content-Security-Policy
* **[Feature]** Enable telemetry for iptables rules on Diego cells
* **[Feature]** Remove the obsolete windows2012R2 & windows2016 stacks and their associated buildpacks from TAS
* **[Feature]** Removed deprecated BOSH System Metrics Forwarder in favor of metrics provided by System Metrics Agent
* **[Feature]** User has the ability to manage step up scaling app instances using Apps Manager
* **[Feature Improvement]** Deprecate Spring Cloud Connectors & Spring Auto Configuration support in Java Buildpack.
* **[Bug Fix]** Fix dummy routes showing in the User Interface
* **[Bug Fix]** Fix role assignment when users are created through the CLI
* **[Bug Fix]** Fix share domain with organization screen from erroring out
* **[Bug Fix]** Resolves an issue with HAProxy log rotation creating null bytes and not freeing disk space after rotation
* **[Bug Fix]** Use Content-Disposition header as heapdump filename
* **[Feature]** Allow operators to enable CPU burst optimization. When this feature is enabled, apps that stay within their CPU entitlements (on average) are prioritized when bursting.
* Bump backup-and-restore-sdk to version `1.18.46`
* Bump capi to version `1.131.0`
* Bump cf-autoscaling to version `249.0.13`
* Bump cf-networking to version `3.9.0`
* Bump cflinuxfs3 to version `0.306.0`
* Bump credhub to version `2.12.6`
* Bump diego to version `2.62.0`
* Bump dotnet-core-offline-buildpack to version `2.3.43`
* Bump garden-runc to version `1.20.8`
* Bump go-offline-buildpack to version `1.9.47`
* Bump haproxy to version `11.11.0`
* Bump nats to version `46`
* Bump nginx-offline-buildpack to version `1.1.39`
* Bump nodejs-offline-buildpack to version `1.7.71`
* Bump php-offline-buildpack to version `4.4.63`
* Bump push-apps-manager-release to version `676.0.3`
* Bump pxc to version `0.43.0`
* Bump python-offline-buildpack to version `1.7.55`
* Bump r-offline-buildpack to version `1.1.30`
* Bump routing to version `0.235.0`
* Bump ruby-offline-buildpack to version `1.8.55`
* Bump silk to version `3.9.0`
* Bump staticfile-offline-buildpack to version `1.5.31`
* Bump syslog to version `12.0.1`
* Bump system-metrics-scraper to version `3.2.6`
* Bump uaa to version `74.5.45`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.252</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.46</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>capi</td><td>1.131.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.13</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.9.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.306.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.6</td>
      <td>
        <details>
          <summary>2.12.6</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies
          </pre>
        </details>
        <details>
          <summary>2.12.5</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies
  ### Bug Fixes
  - Fix for URL path handling on Windows ([cloudfoundry/credhub issue 266](https://github.com/cloudfoundry/credhub/issues/266))
  ### Features
  - CredHub now logs as info instead of error when a credential isn't found
  - Added support for jammy-based stemcells that have openssl 3 ([pivotal/credhub-release issue 65](https://github.com/pivotal/credhub-release/issues/65))
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.43</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.47</td><td></td></tr>
    <tr><td>haproxy</td><td>11.11.0</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.49</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.11</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.7</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>46</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.3</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.39</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.71</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.63</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.3</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>0.43.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.55</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.30</td><td></td></tr>
    <tr><td>routing</td><td>0.235.0</td>
      <td>
        <details>
          <summary>0.235.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter healthchecker retries connection instead of monit (https://github.com/cloudfoundry/routing-release/pull/275)
  ## ✨  Built with go 1.17.11
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.234.0...0.235.0
          </pre>
        </details>
        <details>
          <summary>0.234.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter: the metrics package now uses `lsof` to monitor file descriptors on MacOS @domdom82 https://github.com/cloudfoundry/gorouter/pull/312
  * 🐛 Bumped the `lager` dependency to resolve issues where the timeFormat flag was not honored, resulting in epoch timestamps vs human readable. Thanks @ameowlia!
  * Now tested with the bionic stemcell in CI
  ## ✨  Built with go 1.17.11
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.233.0...0.234.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.55</td><td></td></tr>
    <tr><td>silk</td><td>3.9.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.2</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.31</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.19</td><td></td></tr>
    <tr><td>syslog</td><td>12.0.1</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.6</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.45</td><td></td></tr>
  </tbody>
</table>

### <a id='2-14-0-alpha-4'></a> 2.14.0-alpha.4

**Release Date:** 06/23/2022

* Bump backup-and-restore-sdk to version `1.18.42`
* Bump binary-offline-buildpack to version `1.0.45`
* Bump bosh-system-metrics-forwarder to version `0.0.22`
* Bump bpm to version `1.1.18`
* Bump capi to version `1.129.0`
* Bump cf-autoscaling to version `249.0.7`
* Bump cf-networking to version `3.6.0`
* Bump cflinuxfs3 to version `0.301.0`
* Bump dotnet-core-offline-buildpack to version `2.3.42`
* Bump garden-runc to version `1.20.6`
* Bump go-offline-buildpack to version `1.9.46`
* Bump haproxy to version `11.10.2`
* Bump java-offline-buildpack to version `4.49`
* Bump log-cache to version `2.11.11`
* Bump loggregator to version `106.6.7`
* Bump loggregator-agent to version `6.4.1`
* Bump mapfs to version `1.2.7`
* Bump metric-registrar to version `1.2.6`
* Bump metrics-discovery to version `3.0.13`
* Bump nats to version `44`
* Bump nginx-offline-buildpack to version `1.1.38`
* Bump nodejs-offline-buildpack to version `1.7.70`
* Bump php-offline-buildpack to version `4.4.61`
* Bump push-apps-manager-release to version `676.0.2`
* Bump push-offline-docs-release to version `1.0.94`
* Bump push-usage-service-release to version `674.0.24`
* Bump python-offline-buildpack to version `1.7.54`
* Bump r-offline-buildpack to version `1.1.29`
* Bump routing to version `0.233.0`
* Bump ruby-offline-buildpack to version `1.8.54`
* Bump silk to version `3.6.0`
* Bump smb-volume to version `3.1.2`
* Bump staticfile-offline-buildpack to version `1.5.30`
* Bump statsd-injector to version `1.11.19`
* Bump syslog to version `11.7.10`
* Bump system-metrics-scraper to version `3.2.5`
* Bump uaa to version `74.5.41`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.244</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.42</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.22</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>capi</td><td>1.129.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.7</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.6.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.301.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.4</td><td></td></tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.42</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.46</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.2</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.49</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.11</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.7</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>44</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.3</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.38</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.70</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.61</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.2</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>0.42.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.54</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.29</td><td></td></tr>
    <tr><td>routing</td><td>0.233.0</td>
      <td>
        <details>
          <summary>0.233.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * TCP Router: Add locking to the haproxy_reloader script to avoid haproxy reload/restart race conditions by @geofffranks in https://github.com/cloudfoundry/routing-release/pull/269
  * TCP Router: Bump HAProxy from 1.8.13 to 2.5.4 by @cunnie in https://github.com/cloudfoundry/routing-release/pull/266
  * Gorouter: fix proxy round tripper race condition by @ameowlia and @geofffranks  in https://github.com/cloudfoundry/gorouter/pull/318
  * Routing API: fix timestamp precision issue that caused routes to be pruned unexpectedly by @geofffranks in https://github.com/cloudfoundry/routing-api/pull/24
  *  Routing API: remove `golang.x509ignoreCN` bosh property by @geofffranks and @mariash
  * Routing API: fix bug that caused TCP Router's HAProxy to reload every minute by @jrussett in https://github.com/cloudfoundry/routing-api/pull/26.
  ## Manifest Property Changes
  | Job | Property  | Notes |
  | --- | --- | --- |
  | `routing-api` | `golang.x509ignoreCN` | This property exposed a go debug flag for go version 1.15. Since go 1.16 this go debug flag has had no affect. Removing this bosh property is part of our effort to keep our code base free of cruft. |
  ## ✨  Built with go 1.17.10
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.232.0...0.233.0
          </pre>
        </details>
        <details>
          <summary>0.232.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fixing issue #250: Return a 503 not a 404 when all instances down by @kecirlotfi in https://github.com/cloudfoundry/routing-release/pull/268 and https://github.com/cloudfoundry/gorouter/pull/314
  * Fixing issue https://github.com/cloudfoundry/gorouter/pull/315: Fix route service pruning by @geofffranks
  ## Manifest Property Changes
  | Job | Property | default | notes |
  | --- | --- | --- | --- |
  | `gorouter` | `for_backwards_compatibility_only.empty_pool_response_code_503` | `0s` | This property was added to enable https://github.com/cloudfoundry/routing-release/pull/268 |
  ## New Contributors 🎉
  * @kecirlotfi made their first contribution! Thanks so much!
  ## ✨  Built with go 1.17.9
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.231.0...0.232.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.54</td><td></td></tr>
    <tr><td>silk</td><td>3.6.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.2</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.30</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.19</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.10</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.5</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.41</td><td></td></tr>
  </tbody>
</table>

### <a id='2-14-0-alpha-3'></a> 2.14.0-alpha.3

**Release Date:** 06/09/2022

* **[Security Fix]** Added Content-Security-Policy headers in UAA responses
* **[Bug Fix]** Fix metric registrar secure scraping with isolation segments
* **[Bug Fix]** Resolves [an issue with Dynamic ASGs](https://community.pivotal.io/s/article/Apps-stop-running-after-a-deploy-when-using-dynamic-ASGs-with-icmp-any-rule) and ASG containing 'ICMP any' rules causing apps not to start
* **[Bug Fix]** Sticky sessions no longer break when used with route-services that return HTTP 4xx/5xx responses
* Bump backup-and-restore-sdk to version `1.18.42`
* Bump binary-offline-buildpack to version `1.0.45`
* Bump bosh-system-metrics-forwarder to version `0.0.22`
* Bump bpm to version `1.1.18`
* Bump capi to version `1.129.0`
* Bump cf-autoscaling to version `249.0.7`
* Bump cf-networking to version `3.6.0`
* Bump cflinuxfs3 to version `0.301.0`
* Bump diego to version `2.64.0`
* Bump dotnet-core-offline-buildpack to version `2.3.42`
* Bump garden-runc to version `1.20.6`
* Bump go-offline-buildpack to version `1.9.46`
* Bump haproxy to version `11.10.2`
* Bump java-offline-buildpack to version `4.49`
* Bump log-cache to version `2.11.11`
* Bump loggregator to version `106.6.7`
* Bump loggregator-agent to version `6.4.1`
* Bump mapfs to version `1.2.7`
* Bump metric-registrar to version `1.2.6`
* Bump metrics-discovery to version `3.0.13`
* Bump nats to version `44`
* Bump nginx-offline-buildpack to version `1.1.38`
* Bump nodejs-offline-buildpack to version `1.7.70`
* Bump php-offline-buildpack to version `4.4.61`
* Bump push-apps-manager-release to version `676.0.2`
* Bump push-offline-docs-release to version `1.0.94`
* Bump push-usage-service-release to version `674.0.24`
* Bump python-offline-buildpack to version `1.7.54`
* Bump r-offline-buildpack to version `1.1.29`
* Bump routing to version `0.233.0`
* Bump ruby-offline-buildpack to version `1.8.54`
* Bump silk to version `3.6.0`
* Bump smb-volume to version `3.1.2`
* Bump staticfile-offline-buildpack to version `1.5.30`
* Bump statsd-injector to version `1.11.19`
* Bump syslog to version `11.7.10`
* Bump system-metrics-scraper to version `3.2.5`
* Bump uaa to version `74.5.41`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.244</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.42</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.45</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.22</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>capi</td><td>1.129.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.7</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.6.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.301.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.4</td><td></td></tr>
    <tr><td>diego</td><td>2.64.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.42</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.46</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.2</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.49</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.11</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.7</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>44</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.3</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.38</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.70</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.61</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.2</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.94</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.24</td><td></td></tr>
    <tr><td>pxc</td><td>0.42.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.54</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.29</td><td></td></tr>
    <tr><td>routing</td><td>0.233.0</td>
      <td>
        <details>
          <summary>0.233.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * TCP Router: Add locking to the haproxy_reloader script to avoid haproxy reload/restart race conditions by @geofffranks in https://github.com/cloudfoundry/routing-release/pull/269
  * TCP Router: Bump HAProxy from 1.8.13 to 2.5.4 by @cunnie in https://github.com/cloudfoundry/routing-release/pull/266
  * Gorouter: fix proxy round tripper race condition by @ameowlia and @geofffranks  in https://github.com/cloudfoundry/gorouter/pull/318
  * Routing API: fix timestamp precision issue that caused routes to be pruned unexpectedly by @geofffranks in https://github.com/cloudfoundry/routing-api/pull/24
  *  Routing API: remove `golang.x509ignoreCN` bosh property by @geofffranks and @mariash
  * Routing API: fix bug that caused TCP Router's HAProxy to reload every minute by @jrussett in https://github.com/cloudfoundry/routing-api/pull/26.
  ## Manifest Property Changes
  | Job | Property  | Notes |
  | --- | --- | --- |
  | `routing-api` | `golang.x509ignoreCN` | This property exposed a go debug flag for go version 1.15. Since go 1.16 this go debug flag has had no affect. Removing this bosh property is part of our effort to keep our code base free of cruft. |
  ## ✨  Built with go 1.17.10
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.232.0...0.233.0
          </pre>
        </details>
        <details>
          <summary>0.232.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fixing issue #250: Return a 503 not a 404 when all instances down by @kecirlotfi in https://github.com/cloudfoundry/routing-release/pull/268 and https://github.com/cloudfoundry/gorouter/pull/314
  * Fixing issue https://github.com/cloudfoundry/gorouter/pull/315: Fix route service pruning by @geofffranks
  ## Manifest Property Changes
  | Job | Property | default | notes |
  | --- | --- | --- | --- |
  | `gorouter` | `for_backwards_compatibility_only.empty_pool_response_code_503` | `0s` | This property was added to enable https://github.com/cloudfoundry/routing-release/pull/268 |
  ## New Contributors 🎉
  * @kecirlotfi made their first contribution! Thanks so much!
  ## ✨  Built with go 1.17.9
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.231.0...0.232.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.54</td><td></td></tr>
    <tr><td>silk</td><td>3.6.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.2</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.30</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.19</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.10</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.5</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.41</td><td></td></tr>
  </tbody>
</table>

### <a id='2-14-0-alpha-2'></a> 2.14.0-alpha.2

**Release Date:** 04/25/2022

* **[Feature Improvement]** Add option to configure CC BBR health check timeout
* Bump backup-and-restore-sdk to version `1.18.39`
* Bump binary-offline-buildpack to version `1.0.43`
* Bump cf-autoscaling to version `249.0.2`
* Bump cf-networking to version `3.3.0`
* Bump cflinuxfs3 to version `0.285.0`
* Bump credhub to version `2.12.4`
* Bump diego to version `2.62.0`
* Bump dotnet-core-offline-buildpack to version `2.3.41`
* Bump go-offline-buildpack to version `1.9.42`
* Bump haproxy to version `11.10.1`
* Bump java-offline-buildpack to version `4.48.2`
* Bump log-cache to version `2.11.8`
* Bump loggregator to version `106.6.4`
* Bump loggregator-agent to version `6.3.11`
* Bump metrics-discovery to version `3.0.10`
* Bump nfs-volume to version `7.1.3`
* Bump nginx-offline-buildpack to version `1.1.37`
* Bump nodejs-offline-buildpack to version `1.7.69`
* Bump php-offline-buildpack to version `4.4.59`
* Bump push-offline-docs-release to version `1.0.71`
* Bump pxc to version `0.42.0`
* Bump python-offline-buildpack to version `1.7.53`
* Bump r-offline-buildpack to version `1.1.28`
* Bump ruby-offline-buildpack to version `1.8.53`
* Bump smb-volume to version `3.1.1`
* Bump uaa to version `74.5.37`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.39</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.43</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>capi</td><td>1.128.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249.0.2</td>
      <td>
        <details>
          <summary>v249.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump github.com/onsi/gomega from 1.18.1 to 1.19.0 in /src by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/640
  * bump spring boot for cve CVE-2022-22965 by @Benjamintf1 in https://github.com/pivotal-cf/cf-autoscaling-release/pull/646
  * Bump log4j-to-slf4j from 2.17.1 to 2.17.2 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/619
  * Bump log4j-api from 2.17.1 to 2.17.2 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/618
  * Bump gson from 2.8.6 to 2.9.0 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/611
  * Bump spock-core from 2.0-groovy-3.0 to 2.1-groovy-3.0 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/613
  * Bump objenesis from 3.1 to 3.2 in /src/cf-autoscaling/api by @dependabot in https://github.com/pivotal-cf/cf-autoscaling-release/pull/479
  **Full Changelog**: https://github.com/pivotal-cf/cf-autoscaling-release/compare/v249.0.1...v249.0.2
          </pre>
        </details>
        <details>
          <summary>v249.0.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Pin jackson-databind to 2.13.2.2 to address [CVE-2020-36518](https://nvd.nist.gov/vuln/detail/CVE-2020-36518)
  * Unpin tomcat dependencies in autoscale API in https://github.com/pivotal-cf/cf-autoscaling-release/pull/636
  * Bump autoscale API dependencies in https://github.com/pivotal-cf/cf-autoscaling-release/pull/612, https://github.com/pivotal-cf/cf-autoscaling-release/pull/625, https://github.com/pivotal-cf/cf-autoscaling-release/pull/525, https://github.com/pivotal-cf/cf-autoscaling-release/pull/634
  **Full Changelog**: https://github.com/pivotal-cf/cf-autoscaling-release/compare/v249...v249.0.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.285.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.4</td>
      <td>
        <details>
          <summary>2.12.4</summary>
          <pre>
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.3</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.41</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.42</td><td></td></tr>
    <tr><td>haproxy</td><td>11.10.1</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.2</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.8</td>
      <td>
        <details>
          <summary>v2.11.8</summary>
          <pre style="max-width: 30em">
  ## Release Highlights
  Pin Go back to go1.17.
  [Go 1.18 includes changes to memory management](https://tip.golang.org/doc/go1.18#runtime) and we'd like to get more familiarity with these changes and their impact before bumping.
  ### ✨ Built with golang 1.17.8
          </pre>
        </details>
        <details>
          <summary>v2.11.7</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#58)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator</td><td>106.6.4</td>
      <td>
        <details>
          <summary>v106.6.4</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#430)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>6.3.11</td>
      <td>
        <details>
          <summary>v6.3.11</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#89)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.5</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.10</td>
      <td>
        <details>
          <summary>v3.0.10</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#22)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>43</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.3</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.37</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.69</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.59</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.71</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td><td></td></tr>
    <tr><td>pxc</td><td>0.42.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.53</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.28</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.53</td><td></td></tr>
    <tr><td>silk</td><td>3.1.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.1</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.29</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.37</td><td></td></tr>
  </tbody>
</table>

### <a id='2-14-0-alpha-1'></a> 2.14.0-alpha.1

**Release Date:** 04/04/2022

* **[Feature]** Allows operators to enable Dynamic ASG updates, so that apps can inherit new and updated ASGs without requiring a restart
* **[Feature]** AppsManager - Ability to update destination protocol
* **[Feature Improvement]** AppsManager - CfCli installers now can be downloaded in airgapped envs
* **[Feature Improvement]** Log cache split out into different instance group
* **[Bug Fix]** Assign cloud_controller.read and cloud_controller.write scopes to service brokers created using CF CLI v8
* **[Bug fix]** Remove x509ignoreCN option in Gorouter
* Bump backup-and-restore-sdk to version `1.18.36`
* Bump capi to version `1.128.0`
* Bump cf-autoscaling to version `249`
* Bump cf-networking to version `3.1.0`
* Bump cflinuxfs3 to version `0.279.0`
* Bump credhub to version `2.12.1`
* Bump diego to version `2.61.0`
* Bump dotnet-core-offline-buildpack to version `2.3.40`
* Bump garden-runc to version `1.20.3`
* Bump go-offline-buildpack to version `1.9.41`
* Bump java-offline-buildpack to version `4.48.1`
* Bump log-cache to version `2.11.6`
* Bump loggregator to version `106.6.3`
* Bump loggregator-agent to version `6.3.10`
* Bump metric-registrar to version `1.2.5`
* Bump metrics-discovery to version `3.0.9`
* Bump nginx-offline-buildpack to version `1.1.36`
* Bump nodejs-offline-buildpack to version `1.7.67`
* Bump php-offline-buildpack to version `4.4.57`
* Bump push-offline-docs-release to version `1.0.58`
* Bump python-offline-buildpack to version `1.7.51`
* Bump r-offline-buildpack to version `1.1.27`
* Bump ruby-offline-buildpack to version `1.8.52`
* Bump silk to version `3.1.0`
* Bump staticfile-offline-buildpack to version `1.5.29`
* Bump uaa to version `74.5.35`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.36</td><td></td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.42</td><td></td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.4</td><td></td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.21</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>capi</td><td>1.128.0</td><td></td></tr>
    <tr><td>cf-autoscaling</td><td>249</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.38.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.1.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.279.0</td><td></td></tr>
    <tr><td>credhub</td><td>2.12.1</td>
      <td>
        <details>
          <summary>2.12.1</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
          </pre>
        </details>
        <details>
          <summary>2.12.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Bump various dependencies.
  ### Bug Fixes
  - Fixes an issue where CredHub experiences downtime during certificate rotation process by making CredHub properly load concatenated mTLS CA certificates.
  ### Features
  - CredHub is now compatible with Postgres 13, 14.
          </pre>
        </details>
        <details>
          <summary>2.11.1</summary>
          <pre style="max-width: 30em">
  ### Dependency Bumps
  - Bumps log4j2 to 2.17.1
          </pre>
        </details>
        <details>
          <summary>2.11.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Further addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q) and [its prior incomplete fix](https://github.com/advisories/GHSA-7rjr-3q55-vv33) by bumping to log4j2 2.16.0.
          </pre>
        </details>
        <details>
          <summary>2.10.0</summary>
          <pre style="max-width: 30em">
  ### Security Fixes
  - Addresses [CVE with Log4j library](https://github.com/advisories/GHSA-jfh8-c2jp-5v3q)
  ### Features
  - Adds a minimum duration server-level configuration fields for leaf and CA certificates: `certificates.leaf_minimum_duration_in_days` and `certificates.ca_minimum_duration_in_days`. When these fields are configured, if a request to generate or regenerate a certificate has a duration lower than the minimum, then the minimum duration is used instead. (https://github.com/cloudfoundry/credhub/pull/201)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>diego</td><td>2.61.0</td><td></td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.40</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.41</td><td></td></tr>
    <tr><td>haproxy</td><td>11.9.3</td><td></td></tr>
    <tr><td>java-offline-buildpack</td><td>4.48.1</td><td></td></tr>
    <tr><td>log-cache</td><td>2.11.6</td><td></td></tr>
    <tr><td>loggregator</td><td>106.6.3</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.10</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metric-registrar</td><td>1.2.5</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.9</td><td></td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td><td></td></tr>
    <tr><td>nats</td><td>43</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td><td></td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.36</td><td></td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.67</td><td></td></tr>
    <tr><td>notifications</td><td>62</td><td></td></tr>
    <tr><td>notifications-ui</td><td>40</td><td></td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.57</td><td></td></tr>
    <tr><td>push-apps-manager-release</td><td>676.0.1</td><td></td></tr>
    <tr><td>push-offline-docs-release</td><td>1.0.58</td><td></td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.23</td><td></td></tr>
    <tr><td>pxc</td><td>0.41.0</td><td></td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.51</td><td></td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.27</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.52</td><td></td></tr>
    <tr><td>silk</td><td>3.1.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.29</td><td></td></tr>
    <tr><td>statsd-injector</td><td>1.11.18</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.4</td><td></td></tr>
    <tr><td>uaa</td><td>74.5.35</td><td></td></tr>
  </tbody>
</table>


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='new-policies'></a> New Policies for <%= vars.app_runtime_abbr %>

As of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, <%= vars.app_runtime_abbr %> is transitioning to a new versioning scheme, support lifecycle
policy, and release and upgrade policy. For more information, see the sections below:

* [Operational Versioning](#opsver)

* [Support Lifecycle Policy](#support-policy)

* [Release and Upgrade Policies](#release-upgrade-policies)

Other Tanzu products, such as VMware Tanzu Operations Manager, are to adopt the same versioning scheme and lifecycle policy as <%= vars.app_runtime_abbr %>
<%= vars.v_major_version %>. However, they are to follow separate release and upgrade policies, as well as continue to be versioned and released
independently.

#### <a id='opsver'></a> Operational Versioning

As of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, <%= vars.app_runtime_abbr %> is transitioning to a new versioning scheme called _operational
versioning_.

The version number format for <%= vars.app_runtime_abbr %> is the same as that of semantic versioning, the previous versioning scheme used. However, the
meaning of these version numbers differs from semantic versioning. The following list describes the types of versions to be released moving forward:

* A new major version of <%= vars.app_runtime_abbr %> is to be released every six months. Major versions include new features, significant feature
improvements, and deprecations and removals of old features.

* Minor versions of <%= vars.app_runtime_abbr %> are to be released as rarely as possible. Minor versions include breaking changes, which are necessary but
disruptive changes within a major version line.

* Patch versions are to be released as necessary. Patch versions include security fixes and other small changes that do not disrupt operation or require any
attention from an operator of <%= vars.app_runtime_abbr %>. Patches that are determined to fall short of this standard are to be quickly replaced.

### <a id='support-policy'></a> Support Lifecycle Policy

As of <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, the new support lifecycle policy for <%= vars.app_runtime_abbr %> guarantees overlapping
support durations with subsequent major version lines. After a new major version line is made generally available, the previous major version line must remain
supported for at least six months.

Some major version lines are designated as being on a _long-term support track_ (LTS-T). After a new LTS-T major version line is made generally available, the
previous LTS-T major version line must remain supported for one full year. LTS-T major version lines include "+LTS-T" at the end of the version number. For
example, <%= vars.app_runtime_abbr %> v2.13+LTS-T.

#### <a id='release-upgrade-policies'></a> Release and Upgrade Policies

<%= vars.app_runtime_abbr %> v2.13 is now designated as an LTS-T release. Currently, <%= vars.app_runtime_abbr %> v4.0 is intended to be released as an LTS-T
release in the spring of 2023. <%= vars.app_runtime_abbr %> LTS-T versions are to be released annually each spring.

You can upgrade to a newer version of <%= vars.app_runtime_abbr %> in the following ways:

* From the latest patch version in the latest minor version in the previous major version line to the latest patch version in any supported major version
line. For example, if you are currently using the latest <%= vars.app_runtime_abbr %> v2.13.x patch release, you can upgrade to the latest
<%= vars.app_runtime_abbr %> v3.0.x release.

* From an earlier LTS-T major version line to a later LTS-T major version line. For example, if you are currently using Pivotal Application Service (PAS)
v2.7+LTS-T, you can upgrade to <%= vars.app_runtime_abbr %> v2.13+LTS-T.

### <a id='ubuntu-jammy'></a> Jammy Jellyfish Stemcell Support

The following components of <%= vars.app_runtime_abbr %> v3.0 use Jammy Jellyfish, a Jammy stemcell based on Ubuntu 22.04:

* Cloud Foundry Command-Line Interface (cf CLI)

* Apps Manager

* Usage Service

If you are upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> from <%= vars.app_runtime_abbr %> v2.13 or earlier, you can upgrade the
above components from Xenial stemcells to Jammy Jellyfish stemcells.

The previously-supported Xenial Xerus stemcells were based on Ubuntu 16.04. These stemcells are due to reach end of general support (EOGS) and stop receiving
security updates in April 2024. You can still use Xenial stemcells in conjunction with compatible <%= vars.app_runtime_abbr %> components until they reach
EOGS.

### <a id='org-member-search'></a> Search for Org Members in Apps Manager

In <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, the **Members** page for each org in Apps Manager includes a search box that you can use to
search for org members by name.

For more information about managing org members in Apps Manager, see [Manage Members](../console/manage-spaces.html#manage-members-org) in _Managing Orgs and
Spaces Using Apps Manager_.


## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

### <a id='system-metrics-server'></a> BOSH System Metrics Server is Removed

The BOSH System Metrics Server is removed from <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>. To continue receiving system metrics, you must
activate the **Enable additional System Metrics** checkbox in the **Director Config** pane of the BOSH Director tile.

To avoid deployment, platform automation, or data collection failures, you must update any queries that reference `bosh-system-metrics-forwarder` as the
`source_id` for metrics to reference `system_metrics_agent` instead.

### <a id='system-metrics-names'></a> BOSH System Metric Naming Convention is Changed

BOSH-deployed VMs no longer emit system metrics that include the prefix `system.` in their names. Additionally, metric names now include underscores instead
of periods. For example, the metric named `system.cpu.sys` in previous versions of <%= vars.app_runtime_abbr %> is named `system_cpu_sys` in
<%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

To avoid deployment or data collection failures, you must re-configure all alerting or observability dashboards that collect metric data from your
<%= vars.app_runtime_abbr %> deployment to use the new format for metric names.

### <a id='haproxy-removed'></a> HAProxy is Removed

In <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, HAProxy is removed.

If you are upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> from <%= vars.app_runtime_abbr %> v2.13 or earlier, you must re-configure the
following settings in the <%= vars.app_runtime_abbr %> tile before you upgrade:

* In the **Networking** pane:
  * If you previously selected **HAProxy** under **TLS termination point**, you must select **Gorouter** instead.
  * If you previously configured the **HAProxy IPs** field, you may need to configure the **Gorouter IPs** field instead. Depending on how you configured the
  **Allow SSH access to app containers** and **TCP routing** settings, you may also need to configure the **SSH Proxy IPs** or **TCP router IPs** fields.

* In the **Resource Config** pane:
  * If you previously configured load balancers under the **HAProxy**, you must configure load balancers under the **Router** job instead. Depending on how
  you configured the **Allow SSH access to app containers** and **TCP routing** settings in the **Networking** pane, you may also need to configure load
  balancers under the **Diego Brain** or **TCP Router** jobs.

For more information about configuring these settings, see [Configure Networking](../operating/configure-pas.html#networking) and [Configure
Resources](../operating/configure-pas.html#resources) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='global-log-rate-limit'></a> Global Log Rate Limit is Deprecated

The global log rate limit that measures app log rates in lines per second is deprecated in favor of per-app log rate limits that measure app log rates in
bytes per second.

If you have configured a global log rate limit in lines per second, <%= vars.recommended_by %> recommends that you re-configure your apps to use log rate
limits in bytes per second.

If you still want to use the global log rate limit, logs that exceed the log rate limit are immediately dropped. Previously, logs that exceeded the log rate
limit were buffered and released at the configured log rate.

For more information about app log rate limits, see [App Log Rate Limiting](../loggregator/app-log-rate-limits.html).

### <a id='custom-iptables'></a> Viewing Custom iptables Rules Requires /sbin/iptables Binaries

On the Jammy Jellyfish stemcell, the `iptables` command uses the nftables framework instead of the iptables firewall. This change does not prevent custom
rules from taking effect, regardless of how they are configured.

If you use the binaries located in your `/var/vcap/packages/iptables/sbin/iptables*` directory to configure custom iptables rules on Diego Cells, the rules
that you configure still take effect, but do not appear when you run the `iptables -L` command.

To resolve this issue, do either of the following:

* Update your custom iptables logic to use the `/sbin/iptables*` binaries.

* In a terminal window, view your custom iptables rules by running either `iptables-legacy` or `/var/vcap/packages/iptables/sbin/iptables*`.


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='stemcell-certification'></a> Stemcell Compliance Certification

The Ubuntu 22.04 long-term support (LTS) stemcell, Jammy Jellyfish, is not yet CIS- or STIG-certified.

### <a id='ncp-compatibility'></a> VMware NSX-T Container Plug-In Stemcell Compatibility

The VMware NSX-T Container Plug-in is not yet validated on the Jammy Jellyfish stemcell.
