---
title: Isolation Segment v5.0 Release notes
owner: Release Engineering
---

Here you will find the release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='5.0.0'></a> 5.0.0

**Release Date:** 10/17/2023

* **[Security Fix]** Bump routing-release to v0.282.0
* **[Security Fix]** Bump smoke-tests to address Go CVE-2023-39533
* **[Security Fix]** Continue to forward relevant headers by removing hop-by-hop headers that could interfere with gorouter when proxying client requests
* **[Breaking Change]** metrics-agent and metrics-discovery-registrar disabled by default
* **[Feature]** (Beta) Operators can export metrics off TAS using OpenTelemetry
* **[Feature]** App readiness healthchecks are now supported to remove/add apps to routing pools without restarting, based on a configurable healthcheck.
* **[Feature]** Operators can configure TAS and IST to include tanzu-jammy-full-stack
* **[Feature]** Add distributed tracing to Diego component logs.
* **[Feature]** Adds support for W3C Trace ID logging across Diego component requests
* **[Feature Improvement]** Allow to configure Silk policy polling interval
* **[Feature Improvement]** Dynamic App renaming takes effect for Silk Security Group log entries
* **[Feature Improvement]** TAS/IST/TASW 5.0 UI text overhaul
* **[Feature Improvement]** Use routing_info for desired_lrps when there are missing actual_lrps.
* **[Feature Improvement]** "Back end request timeout for the Gorouter" property no longer affects idle timeout of long lived requests. Idle timeouts now configurable by "Front end idle timeout for the Gorouter" property
* **[Bug Fix/Improvement]** Updated silk, silk-cni, and cni-wrapper-plugin for compatibility with v1.0.0 of the CNI spec

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.250</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.6</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.32.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.375.0</td>
      <td>
        <details>
          <summary>v0.375.0</summary>
          <pre style="max-width: 30em">
  This release ships with cflinuxfs3 version 0.375.0. For more information, see the [release notes](https://github.com/pivotal-cf/tanzu-cflinuxfs3/releases/tag/0.375.0)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs4</td><td>1.44.0</td><td></td></tr>
    <tr><td>cf-cli</td><td>1.45.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.81.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.37.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.6.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.35</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.16</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.30</td><td></td></tr>
    <tr><td>routing</td><td>0.282.0</td>
      <td>
        <details>
          <summary>v0.282.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.3, which contains a patch for [CVE-2023-44487](https://nvd.nist.gov/vuln/detail/CVE-2023-44487) (HTTP2 rapid-reset vulnerability).
  - CI Enhancements and updates
  - Package Dependency bumps
  - Resolves [gorouter/#346](https://github.com/cloudfoundry/routing-release/issues/346) by validating trace ID length prior to parsing it as a UUID
  ## ✨  Built with go 1.21.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.281.0...0.282.0
  ## Resources
  - [Download release 0.282.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.282.0).
          </pre>
        </details>
        <details>
          <summary>v0.281.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Check trace ID length before parsing the UUID (#365)
  - Bump go to 1.21.1
  ## ✨  Built with go 1.21.1
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.280.0...v0.281.0
  ## Resources
  - [Download release 0.281.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.281.0).
          </pre>
        </details>
        <details>
          <summary>v0.280.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped CF CLI to v8.7.2
  - Gorouter now logs the IP of the NATS server its connecting to/disconnecting from (instead of just the BOSH DNS name) for troubleshooting clarity. Thanks @domdom82!!
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.279.0...v0.280.0
  ## Resources
  - [Download release v0.280.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.280.0).
          </pre>
        </details>
        <details>
          <summary>v0.279.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bumped to golang 1.21.0!
  - Refactor of proxy config properties. Thanks @domdom82!
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/acceptance_tests/spec b/jobs/acceptance_tests/spec
  index db508ca3..e1a6a9ae 100644
  --- a/jobs/acceptance_tests/spec
  +++ b/jobs/acceptance_tests/spec
  @@ -7,7 +7,7 @@ templates:
  bpm.yml.erb: config/bpm.yml
  packages:
  - - golang-1.20-linux
  + - golang-1.21-linux
  - acceptance_tests
  - rtr
  - cf-cli-8-linux
  diff --git a/jobs/smoke_tests/spec b/jobs/smoke_tests/spec
  index 5776a9c8..b230192b 100644
  --- a/jobs/smoke_tests/spec
  +++ b/jobs/smoke_tests/spec
  @@ -7,7 +7,7 @@ templates:
  bpm.yml.erb: config/bpm.yml
  packages:
  - - golang-1.20-linux
  + - golang-1.21-linux
  - acceptance_tests
  - cf-cli-8-linux
  ```
  ## ✨  Built with go 1.21.0
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.278.0...v0.279.0
  ## Resources
  - [Download release v0.279.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.279.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.32.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.30</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.4</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.8</td><td></td></tr>
    <tr><td>tanzu-jammy-stack</td><td>1.0.0</td><td></td></tr>
  </tbody>
</table>

## <a id='install'></a> How to install

<% if vars.platform_code != 'OFFLINE' %>
To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../operating/installing-pcf-is.html).
<% end %>

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install Tanzu Operations Manager <%= vars.v_major_version %>. For more information,
see the [VMware Tanzu Operations Manager documentation](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/index.html).

## <a id='new-features'></a> New features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

There are no new features for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

## <a id='breaking-changes'></a> Breaking changes

There are no breaking changes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

## <a id='known-issues'></a> Known issues

There are no known issues for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.
