---
title: Isolation Segment v4.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.0'></a> 4.0.0

**Release Date:** 02/27/2023

* **[Feature Improvement]** Add option for Query Parameter Presentation in Gorouter Access Logs
* Bump cf-networking to version `3.23.0`
* Bump cflinuxfs4 to version `0.62.0`
* Bump garden-runc to version `1.23.0`
* Bump metrics-discovery to version `3.2.7`
* Bump routing to version `0.256.0`
* Bump silk to version `3.22.0`
* Bump smb-volume to version `3.1.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.83</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.21</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.23.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.350.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.62.0</td><td></td></tr>
    <tr><td>diego</td><td>2.71.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.23.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.1.0</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.12</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td>
      <td>
        <details>
          <summary>v3.2.7</summary>
          <pre style="max-width: 30em">
  * update golang to 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.6...v3.2.7###
          </pre>
        </details>
        <details>
          <summary>v3.2.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/metrics-discovery-release/pull/104
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.5...v3.2.6
          </pre>
        </details>
        <details>
          <summary>v3.2.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update dependencies
  * Expire individual metrics by @rroberts2222 in https://github.com/cloudfoundry/metrics-discovery-release/pull/103
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.4...v3.2.5
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nfs-volume</td><td>7.1.8</td><td></td></tr>
    <tr><td>routing</td><td>0.256.0</td>
      <td>
        <details>
          <summary>v0.256.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Update healthchecker in release to stable version
  ## ✨  Built with go 1.19.5
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.255.0...v0.256.0
  ## Resources
  - [Download release v0.256.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.256.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.22.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.9</td>
      <td>
        <details>
          <summary>v3.1.9</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Add force_noserverino property in smbdriver job (#102)
  ## Dependencies
  * **bosh-template:** Updated to v2.4.0.<br>For more information, see [bosh-template](https://github.com/cloudfoundry/bosh).
  * **smbdriver:** Updated to v`adc77c7`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.8</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbdriver:** Updated to v`6cc617a`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.7</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.19.4 (#76)
  ## Dependencies
  * **rspec:** Updated to v3.12.0.<br>For more information, see [rspec](https://github.com/rspec/rspec-metagem).
  * **smbbroker:** Updated to v`114bb05`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`f0b92e3`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.1</td><td></td></tr>
  </tbody>
</table>



<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

## <a id='install'></a> How to Install

<% if vars.platform_code != 'OFFLINE' %>
To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../operating/installing-pcf-is.html).
<% end %>

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install Ops Manager <%= vars.v_major_version %>. For more information,
see the [Ops Manager documentation](https://docs.pivotal.io/ops-manager/index.html).

## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

## <a id='breaking-changes'></a> Breaking Changes

### Max Request Header Size Now Defaults to 48kb
Upgrading to IST 4.0 will automatically set **Max request header size in kb** to 48,
unless the pre-existing configuration was already lower. Lowering this value establishes
a better security posture for TAS for VMs and applications. This value can still be configured
back up to 1024kb in the Networking tab if necessary.  Any requests with headers larger than
this value will receive a 431 status code.

### Add Validation for **Certificate Authorities trusted by the Gorouter** Property
IST 4.0 contains validations for the **Certificate Authorities trusted by the
Gorouter** property in the Networking tab. Any entries that are not valid CA
certificates will result in an error in OpsManager. Users should remove or replace
invalid entries.

### Option to Enable (Deprecated) Global Log Rate Limit is Removed

This feature was in beta until IST v3.0, when it was deprecated following the introduction of app log rate limits. For details, see [Isolation Segment v3.0 Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/segment-rn.html#global-log-rate-limit-is-deprecated-15)
See also [App Log Rate Feature](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#app-log-rate-limits-for-orgs-spaces-and-individual-apps-14).
The option to enable this feature has now been removed, and you must apply app log rate limits instead.

Note that if you were using this feature to limit your overall app log
throughput, then you may see an increase in log load after upgrading. To
mitigate this, either:

* Scale up your logging system before upgrading to IST v4.0 to compensate for the increased log load.
* Upgrade to TAS/IST v3.0 first to set app-level log rate limits while retaining the global log rate limit. For details, see [App Log Rate Limits](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/app-log-rate-limits.html).

## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.
