---
title: Isolation Segment v4.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.0'></a> 4.0.0

**Release Date:** 04/18/2023

* **[Breaking Change]** Remove deprecated global log rate limit
* Bump bpm to version `1.1.21`
* Bump garden-runc to version `1.25.0`
* Bump loggregator-agent to version `7.1.2`
* Bump metrics-discovery to version `3.2.7`
* Bump nfs-volume to version `7.1.9`
* Bump routing to version `0.260.0`
* Bump smb-volume to version `3.1.10`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.95</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.21</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.23.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.361.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>1.5.0</td><td></td></tr>
    <tr><td>diego</td><td>2.73.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.25.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>7.1.2</td>
      <td>
        <details>
          <summary>v7.1.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update to golang 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.1...v7.1.2
          </pre>
        </details>
        <details>
          <summary>v7.1.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * Add error messages for better traceability of filtered out syslog drain bindings by @chombium in https://github.com/cloudfoundry/loggregator-agent-release/pull/216
  * Upgrade to go 1.20 by @rroberts2222 in https://github.com/cloudfoundry/loggregator-agent-release/pull/223
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.0...v7.1.1
          </pre>
        </details>
        <details>
          <summary>v7.1.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Add app-id and drain url in the error message by @chombium in https://github.com/cloudfoundry/loggregator-agent-release/pull/212
  ## New Contributors
  * @chombium made their first contribution in https://github.com/cloudfoundry/loggregator-agent-release/pull/212
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.0.2...v7.1.0
          </pre>
        </details>
        <details>
          <summary>v7.0.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Sanitize ProcID in syslog messages so messages with utf-8 in the source_type are not dropped by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/200
  * Update dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.0.1...v7.0.2
          </pre>
        </details>
        <details>
          <summary>v7.0.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fix: anonymize URL in syslog drain logs and metrics by @ctlong in https://github.com/cloudfoundry/loggregator-agent-release/pull/186
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.0.0...v7.0.1
          </pre>
        </details>
        <details>
          <summary>v7.0.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Allow application developers to set client certs and keys, as well as server cas, to be used for authentication in syslog-tls drains by @fhambrec, @dark5un in https://github.com/cloudfoundry/loggregator-agent-release/pull/177 / https://github.com/cloudfoundry/loggregator-agent-release/pull/119. Breaking change: requires new version of capi
  * Add drain scope and url tags to syslog egress metrics by @skaur20 in https://github.com/cloudfoundry/loggregator-agent-release/pull/123, Breaking change: might effect metrics dashboards and calculations.
  ## New Contributors
  * @skaur20 made their first contribution in https://github.com/cloudfoundry/loggregator-agent-release/pull/123
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.6...v7.0.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.13</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.7</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.9</td><td></td></tr>
    <tr><td>routing</td><td>0.260.0</td><td></td></tr>
    <tr><td>silk</td><td>3.23.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.10</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.3</td><td></td></tr>
  </tbody>
</table>



## <a id='install'></a> How to install

<% if vars.platform_code != 'OFFLINE' %>
To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../operating/installing-pcf-is.html).
<% end %>

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install Ops Manager <%= vars.v_major_version %>. For more information, on how to install Ops Manager,
see the [Ops Manager documentation](https://docs.pivotal.io/ops-manager/index.html).

## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

## <a id='breaking-changes'></a> Breaking Changes

### Max Request Header Size now Defaults to 48 KB
When you Upgrade to IST v4.0 it automatically sets **Max request header size in KB** to 48 KB,
unless the pre-existing configuration was already lower. Lowering this value establishes better security for TAS for VMs and applications. If necessary, this value can still be configured
back up to 1024 KB in the **Networking** tab. Any requests with headers larger than
this value receive a 431 status code.

### Add Validation for Certificate Authorities trusted by the Gorouter Property
IST 4.0 contains validations for the Certificate Authorities (CA) trusted by the
Gorouter property in the **Networking** tab. Any entries that are not valid CA
certificates can result in an error in Ops Manager. You must remove or replace
invalid entries.

### Option to Enable (Deprecated) Global Log Rate Limit is removed

This feature was in beta until IST v3.0, when it was deprecated following the introduction of app log rate limits.

For details, see [Isolation Segment v3.0 Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/segment-rn.html#global-log-rate-limit-is-deprecated-15) and also [App Log Rate Feature](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/3.0/tas-for-vms/runtime-rn.html#app-log-rate-limits-for-orgs-spaces-and-individual-apps-14).
The option to enable this feature has now been removed, and you must apply app log rate limits instead.
<p class="note"><strong>Note:</strong> If you were using this feature to limit your overall app log
throughput, then you might see an increase in log load after you upgrade. </p>
To
mitigate this, either:

* Scale up your logging system before you upgrade to IST v4.0 to compensate for the increased log load.

  Or

* Upgrade to TAS/IST v3.0 first to set app-level log rate limits while retaining the global log rate limit. For details, see [App Log Rate Limits](https://docs.vmware.com/en/VMware-Tanzu-Application-Service/4.0/tas-for-vms/app-log-rate-limits.html).

## <a id='known-issues'></a> Known Issues

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following known issues:

### Stale routes might not be pruned properly in Gorouter

In addition, request failures that previously resulted in 496, 499, 503, 525, or 526 HTTP Status codes might now return Status Code 502 instead
