---
title: Isolation Segment v4.0 Release Notes
owner: Release Engineering
---

<% current_page.data.title = "Isolation Segment" + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

## <a id='install'></a> How to Install

<% if not vars.platform_code == 'OFFLINE' %>
To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../operating/installing-pcf-is.html).
<% end %>

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install Ops Manager <%= vars.v_major_version %>. For more information,
see the [Ops Manager documentation](https://docs.pivotal.io/ops-manager/index.html).

## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

## <a id='breaking-changes'></a> Breaking Changes

### Max Request Header Size Now Defaults to 48kb
Upgrading to IST 4.0 will automatically set **Max request header size in kb** to 48,
unless the pre-existing configuration was already lower. Lowering this value establishes
a better security posture for TAS for VMs and applications. This value can still be configured
back up to 1024kb in the Networking tab if necessary.  Any requests with headers larger than
this value will receive a 431 status code.

## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.
