---
title: Isolation Segment v5.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='4.0.1'></a> 4.0.1

**Release Date:** 05/17/2023

* **[Security Fix]** Resolve issue in gorouter where canceled requests can result in apps becoming unavailable
* **[Bug Fix]** Fixes an issue in gorouter where requests that should have returned 496, 499, 503, 525, or 526 HTTP status codes may instead have returned as 502s, potentially preventing stale route pruning.
* **[Bug Fix]** Resolve Issue where Garden failed during BOSH/OpsMan deploys due to healthcheck
* Bump bpm to version `1.2.0`
* Bump cf-networking to version `3.25.1`
* Bump cflinuxfs3 to version `0.364.0`
* Bump cflinuxfs4 to version `1.8.0`
* Bump count-cores-indicator to version `2.0.0`
* Bump diego to version `2.76.0`
* Bump garden-runc to version `1.29.0`
* Bump loggregator-agent to version `7.2.1`
* Bump mapfs to version `1.2.20`
* Bump metrics-discovery to version `3.2.9`
* Bump nfs-volume to version `7.1.14`
* Bump routing to version `0.266.0`
* Bump smb-volume to version `3.1.14`
* Bump syslog to version `12.1.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.108</td><td></td></tr>
    <tr><td>bpm</td><td>1.2.0</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.25.1</td>
      <td>
        <details>
          <summary>3.25.1</summary>
          <pre style="max-width: 30em">
  ## Changes
  - None!
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/cf-networking-release/compare/3.24.0...v3.25.1
  ## Resources
  - [Download release v3.25.1 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/cf-networking-release?version=3.25.1).
          </pre>
        </details>
        <details>
          <summary>3.24.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to Go 1.20.4
  - Bump all dependencies such that only Ginkgo V2 and Lager V3 are used
  - Use [new docker images](https://github.com/cloudfoundry/cf-networking-release/commit/4b69f0a5690611dfa730a70e641f5c1f8145c66c) for local testing
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/cf-networking-release/compare/3.23.0...v3.24.0
  ## Resources
  - [Download release v3.24.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/cf-networking-release?version=3.24.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>cflinuxfs3</td><td>0.364.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>1.8.0</td><td></td></tr>
    <tr><td>count-cores-indicator</td><td>2.0.0</td><td></td></tr>
    <tr><td>diego</td><td>2.76.0</td>
      <td>
        <details>
          <summary>v2.76.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to Go 1.20.4
  - Bump dependencies
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/auctioneer/spec b/jobs/auctioneer/spec
  index ae685ceb9..1fac48936 100644
  --- a/jobs/auctioneer/spec
  +++ b/jobs/auctioneer/spec
  @@ -88,6 +88,12 @@ properties:
  diego.auctioneer.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the auctioneer attempts to claim a lock from the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.auctioneer.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.auctioneer.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  locks.locket.enabled:
  description: When set, the auctioneer attempts to claim a lock from the Locket API.
  diff --git a/jobs/bbs/spec b/jobs/bbs/spec
  index b6f1040c2..9204a8d4c 100644
  --- a/jobs/bbs/spec
  +++ b/jobs/bbs/spec
  @@ -140,6 +140,12 @@ properties:
  diego.bbs.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the BBS attempts to claim a lock from the Locket API and will detect Diego cells registered with the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.bbs.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.bbs.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  limits.open_files:
  description: Maximum number of files (including sockets) the BBS process may have open.
  diff --git a/jobs/rep/spec b/jobs/rep/spec
  index df7bd7c49..1383b67c0 100644
  --- a/jobs/rep/spec
  +++ b/jobs/rep/spec
  @@ -217,6 +217,12 @@ properties:
  diego.rep.locket.api_location:
  description: "Hostname and port of the Locket server. When set, the cell rep will establish its cell registration in the Locket API."
  default: locket.service.cf.internal:8891
  +  diego.rep.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.rep.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  enable_declarative_healthcheck:
  description: "When set, enables the rep to prefer the LRP CheckDefinition to healthcheck instances over the Monitor action. Requires Garden-Runc v1.10.0+"
  diff --git a/jobs/rep_windows/spec b/jobs/rep_windows/spec
  index 4fc4504bf..023d76f18 100644
  --- a/jobs/rep_windows/spec
  +++ b/jobs/rep_windows/spec
  @@ -227,7 +227,13 @@ properties:
  diego.rep.locket.api_location:
  description: "Hostname and port of the locket server"
  default: locket.service.cf.internal:8891
  -
  +  diego.rep.locket.client_keepalive_time:
  +    description: "Period in seconds after which the locket gRPC client sends keepalive ping requests to the locket server it is connected to."
  +    default: 10
  +  diego.rep.locket.client_keepalive_timeout:
  +    description: "Timeout in seconds to receive a response to the keepalive ping. If a response is not received within this time, the locket client will reconnect to another server."
  +    default: 22
  +
  enable_declarative_healthcheck:
  description: "When set, enables the rep to prefer the LRP CheckDefinition to healthcheck instances over the Monitor action."
  default: false
  diff --git a/jobs/vizzini/spec b/jobs/vizzini/spec
  index fa6c8d0d0..40b5eb74b 100644
  --- a/jobs/vizzini/spec
  +++ b/jobs/vizzini/spec
  @@ -47,9 +47,6 @@ properties:
  vizzini.verbose:
  description: Run tests in verbose mode
  default: false
  -  vizzini.stream:
  -    description: Stream output from parallel test nodes. This option will lead to less coherent output but is useful when debugging
  -    default: false
  enable_declarative_healthcheck:
  description: "When set, enables the declarative check tests in vizzini"
  ```
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.75.0...v2.76.0
  ## Resources
  - [Download release v2.76.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.76.0).
          </pre>
        </details>
        <details>
          <summary>v2.75.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump ginkgo to v2 and lager to v3
  * [Bug fix] Rep does not clean up resources when deleting container fails
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/diego-release/compare/v2.73.0...v2.75.0
  ## Resources
  - [Download release v2.75.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/diego-release?version=2.75.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>garden-runc</td><td>1.29.0</td>
      <td>
        <details>
          <summary>v1.29.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  ⚠️We have removed the garden-healthcheck job from garden while we investigate a way to make it less painful. From v1.22.6 through v1.28.0, garden restarts with a high container count could result in BOSH deploys failing due to a race condition between garden, bpm, monit, and garden-healthchecker. This will be re-enabled at a later time when we resolve the race condition.
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.28.0...v1.29.0
  ## Resources
  - [Download release v1.29.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.29.0).
          </pre>
        </details>
        <details>
          <summary>v1.28.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump to golang 1.20.4
  - Bump dependencies
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.27.0...v1.28.0
  ## Resources
  - [Download release v1.28.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.28.0).
          </pre>
        </details>
        <details>
          <summary>v1.27.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Bump ginkgo to v2 and lager to v3
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.26.0...v1.27.0
  ## Resources
  - [Download release v1.27.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.27.0).
          </pre>
        </details>
        <details>
          <summary>v1.26.0</summary>
          <pre style="max-width: 30em">
  ## Changes
  - Bump runc version to 1.1.4
  - Bump containerd version to 1.6.19
  - Fix cloudfoundry/garden-runc-release#233
  ## ✨  Built with go 1.20.1
  **Full Changelog**: https://github.com/cloudfoundry/garden-runc-release/compare/v1.25.0...v1.26.0
  ## Resources
  - [Download release v1.26.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/garden-runc-release?version=1.26.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>loggregator-agent</td><td>7.2.1</td>
      <td>
        <details>
          <summary>v7.2.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.2.0...v7.2.1
          </pre>
        </details>
        <details>
          <summary>v7.2.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump golang.org/x/net from 0.8.0 to 0.9.0 in /src by @dependabot in https://github.com/cloudfoundry/loggregator-agent-release/pull/283
  * Add mtls options to aggregate drains.  by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/276
  * switch gorilla with chi by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/285
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.3...v7.2.0
          </pre>
        </details>
        <details>
          <summary>v7.1.3</summary>
          <pre style="max-width: 30em">
  * Upgrade to go 1.20.2
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v7.1.2...v7.1.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.20</td>
      <td>
        <details>
          <summary>v1.2.20</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.4 (#77, #78)
  ## Dependencies
  * **ginkgo v2:** Updated to v2.9.3.<br>For more information, see [v2](https://github.com/onsi/ginkgo).
  * **mapfs:** Updated to v`25c1e86`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
        <details>
          <summary>v1.2.16</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3 (#64, #65, #71)
  ## Dependencies
  * **gomega:** Updated to v1.27.6.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **mapfs:** Updated to v`4c0a84d`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.9</td>
      <td>
        <details>
          <summary>v3.2.9</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to [go1.20.4](https://groups.google.com/g/golang-announce/c/MEb0UyuSMsU/m/QvrjqM4XAgAJ)
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.8...v3.2.9
          </pre>
        </details>
        <details>
          <summary>v3.2.8</summary>
          <pre style="max-width: 30em">
  * Upgrade to go1.20.2.
  * Bump dependencies.
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.7...v3.2.8
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nfs-volume</td><td>7.1.14</td>
      <td>
        <details>
          <summary>v7.1.14</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **nfsbroker:** Updated to v`2c64157`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`14c2d4e`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.12</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3 (#355, #357)
  * Fix possible log leak of CF password (#335)
  ## Dependencies
  * **gomega:** Updated to v1.27.6.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **nfsbroker:** Updated to v`0e58c8e`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`bd396bf`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
        <details>
          <summary>v7.1.10</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **nfsbroker:** Updated to v`7946962`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`d9aee47`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.266.0</td>
      <td>
        <details>
          <summary>v0.266.0</summary>
          <pre style="max-width: 30em">
  ## Change
  - 🐛Fixes a bug that may cause routing failures to apps. Thanks @maxmoehl and @domdom82!!
  - Many go dependency updates across all routing packages. Thanks @winkingturtle-vmw!!
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.265.1...v0.266.0
  ## Resources
  - [Download release v0.266.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.266.0).
          </pre>
        </details>
        <details>
          <summary>v0.265.1</summary>
          <pre style="max-width: 30em">
  :warning::warning::warning:
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - Bump healthchecker
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.265.0...v0.265.1
  ## Resources
  - [Download release v0.265.1 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.265.1).
          </pre>
        </details>
        <details>
          <summary>v0.265.0</summary>
          <pre style="max-width: 30em">
  :warning::warning::warning:
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - Bump to Go 1.20.4
  ## ✨  Built with go 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.264.0...v0.265.0
  ## Resources
  - [Download release v0.265.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.265.0).
          </pre>
        </details>
        <details>
          <summary>v0.264.0</summary>
          <pre style="max-width: 30em">
  :warning::warning::warning:
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - Addresses the issue in routing-release 0.263.0 where `bosh export-releases` would fail to compile the `acceptance-tests` package.
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.263.0...v0.264.0
  ## Resources
  - [Download release v0.264.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.264.0).
          </pre>
        </details>
        <details>
          <summary>v0.263.0</summary>
          <pre style="max-width: 30em">
  ⚠️⚠️⚠️
  **This version does not compile, it will be fixed with the next release**
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - 🐛Fixed a bug present since v0.262.0 that caused CATs to intermittently fail on apps using `nc` as their server.
  - 🐛Bumped haproxy to 2.7.6 in cf-tcp-router, to resolve a bug preventing haproxy from properly transferring open connections to the new haproxy process when a reload occurred - [haproxy/#1883](https://github.com/haproxy/haproxy/issues/1883)
  ## ✨  Built with go 1.20.3
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.262.0...v0.263.0
  ## Resources
  - [Download release v0.263.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.263.0).
          </pre>
        </details>
        <details>
          <summary>v0.262.0</summary>
          <pre style="max-width: 30em">
  ⚠️⚠️⚠️
  **There is a known issue with this release’s routing logic which may cause routing failures to apps. It is advised to use routing-release [0.266.0](https://github.com/cloudfoundry/routing-release/releases/tag/v0.266.0) or later instead of this release.**
  ## Changes
  - 🐛Fixes the of golang has a known issue that causes backend request failures which previously returned 496, 499, 503, 525, or 526 to instead return a 502. Additionally stale routes may not have been pruned properly. Thanks @domdom82!!
  - 🚗Gorouter now retries requests which fail prior to any HTTP content being sent (since no backend received the HTTP content, they're by definition retriable). Thanks for the [PR](https://github.com/cloudfoundry/gorouter/pull/337). Thanks @maxmoehl and @domdom82!!
  ## ✨  Built with go 1.20.2
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.261.0...v0.262.0
  ## Resources
  - [Download release v0.262.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.262.0).
          </pre>
        </details>
        <details>
          <summary>v0.261.0</summary>
          <pre style="max-width: 30em">
  ⚠️⚠️⚠️
  **This version of golang has a known issue that may cause backend request failures that previously returned 496, 499, 503, 525, or 526 to instead return a 502. Additionally stale routes may not get pruned properly. This will be addressed in an upcoming release.**
  ## Changes
  - Bug fix: add healthcheck to routing-api for route-registrar
  ## Bosh Job Spec changes:
  ```diff
  diff --git a/jobs/routing-api/spec b/jobs/routing-api/spec
  index 5717f88f..f6a2175d 100644
  --- a/jobs/routing-api/spec
  +++ b/jobs/routing-api/spec
  @@ -6,12 +6,15 @@ templates:
  uaa_ca.crt.erb: config/certs/uaa/ca.crt
  routing-api.yml.erb: config/routing-api.yml
  +  routing_api_health_check.erb: bin/routing_api_health_check
  locket_ca.crt.erb: config/certs/locket/ca.crt
  locket_client.crt.erb: config/certs/locket/client.crt
  locket_client.key.erb: config/certs/locket/client.key
  api_mtls_client_ca.crt.erb: config/certs/routing-api/client_ca.crt
  +  api_mtls_client.crt.erb: config/certs/routing-api/client.crt
  +  api_mtls_client.key.erb: config/certs/routing-api/client.key
  api_mtls_server.crt.erb: config/certs/routing-api/server.crt
  api_mtls_server.key.erb: config/certs/routing-api/server.key
  @@ -107,6 +110,13 @@ properties:
  routing_api.mtls_client_key:
  description: "Routing API client key (provided to clients by bosh link)"
  +  routing_api.health_check_timeout_per_retry:
  +    default: 2
  +    description: "Maximum health check timeout (in seconds) for each retry attempt in the Routing API's route registration health check"
  +  routing_api.health_check_total_timeout:
  +    default: 6
  +    description: "Maximum health check timeout (in seconds). Health checks will be retried until this time limit is reached. This should be less than or equal to your route_registrar.routes.api.health_check.timeout"
  +
  metron.port:
  description: "The port used to emit dropsonde messages to the Metron agent."
  default: 3457
  ```
  ## ✨  Built with go 1.20.2
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.260.0...v0.261.0
  ## Resources
  - [Download release v0.261.0 from bosh.io](https://bosh.io/releases/github.com/cloudfoundry/routing-release?version=0.261.0).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.23.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.14</td>
      <td>
        <details>
          <summary>v3.1.14</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`6b6727c`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`9923294`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.13</summary>
          <pre style="max-width: 30em">
  ## Dependencies
  * **smbbroker:** Updated to v`62b84b6`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`124f398`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.12</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Golang: Updated to v1.20.3 (#120, #128, #129)
  * Fix potential cred leak (#119)
  ## Dependencies
  * **smbbroker:** Updated to v`093c496`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`b7faa12`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
        <details>
          <summary>v3.1.11</summary>
          <pre style="max-width: 30em">
  ## Changes
  ## Dependencies
  * **smbbroker:** Updated to v`c5b6f5e`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`73a24c2`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.2</td><td></td></tr>
    <tr><td>syslog</td><td>12.1.4</td>
      <td>
        <details>
          <summary>v12.1.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update golang to 1.20.4
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.1.3...v12.1.4
          </pre>
        </details>
      </td>
    </tr>
  </tbody>
</table>





## <a id='install'></a> How to Install

<% if vars.platform_code != 'OFFLINE' %>
To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../operating/installing-pcf-is.html).
<% end %>

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install Ops Manager <%= vars.v_major_version %>. For more information,
see the [Ops Manager documentation](https://docs.pivotal.io/ops-manager/index.html).

## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

## <a id='breaking-changes'></a> Breaking Changes

## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.
