---
title: Isolation Segment v2.13 Release Notes
owner: Release Engineering
---

<% current_page.data.title = "Isolation Segment" + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for Isolation Segment <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.14.0'></a> 2.14.0

**Release Date:** 04/04/2022

* **[Feature]** Allows operators to enable Dynamic ASG updates, so that apps can inherit new and updated ASGs without requiring a restart
* **[Bug fix]** Remove x509ignoreCN option in Gorouter
* Bump cf-networking to version `3.1.0`
* Bump cflinuxfs3 to version `0.279.0`
* Bump diego to version `2.61.0`
* Bump garden-runc to version `1.20.3`
* Bump loggregator-agent to version `6.3.10`
* Bump metrics-discovery to version `3.0.9`
* Bump silk to version `3.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>3.1.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.279.0</td></tr>
    <tr><td>diego</td><td>2.61.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.9</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>silk</td><td>3.1.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.13.0-rc.2'></a> 2.13.0

**Release Date:** 03/22/2022

* Bump cf-networking to version `3.3.0`
* Bump silk to version `3.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>silk</td><td>3.3.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.13.0-rc.1'></a> 2.13.0

**Release Date:** 03/18/2022

* **[Feature]** Allows operators to enable Dynamic ASG updates, so that apps can inherit new and updated ASGs without requiring a restart
* **[Bug fix]** Remove x509ignoreCN option in Gorouter
* Bump cf-networking to version `3.1.0`
* Bump routing to version `0.231.0`
* Bump silk to version `3.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>3.1.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.231.0</td></tr>
    <tr><td>silk</td><td>3.1.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.13.0-beta.2'></a> 2.13.0

**Release Date:** 02/28/2022

* **[Bug Fix]** Smoke tests support for TLSv1.3 only option
* Bump cflinuxfs3 to version `0.274.0`
* Bump diego to version `2.58.1`
* Bump garden-runc to version `1.20.0`
* Bump loggregator-agent to version `6.3.8`
* Bump metrics-discovery to version `3.0.8`
* Bump routing to version `0.229.0`
* Bump smoke-tests to version `4.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>2.43.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.229.0</td></tr>
    <tr><td>silk</td><td>2.43.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.13.0-beta.1'></a> 2.13.0-beta.1

**Release Date:** 02/07/2022

* **[Security Fix]** Bump routing release to v0.228.0 to address ([CVE-2021-44716](https://nvd.nist.gov/vuln/detail/CVE-2021-44716))
* Bump bpm to version `1.1.16`
* Bump cf-networking to version `2.43.0`
* Bump cflinuxfs3 to version `0.272.0`
* Bump diego to version `2.57.0`
* Bump loggregator-agent to version `6.3.7`
* Bump silk to version `2.43.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.198</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>2.43.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.272.0</td></tr>
    <tr><td>diego</td><td>2.57.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.31</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.7</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.228.0</td></tr>
    <tr><td>silk</td><td>2.43.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.13.0-alpha.6'></a> 2.13.0-alpha.6

**Release Date:** 01/07/2022

* **[Bug Fix]** Smoke Tests uses specified domain for Isolation Segments
* Bump cf-networking to version `2.42.0`
* Bump cflinuxfs3 to version `0.271.0`
* Bump diego to version `2.56.0`
* Bump haproxy to version `11.9.3`
* Bump loggregator-agent to version `6.3.5`
* Bump metrics-discovery to version `3.0.7`
* Bump routing to version `0.228.0`
* Bump silk to version `2.42.0`
* Bump smoke-tests to version `4.4.0`
* Bump syslog to version `11.7.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>~621</td></tr>
    <tr><td>bpm</td><td>1.1.15</td></tr>
    <tr><td>cf-networking</td><td>2.42.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.271.0</td></tr>
    <tr><td>diego</td><td>2.56.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.31</td></tr>
    <tr><td>haproxy</td><td>11.9.3</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.5</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.228.0</td></tr>
    <tr><td>silk</td><td>2.42.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.13.0-alpha.5'></a> 2.13.0-alpha.5

**Release Date:** 11/23/2021

* **[Feature Improvement]** Enable HTTP/2 for HAProxy
* **[Breaking Change]** All Gorouter certificates require a SubjectAltName extension. If any Gorouter certificates lack a SubjectAltName, deployment fails. If you need to complete a deployment before configuring new Gorouter certificates, select **Enable temporary workaround for certs without SANs** in the **Networking** pane of the <%= vars.app_runtime_abbr %> tile. For more information about updating certificates, see [Routing and Golang 1.15 X.509 CommonName deprecation](https://community.pivotal.io/s/article/Routing-and-golang-1-15-X-509-CommonName-deprecation) in the Knowledge Base.
* Bump bpm to version `1.1.15`
* Bump cflinuxfs3 to version `0.264.0`
* Bump garden-runc to version `1.19.31`
* Bump haproxy to version `11.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.15</td></tr>
    <tr><td>cf-networking</td><td>2.40.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.264.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.31</td></tr>
    <tr><td>haproxy</td><td>11.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.225.0</td></tr>
    <tr><td>silk</td><td>2.40.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>
### <a id='2.13.0-alpha.4'></a> 2.13.0-alpha.4

**Release Date:** 10/20/2021

* **[Feature Improvement]** HTTP/2 toggle disables Diego container proxy ALPN
* Bump bpm to version `1.1.14`
* Bump cf-networking to version `2.40.0`
* Bump cflinuxfs3 to version `0.262.0`
* Bump silk to version `2.40.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.14</td></tr>
    <tr><td>cf-networking</td><td>2.40.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.262.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>11.4.4</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.225.0</td></tr>
    <tr><td>silk</td><td>2.40.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>



### <a id='2.13.0-alpha.3'></a> 2.13.0-alpha.3

**Release Date:** 10/13/2021

* **[Feature]** Configure HTTP/2 Support
* Bump cflinuxfs3 to version `0.261.0`
* Bump routing to version `0.225.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.261.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>11.4.4</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.1.1</td></tr>
    <tr><td>routing</td><td>0.225.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>

## <a id='install'></a> How to Install

To install Isolation Segment <%= vars.v_major_version %>, see [Installing Isolation Segment](https://docs.pivotal.io/application-service/2-13/operating/installing-pcf-is.html).

To install Isolation Segment <%= vars.v_major_version %>, you must first install Ops Manager v2.10.
For more information, see the [Ops Manager](https://docs.pivotal.io/ops-manager/2-10/index.html) documentation.


## <a id='new-features'></a> New Features in Isolation Segment <%= vars.v_major_version %>

Isolation Segment <%= vars.v_major_version %> includes the following major features:

## <a id='breaking-changes'></a> Breaking Changes

Isolation Segment <%= vars.v_major_version %> includes the following breaking changes:

## <a id='known-issues'></a> Known Issues

Isolation Segment <%= vars.v_major_version %> includes the following known issues:
