---
title: Pivotal Isolation Segment v2.10 Release Notes
owner: Release Engineering
---
<% current_page.data.title = vars.segment_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle
releasing a MySQL patch and VMware releasing <%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.10.23'></a> 2.10.23

**Release Date:** 03/31/2022

* **[Bug Fix]** Resolve an issue resulting in tcp-router repeatedly respawning haproxy until it hits a forked process limit
* **[Bug Fix]** Resolves an issue where invalid seeded router group values should caused breaking changes
* **[Bug fix]** Remove x509ignoreCN option in Gorouter
* Bump cf-networking to version `3.1.0`
* Bump cflinuxfs3 to version `0.279.0`
* Bump diego to version `2.61.0`
* Bump garden-runc to version `1.20.3`
* Bump loggregator-agent to version `6.0.9`
* Bump metrics-discovery to version `3.0.9`
* Bump routing to version `0.231.0`
* Bump silk to version `3.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.1.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.279.0</td><td></td></tr>
    <tr><td>diego</td><td>2.61.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.0.9</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.4</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.9</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td>
      <td>
        <details>
          <summary>0.231.0</summary>
          <pre style="max-width: 30em">
  ## Bug Fixes
  - Removed the x509ignoreCN property. Now that `gorouter` is built on golang 1.17, it no longer has any effect on gorouter behavior, and was only adding to confusion in the properties
  - Resolve an issue with route-registrar using the same TTL as it's RegistrationInterval for tcp routes, leading to unnecessary churn of pruned + re-registered routes.
  - Resolve an issue with Routing API where upserts to tcp routes were causing change events to be emitted when the only change was a bump in TTL. This led to an issue where tcp-router was constantly reloading haproxy with every route's heartbeat registration call.
  ## Manifest Property Changes
  | Job | Property | 0.230.0 | 0.231.0 |
  | --- | --- | --- | --- |
  | `gorouter` | `golang.x509ignoreCN` | false | No longer exists |
  |  `route_registrar` | `golang.x509ignoreCN` | false | No longer exists |
  | `tcp_router` | `golang.x509ignoreCN` | false | No longer exists |
  ### ✨ Built with golang 1.17.8
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.230.0...0.231.0
          </pre>
        </details>
        <details>
          <summary>0.230.0</summary>
          <pre style="max-width: 30em">
  ## Feature
  * update gorouter for prometheus scraping by @Benjamintf1 in https://github.com/cloudfoundry/routing-release/pull/258
  ## Bug Fix
  * Invalid seeded router group manifest values should no longer cause breaking changes by default by @ameowlia in https://github.com/cloudfoundry/routing-release/pull/261
  ### ✨ Built with golang 1.17.7
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.229.0...0.230.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.1.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
  </tbody>
</table>



### <a id='2.10.22'></a> 2.10.22

**Release Date:** 02/28/2022

* **[Feature Improvement]** Due to routing-release now being built with Golang 1.17, all certificates provided MUST contain SAN entries on them. The previous workaround of setting "Enable temporary workaround for certs without SANs" will no longer function.
* **[Feature Improvement]** Per Golang 1.17's new and stricter IP parsing standards, any IP addrs with leading zeros in any octets will result in a BOSH template failure to allow operators to remove the leading zeros and try again (affects properties fed into diego-release, garden-runc-release, winc-release, nats-release, and routing-release),.
* **[Bug Fix]** Fixes an issue related to the parsing of the X-B3-TraceId and X-B3-SpanId HTTP headers
* **[Bug Fix]** Smoke tests support for TLSv1.3 only option
* Bump cflinuxfs3 to version `0.274.0`
* Bump diego to version `2.58.1`
* Bump garden-runc to version `1.19.33`
* Bump loggregator-agent to version `6.0.8`
* Bump metrics-discovery to version `3.0.8`
* Bump routing to version `0.229.0`
* Bump smoke-tests to version `4.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>2.43.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>garden-runc</td><td>1.19.33</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.8</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.229.0</td></tr>
    <tr><td>silk</td><td>2.43.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.10.21'></a> 2.10.21

**Release Date:** 02/07/2022

<%= partial "/pcf/tas/known-issues/gorouter-spanid-note" %>

* **[Security Fix]** Bump routing release to 0.228.0 to address ([CVE-2021-44716](https://nvd.nist.gov/vuln/detail/CVE-2021-44716))
* **[Feature Improvement]** Golang v1.17 contains stricter IP parsing standards, so IP addresses with leading zeros in any octets cause a BOSH template failure. Operators can remove the leading zeros and try deploying again. This affects properties that feed into cf-networking-release, silk-release, loggregator-agent-release, and syslog-release. Syslog drains and metric registrar endpoints registered using user-provided services might also be affected.

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.198</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>2.43.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.272.0</td></tr>
    <tr><td>diego</td><td>2.57.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.7</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.228.0</td></tr>
    <tr><td>silk</td><td>2.43.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>



### <a id='2.10.20'></a> 2.10.20

**Release Date:** 12/15/2021

<%= partial "/pcf/tas/known-issues/gorouter-spanid-note" %>

* **[Bug Fix]** Fix "pre-start scripts failed. Failed Jobs: policy-server" error Upgrading to CF Networking Release 2.40.0
* **[Bug Fix]** Enabling audit logging file rotation to reduce IO load during log rotation
* **[Bug Fix]** Smoke Tests uses specified domain for Isolation Segments
* Bump bpm to version `1.1.15`
* Bump cf-networking to version `2.42.0`
* Bump cflinuxfs3 to version `0.268.0`
* Bump diego to version `2.54.0`
* Bump metrics-discovery to version `3.0.7`
* Bump routing to version `0.227.0`
* Bump silk to version `2.41.0`
* Bump smoke-tests to version `4.3.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>~621</td></tr>
    <tr><td>bpm</td><td>1.1.15</td></tr>
    <tr><td>cf-networking</td><td>2.42.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.268.0</td></tr>
    <tr><td>diego</td><td>2.54.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.227.0</td></tr>
    <tr><td>silk</td><td>2.41.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>


### <a id='2.10.19'></a> 2.10.19

**Release Date:** 11/23/2021

* **[Breaking Change]** All Gorouter certificates require a SubjectAltName extension. If any Gorouter certificates lack a SubjectAltName, deployment fails. If you need to complete a deployment before configuring new Gorouter certificates, select **Enable temporary workaround for certs without SANs** in the **Networking** pane of the <%= vars.app_runtime_abbr %> tile. For more information about updating certificates, see [Routing and Golang 1.15 X.509 CommonName deprecation](https://community.pivotal.io/s/article/Routing-and-golang-1-15-X-509-CommonName-deprecation) in the Knowledge Base.
* Bump bpm to version `1.1.15`
* Bump cf-networking to version `2.40.0`
* Bump cflinuxfs3 to version `0.264.0`
* Bump diego to version `2.53.1`
* Bump routing to version `0.226.0`
* Bump silk to version `2.40.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.15</td></tr>
    <tr><td>cf-networking</td><td>2.40.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.264.0</td></tr>
    <tr><td>diego</td><td>2.53.1</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.226.0</td></tr>
    <tr><td>silk</td><td>2.40.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
### <a id='2.10.18'></a> 2.10.18

**Release Date:** 10/20/2021

* Bump bpm to version `1.1.14`
* Bump cf-networking to version `2.39.0`
* Bump cflinuxfs3 to version `0.262.0`
* Bump silk to version `2.39.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.14</td></tr>
    <tr><td>cf-networking</td><td>2.39.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.262.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.224.0</td></tr>
    <tr><td>silk</td><td>2.39.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.17'></a> 2.10.17

**Release Date:** 09/29/2021

* **[Security Fix]** Fixes an issue where BBS socket connections could be kept alive unnecessarily
* **[Feature Improvement]** Disable Diego container proxy ALPN
* Bump cflinuxfs3 to version `0.259.0`
* Bump diego to version `2.53.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.259.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.224.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.16'></a> 2.10.16

**Release Date:** 09/16/2021

* **[Bug Fix]** garden-runc - Fix handling reserved space on ext4 and generating bundle mounts when SMB volumes are present
* Bump cflinuxfs3 to version `0.256.0`
* Bump garden-runc to version `1.19.30`
* Bump routing to version `0.224.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.256.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.224.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.15'></a> 2.10.15

**Release Date:** 09/09/2021

* **[Security Fix]** Gorouter built with Go 1.16.7 to address [CVE-2021-36221](https://nvd.nist.gov/vuln/detail/CVE-2021-36221)
* **[Bug Fix]** garden-runc - recover after cell restarts
* **[Breaking Change]** Gorouter sends all responses with transfer-encoded chunks. Some responses that were not chunked in previous versions now use transfer-encoded chunks. For more information, see [Clients receive responses with no Content-Length header and a chunked encoded body after upgrading Tanzu Application Service for VMs](https://community.pivotal.io/s/article/Clients-receive-responses-with-no-Content-Length-header-and-a-chunked-encoded-body-after-upgrading-Tanzu-Application-Service-for-VMs) in the Knowledge Base. _(edited 20 Oct 2021)_
* Bump bpm to version `1.1.13`
* Bump cflinuxfs3 to version `0.252.0`
* Bump garden-runc to version `1.19.29`
* Bump routing to version `0.221.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.252.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.29</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.221.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.10.14'></a> 2.10.14

**Release Date:** 07/15/2021

* **[Feature Improvement]** garden-runc - Enable usage of .NET diagnostic tools
* **[Bug Fix]** Prevent tcp routes from using system component ports.
* Bump cf-networking to version `2.38.0`
* Bump cflinuxfs3 to version `0.249.0`
* Bump garden-runc to version `1.19.28`
* Bump metrics-discovery to version `3.0.6`
* Bump routing to version `0.216.0`
* Bump silk to version `2.38.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.12</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.249.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.28</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.216.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.13'></a> 2.10.13

**Release Date:** 06/22/2021

* **[Security Fix]** Bump some dependencies to resolve security vulnerabilities
* Bump bpm to version `1.1.12`
* Bump cf-networking to version `2.37.0`
* Bump cflinuxfs3 to version `0.241.0`
* Bump loggregator-agent to version `6.0.6`
* Bump metrics-discovery to version `3.0.5`
* Bump silk to version `2.37.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.12</td></tr>
    <tr><td>cf-networking</td><td>2.37.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.241.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.6</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.5</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.213.0</td></tr>
    <tr><td>silk</td><td>2.37.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.12'></a> 2.10.12

**Release Date:** 05/27/2021

* **[Feature Improvement]** Patch versions can be upgraded without a stemcell upgrade
* **[Feature Improvement]** Adds per request metrics reporting, which makes metric frequency proportional to request frequency
* **[Bug Fix]** Smoke Test allows the operator to provide the apps_domain property when deploying TAS and also properly configures user provided space when deploying an isolation segment
* Bump bpm to version `1.1.11`
* Bump cf-networking to version `2.36.0`
* Bump cflinuxfs3 to version `0.238.0`
* Bump diego to version `2.50.0`
* Bump garden-runc to version `1.19.25`
* Bump routing to version `0.213.0`
* Bump silk to version `2.36.0`
* Bump smoke-tests to version `4.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.11</td></tr>
    <tr><td>cf-networking</td><td>2.36.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.238.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.213.0</td></tr>
    <tr><td>silk</td><td>2.36.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.11'></a> 2.10.11

**Release Date:** 03/31/2021

* **[Breaking Change]** This restores the breaking change originally found in 2.10.9 and temporarily remediated in 2.10.10: Gorouter update to Golang v1.15 introduces stricter transfer-encoding header standards. Stricter header standards break Spring apps that incorrectly set the header. For more information, see [Applications on TAS for VMs get 502 chunked response error](https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US) in the Knowledge Base.
* **[Feature]** gorouter - Operator can limit CAs gorouter trusts when validating client certs to a specified list. For more information, see [Configure Networking](https://docs.pivotal.io/application-service/2-10/operating/installing-pcf-is.html#networking).
* Bump ubuntu-xenial stemcell to version `621.115`
* Bump cflinuxfs3 to version `0.227.0`
* Bump diego to version `2.49.0`
* Bump routing to version `0.212.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.115</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.35.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.227.0</td></tr>
    <tr><td>diego</td><td>2.49.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.212.0</td></tr>
    <tr><td>silk</td><td>2.35.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.10'></a> 2.10.10

**Release Date:** 02/19/2021

* **[Temporary Remediation]** Gorouter - Emit log, emit metric, and don't error when an app response contains a duplicate "Transfer-Encoding: chunked" header. This is a stop gap to discover which apps are sending invalid responses. For more information, see [Applications on TAS for VMs get 502 chunked response error](https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US) in the Knowledge Base.
* Bump ubuntu-xenial stemcell to version `621.101`
* Bump cflinuxfs3 to version `0.223.0`
* Bump routing to version `0.211.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.101</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.35.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.223.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.211.1</td></tr>
    <tr><td>silk</td><td>2.35.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.10.9'></a> 2.10.9

**Release Date:** 12/18/2020

* **[Breaking Change]** Gorouter update to Golang v1.15 introduces stricter transfer-encoding header standards. Stricter header standards break Spring apps that incorrectly set the header. For more information, see [Applications on TAS for VMs get 502 chunked response error](https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US) in the Knowledge Base.
* **[Security Fix]** Bump garden-runc-release to address [CVE-2020-15257](https://nvd.nist.gov/vuln/detail/CVE-2020-15257)
* Bump ubuntu-xenial stemcell to version `621.94`
* Bump cf-networking to version `2.35.0`
* Bump cflinuxfs3 to version `0.216.0`
* Bump garden-runc to version `1.19.18`
* Bump routing to version `0.210.0`
* Bump silk to version `2.35.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.94</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.35.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.216.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.210.0</td></tr>
    <tr><td>silk</td><td>2.35.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.8'></a> 2.10.8

**Release Date:** 11/18/2020

* No BOSH release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.90</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.210.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.7'></a> 2.10.7

**Release Date:** 11/04/2020

* **[Bug Fix]** Downgrade haproxy to prevent blackbox failure
* Bump ubuntu-xenial stemcell to version `621.90`
* Bump metrics-discovery to version `3.0.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.90</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.210.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.6'></a> 2.10.6

**Release Date:** 10/26/2020

* **[Feature Improvement]** Networking: Clarify that drain timeout should be lower than backend request timeout to reduce drain time during deploys
* **[Bug Fix]** Loggregator Agent Release - Prom Scraper metrics server names match
* Bump ubuntu-xenial stemcell to version `621.89`
* Bump cf-networking to version `2.34.0`
* Bump cflinuxfs3 to version `0.210.0`
* Bump routing to version `0.208.0`
* Bump silk to version `2.34.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.89</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.210.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.5'></a> 2.10.5

**Release Date:** 10/09/2020

* **[Feature]** The v7 cf CLI is the default CLI
* **[Bug Fix]** Remove "power_of_two" constraint from CPU resource definitions
* **[BUG FIX]** syslog-agent - Add ops man cert to use syslog ingestion for log-cache
* Bump ubuntu-xenial stemcell to version `621.85`
* Bump cflinuxfs3 to version `0.208.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.85</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.33.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.208.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.207.0</td></tr>
    <tr><td>silk</td><td>2.33.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.4'></a> 2.10.4

**Release Date:** 09/21/2020

* Bump ubuntu-xenial stemcell to version `621.84`
* Bump cflinuxfs3 to version `0.204.0`
* Bump routing to version `0.207.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.84</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.33.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.204.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.207.0</td></tr>
    <tr><td>silk</td><td>2.33.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.3'></a> 2.10.3

**Release Date:** 09/09/2020

* **[Security Fix]** Fix for [CVE-2020-5420](https://tanzu.vmware.com/security/cve-2020-5420): Improve Gorouter's handling of invalid HTTP responses
* **[Feature Improvement]** Gorouter aliases /healthz to /health in order to prevent downtime during upgrades
* Bump ubuntu-xenial stemcell to version `621.82`
* Bump cf-networking to version `2.33.0`
* Bump diego to version `2.48.0`
* Bump nfs-volume to version `7.0.4`
* Bump routing to version `0.206.0`
* Bump silk to version `2.33.0`
* Bump smoke-tests to version `2.2.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.82</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.33.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.203.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>routing</td><td>0.206.0</td></tr>
    <tr><td>silk</td><td>2.33.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.2'></a> 2.10.2

**Release Date:** 08/24/2020

* **[Bug Fix]** loggr-syslog-agent - Fix server alternative name
* **[Bug Fix]**: Return 502 TLS Handshake error for an unresponsive backend
* **[Bug Fix]** Bump garden-runc to v1.19.16
* Bump ubuntu-xenial stemcell to version `621.78`
* Bump cflinuxfs3 to version `0.203.0`
* Bump garden-runc to version `1.19.16`
* Bump routing to version `0.205.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.78</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.31.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.203.0</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>license</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>routing</td><td>0.205.0</td></tr>
    <tr><td>silk</td><td>2.31.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.1'></a> 2.10.1

**Release Date:** 08/08/2020

* **[Bug Fix]** Fix issue where requests to internal routes could fail due to incorrect case-sensitivity in DNS lookup in the service discovery controller.
* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump ubuntu-xenial stemcell to version `621.77`
* Bump cf-networking to version `2.31.0`
* Bump cflinuxfs3 to version `0.202.0`
* Bump garden-runc to version `1.19.14`
* Bump silk to version `2.31.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.77</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.31.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.202.0</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>silk</td><td>2.31.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>



### <a id='2.10.0'></a> 2.10.0

**Release Date:** July 31, 2020

* See [New Features in Isolation Segment v2.10](#new-features)
* See [Breaking Changes](#breaking-changes)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.76</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.198.0</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About <%= vars.segment_runtime_full %>

The <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile is available for installation with <%= vars.platform_name %> <%= vars.v_major_version %>.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different <%= vars.platform_name %> deployments but avoids redundant management and network complexity. For more information about isolation segments, see [Isolation Segments](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/security.html#isolation-segments) in _<%= vars.app_runtime_abbr %> Security_.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing <%= vars.segment_runtime_full %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/installing-pcf-is.html).

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following major features:

### <a id='syslog-no-metrics'></a>Aggregate Syslog Drains Contain Logs Only

When you configure an aggregate syslog drain in <%= vars.segment_runtime_full %> v2.10, by default you receive logs only.
You do not also receive metrics.
By not including metrics alongside logs, your syslog drain uses fewer resources and reduces network traffic between <%= vars.app_runtime_abbr %> components and your external logging service.

If you want the aggregate drain to send metrics along with logs, you can modify your drain URLs.

To continue to see metrics in your drains after upgrading to <%= vars.segment_runtime_full %> v2.10:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the **<%= vars.segment_runtime_full %>** tile in the Installation Dashboard.
1. Select **System Logging**.
1. For **Address**, enter the hostname or IP address of the syslog server and append `?include-metrics-deprecated=true`. For example, `https://syslog-server.com:123?include-metrics-deprecated=true`.
1. Click **Save**.

For more information about configuring aggregate syslog drains, see [Configure System Logging](https://docs.pivotal.io/application-service/2-10/operating/configure-pas.html#sys-logging) in _Configuring TAS for VMs_.

### <a id='sticky-cookies'></a> Configurable Sticky Session Cookie Names

You can supply sticky session cookie names for the Gorouter to use when handling sticky sessions.
The Gorouter uses these cookies to support session affinity, or _sticky sessions_.
For more information, see [Session Affinity](https://docs.pivotal.io/platform/2-10/concepts/http-routing.html#sessions)
in _HTTP Routing_.

By default, the Gorouter uses `JSESSIONID`. Some apps require a different session name.
For example, Spring WebFlux requires `SESSION` for the session cookie name.

To supply cookie names, see [Configure Networking](https://docs.pivotal.io/application-service/2-10/operating/installing-pcf-is.html#networking) in _Installing <%= vars.segment_runtime_full %>_.

## <a id='breaking-changes'></a> Breaking Changes

There are no breaking changes in this release of <%= vars.segment_runtime_full %>.

## <a id='known-issues'></a> Known Issues

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following known issues:

### <a id='gorouter-incorrect-span-id'></a>Gorouter Sets an Invalid X-B3-SpanID Header

<%= partial "/pcf/tas/known-issues/gorouter-spanid" %>
