---
title: Isolation Segment v3.0 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<%= vars.app_runtime_first %> is certified by the Cloud Foundry Foundation for 2023.

For more information about the Cloud Foundry Certified Provider Program, see [How Do I Become a Certified
Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/) on the Cloud Foundry website.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='3.0.5'></a> v3.0.5

**Release Date:** 01/30/2023

* Bump cf-networking to version `3.19.0`
* Bump garden-runc to version `1.22.9`
* Bump silk to version `3.19.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.75</td></tr>
    <tr><td>bpm</td><td>1.1.19</td></tr>
    <tr><td>cf-networking</td><td>3.19.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td></tr>
    <tr><td>diego</td><td>2.71.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.9</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.6</td></tr>
    <tr><td>mapfs</td><td>1.2.12</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td></tr>
    <tr><td>nfs-volume</td><td>7.1.8</td></tr>
    <tr><td>routing</td><td>0.254.0</td></tr>
    <tr><td>silk</td><td>3.19.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.6</td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td></tr>
    <tr><td>syslog</td><td>12.1.1</td></tr>
  </tbody>
</table>



### <a id='3.0.4'></a> v3.0.4

**Release Date:** 01/16/2023

* **[Feature Improvement]** vxlan-policy-agent logs when asgs are updated
* Bump cf-networking to version `3.18.0`
* Bump diego to version `2.71.0`
* Bump garden-runc to version `1.22.7`
* Bump loggregator-agent to version `6.5.6`
* Bump routing to version `0.254.0`
* Bump silk to version `3.18.0`
* Bump smoke-tests to version `4.8.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.75</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.18.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td><td></td></tr>
    <tr><td>diego</td><td>2.71.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.7</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.6</td>
      <td>
        <details>
          <summary>v6.5.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * fix scraping with non-positive intervals to preserve non-scraping behavior by @Benjamintf1 in https://github.com/cloudfoundry/loggregator-agent-release/pull/174
  * updated some dependencies.
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.5...v6.5.6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.12</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.8</td><td></td></tr>
    <tr><td>routing</td><td>0.254.0</td>
      <td>
        <details>
          <summary>v0.254.0</summary>
          <pre style="max-width: 30em">
  ✨ Built with go 1.19.5
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.253.0...v0.254.0
          </pre>
        </details>
        <details>
          <summary>v0.253.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Specs to make maxRetries configurable for endpoints and route-services by @domdom82 in https://github.com/cloudfoundry/routing-release/pull/298
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.252.0...v0.253.0
          </pre>
        </details>
        <details>
          <summary>v0.252.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - Improve random source for least connection pool to be thread safe. Thanks Daniel Lynch!
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.251.0...v0.252.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.18.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.6</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.2</td>
      <td>
        <details>
          <summary>4.8.2</summary>
          <pre style="max-width: 30em">
  Port assets/ruby_simple to Ruby 3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.1.1</td><td></td></tr>
  </tbody>
</table>



### <a id='3.0.3'></a> v3.0.3

**Release Date:** 12/15/2022

* **[Security Fix]** Fix CVE-2022-31733: Unsecured Application Port
* Bump cf-networking to version `3.16.0`
* Bump diego to version `2.70.0`
* Bump loggregator-agent to version `6.5.5`
* Bump metrics-discovery to version `3.2.4`
* Bump routing to version `0.251.0`
* Bump silk to version `3.15.1`
* Bump smoke-tests to version `4.8.1`
* Bump syslog to version `12.1.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.64</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.16.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td><td></td></tr>
    <tr><td>diego</td><td>2.70.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.5</td>
      <td>
        <details>
          <summary>v6.5.5</summary>
          <pre style="max-width: 30em">
  - bump-golang to v0.114.0 for golang 1.19.4
  - Bump google.golang.org/grpc from 1.50.1 to 1.51.0 in /src
  - Bump github.com/valyala/fasthttp from 1.41.0 to 1.43.0 in /src
  - Bump github.com/onsi/ginkgo/v2 from 2.5.0 to 2.5.1 in /src
  - Bump github.com/onsi/gomega from 1.24.0 to 1.24.1 in /src
  - Bump github.com/prometheus/client_model from 0.2.0 to 0.3.0 in /src
  - Bump golangci/golangci-lint-action from 3.3.0 to 3.3.1
          </pre>
        </details>
        <details>
          <summary>v6.5.4</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - Bump to go1.19.3
  - Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.3...v6.5.4
          </pre>
        </details>
        <details>
          <summary>v6.5.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fix logs for forwarder agent drops by @rroberts2222 in https://github.com/cloudfoundry/loggregator-agent-release/pull/156
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.2...v6.5.3
          </pre>
        </details>
        <details>
          <summary>v6.5.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump golang to 1.19.2
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.1...v6.5.2
          </pre>
        </details>
        <details>
          <summary>v6.5.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * remove the use of sha1 by @duanemay in https://github.com/cloudfoundry/loggregator-agent-release/pull/133
  * Bump github.com/valyala/fasthttp from 1.39.0 to 1.40.0 in /src by @dependabot in https://github.com/cloudfoundry/loggregator-agent-release/pull/129
  * Upgrade ginkgo to v2 by @ctlong in https://github.com/cloudfoundry/loggregator-agent-release/pull/135
  * Golang 1.19.1 by @rroberts2222 in https://github.com/cloudfoundry/loggregator-agent-release/pull/138
  ## New Contributors
  * @duanemay made their first contribution in https://github.com/cloudfoundry/loggregator-agent-release/pull/133
  * @rroberts2222 made their first contribution in https://github.com/cloudfoundry/loggregator-agent-release/pull/138
  **Full Changelog**: https://github.com/cloudfoundry/loggregator-agent-release/compare/v6.5.0...v6.5.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.12</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.4</td>
      <td>
        <details>
          <summary>v3.2.4</summary>
          <pre style="max-width: 30em">
  - bump-golang to v0.114.0 for golang 1.19.4
  - Bump github.com/nats-io/nats.go from 1.19.0 to 1.21.0 in /src
  - Bump google.golang.org/grpc from 1.50.1 to 1.51.0 in /src
  - Bump github.com/onsi/ginkgo/v2 from 2.5.0 to 2.5.1 in /src
  - Bump github.com/prometheus/client_golang from 1.13.1 to 1.14.0 in /src
  - Bump github.com/onsi/gomega from 1.24.0 to 1.24.1 in /src
  - Bump golangci/golangci-lint-action from 3.3.0 to 3.3.1
          </pre>
        </details>
        <details>
          <summary>v3.2.3</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump to go1.19.3
  * Bump dependencies
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.2...v3.2.3
          </pre>
        </details>
        <details>
          <summary>v3.2.2</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update golang to 1.19.2
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.1...v3.2.2
          </pre>
        </details>
        <details>
          <summary>v3.2.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump github.com/onsi/ginkgo/v2 from 2.1.6 to 2.2.0 in /src by @dependabot in https://github.com/cloudfoundry/metrics-discovery-release/pull/51
  * Bump github.com/nats-io/nats.go from 1.16.0 to 1.17.0 in /src by @dependabot in https://github.com/cloudfoundry/metrics-discovery-release/pull/50
  * Replace `ioutil` use with `io` and `os` by @ctlong in https://github.com/cloudfoundry/metrics-discovery-release/pull/52
  * Bump to golang 1.19.1 by @Benjamintf1 in https://github.com/cloudfoundry/metrics-discovery-release/pull/54
  ## New Contributors
  * @rroberts2222 made their first contribution in https://github.com/cloudfoundry/metrics-discovery-release/pull/55
  **Full Changelog**: https://github.com/cloudfoundry/metrics-discovery-release/compare/v3.2.0...v3.2.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nfs-volume</td><td>7.1.8</td><td></td></tr>
    <tr><td>routing</td><td>0.251.0</td>
      <td>
        <details>
          <summary>v0.251.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - When the `router.ca_certs` property switched from a multi-line string of certs, to an array of certs, gorouter started failing to start up if any of the certs provided were invalid. Previously they were ignored. This has been reverted, so that any invalid CA certs are ignored during startup. Thanks @ameowlia!
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.250.0...v0.251.0
          </pre>
        </details>
        <details>
          <summary>v0.250.0</summary>
          <pre style="max-width: 30em">
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.249.0...v0.250.0
  ## ✨  Built with go 1.19.4
          </pre>
        </details>
        <details>
          <summary>v0.249.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Switch to healthecker package in cf-networking-helpers by @mariash in https://github.com/cloudfoundry/routing-release/pull/302
  * Add healthchecker package to sync-package-specs file by @mariash in https://github.com/cloudfoundry/routing-release/pull/303
  * **Potential Breaking Change:** In preperation for mtls between gorouter and routing api, add gorouter backends ca to routing-api. Rendering these certs depends on routing-api consuming a link from gorouter. If you have multiple gorouter instance groups (for example in the case of isolation segments), you will need to rename bosh links to prevent the error "Multiple link providers found. For an example of link renaming, see [this ops file](https://github.com/cloudfoundry/cf-deployment/blob/main/operations/test/add-persistent-isolation-segment-router.yml#L74) by @reneighbor in https://github.com/cloudfoundry/routing-release/pull/300
  * Ensure gorouter-healthchecker doesn't restart gorouter forever on failure by @geofffranks in https://github.com/cloudfoundry/routing-release/pull/305
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.248.0...v0.249.0
          </pre>
        </details>
        <details>
          <summary>v0.248.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Handle nil ca cert in ca_certs property list
          </pre>
        </details>
        <details>
          <summary>v0.247.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * gorouter template cleans `router.ca_certs` property to remove empty certificates
          </pre>
        </details>
        <details>
          <summary>v0.246.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update `router.ca_certs` property to accept and array of certificates instead of a string block. Thanks @peanball!
          </pre>
        </details>
        <details>
          <summary>v0.245.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter's pre-start script now reserves ports used by other CF components when it increases the number of ephemeral ports available via `/proc/sys/net/ipv4/ip_local_reserved_ports`. This resolves issues when components fail to start up during deploys/monit restarts due to accidental port collisions with outbound traffic from the VM. Thanks @ameowlia !
  * Routing-release no longer makes use of the deprecated uaa-go-client, and uses go-uaa instead
  * The `routing_utils/nats_client` helper utility now supports saving + loading gorouter's routing tables! Thanks @domdom82 !
  * Fixed a memory leak with `gorouter` that resulted in HTTP request objects being held open if a client canceled the connection before the App responded.  Thanks @geofffranks !
  * **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.244.0...v0.245.0
  ## ✨  Built with go 1.19.3
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.15.1</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.6</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.1</td>
      <td>
        <details>
          <summary>4.8.1</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.1
          </pre>
        </details>
        <details>
          <summary>4.8.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.1.1</td>
      <td>
        <details>
          <summary>v12.1.1</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Update golang to 1.19.4
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.1.0...v12.1.1
          </pre>
        </details>
        <details>
          <summary>v12.1.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * allow setting tls library by @rroberts2222 in https://github.com/cloudfoundry/syslog-release/pull/105
  ## New Contributors
  * @acrmp made their first contribution in https://github.com/cloudfoundry/syslog-release/pull/102
  * @rroberts2222 made their first contribution in https://github.com/cloudfoundry/syslog-release/pull/105
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.0.6...v12.1.0
          </pre>
        </details>
        <details>
          <summary>v12.0.6</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update dependencies
  * update golang to 1.19.3
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.0.5...v12.0.6
          </pre>
        </details>
        <details>
          <summary>v12.0.5</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * update to golang 1.19.2
  **Full Changelog**: https://github.com/cloudfoundry/syslog-release/compare/v12.0.4...v12.0.5
          </pre>
        </details>
      </td>
    </tr>
  </tbody>
</table>



### <a id='3.0.2'></a> v3.0.2

**Release Date:** 12/01/2022

* **[Feature Improvement]** GA **CPU Burst Optimization** feature. This feature can be enabled via the App Containers tab.
* Bump diego to version `2.69.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.8</td></tr>
    <tr><td>bpm</td><td>1.1.19</td></tr>
    <tr><td>cf-networking</td><td>3.14.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td></tr>
    <tr><td>diego</td><td>2.69.0</td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td></tr>
    <tr><td>mapfs</td><td>1.2.12</td></tr>
    <tr><td>metrics-discovery</td><td>3.2.0</td></tr>
    <tr><td>nfs-volume</td><td>7.1.8</td></tr>
    <tr><td>routing</td><td>0.244.0</td></tr>
    <tr><td>silk</td><td>3.14.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.6</td></tr>
    <tr><td>smoke-tests</td><td>4.7.0</td></tr>
    <tr><td>syslog</td><td>12.0.4</td></tr>
  </tbody>
</table>



### <a id='3.0.1'></a> v3.0.1

**Release Date:** 11/15/2022

* **[Feature]** Add "Max request header size in kb" property to Networking tab to allow operators to specify a limit on the aggregate size of request headers. Requests over this limit receive a 431 status code.
* Bump cf-networking to version `3.14.0`
* Bump garden-runc to version `1.22.5`
* Bump mapfs to version `1.2.12`
* Bump nfs-volume to version `7.1.8`
* Bump routing to version `0.244.0`
* Bump silk to version `3.14.0`
* Bump smb-volume to version `3.1.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.8</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.14.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.12</td>
      <td>
        <details>
          <summary>v1.2.12</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Replace `go get` with `go install` (#23)
  * Update vendored package golang-1-linux (#26)
  * Update vendored package golang-1-linux (#27)
  ## Dependencies
  * **mapfs:** Updated to v`27f8711`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.8</td>
      <td>
        <details>
          <summary>v7.1.8</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Fix upgrade from 7.1.6 (#253)
  * Include openldap 2.4.44 blob in release to use it in Xenial (#254)
          </pre>
        </details>
        <details>
          <summary>v7.1.7</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Add final release 7.1.6 [ci skip]
  * Bump OpenLDAP package to 2.5.13 LTS, which supports xenial (#241)
  * Remove libnfsidmap from jammy. Was replaced by new nfs-utils (#220)
  * Replace `go get` with `go install` (#209)
  ## Dependencies
  * **bosh-template:** Updated to v2.3.0.<br>For more information, see [bosh-template](https://github.com/cloudfoundry/bosh).
  * **gomega:** Updated to v1.20.2.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **nfsbroker:** Updated to v`2e74bed`.<br>For more information, see [nfsbroker](https://github.com/cloudfoundry/nfsbroker).
  * **nfsv3driver:** Updated to v`e206602`.<br>For more information, see [nfsv3driver](https://github.com/cloudfoundry/nfsv3driver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.244.0</td>
      <td>
        <details>
          <summary>v0.244.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Emit access logs for 431 responses to Loggegator [gorouter PR #331](https://github.com/cloudfoundry/gorouter/pull/331). Thanks @dsabeti !
  * Always suspend pruning when nats is down https://github.com/cloudfoundry/routing-release/pull/287. Thanks @ameowlia !
  * **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.243.0...v0.244.0
  ## ✨  Built with go 1.19.2
          </pre>
        </details>
        <details>
          <summary>v0.243.0</summary>
          <pre style="max-width: 30em">
  🎉 Bumped to go1.19.2
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.242.0...v0.243.0
          </pre>
        </details>
        <details>
          <summary>v0.242.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  -  `tcp_router` is now more verbose when running `haproxy_reloader` to assist in diagnosting failed reloads. Thanks @geofffranks! 🎉 ([PR 9](https://github.com/cloudfoundry/cf-tcp-router/pull/9))
  - `gorouter` will now truncate access logs that exceed loggregator + UDP packet limits, so that we no longer drop access log messages sent to the firehose. Thanks @ameowlia @ebroberson! 😻 ([PR 328](https://github.com/cloudfoundry/gorouter/pull/328) and [PR 329](https://github.com/cloudfoundry/gorouter/pull/329))
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.241.0...v0.242.0
  ## ✨  Built with go 1.18
  * despite what the docs/go.version says
  * because the go 1.18 package is present
          </pre>
        </details>
        <details>
          <summary>v0.241.0</summary>
          <pre style="max-width: 30em">
  🎉 ~~Bumped to go1.19.1~~
  * Still using go 1.18
  * despite what the docs/go.version says
  * because the go 1.18 package is present
  * @plowin submitted [gorouter PR 327](https://github.com/cloudfoundry/gorouter/pull/327) to adjust endpoint-not-unregistered log-level to 'info'
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.240.0...v0.241.0
          </pre>
        </details>
        <details>
          <summary>v0.240.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * @geofffranks and @ameowlia added property `router.max_header_bytes` to the gorouter job.
  * This value controls the maximum number of bytes the gorouter will read parsing the request header's keys and values, including the request line.
  * It does not limit the size of the request body.
  * An additional padding of 4096 bytes is added to this value by go.
  * Requests with larger headers will result in a 431 status code.
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.239.0...v0.240.0
  ## Manifest Property Changes
  | Job | Property | 0.237.0 | 0.238.0 |
  | --- | --- | --- | --- |
  | `gorouter` | `router.max_header_bytes` | didn't exist | 1048576 (1MB) |
  ## ✨  Built with go 1.18.6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.14.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.6</td>
      <td>
        <details>
          <summary>v3.1.6</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#67)
  * Update vendored package golang-1-linux (#70)
  ## Dependencies
  * **bosh-template:** Updated to v2.3.0.<br>For more information, see [bosh-template](https://github.com/cloudfoundry/bosh).
  * **smbbroker:** Updated to v`89a0251`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`68ff9d8`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.7.0</td><td></td></tr>
    <tr><td>syslog</td><td>12.0.4</td><td></td></tr>
  </tbody>
</table>



<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='3-0-0'></a> v3.0.0

**Release Date:** 10/06/2022

* **[Feature Improvement]** Bump component releases in time for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>
* **[Feature Improvement]** Bump golang to 1.18 for diego, routing, cf-networking, and silk
* **[Feature Improvement]** Gorouter Metrics Toggle
* **[Breaking Change]** HAProxy removed
* Bump garden-runc to version `1.22.2`
* Bump metrics-discovery to version `3.2.0`
* Bump smoke-tests to version `4.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-jammy stemcell</td><td>1.8</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.321.0</td><td></td></tr>
    <tr><td>cflinuxfs4</td><td>0.28.0</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.2</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.0</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.11</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.2.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>7.1.6</td><td></td></tr>
    <tr><td>routing</td><td>0.239.0</td><td></td></tr>
    <tr><td>silk</td><td>3.12.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.7.0</td>
      <td>
        <details>
          <summary>4.7.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.7.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>12.0.4</td><td></td></tr>
  </tbody>
</table>


## <a id='install'></a> How to Install

<% if vars.platform_code != 'OFFLINE' %>
To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../operating/installing-pcf-is.html).
<% end %>

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install Ops Manager <%= vars.v_major_version %>. For more information,
see the [Ops Manager documentation](https://docs.pivotal.io/ops-manager/index.html).


## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

There are no new features for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.


## <a id='breaking-changes'></a> Breaking Changes

### <a id='jammy-instance-groups'></a> Jammy Stemcell Used For All Instance Groups

All VMs that <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> deploys run on the Jammy Jellyfish stemcell described in [Jammy Jellyfish Stemcell
Support](#ubuntu-jammy) above. Because of this, any add-ons from other tiles or configured in the BOSH Director that are colocated on
<%= vars.app_runtime_abbr %> VMs do not function unless they support the Jammy Jellyfish stemcell.

Tiles that are compatible <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> already work with Jammy Jellyfish stemcells.

Further, the use of the Jammy Stemcell means TAS now requires an Ops Manager with Jammy support, which means Ops Manager version 2.10.33 or greater.

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following breaking changes:

### <a id='haproxy-removed'></a> HAProxy is Removed

In <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, HAProxy is removed.

If you are upgrading to <%= vars.segment_runtime_full %> <%= vars.v_major_version %> from <%= vars.segment_runtime_full %> v2.13 or earlier, you must
re-configure the following settings in the <%= vars.segment_runtime_full %> tile before you upgrade:

* In the **Networking** pane:
  * If you previously selected **HAProxy** under **TLS termination point**, you must select **Gorouter** instead.
  * If you previously configured the **HAProxy IPs** field, you may need to configure the **Gorouter IPs** field instead. Depending on how you configured the
  **Allow SSH access to app containers** and **TCP routing** settings, you may also need to configure the **SSH Proxy IPs** or **TCP router IPs** fields.

* In the **Resource Config** pane:
  * If you previously configured load balancers under the **HAProxy**, you must configure load balancers under the **Router** job instead. Depending on how
  you configured the **Allow SSH access to app containers** and **TCP routing** settings in the **Networking** pane, you may also need to configure load
  balancers under the **Diego Brain** or **TCP Router** jobs.

<% if vars.platform_code != 'OFFLINE' %>
For more information about configuring these settings, see [Configure Networking](../operating/installing-pcf-is.html#networking) and [Configure
Resources](../operating/installing-pcf-is.html#resources) in _Installing <%= vars.segment_runtime_full %>_.
<% end %>

### <a id='global-log-rate-limit'></a> Global Log Rate Limit is Deprecated

The global log rate limit that measures app log rates in lines per second is deprecated in favor of per-app log rate limits that measure app log rates in
bytes per second.

If you have configured a global log rate limit in lines per second, <%= vars.recommended_by %> recommends that you re-configure your apps to use log rate
limits in bytes per second.

If you still want to use the global log rate limit, logs that exceed the log rate limit are immediately dropped. Previously, logs that exceeded the log rate
limit were buffered and released at the configured log rate.

For more information about app log rate limits, see [App Log Rate Limiting](../loggregator/app-log-rate-limits.html).


## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.
