---
title: Isolation Segment v2.11 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

Because VMware uses the Percona Distribution for MySQL, expect a time lag between Oracle releasing a MySQL patch and VMware releasing
<%= vars.app_runtime_abbr %> containing that patch.

<hr>

## <a id='releases'></a> Releases

### <a id='2.11.23'></a> 2.11.23

**Release Date:** 11/10/2022

* **[Feature]** Add "Max request header size in kb" property to Networking tab to allow operators to specify a limit on the aggregate size of request headers. Requests over this limit receive a 431 status code.
* Bump cflinuxfs3 to version `0.332.0`
* Bump garden-runc to version `1.22.5`
* Bump loggregator-agent to version `6.5.4`
* Bump mapfs to version `1.2.12`
* Bump metrics-discovery to version `3.2.3`
* Bump routing to version `0.244.0`
* Bump silk to version `3.14.0`
* Bump smb-volume to version `3.1.6`
* Bump smoke-tests to version `4.8.1`
* Bump syslog to version `11.8.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.305</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.332.0</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.5</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.5.4</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.12</td>
      <td>
        <details>
          <summary>v1.2.12</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Replace `go get` with `go install` (#23)
  * Update vendored package golang-1-linux (#26)
  * Update vendored package golang-1-linux (#27)
  ## Dependencies
  * **mapfs:** Updated to v`27f8711`.<br>For more information, see [mapfs](https://github.com/cloudfoundry/mapfs).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.2.3</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.20</td><td></td></tr>
    <tr><td>routing</td><td>0.244.0</td>
      <td>
        <details>
          <summary>v0.244.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Emit access logs for 431 responses to Loggegator [gorouter PR #331](https://github.com/cloudfoundry/gorouter/pull/331). Thanks @dsabeti !
  * Always suspend pruning when nats is down https://github.com/cloudfoundry/routing-release/pull/287. Thanks @ameowlia !
  * **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.243.0...v0.244.0
  ## ✨  Built with go 1.19.2
          </pre>
        </details>
        <details>
          <summary>v0.243.0</summary>
          <pre style="max-width: 30em">
  🎉 Bumped to go1.19.2
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.242.0...v0.243.0
          </pre>
        </details>
        <details>
          <summary>v0.242.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  -  `tcp_router` is now more verbose when running `haproxy_reloader` to assist in diagnosting failed reloads. Thanks @geofffranks! 🎉 ([PR 9](https://github.com/cloudfoundry/cf-tcp-router/pull/9))
  - `gorouter` will now truncate access logs that exceed loggregator + UDP packet limits, so that we no longer drop access log messages sent to the firehose. Thanks @ameowlia @ebroberson! 😻 ([PR 328](https://github.com/cloudfoundry/gorouter/pull/328) and [PR 329](https://github.com/cloudfoundry/gorouter/pull/329))
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.241.0...v0.242.0
  ## ✨  Built with go 1.18
  * despite what the docs/go.version says
  * because the go 1.18 package is present
          </pre>
        </details>
        <details>
          <summary>v0.241.0</summary>
          <pre style="max-width: 30em">
  🎉 ~~Bumped to go1.19.1~~
  * Still using go 1.18
  * despite what the docs/go.version says
  * because the go 1.18 package is present
  * @plowin submitted [gorouter PR 327](https://github.com/cloudfoundry/gorouter/pull/327) to adjust endpoint-not-unregistered log-level to 'info'
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.240.0...v0.241.0
          </pre>
        </details>
        <details>
          <summary>v0.240.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * @geofffranks and @ameowlia added property `router.max_header_bytes` to the gorouter job.
  * This value controls the maximum number of bytes the gorouter will read parsing the request header's keys and values, including the request line.
  * It does not limit the size of the request body.
  * An additional padding of 4096 bytes is added to this value by go.
  * Requests with larger headers will result in a 431 status code.
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.239.0...v0.240.0
  ## Manifest Property Changes
  | Job | Property | 0.237.0 | 0.238.0 |
  | --- | --- | --- | --- |
  | `gorouter` | `router.max_header_bytes` | didn't exist | 1048576 (1MB) |
  ## ✨  Built with go 1.18.6
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.14.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.6</td>
      <td>
        <details>
          <summary>v3.1.6</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#67)
  * Update vendored package golang-1-linux (#70)
  ## Dependencies
  * **bosh-template:** Updated to v2.3.0.<br>For more information, see [bosh-template](https://github.com/cloudfoundry/bosh).
  * **smbbroker:** Updated to v`89a0251`.<br>For more information, see [smbbroker](https://github.com/cloudfoundry/smbbroker).
  * **smbdriver:** Updated to v`68ff9d8`.<br>For more information, see [smbdriver](https://github.com/cloudfoundry/smbdriver).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.8.1</td>
      <td>
        <details>
          <summary>4.8.1</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.1
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>11.8.4</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.22'></a> 2.11.22

**Release Date:** 10/26/2022

* Bump nfs-volume to version `5.0.20`
* Bump smoke-tests to version `4.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.296</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.319.0</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.0</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.4</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.11</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.1.2</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.20</td>
      <td>
        <details>
          <summary>v5.0.20</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Use the newer golang package, not the older one (#239)
  ## Dependencies
  * **mapfs-release:** Updated to v`db176d8`.<br>For more information, see [mapfs-release](https://github.com/cloudfoundry/mapfs-release).
          </pre>
        </details>
        <details>
          <summary>v5.0.19</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#222)
  ## Dependencies
  * **gomega:** Updated to v1.22.1.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **mapfs-release:** Updated to v`a43c92f`.<br>For more information, see [mapfs-release](https://github.com/cloudfoundry/mapfs-release).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.239.0</td><td></td></tr>
    <tr><td>silk</td><td>3.12.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.8.0</td>
      <td>
        <details>
          <summary>4.8.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.8.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>11.8.2</td><td></td></tr>
  </tbody>
</table>



### <a id='2.11.21'></a> 2.11.21

**Release Date:** 10/12/2022

* Bump routing to version `0.239.0`
* Bump smoke-tests to version `4.7.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.265</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.319.0</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.0</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.4</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.11</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.1.2</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.18</td><td></td></tr>
    <tr><td>routing</td><td>0.239.0</td>
      <td>
        <details>
          <summary>v0.239.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - Bumped Golang to 1.18.6 to mitigate [CVE-2022-27664](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-27664)
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.238.0...v0.239.0
  ## ✨  Built with go 1.18.6
          </pre>
        </details>
        <details>
          <summary>v0.238.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - Gorouter once again supports hairpinning for route-service requests, for more information, see [the proposed update.](https://github.com/cloudfoundry/routing-release/issues/281) `router.route_services_internal_lookup_allowlist` can be used to control which domains of route services can be hairpinned. Thanks @peanball!!
  - Gorouter has a new websocket-specific dial timeout (`websocket_dial_timeout`), configurable separately from the default endpoint dial timeout. Thanks @peanball  for this one too!!
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.237.0...v0.238.0
  ## Manifest Property Changes
  | Job | Property | 0.237.0 | 0.238.0 |
  | --- | --- | --- | --- |
  | `gorouter` | `websocket_dial_timeout_in_seconds` | didn't exist | Defaults to `endpoint_dial_timeout_in_seconds`'s value |
  | `gorouter` | `router.route_services_internal_lookup_allowlist` | didn't exist | No internal lookups allowed for route services. |
  ## ✨  Built with go 1.18.5
          </pre>
        </details>
        <details>
          <summary>v0.237.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  - ⚠️ Bump to golang 1.18 🎉
  **Breaking Changes:** The routing components are now more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. These components have been updated to Go 1.18, and will no longer support TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases.
  Please see this golang 1.18 release notes [section](https://tip.golang.org/doc/go1.18#tls10) for more information about the golang 1.18 change.
  ###
  * Update uaa-go-client; by @joergdw in https://github.com/cloudfoundry/routing-release/pull/277
  * updated spec files to match packages by @ebroberson in https://github.com/cloudfoundry/routing-release/pull/282
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/v0.236.0...v0.237.0
  ## New Contributors
  * @joergdw made their first contribution in https://github.com/cloudfoundry/routing-release/pull/277
  * @ebroberson made their first contribution in https://github.com/cloudfoundry/routing-release/pull/282
  ## ✨  Built with go 1.18.4
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.12.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.7.0</td>
      <td>
        <details>
          <summary>4.7.0</summary>
          <pre style="max-width: 30em">
  Create bosh final release 4.7.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>syslog</td><td>11.8.2</td><td></td></tr>
  </tbody>
</table>



<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2-11-20'></a> v2.11.20

**Release Date:** 09/20/2022

* **[Feature]** As of <%= vars.segment_runtime_full %> v2.13.6 and <%= vars.app_runtime_abbr %> v2.13.9, you can jump upgrade to <%= vars.app_runtime_abbr %>
and <%= vars.segment_runtime_full %> v2.13 from <%= vars.app_runtime_abbr %> and <%= vars.segment_runtime_full %> <%= vars.v_major_version %>. For more
information, see the [<%= vars.app_runtime_abbr %> v2.13 documentation](https://docs.pivotal.io/application-service/2-13/operating/jump-upgrades.html).
* **[Feature Improvement]** Bump golang to 1.18 for diego, routing, cf-networking, and silk
* **[Breaking Change]** If you have configured an app log rate limit that measures app log rates in lines per second, Diego immediately drops app logs that
exceed the app log rate limit. For more information, see [Diego Drops App Logs That Exceed the App Log Rate Limit](#dropped-app-logs) below.
* Bump bpm to version `1.1.19`
* Bump cf-networking to version `3.12.0`
* Bump cflinuxfs3 to version `0.319.0`
* Bump diego to version `2.66.3`
* Bump garden-runc to version `1.22.0`
* Bump loggregator-agent to version `6.4.4`
* Bump mapfs to version `1.2.11`
* Bump metrics-discovery to version `3.1.2`
* Bump nfs-volume to version `5.0.18`
* Bump silk to version `3.12.0`
* Bump smb-volume to version `3.1.5`
* Bump syslog to version `11.8.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.265</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.19</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.12.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.319.0</td><td></td></tr>
    <tr><td>diego</td><td>2.66.3</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.22.0</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.4</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.11</td>
      <td>
        <details>
          <summary>v1.2.11</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#21)
          </pre>
        </details>
        <details>
          <summary>v1.2.8</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Bump src/mapfs to `0ee84aa` #18
          </pre>
        </details>
        <details>
          <summary>v1.2.7</summary>
          <pre style="max-width: 30em">
  - [Bumps mapfs submodule to master@1600494](https://github.com/cloudfoundry/mapfs/commit/160049400a47577b0f3a8b2948974bc38ce76f18)
  - [Bump golang from 1.13 to 1.17](https://github.com/cloudfoundry/mapfs-release/commit/c287adda5cbdf345ff1b4985ae93cb72f1618f95)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>metrics-discovery</td><td>3.1.2</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.18</td>
      <td>
        <details>
          <summary>v5.0.18</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#215)
  ## Dependencies
  * **bosh-template:** Updated to v2.3.0.<br>For more information, see [bosh-template](https://github.com/cloudfoundry/bosh).
  * **gomega:** Updated to v1.20.2.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **mapfs-release:** Updated to v`4413136`.<br>For more information, see [mapfs-release](https://github.com/cloudfoundry/mapfs-release).
          </pre>
        </details>
        <details>
          <summary>v5.0.17</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#206)
  * [ci] Force use of iptables instead of nftables
  ## Dependencies
  * **ginkgo:** Updated to v1.16.5.<br>For more information, see [ginkgo](https://github.com/onsi/ginkgo).
  * **gomega:** Updated to v1.19.0.<br>For more information, see [gomega](https://github.com/onsi/gomega).
  * **mapfs-release:** Updated to v`90d2f31`.<br>For more information, see [mapfs-release](https://github.com/cloudfoundry/mapfs-release).
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>routing</td><td>0.236.0</td><td></td></tr>
    <tr><td>silk</td><td>3.12.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.5</td>
      <td>
        <details>
          <summary>v3.1.5</summary>
          <pre style="max-width: 30em">
  ## Changes
  * Update vendored package golang-1-linux (#58)
          </pre>
        </details>
        <details>
          <summary>v3.1.4</summary>
          <pre style="max-width: 30em">
  ## Release Notes
  - Fix issue when multiple cf versions are included  (#55)
  ## Dependencies
  - The `smbbrokerpush` and `bbr-smbbroker` errands require either the `cf-cli-7-linux` or `cf-cli-6-linux` job from [cf-cli-release](https://bosh.io/releases/github.com/bosh-packages/cf-cli-release?all=1) to be colocated on the errand VM.
          </pre>
        </details>
        <details>
          <summary>v3.1.3</summary>
          <pre style="max-width: 30em">
  ## Release Notes
  - Added support for CF CLI v8 to errands (#45)
  - Fixed Jammy compilation issues (#53)
  ## Dependencies
  - Bump [src/code.cloudfoundry.org/smbbroker](https://github.com/cloudfoundry/smbbroker) (#41, #50)
  - Bump [src/code.cloudfoundry.org/smbdriver](https://github.com/cloudfoundry/smbdriver) (#47, #48, #51)
          </pre>
        </details>
        <details>
          <summary>v3.1.2</summary>
          <pre style="max-width: 30em">
  ## Release Notes
  - Support Bionic Stemcell #16
  - Add blobs for the `keyutils` package for both `bionic` and `jammy`.
  - We now install this package on any VM that runs the `smbdriver` bosh job iff that VM uses a `bionic` or `jammy` stemcell
  - This should allow the `smbdriver` to reliably mount SMB volumes on those stemcells, as discussed in #16
  ## Dependencies
  - The `smbbrokerpush` and `bbr-smbbroker` errands require either the `cf-cli-7-linux` or `cf-cli-6-linux` job from [cf-cli-release](https://bosh.io/releases/github.com/bosh-packages/cf-cli-release?all=1) to be colocated on the errand VM.
          </pre>
        </details>
        <details>
          <summary>v3.1.1</summary>
          <pre style="max-width: 30em">
  ## Release Notes
  * Bumps [bosh-template](https://github.com/cloudfoundry/bosh) from 2.2.0 to 2.2.1 (#22)
  * Bumps [rspec-its](https://github.com/rspec/rspec-its) from 1.2.0 to 1.3.0 (#23)
  * Bumps [rspec](https://github.com/rspec/rspec-metagem) to 3.11.0. (#37)
  * Bumps [src/code.cloudfoundry.org/smbdriver](https://github.com/cloudfoundry/smbdriver) to `1e97c5d` (#34)
  * Bumps [src/code.cloudfoundry.org/smbbroker](https://github.com/cloudfoundry/smbbroker) to `64ba567` (#36)
  * Bumps automake from 1.15 to 1.15.1 (#43 - fixes Bionic compilation)
  ## Dependencies
  - The `smbbrokerpush` and `bbr-smbbroker` errands require either the `cf-cli-7-linux` or `cf-cli-6-linux` job from [cf-cli-release](https://bosh.io/releases/github.com/bosh-packages/cf-cli-release?all=1) to be colocated on the errand VM.
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.8.2</td><td></td></tr>
  </tbody>
</table>

### <a id='2-11-17'></a> v2.11.17

**Release Date:** 08/10/2022

* Bump cf-networking to version `3.11.0`
* Bump cflinuxfs3 to version `0.312.0`
* Bump loggregator-agent to version `6.4.3`
* Bump metrics-discovery to version `3.1.1`
* Bump routing to version `0.236.0`
* Bump silk to version `3.11.0`
* Bump syslog to version `11.8.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.256</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.11.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.312.0</td><td></td></tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.3</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.1.1</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.16</td><td></td></tr>
    <tr><td>routing</td><td>0.236.0</td>
      <td>
        <details>
          <summary>v0.236.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter restart script waits for the gorouter to be running before reloading monit
  ## ✨  Built with go 1.17.12
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.235.0...0.236.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.11.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.8.1</td><td></td></tr>
  </tbody>
</table>

### <a id='2-11-16'></a> v2.11.16

**Release Date:** 07/18/2022

* **[Feature]** Enable telemetry for iptables rules on Diego cells
* Bump cf-networking to version `3.9.0`
* Bump cflinuxfs3 to version `0.309.0`
* Bump diego to version `2.62.0`
* Bump garden-runc to version `1.20.8`
* Bump loggregator-agent to version `6.4.2`
* Bump metrics-discovery to version `3.1.0`
* Bump routing to version `0.235.0`
* Bump silk to version `3.9.0`
* Bump syslog to version `11.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.252</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.9.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.309.0</td><td></td></tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.8</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.2</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.1.0</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.16</td><td></td></tr>
    <tr><td>routing</td><td>0.235.0</td>
      <td>
        <details>
          <summary>0.235.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter healthchecker retries connection instead of monit (https://github.com/cloudfoundry/routing-release/pull/275)
  ## ✨  Built with go 1.17.11
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.234.0...0.235.0
          </pre>
        </details>
        <details>
          <summary>0.234.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Gorouter: the metrics package now uses `lsof` to monitor file descriptors on MacOS @domdom82 https://github.com/cloudfoundry/gorouter/pull/312
  * 🐛 Bumped the `lager` dependency to resolve issues where the timeFormat flag was not honored, resulting in epoch timestamps vs human readable. Thanks @ameowlia!
  * Now tested with the bionic stemcell in CI
  ## ✨  Built with go 1.17.11
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.233.0...0.234.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.9.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.8.0</td><td></td></tr>
  </tbody>
</table>

### <a id='2-11-15'></a> v2.11.15

**Release Date:** 06/23/2022

<p class="note warning"><strong> Warning:Upcoming breaking changes!</strong> In future patches, no sooner than July 1st 2022, some components will become more strict about the protocols used in TLS communications, causing integrations with systems using older, insecure protocols to fail. Specifically, components using the Go programming language will be updated to Go 1.18, and will no longer support TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. However, the pre-existing configuration for "TLS versions supported by the Gorouter" will still work. This change may not arrive all at once, as Go is used in systems throughout <%= vars.app_runtime_abbr %>. There will be a VMware Knowledge Base article about this change published prior to the changes rolling out. These changes will be clearly designated in the release notes of the versions they ship in; a version of this warning will appear on all patch versions until we are confident no systems remain to be updated.</p>

* Bump diego to version `2.62.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.244</td></tr>
    <tr><td>bpm</td><td>1.1.18</td></tr>
    <tr><td>cf-networking</td><td>3.6.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.301.0</td></tr>
    <tr><td>diego</td><td>2.62.0</td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td></tr>
    <tr><td>nfs-volume</td><td>5.0.16</td></tr>
    <tr><td>routing</td><td>0.233.0</td></tr>
    <tr><td>silk</td><td>3.6.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.10</td></tr>
  </tbody>
</table>

### <a id='2-11-14'></a> v2.11.14

**Release Date:** 06/09/2022
<p class="note warning"><strong> Warning: Breaking change.</strong> This version contains Diego 2.64.0, which bumps to Go 1.18. Go 1.18 no longer supports TLS 1.0 and 1.1 connections or certificates with a SHA-1 checksum. This is most likely to affect connections with external databases. We stated earlier that we wouldn't bump to Go 1.18 until July 1, 2022. This <%= vars.app_runtime_abbr %> release with Diego 2.64.0 breaks that promise. We apologize. We are rolling back to Diego 2.62.0.  If you already successfully deployed to this <%= vars.app_runtime_abbr %> release with Diego 2.64.0, then you are safe to continue using it.</p>


* **[Bug Fix]** Sticky sessions no longer break when used with route-services that return HTTP 4xx/5xx responses
* Bump bpm to version `1.1.18`
* Bump cf-networking to version `3.6.0`
* Bump cflinuxfs3 to version `0.301.0`
* Bump diego to version `2.64.0`
* Bump garden-runc to version `1.20.6`
* Bump loggregator-agent to version `6.4.1`
* Bump metrics-discovery to version `3.0.13`
* Bump nfs-volume to version `5.0.16`
* Bump routing to version `0.233.0`
* Bump silk to version `3.6.0`
* Bump syslog to version `11.7.10`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.244</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.18</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.6.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.301.0</td><td></td></tr>
    <tr><td>diego</td><td>2.64.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.6</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.4.1</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.13</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.16</td><td></td></tr>
    <tr><td>routing</td><td>0.233.0</td>
      <td>
        <details>
          <summary>0.233.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * TCP Router: Add locking to the haproxy_reloader script to avoid haproxy reload/restart race conditions by @geofffranks in https://github.com/cloudfoundry/routing-release/pull/269
  * TCP Router: Bump HAProxy from 1.8.13 to 2.5.4 by @cunnie in https://github.com/cloudfoundry/routing-release/pull/266
  * Gorouter: fix proxy round tripper race condition by @ameowlia and @geofffranks  in https://github.com/cloudfoundry/gorouter/pull/318
  * Routing API: fix timestamp precision issue that caused routes to be pruned unexpectedly by @geofffranks in https://github.com/cloudfoundry/routing-api/pull/24
  *  Routing API: remove `golang.x509ignoreCN` bosh property by @geofffranks and @mariash
  * Routing API: fix bug that caused TCP Router's HAProxy to reload every minute by @jrussett in https://github.com/cloudfoundry/routing-api/pull/26.
  ## Manifest Property Changes
  | Job | Property  | Notes |
  | --- | --- | --- |
  | `routing-api` | `golang.x509ignoreCN` | This property exposed a go debug flag for go version 1.15. Since go 1.16 this go debug flag has had no affect. Removing this bosh property is part of our effort to keep our code base free of cruft. |
  ## ✨  Built with go 1.17.10
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.232.0...0.233.0
          </pre>
        </details>
        <details>
          <summary>0.232.0</summary>
          <pre style="max-width: 30em">
  ## What's Changed
  * Fixing issue #250: Return a 503 not a 404 when all instances down by @kecirlotfi in https://github.com/cloudfoundry/routing-release/pull/268 and https://github.com/cloudfoundry/gorouter/pull/314
  * Fixing issue https://github.com/cloudfoundry/gorouter/pull/315: Fix route service pruning by @geofffranks
  ## Manifest Property Changes
  | Job | Property | default | notes |
  | --- | --- | --- | --- |
  | `gorouter` | `for_backwards_compatibility_only.empty_pool_response_code_503` | `0s` | This property was added to enable https://github.com/cloudfoundry/routing-release/pull/268 |
  ## New Contributors 🎉
  * @kecirlotfi made their first contribution! Thanks so much!
  ## ✨  Built with go 1.17.9
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.231.0...0.232.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.6.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.10</td><td></td></tr>
  </tbody>
</table>

### <a id='2-11-13'></a> v2.11.13

**Release Date:** 04/20/2022

* **[Breaking Change]** Syslog drains configured to use TLS now [reject certificates signed with the SHA-1 hash function](https://go.dev/doc/go1.18#sha1).
* Bump cflinuxfs3 to version `0.285.0`
* Bump diego to version `2.62.0`
* Bump loggregator-agent to version `6.3.11`
* Bump metrics-discovery to version `3.0.10`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.285.0</td><td></td></tr>
    <tr><td>diego</td><td>2.62.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.11</td>
      <td>
        <details>
          <summary>v6.3.11</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#89)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.10</td>
      <td>
        <details>
          <summary>v3.0.10</summary>
          <pre style="max-width: 30em">
  - fix bug with large messages (#22)
  - bump-golang to v0.100.0(now 1.18)
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>nfs-volume</td><td>5.0.12</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td><td></td></tr>
    <tr><td>silk</td><td>3.3.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
  </tbody>
</table>

### <a id='2-11-12'></a> v2.11.12

**Release Date:** 03/31/2022

* **[Feature Improvement]** Move aggregate drains to the syslog-binding cache to improve deploy speed and reduce errors.
* **[Security Fix]** This release fixes [CVE-2022-23806](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23806) and [CVE-2022-23772](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-23772).
* **[Bug Fix]** Resolve an issue resulting in tcp-router repeatedly respawning haproxy until it hits a forked process limit
* **[Bug Fix]** Resolves an issue where invalid seeded router group values should caused breaking changes
* **[Bug fix]** Remove x509ignoreCN option in Gorouter
* Bump cf-networking to version `3.3.0`
* Bump cflinuxfs3 to version `0.279.0`
* Bump diego to version `2.61.0`
* Bump garden-runc to version `1.20.3`
* Bump loggregator-agent to version `6.3.10`
* Bump metrics-discovery to version `3.0.9`
* Bump routing to version `0.231.0`
* Bump silk to version `3.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
      <th>Release Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.224</td><td></td></tr>
    <tr><td>bpm</td><td>1.1.16</td><td></td></tr>
    <tr><td>cf-networking</td><td>3.3.0</td><td></td></tr>
    <tr><td>cflinuxfs3</td><td>0.279.0</td><td></td></tr>
    <tr><td>diego</td><td>2.61.0</td><td></td></tr>
    <tr><td>garden-runc</td><td>1.20.3</td><td></td></tr>
    <tr><td>haproxy</td><td>9.8.0</td><td></td></tr>
    <tr><td>loggregator-agent</td><td>6.3.10</td><td></td></tr>
    <tr><td>mapfs</td><td>1.2.6</td><td></td></tr>
    <tr><td>metrics-discovery</td><td>3.0.9</td><td></td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td><td></td></tr>
    <tr><td>routing</td><td>0.231.0</td>
      <td>
        <details>
          <summary>0.231.0</summary>
          <pre style="max-width: 30em">
  ## Bug Fixes
  - Removed the x509ignoreCN property. Now that `gorouter` is built on golang 1.17, it no longer has any effect on gorouter behavior, and was only adding to confusion in the properties
  - Resolve an issue with route-registrar using the same TTL as it's RegistrationInterval for tcp routes, leading to unnecessary churn of pruned + re-registered routes.
  - Resolve an issue with Routing API where upserts to tcp routes were causing change events to be emitted when the only change was a bump in TTL. This led to an issue where tcp-router was constantly reloading haproxy with every route's heartbeat registration call.
  ## Manifest Property Changes
  | Job | Property | 0.230.0 | 0.231.0 |
  | --- | --- | --- | --- |
  | `gorouter` | `golang.x509ignoreCN` | false | No longer exists |
  |  `route_registrar` | `golang.x509ignoreCN` | false | No longer exists |
  | `tcp_router` | `golang.x509ignoreCN` | false | No longer exists |
  ### ✨ Built with golang 1.17.8
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.230.0...0.231.0
          </pre>
        </details>
        <details>
          <summary>0.230.0</summary>
          <pre style="max-width: 30em">
  ## Feature
  * update gorouter for prometheus scraping by @Benjamintf1 in https://github.com/cloudfoundry/routing-release/pull/258
  ## Bug Fix
  * Invalid seeded router group manifest values should no longer cause breaking changes by default by @ameowlia in https://github.com/cloudfoundry/routing-release/pull/261
  ### ✨ Built with golang 1.17.7
  **Full Changelog**: https://github.com/cloudfoundry/routing-release/compare/0.229.0...0.230.0
          </pre>
        </details>
      </td>
    </tr>
    <tr><td>silk</td><td>3.3.0</td><td></td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td><td></td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td><td></td></tr>
    <tr><td>syslog</td><td>11.7.7</td><td></td></tr>
  </tbody>
</table>

### <a id='2-11-11'></a> v2.11.11

**Release Date:** 02/28/2022

* **[Feature Improvement]** Due to routing-release now being built with Golang 1.17, all certificates provided MUST contain SAN entries on them. The previous workaround of setting "Enable temporary workaround for certs without SANs" will no longer function.
* **[Feature Improvement]** Per Golang 1.17's new and stricter IP parsing standards, any IP addrs with leading zeros in any octets will result in a BOSH template failure to allow operators to remove the leading zeros and try again (affects properties fed into diego-release, garden-runc-release, winc-release, nats-release, and routing-release),.
* **[Bug Fix]** Fixes an issue related to the parsing of the X-B3-TraceId and X-B3-SpanId HTTP headers
* **[Bug Fix]** Smoke tests support for TLSv1.3 only option
* Bump cflinuxfs3 to version `0.274.0`
* Bump diego to version `2.58.1`
* Bump garden-runc to version `1.20.0`
* Bump loggregator-agent to version `6.3.8`
* Bump metrics-discovery to version `3.0.8`
* Bump routing to version `0.229.0`
* Bump smoke-tests to version `4.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.211</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>2.43.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.274.0</td></tr>
    <tr><td>diego</td><td>2.58.1</td></tr>
    <tr><td>garden-runc</td><td>1.20.0</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.8</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.229.0</td></tr>
    <tr><td>silk</td><td>2.43.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.5.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>

### <a id='2-11-10'></a> v2.11.10

**Release Date:** 02/07/2022

<%= partial "/pcf/tas/known-issues/gorouter-spanid-note" %>

* **[Security Fix]** Bump routing release to 0.228.0 to address ([CVE-2021-44716](https://nvd.nist.gov/vuln/detail/CVE-2021-44716))
* **[Feature Improvement]** Golang v1.17 contains stricter IP parsing standards, so IP addresses with leading zeros in any octets cause a BOSH template failure. Operators can remove the leading zeros and try deploying again. This affects properties that feed into cf-networking-release, silk-release, loggregator-agent-release, and syslog-release. Syslog drains and metric registrar endpoints registered using user-provided services might also be affected.

* Bump bpm to version `1.1.16`
* Bump cf-networking to version `2.43.0`
* Bump cflinuxfs3 to version `0.272.0`
* Bump diego to version `2.57.0`
* Bump loggregator-agent to version `6.3.7`
* Bump metrics-discovery to version `3.0.7`
* Bump routing to version `0.228.0`
* Bump silk to version `2.43.0`
* Bump smoke-tests to version `4.4.0`
* Bump syslog to version `11.7.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.198</td></tr>
    <tr><td>bpm</td><td>1.1.16</td></tr>
    <tr><td>cf-networking</td><td>2.43.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.272.0</td></tr>
    <tr><td>diego</td><td>2.57.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.7</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.7</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.228.0</td></tr>
    <tr><td>silk</td><td>2.43.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.4.0</td></tr>
    <tr><td>syslog</td><td>11.7.7</td></tr>
  </tbody>
</table>

### <a id='2-11-9'></a> v2.11.9

**Release Date:** 12/15/2021

<%= partial "/pcf/tas/known-issues/gorouter-spanid-note" %>

* **[Bug Fix]** Fix "pre-start scripts failed. Failed Jobs: policy-server" error Upgrading to CF Networking Release 2.40.0
* **[Bug Fix]** Diego - Envoy 1.19 should use original TCP connection pool, so that it can accept more than 1024 downstream connections
* **[Bug Fix]** Enabling audit logging file rotation to reduce IO load during log rotation
* **[Bug Fix]** Smoke Tests uses specified domain for Isolation Segments
* Bump cf-networking to version `2.42.0`
* Bump cflinuxfs3 to version `0.268.0`
* Bump diego to version `2.54.0`
* Bump loggregator-agent to version `6.3.5`
* Bump routing to version `0.227.0`
* Bump silk to version `2.41.0`
* Bump smoke-tests to version `4.3.1`
* Bump syslog to version `11.7.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>~621</td></tr>
    <tr><td>bpm</td><td>1.1.15</td></tr>
    <tr><td>cf-networking</td><td>2.42.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.268.0</td></tr>
    <tr><td>diego</td><td>2.54.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.5</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.227.0</td></tr>
    <tr><td>silk</td><td>2.41.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.1</td></tr>
    <tr><td>syslog</td><td>11.7.6</td></tr>
  </tbody>
</table>

### <a id='2-11-8'></a> v2.11.8

**Release Date:** 11/23/2021

* **[Breaking Change]** All Gorouter certificates require a SubjectAltName extension. If any Gorouter certificates lack a SubjectAltName, deployment fails. If you need to complete a deployment before configuring new Gorouter certificates, select **Enable temporary workaround for certs without SANs** in the **Networking** pane of the <%= vars.app_runtime_abbr %> tile. For more information about updating certificates, see [Routing and Golang 1.15 X.509 CommonName deprecation](https://community.pivotal.io/s/article/Routing-and-golang-1-15-X-509-CommonName-deprecation) in the Knowledge Base.
* Bump bpm to version `1.1.15`
* Bump cf-networking to version `2.40.0`
* Bump cflinuxfs3 to version `0.264.0`
* Bump routing to version `0.226.0`
* Bump silk to version `2.40.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.15</td></tr>
    <tr><td>cf-networking</td><td>2.40.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.264.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.226.0</td></tr>
    <tr><td>silk</td><td>2.40.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>
### <a id='2-11-7'></a> v2.11.7

**Release Date:** 10/19/2021

* Bump bpm to version `1.1.14`
* Bump cf-networking to version `2.39.0`
* Bump cflinuxfs3 to version `0.262.0`
* Bump routing to version `0.225.0`
* Bump silk to version `2.39.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.14</td></tr>
    <tr><td>cf-networking</td><td>2.39.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.262.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.225.0</td></tr>
    <tr><td>silk</td><td>2.39.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>

### <a id='2-11-6'></a> v2.11.6

**Release Date:** 09/30/2021

* **[Security Fix]** Fixes an issue where BBS socket connections could be kept alive unnecessarily
* **[Feature Improvement]** Disable Diego container proxy ALPN
* Bump cflinuxfs3 to version `0.259.0`
* Bump diego to version `2.53.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.259.0</td></tr>
    <tr><td>diego</td><td>2.53.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.224.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>

### <a id='2-11-5'></a> v2.11.5

**Release Date:** 09/16/2021

* **[Bug Fix]** garden-runc - Fix handling reserved space on ext4 and generating bundle mounts when SMB volumes are present
* Bump cflinuxfs3 to version `0.256.0`
* Bump garden-runc to version `1.19.30`
* Bump routing to version `0.224.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.256.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.30</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.224.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>

### <a id='2-11-4'></a> v2.11.4

**Release Date:** 09/09/2021

* **[Security Fix]** Gorouter built with Go 1.16.7 to address [CVE-2021-36221](https://nvd.nist.gov/vuln/detail/CVE-2021-36221)
* **[Bug Fix]** garden-runc - recover after cell restarts
* Bump bpm to version `1.1.13`
* Bump cflinuxfs3 to version `0.252.0`
* Bump garden-runc to version `1.19.29`
* Bump loggregator-agent to version `6.3.4`
* Bump routing to version `0.221.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.13</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.252.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.29</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.221.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>

### <a id='2-11-3'></a> v2.11.3

**Release Date:** 07/15/2021

* **[Feature Improvement]** garden-runc - Enable usage of .NET diagnostic tools
* **[Bug Fix]** Prevent tcp routes from using system component ports.
* **[Breaking Change]** Gorouter sends all responses with transfer-encoded chunks. Some responses that were not chunked in previous versions now use transfer-encoded chunks. For more information, see [Clients receive responses with no Content-Length header and a chunked encoded body after upgrading Tanzu Application Service for VMs](https://community.pivotal.io/s/article/Clients-receive-responses-with-no-Content-Length-header-and-a-chunked-encoded-body-after-upgrading-Tanzu-Application-Service-for-VMs) in the Knowledge Base. _(edited 20 Oct 2021)_
* Bump cf-networking to version `2.38.0`
* Bump cflinuxfs3 to version `0.249.0`
* Bump garden-runc to version `1.19.28`
* Bump metrics-discovery to version `3.0.6`
* Bump routing to version `0.216.0`
* Bump silk to version `2.38.0`
* Bump syslog to version `11.7.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.12</td></tr>
    <tr><td>cf-networking</td><td>2.38.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.249.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.28</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.3</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.6</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.216.0</td></tr>
    <tr><td>silk</td><td>2.38.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.5</td></tr>
  </tbody>
</table>

### <a id='2-11-2'></a> v2.11.2

**Release Date:** 06/22/2021

* **[Security Fix]** Bump some dependencies to resolve security vulnerabilities
* Bump bpm to version `1.1.12`
* Bump cf-networking to version `2.37.0`
* Bump cflinuxfs3 to version `0.240.0`
* Bump loggregator-agent to version `6.3.3`
* Bump metrics-discovery to version `3.0.5`
* Bump silk to version `2.37.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.12</td></tr>
    <tr><td>cf-networking</td><td>2.37.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.240.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.3.3</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.5</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.213.0</td></tr>
    <tr><td>silk</td><td>2.37.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.0</td></tr>
  </tbody>
</table>

### <a id='2-11-1'></a> v2.11.1

**Release Date:** 05/27/2021

* **[Feature]** gorouter - Operator can limit CAs gorouter trusts when validating client certs to a specified list. For more information, see [Configure Networking](https://docs.pivotal.io/application-service/2-11/operating/installing-pcf-is.html#networking).
* **[Feature Improvement]** Patch versions can be upgraded without a stemcell upgrade
* **[Feature Improvement]** Adds support for SNI routes
* **[Feature Improvement]** Adds per request metrics reporting, which makes metric frequency proportional to request frequency
* **[Bug Fix]** Smoke Test allows the operator to provide the apps_domain property when deploying <%= vars.app_runtime_abbr %> and also properly configures user provided space when deploying an isolation segment
* Bump bpm to version `1.1.11`
* Bump cf-networking to version `2.36.0`
* Bump cflinuxfs3 to version `0.238.0`
* Bump diego to version `2.50.0`
* Bump garden-runc to version `1.19.25`
* Bump loggregator-agent to version `6.2.1`
* Bump nfs-volume to version `5.0.12`
* Bump routing to version `0.213.0`
* Bump silk to version `2.36.0`
* Bump smoke-tests to version `4.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>bpm</td><td>1.1.11</td></tr>
    <tr><td>cf-networking</td><td>2.36.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.238.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.2.1</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>routing</td><td>0.213.0</td></tr>
    <tr><td>silk</td><td>2.36.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>syslog</td><td>11.7.0</td></tr>
  </tbody>
</table>

### <a id='2-11-0'></a> v2.11.0

**Release Date:** March 30, 2021

- See [New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>](#new-features).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.113</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.35.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.229.0</td></tr>
    <tr><td>diego</td><td>2.49.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>nfs-volume</td><td>5.0.11</td></tr>
    <tr><td>routing</td><td>0.211.0</td></tr>
    <tr><td>silk</td><td>2.35.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>syslog</td><td>11.7.0</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About <%= vars.segment_runtime_full %>

The <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile is available for installation with <%= vars.ops_manager %> v2.10.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as
completely as if they were in different deployments but avoids redundant management and network complexity. For more information about isolation segments, see
[Isolation Segments](../../concepts/security.html#isolation-segments) in _<%= vars.app_runtime_abbr %> Security_.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](../../adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

The <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile is available with the release of <%= vars.ops_manager %> v2.10. For more information,
see the [<%= vars.ops_manager %>](https://docs.pivotal.io/ops-manager/2-10/index.html) documentation.

To use the <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager %> v2.10 and <%= vars.app_runtime_first %>
<%= vars.v_major_version %> or later.

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing
<%= vars.segment_runtime_full %>](../../operating/installing-pcf-is.html).


## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following major feature:

### <a id='gorouter-cas'></a> Configure Trusted CAs for Gorouter

When validating requests using mutual TLS to back ends and route services, the Gorouter trusts multiple certificate authorities (CAs) by default. In
<%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you can configure which CA certificates the Gorouter trusts.

For more information, see [Configure Networking](../../operating/installing-pcf-is.html#networking) in _Installing <%= vars.segment_runtime_full %>_.


## <a id='breaking-changes'></a> Breaking Changes

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following breaking changes:

### <a id='disable-ssl-certificate-verification-removed'></a> Option Removed: Disable SSL Certificate Verification for this Environment

In <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, the option to disable SSL certificate verification for an environment is removed.

Before you upgrade to <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must deactivate the **Disable SSL certificate verification** checkbox
in the **Networking** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure
Networking](../../operating/configure-pas.html#networking) in _Configuring <%= vars.app_runtime_abbr %>_.

If the **Disable SSL certificate verification for this environment** checkbox is activated when you try to upgrade to <%= vars.segment_runtime_full %>, the
upgrade fails with the following error:

<pre class='terminal'>
attempt to upgrade to IST 2.11+ with Skip SSL Verification enabled, please disable
Skip SSL Verification prior to upgrade by un-checking "Disable SSL certificate
verification for this environment" under "Networking"
</pre>

If you plan to automate the installation of <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must remove references to the corresponding
property `.properties.skip_cert_verify`.

### <a id='transfer-encoding-stricter'></a> Gorouter Update to Golang v1.15 Introduces Stricter Transfer-Encoding Header Standards

In <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, stricter header standards break Spring apps that incorrectly set the header.

To avoid this breaking change, see [Applications on TAS for VMs get 502 chunked response
error](https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US) in the Knowledge Base. You must complete the resolution procedure
described in this Knowledge Base article before you upgrade to <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.0 or later.

<p class='note'><strong>Note:</strong> This breaking change is also present in Pivotal Isolation Segment v2.7.30, Pivotal Isolation Segment v2.8.24,
  <%= vars.segment_runtime_full %> v2.9.18, and <%= vars.segment_runtime_full %> v2.10.10. If you are using any of these versions or earlier, you must upgrade
  to Pivotal Isolation Segment v2.7.31, Pivotal Isolation Segment v2.8.25, <%= vars.segment_runtime_full %> v2.9.19, or <%= vars.segment_runtime_full %>
  v2.10.11 before upgrading or jump upgrading to <%= vars.segment_runtime_full %> <%= vars.v_major_version %>. For more information, see
  <a href="https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US">Applications on TAS for VMs get 502 chunked response error</a> in
  the Knowledge Base.</p>

### <a id='dropped-app-logs'></a> Diego Drops App Logs That Exceed the App Log Rate Limit

As of <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.20, if you have configured an app log rate limit that measures app log rates in lines per
second, Diego immediately drops app logs that exceed the app log rate limit.

In <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.19 and earlier, Diego buffers and releases approximately 5&nbsp;MB to 10&nbsp;MB of app logs
that exceed the app log rate limit. This behavior has changed in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.20 because Diego has been
upgraded to a newer version.

If this change in behavior causes parts of your deployment to fail, <%= vars.company_name %> recommends that you either modify any automated scripts that rely
on app log output or increase the app log rate limit.

For more information about app log rate limits, see [App Log Rate Limiting](../loggregator/app-log-rate-limits.html).


## <a id='known-issues'></a> Known Issues

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following known issue:

### <a id='gorouter-incorrect-span-id'></a> Gorouter Sets an Invalid X-B3-SpanID Header

<%= partial "/pcf/tas/known-issues/gorouter-spanid" %>
