---
title: Tanzu Application Service v2.10 Release Notes
owner: Release Engineering
mr_issues_version: 2.10.4
mr_fixed_version: 2.10.5
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>.

For the feature highlights of this release, 
read the blog post [VMware Tanzu Application Service 2.10 Adds New CLI, Eases Upgrades with More Flexible Control Plane](https://tanzu.vmware.com/content/blog/vmware-tanzu-application-service-2-10-adds-a-new-cli-and-eases-upgrades-with-a-more-flexible-control-plane) 
or see [New Features in <%= vars.app_runtime_abbr %> v2.10](#new-features). 

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.10.10'></a> 2.10.10

**Release Date:** 12/18/2020

* **[Breaking Change]** Gorouter update to Golang v1.15 introduces stricter transfer-encoding header standards. Stricter header standards break Spring apps that incorrectly set the header. For more information, see [routing-release](https://github.com/cloudfoundry/routing-release/releases/tag/0.209.0) in GitHub.
* **[Security Fix]** Bump garden-runc-release to address [CVE-2020-15257](https://nvd.nist.gov/vuln/detail/CVE-2020-15257)
* **[Feature]** Operators can limit CAs that the gorouter trusts when validating client certs to a specified list. 
* Bump ubuntu-xenial stemcell to version `621.94`
* Bump cf-autoscaling to version `235`
* Bump cf-networking to version `2.35.0`
* Bump cflinuxfs3 to version `0.216.0`
* Bump dotnet-core-offline-buildpack to version `2.3.19`
* Bump garden-runc to version `1.19.18`
* Bump go-offline-buildpack to version `1.9.23`
* Bump java-offline-buildpack to version `4.34`
* Bump nginx-offline-buildpack to version `1.1.19`
* Bump nodejs-offline-buildpack to version `1.7.37`
* Bump php-offline-buildpack to version `4.4.27`
* Bump python-offline-buildpack to version `1.7.26`
* Bump r-offline-buildpack to version `1.1.11`
* Bump routing to version `0.210.0`
* Bump ruby-offline-buildpack to version `1.8.27`
* Bump silk to version `2.35.0`
* Bump staticfile-offline-buildpack to version `1.5.14`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.94</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.20</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.4</td></tr>
    <tr><td>cf-autoscaling</td><td>235</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.35.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.216.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.19</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.23</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.34</td></tr>
    <tr><td>log-cache</td><td>2.8.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>38</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.19</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.37</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.27</td></tr>
    <tr><td>push-apps-manager-release</td><td>673.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.31.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.26</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.11</td></tr>
    <tr><td>routing</td><td>0.210.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.27</td></tr>
    <tr><td>silk</td><td>2.35.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.14</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.21</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.9'></a> 2.10.9

**Release Date:** 11/18/2020

* **[Security Fix]** Fix for [CVE-2020-5423](https://www.cloudfoundry.org/blog/cve-2020-5423/)
* **[Security Fix]** Bump some dependencies to resolve security vulnerabilities in Apps Manager.
* **[Feature Improvement]** Update CLI download link in Apps Manager to ensure it downloads the latest 7.x.x version.
* Bump bosh-system-metrics-forwarder to version `0.0.20`
* Bump capi to version `1.95.4`
* Bump metric-registrar to version `1.1.4`
* Bump push-apps-manager-release to version `673.0.0`
* Bump pxc to version `0.31.0`
* Bump uaa to version `74.5.21`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.90</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.20</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.4</td></tr>
    <tr><td>cf-autoscaling</td><td>233</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.210.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.17</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.21</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.33</td></tr>
    <tr><td>log-cache</td><td>2.8.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>38</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.16</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.32</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.23</td></tr>
    <tr><td>push-apps-manager-release</td><td>673.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.31.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.10</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.26</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.12</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.21</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.8'></a> 2.10.8

**Release Date:** 11/04/2020

* **[Security Fix]** Fix for [CVE-2020-5417](https://www.cloudfoundry.org/blog/cve-2020-5417/)
* **[Bug Fix]** Bumps Metrics-Discovery-Release to fix upgrades failing from nats to nats TLS
* **[Bug Fix]** Downgrade haproxy to prevent blackbox failure
* Bump ubuntu-xenial stemcell to version `621.90`
* Bump capi to version `1.95.3`
* Bump dotnet-core-offline-buildpack to version `2.3.17`
* Bump go-offline-buildpack to version `1.9.21`
* Bump java-offline-buildpack to version `4.33`
* Bump log-cache to version `2.8.1`
* Bump metrics-discovery to version `3.0.3`
* Bump nginx-offline-buildpack to version `1.1.16`
* Bump nodejs-offline-buildpack to version `1.7.32`
* Bump php-offline-buildpack to version `4.4.23`
* Bump python-offline-buildpack to version `1.7.24`
* Bump r-offline-buildpack to version `1.1.10`
* Bump ruby-offline-buildpack to version `1.8.26`
* Bump staticfile-offline-buildpack to version `1.5.12`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.90</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.3</td></tr>
    <tr><td>cf-autoscaling</td><td>233</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.210.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.17</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.21</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.33</td></tr>
    <tr><td>log-cache</td><td>2.8.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>38</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.16</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.32</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.23</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.14</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.30.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.10</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.26</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.12</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.20</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.7'></a> 2.10.7

**Release Date:** 10/26/2020

* **[Feature]** UAA - Expose configuration options for proxy settings
* **[Feature Improvement]** Operators can configure how long cloud controller audit events are retained
* **[Feature Improvement]** Networking: Clarify that drain timeout should be lower than backend request timeout to reduce drain time during deploys
* **[Bug Fix]** Loggregator Agent Release - Prom Scraper metrics server names match
* Bump ubuntu-xenial stemcell to version `621.89`
* Bump cflinuxfs3 to version `0.210.0`
* Bump uaa to version `74.5.20`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.89</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>233</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.210.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.15</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.19</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>log-cache</td><td>2.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>38</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.29</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.22</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.14</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.30.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.22</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.9</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.25</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.11</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.20</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.6'></a> 2.10.6

**Release Date:** 10/19/2020

* **[Security Fix]** Bump Percona XtraDB Cluster to 5.7.31
* **[Feature Improvement]** Internal route staleness threshold is now configurable
* **[Bug Fix]** ServiceDiscoveryController - Reconnect internal routing metrics to the firehose
* **[Bug Fix]** NATS - Bump release to v38 to fix various issues
**[Bug Fix]** Gorouter performs TLS to backends when "Skip SSL Certificate Verification" is enabled. Stale routes are now pruned.
* Bump ubuntu-xenial stemcell to version `621.87`
* Bump cf-networking to version `2.34.0`
* Bump cflinuxfs3 to version `0.209.0`
* Bump nats to version `38`
* Bump pxc to version `0.30.0`
* Bump routing to version `0.208.0`
* Bump silk to version `2.34.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.87</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>233</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.34.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.209.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.15</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.19</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>log-cache</td><td>2.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>38</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.29</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.22</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.14</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.30.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.22</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.9</td></tr>
    <tr><td>routing</td><td>0.208.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.25</td></tr>
    <tr><td>silk</td><td>2.34.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.11</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.5'></a> 2.10.5

**Release Date:** 10/09/2020

* **[Security Fix]** Remove credentials from process name and fix CVE [CODEC-134](https://issues.apache.org/jira/browse/CODEC-134), [CODEC-270](https://issues.apache.org/jira/browse/CODEC-270)
* **[Bug Fix]** Enable users to adjust the timeout for all healthcheck types in Apps Manager
* **[Bug Fix]** Users can view process based audit events in Apps Manager
* **[Feature]** The v7 cf CLI is the default CLI
* **[Bug Fix]** Revert Metric-Registrar Bump
* Bump ubuntu-xenial stemcell to version `621.85`
* Bump cflinuxfs3 to version `0.208.0`
* Bump credhub to version `2.9.0`
* Bump dotnet-core-offline-buildpack to version `2.3.15`
* Bump go-offline-buildpack to version `1.9.19`
* Bump nginx-offline-buildpack to version `1.1.15`
* Bump nodejs-offline-buildpack to version `1.7.29`
* Bump php-offline-buildpack to version `4.4.22`
* Bump push-apps-manager-release to version `672.0.14`
* Bump python-offline-buildpack to version `1.7.22`
* Bump r-offline-buildpack to version `1.1.9`
* Bump ruby-offline-buildpack to version `1.8.25`
* Bump staticfile-offline-buildpack to version `1.5.11`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.85</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>233</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.33.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.208.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.15</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.19</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>log-cache</td><td>2.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.15</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.29</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.22</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.14</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.22</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.9</td></tr>
    <tr><td>routing</td><td>0.207.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.25</td></tr>
    <tr><td>silk</td><td>2.33.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.11</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.4'></a> 2.10.4

**Release Date:** 09/21/2020

* **[Security Fix]** Bump Usage Service ruby version to 2.6.6 - [CVE-2020-15169](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-15169) [CVE-2020-10933](https://www.ruby-lang.org/en/news/2020/03/31/heap-exposure-in-socket-cve-2020-10933/) [CVE-2020-10663](https://www.ruby-lang.org/en/news/2020/03/19/json-dos-cve-2020-10663/)
* **[Security Fix]** Update cf-autoscaling’s dependencies to mitigate CVEs
* **[Bug Fix]** Modify cf-autoscaling’s API to return HTTP status 404 (not found) when not logged in. Previously it returned 401 (unauthorized). The behavior now matches the documentation
* **[Feature Improvement]** Secure scraping available in Metric Registrar (Reverted in v2.10.5)
* **[Breaking Change]** Change noisy Gorouter logs to use debug log level. Replace with more helpful, quieter logs. For more details, see [routing-release](https://github.com/cloudfoundry/routing-release/releases/tag/0.207.0) in GitHub.
* Bump ubuntu-xenial stemcell to version `621.84`
* Bump cf-autoscaling to version `233`
* Bump cflinuxfs3 to version `0.204.0`
* Bump dotnet-core-offline-buildpack to version `2.3.14`
* Bump go-offline-buildpack to version `1.9.17`
* Bump metric-registrar to version `1.2.1`
* Bump push-usage-service-release to version `673.0.13`
* Bump python-offline-buildpack to version `1.7.20`
* Bump routing to version `0.207.0`
* Bump staticfile-offline-buildpack to version `1.5.10`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.84</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>233</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.33.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.204.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.14</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.17</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>log-cache</td><td>2.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.2.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.14</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.26</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.20</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.13</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.13</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.20</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.207.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.23</td></tr>
    <tr><td>silk</td><td>2.33.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.10</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.3'></a> 2.10.3

**Release Date:** 09/09/2020

* **[Security Fix]** Fix for [CVE-2020-5420](https://tanzu.vmware.com/security/cve-2020-5420): Improve Gorouter's handling of invalid HTTP responses
* **[Feature Improvement]** Gorouter aliases /healthz to /health in order to prevent downtime during upgrades
* **[Feature Improvement]** Allow users to scale memory & disk for web processes in Apps Manager when autoscaling is enabled
* **[Bug Fix]** Safeguard against null log payloads for apps in Apps Manager
* **[Bug Fix]** Improve Log Cache Syslog Ingestion Performance
* Bump ubuntu-xenial stemcell to version `621.82`
* Bump cf-networking to version `2.33.0`
* Bump diego to version `2.48.0`
* Bump log-cache to version `2.8.0`
* Bump nfs-volume to version `7.0.4`
* Bump nginx-offline-buildpack to version `1.1.14`
* Bump nodejs-offline-buildpack to version `1.7.26`
* Bump php-offline-buildpack to version `4.4.20`
* Bump push-apps-manager-release to version `672.0.13`
* Bump routing to version `0.206.0`
* Bump silk to version `2.33.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.82</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.33.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.203.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.48.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>log-cache</td><td>2.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.4</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.14</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.26</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.20</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.13</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.11</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.206.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.23</td></tr>
    <tr><td>silk</td><td>2.33.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 

### <a id='2.10.2'></a> 2.10.2

**Release Date:** 08/24/2020

* **[Security Fix]** Fix for [CVE-2020-5416](https://tanzu.vmware.com/security/cve-2020-5416): Improve Gorouter's websocket error handling
* **[Bug Fix]** loggr-syslog-agent - Fix server alternative name
* **[Bug Fix]** Fix memory leak in RLP gateway
* **[Bug Fix]**: Return 502 TLS Handshake error for an unresponsive backend
* **[Bug Fix]** Fix Usage Service for inactive foundations
* **[Bug Fix]** Bump garden-runc to v1.19.16
* Bump ubuntu-xenial stemcell to version `621.78`
* Bump cflinuxfs3 to version `0.203.0`
* Bump garden-runc to version `1.19.16`
* Bump go-offline-buildpack to version `1.9.16`
* Bump java-offline-buildpack to version `4.32.1`
* Bump loggregator to version `106.3.11`
* Bump push-usage-service-release to version `673.0.11`
* Bump python-offline-buildpack to version `1.7.18`
* Bump routing to version `0.205.0`
* Bump ruby-offline-buildpack to version `1.8.23`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.78</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.31.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.203.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>license</td><td></td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.12</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.25</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.19</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.12</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.11</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.205.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.23</td></tr>
    <tr><td>silk</td><td>2.31.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>



### <a id='2.10.1'></a> 2.10.1

**Release Date:** 08/07/2020

* **[Security Fix]** Notifications-ui removes UAA client secret from logs during installation
* **[Feature Improvement]** Expose GCS blobstore storage account timeout values
* **[Feature Improvement]** Upgrade Percona-XtraDB-Cluster to version 5.7.30-31.43
* **[Bug Fix]** Fix issue where requests to internal routes could fail due to incorrect case-sensitivity in DNS lookup in the service discovery controller.
* **[Bug Fix]** Apps Manager accounts for App Metrics' duplicate counts of HTTP requests, HTTP latency, and HTTP errors on App page Overview tab graphs
* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump ubuntu-xenial stemcell to version `621.77`
* Bump cf-cli to version `1.28.0`
* Bump cf-networking to version `2.31.0`
* Bump cflinuxfs3 to version `0.202.0`
* Bump dotnet-core-offline-buildpack to version `2.3.13`
* Bump garden-runc to version `1.19.14`
* Bump go-offline-buildpack to version `1.9.15`
* Bump nginx-offline-buildpack to version `1.1.12`
* Bump nodejs-offline-buildpack to version `1.7.25`
* Bump notifications-ui to version `40`
* Bump php-offline-buildpack to version `4.4.19`
* Bump push-apps-manager-release to version `672.0.12`
* Bump pxc to version `0.28.0`
* Bump python-offline-buildpack to version `1.7.17`
* Bump ruby-offline-buildpack to version `1.8.22`
* Bump silk to version `2.31.0`
* Bump system-metrics-scraper to version `2.0.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.77</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.31.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.202.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.15</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.31.1</td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.12</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.25</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.19</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.12</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.10</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.17</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.22</td></tr>
    <tr><td>silk</td><td>2.31.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>



### <a id='2.10.0'></a> 2.10.0

**Release Date:** July 31, 2020

* See [New Features in <%= vars.app_runtime_abbr %> v2.10](#new-features).
* See [Breaking Changes](#breaking-changes).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.76</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.27.0</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.198.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.14</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.31.1</td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.18</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.11</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.10</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.16</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.21</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.12</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.9 to successfully upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.
  <br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %>
  <%= vars.v_major_version %>, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='syslog-no-metrics'></a>Aggregate Syslog Drains Contain Logs Only

When you configure an aggregate syslog drain in <%= vars.app_runtime_abbr %> v2.10, by default you receive logs only.
You do not also receive metrics.
By not including metrics alongside logs, your syslog drain uses fewer resources and reduces network traffic between <%= vars.app_runtime_abbr %> components and your external logging service.

If you want the aggregate drain to send metrics along with logs, you can modify your drain URLs.

To continue to see metrics in your drains after upgrading to <%= vars.app_runtime_abbr %> v2.10:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the **VMware Tanzu Application Service for VMs** tile in the Installation Dashboard.
1. Select **System Logging**.
1. For **Aggregate log and metric drain destinations**, enter the hostname or IP address of the syslog server and append `?include-metrics-deprecated=true`. For example, `https://syslog-server.com:123?include-metrics-deprecated=true`.
1. Click **Save**.

For more information about configuring aggregate syslog drains, see [Configure System Logging](http://docs.pivotal.io/application-service/operating/configure-pas.html#sys-logging) in _Configuring TAS for VMs_.

### <a id='disable-logs-firehose'></a> Send Only App Metrics to Firehose

You can choose to prevent the Loggregator Firehose from emitting app logs but still allow the Firehose to emit app metrics. Disabling logs in the Firehose helps reduce the load on <%= vars.app_runtime_abbr %> by allowing you to scale down Doppler and Traffic Controller VMs.

To configure the Firehose to receive only app metrics, you must select the **Disable logs in Firehose**, **Log Cache syslog ingestion**, **Enable V1 Firehose**, and **Enable V2 Firehose** checkboxes in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. You must also configure **Aggregate log and metric drain destinations** in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](https://docs.pivotal.io/application-service/2-10/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='timestamps'></a> Optionally Use Human-Readable Timestamps for Component Logs

<%= vars.app_runtime_abbr %> v2.10 introduces RFC3339 log format support for several <%= vars.app_runtime_abbr %> components. You can configure these components to produce logs with human-readable RFC3339 timestamps with the **Timestamp format for component logs** configuration option in the <%= vars.app_runtime_abbr %> tile. Logs that use human-readable timestamps are often easier to debug.

RFC3339-formatted timestamps follow the RFC3339 spec, include nine points of precision where possible, and are in UTC. For example:

* 2019-11-21T22:16:18.750673404Z
* 2019-11-21T22:16:18.750000000Z

For more information about configuring the **Timestamp format for component logs** field, see [System Logging](https://docs.pivotal.io/application-service/2-10/operating/configure-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

In <%= vars.app_runtime_abbr %> v2.10.0, if you select the **Converge to human-readable RFC3339 format** option under **Timestamp format for component logs**, then the following components and related jobs use RFC3339 timestamps: 

| Component | Jobs |
| ------------ | ----- |
| `routing` | `gorouter` |
| `silk` | `iptables logger`, `silk-daemon` |
| `diego` | `auctioneer`, `bbs`, `file_server`, `locket`, `rep`, `route_emitter`, `ssh_proxy` |
| `garden-runc` | `garden` |
| `pxc` | `pxc-mysql`, `proxy`, `galera-agent`, `gra-log-purger` |
| `mysql-monitoring` | `mysql-metrics`, `replication-canary` |

Components not listed in the table above either do not support RFC3339 timestamps in <%= vars.app_runtime_abbr %> v2.10.0 or were already using the RFC3339 timestamp format. Selecting **Converge to human-readable RFC3339 format** ensures that any additional components that add support for RFC3339 timestamps in later releases of <%= vars.app_runtime_abbr %> v2.10 are automatically configured to use RFC3339 timestamps after you upgrade.

To confirm which <%= vars.app_runtime_abbr %> components use RFC3339 timestamps:

1. Go to the `debug/files` endpoint at `https://OPS-MANAGER-FQDN/debug/files`, where `OPS-MANAGER-FQDN` is the fully-qualified domain name of your Ops Manager instance.

1. For each component, confirm that the `logging.format.timestamp` property is set to `rfc3339`.

<p class='note breaking'><strong>Breaking Change:</strong> The <strong>Timestamp format for component logs</strong> feature replaces the <strong>Format of timestamps in Diego logs</strong> feature in the <strong>App Containers</strong> pane of the <%= vars.app_runtime_abbr %> tile. However, when you upgrade to <%= vars.app_runtime_abbr %> v2.10, the option that was selected under <strong>Format of timestamps in Diego logs</strong> in your previous deployment is applied to <strong>Timestamp format for component logs</strong>. For more information, see <a href='#timestamps'>Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs</a> below.</p>

### <a id='sticky-cookies'></a> Configurable Sticky Session Cookie Names

You can supply sticky session cookie names for the Gorouter to use when handling sticky sessions.
The Gorouter uses these cookies to support session affinity, or _sticky sessions_.
For more information, see [Session Affinity](https://docs.pivotal.io/platform/2-10/concepts/http-routing.html#sessions)
in _HTTP Routing_.

By default, the Gorouter uses `JSESSIONID`. Some apps require a different session name.
For example, Spring WebFlux requires `SESSION` for the session cookie name.

To supply cookie names, see [Configure Networking](https://docs.pivotal.io/application-service/2-10/operating/configure-pas.html#networking) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='autoscaler'></a>  Improvements to App Autoscaler

<%= vars.app_runtime_abbr %> v2.10 includes the following improvements to App Autoscaler:

+ App Autoscaler no longer returns an error when you set an `executes_at` time that is in the past.
  This lets you re-use scheduled limit changes through the Scheduler API.
  App Autoscaler calculates future execution dates based on the past date.
+ You can use rules that are based on the HTTP throughput metric when the number of the requests is high.
  For information about the metric, see [Default Metrics for Scaling
  Rules](https://docs.pivotal.io/application-service/2-10/appsman-services/autoscaler/about-app-autoscaler.html#default-metrics).

### <a id='cf-cli'></a>  TAS for VMs Is Compatible with cf CLI v7

TAS for VMs v2.10 paired with cf CLI v7 allows you to do the following:

+ Push updates to apps without incurring downtime.
  See [Rolling App Deployments](https://docs.pivotal.io/application-service/2-10/devguide/deploy-apps/rolling-deploy.html).
+ Exercise granular control over the `cf push` process.
  See [Running cf push Sub-Step Commands](https://docs.pivotal.io/application-service/2-10/devguide/push-sub-commands.html).
+ Use a single command to push apps that run multiple processes.
  See [Pushing an App with Multiple Processes](https://docs.pivotal.io/application-service/2-10/devguide/multiple-processes.html).
+ Run additional processes in the same container as your app.
  See [Pushing Apps with Sidecar Processes](https://docs.pivotal.io/application-service/2-10/devguide/sidecars.html).
+ Add metadata to resources such as spaces and apps.
  See [Using Metadata](https://docs.pivotal.io/application-service/2-10/adminguide/metadata.html).

For more information about the GA release of cf CLI v7,
see [Cloud Foundry Further Simplifies Modern App Development: An Inside Look at the New cf CLI v7]
(https://www.cloudfoundry.org/blog/cloud-foundry-further-simplifies-modern-app-development-an-inside-look-at-the-new-cf-cli-v7/).

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following breaking changes:

### <a id='timestamps-br'></a> Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs

The **Format of timestamps in Diego logs** feature is removed from the **App Containers** pane of the TAS for VMs tile. It is replaced by **Timestamp format for component logs** in the **System Logging** pane of the TAS for VMs tile.

TAS for VMs v2.10 automatically configures **Timestamp format for component logs** based on how you configured **Format of timestamps in Diego logs** in TAS for VMs v2.9:

* If the **RFC3339 timestamps** option for **Format of timestamps in Diego logs** is selected before you upgrade to TAS for VMs v2.10, then the **Converge to human-readable RFC3339 format** option for **Timestamp format for component logs** is selected in TAS for VMs v2.10 by default. **Converge to human-readable RFC3339 format** configures TAS for VMs to use RFC3339 timestamps in the logs of several TAS for VMs components.

* If the **Seconds since the Unix epoch** option for **Format of timestamps in Diego logs** is selected before you upgrade to TAS for VMs v2.10, then the **Maintain previous format** option for **Timestamp format for component logs** is selected in TAS for VMs v2.10 by default.

To avoid breaking changes associated with this update, you must:

* Update any automation scripts that reference the removed **Format of timestamps in Diego logs** feature.

* If **RFC3339 timestamps** is selected for **Format of timestamps in Diego logs** before you upgrade to TAS for VMs v2.10, update any external monitoring configuration to account for RFC3339 timestamps in the logs for several TAS for VMs components. For a list of TAS for VMs components that support RFC3339 timestamps in TAS for VMs v2.10, see [Optionally Use Human-Readable Timestamps for Component Logs](#timestamps) below.

For more information about configuring RFC3339 timestamps for component logs, see [System Logging](https://docs.pivotal.io/application-service/operating/configure-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='aggregate-drains-br'></a> Aggregate Syslog Drains Contain Logs Only

In TAS for VMs v2.10, aggregate syslog drains contain only logs by default, and do not contain metrics. If you rely on metrics sent through aggregate syslog drains, you must add <code>?include-metrics-deprecated=true</code> to your aggregate drain URLs to continue to receive metrics in the drains.

For more information, see <a href="https://docs.pivotal.io/platform/2-10/release-notes/runtime-rn.html#syslog-no-metrics">Aggregate Syslog Drains Contain Logs Only</a> in the _TAS for VMs v2.10 Release Notes_.

## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='incompatible-stemcell'></a> Incompatible Stemcell Causes Job Failure

If you use the NSX-T Container Plugin (NCP) tile v3.0.2 or earlier, do not
upgrade to <%= vars.app_runtime_abbr %> 2.10.5. The stemcell in this patch is
not compatible with the NCP tile v3.0.2 or earlier and causes the `openvswitch`
job to fail when you deploy.

### <a id='cf-cli-firehose-errors'></a> Errors Viewing App Logs after Disabling V1 Firehose

<%= partial "/pcf/app-service-kis/cf_cli_errors_disable_firehose" %>

### <a id="metric-registrar-1.2.1-issues"></a>Metric Registrar 1.2.1 Issues

<%= partial "/pcf/app-service-kis/metrics-registrar-known-issues" %>
