---
title: TAS for VMs v2.11 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) v2.11.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

For more information about the Cloud Foundry Certified Provider Program, see
[How Do I Become a Certified Provider?](https://www.cloudfoundry.org/certified-platforms-how-to/)
on the Cloud Foundry website.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.11.1'></a> 2.11.1

**Release Date:** 05/27/2021

* **[Security Fix]** Usage Service - Upgrade Rails gem to address [CVE-2021-22880](https://nvd.nist.gov/vuln/detail/CVE-2021-22880)
* **[Feature Improvement]** Patch versions can be upgraded without a stemcell upgrade
* **[Feature Improvement]** MySQL binlogs volume is capped at 33% of available disk storage
* **[Feature Improvement]**  Improve metric-registrar to handle unreachable CC more gracefully, delete smoke-test app in the case of failure, and integrate CUPS caching
* **[Feature Improvement]** Adds support for SNI routes
* **[Feature Improvement]** Adds per request metrics reporting, which makes metric frequency proportional to request frequency
* **[Bug Fix]** Smoke Test allows the operator to provide the apps_domain property when deploying TAS and also properly configures user provided space when deploying an isolation segment
* Bump binary-offline-buildpack to version `1.0.38`
* Bump bpm to version `1.1.11`
* Bump cf-autoscaling to version `237`
* Bump cf-networking to version `2.36.0`
* Bump cflinuxfs3 to version `0.238.0`
* Bump diego to version `2.50.0`
* Bump dotnet-core-offline-buildpack to version `2.3.28`
* Bump garden-runc to version `1.19.25`
* Bump go-offline-buildpack to version `1.9.31`
* Bump log-cache to version `2.11.0`
* Bump loggregator to version `106.6.0`
* Bump nginx-offline-buildpack to version `1.1.26`
* Bump nodejs-offline-buildpack to version `1.7.51`
* Bump notifications to version `62`
* Bump php-offline-buildpack to version `4.4.39`
* Bump push-usage-service-release to version `674.0.13`
* Bump pxc to version `0.35.0`
* Bump python-offline-buildpack to version `1.7.39`
* Bump r-offline-buildpack to version `1.1.17`
* Bump routing to version `0.213.0`
* Bump ruby-offline-buildpack to version `1.8.39`
* Bump silk to version `2.36.0`
* Bump smoke-tests to version `4.3.0`
* Bump staticfile-offline-buildpack to version `1.5.21`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.0</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.38</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.20</td></tr>
    <tr><td>bpm</td><td>1.1.11</td></tr>
    <tr><td>capi</td><td>1.109.0</td></tr>
    <tr><td>cf-autoscaling</td><td>237</td></tr>
    <tr><td>cf-cli</td><td>1.32.0</td></tr>
    <tr><td>cf-networking</td><td>2.36.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.238.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.50.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.28</td></tr>
    <tr><td>garden-runc</td><td>1.19.25</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.31</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.36</td></tr>
    <tr><td>log-cache</td><td>2.11.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.2.0</td></tr>
    <tr><td>loggregator</td><td>106.6.0</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>39</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.26</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.51</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>62</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.39</td></tr>
    <tr><td>push-apps-manager-release</td><td>674.0.2</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.13</td></tr>
    <tr><td>pxc</td><td>0.35.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.39</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.17</td></tr>
    <tr><td>routing</td><td>0.213.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.39</td></tr>
    <tr><td>silk</td><td>2.36.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.3.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.21</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.7.0</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.2</td></tr>
    <tr><td>uaa</td><td>74.5.22</td></tr>
  </tbody>
</table>
 
 

### <a id='2.11.0'></a> 2.11.0

**Release Date:** March 30, 2021

- See [New Features in <%= vars.app_runtime_abbr %> v2.11](#new-features)
- See [Resolved Issues](#resolved-issues)
- See [Breaking Changes](#breaking-changes)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.117</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.20</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.109.0</td></tr>
    <tr><td>cf-autoscaling</td><td>235</td></tr>
    <tr><td>cf-cli</td><td>1.32.0</td></tr>
    <tr><td>cf-networking</td><td>2.35.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.231.0</td></tr>
    <tr><td>credhub</td><td>2.9.0</td></tr>
    <tr><td>diego</td><td>2.49.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.24</td></tr>
    <tr><td>garden-runc</td><td>1.19.18</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.26</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.36</td></tr>
    <tr><td>log-cache</td><td>2.10.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.2.0</td></tr>
    <tr><td>loggregator</td><td>106.4.0</td></tr>
    <tr><td>mapfs</td><td>1.2.6</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.3</td></tr>
    <tr><td>mysql-monitoring</td><td>9.15.0</td></tr>
    <tr><td>nats</td><td>39</td></tr>
    <tr><td>nfs-volume</td><td>5.0.12</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.20</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.42</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.31</td></tr>
    <tr><td>push-apps-manager-release</td><td>674.0.2</td></tr>
    <tr><td>push-usage-service-release</td><td>674.0.11</td></tr>
    <tr><td>pxc</td><td>0.32.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.30</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.12</td></tr>
    <tr><td>routing</td><td>0.211.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.31</td></tr>
    <tr><td>silk</td><td>2.35.0</td></tr>
    <tr><td>smb-volume</td><td>3.1.0</td></tr>
    <tr><td>smoke-tests</td><td>4.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.15</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.7.0</td></tr>
    <tr><td>system-metrics-scraper</td><td>3.2.2</td></tr>
    <tr><td>uaa</td><td>74.5.22</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> v2.11, see [Configuring <%= vars.app_runtime_abbr %> for Upgrades](../../operating/configuring.html).

When upgrading to <%= vars.app_runtime_abbr %> v2.11, be aware of the following upgrade considerations:

* <%= vars.app_runtime_abbr %> v2.11 is compatible with <%= vars.ops_manager %> v2.10. If you are using a previous version of <%= vars.ops_manager %>, you must upgrade to <%= vars.ops_manager %> v2.10 before you upgrade to <%= vars.app_runtime_abbr %> v2.11.

* If you are upgrading from Pivotal Application Service (PAS) v2.7 or <%= vars.app_runtime_abbr %> v2.8 and later, you can upgrade directly to <%= vars.app_runtime_abbr %> v2.11.
<%= vars.app_runtime_abbr %> v2.11 is an LTS version of <%= vars.app_runtime_abbr %>.
See [Long-Term Support for <%= vars.app_runtime_abbr %> v2.11](#lts) below for more information.

* If you are upgrading from PAS v2.6 or earlier, you must upgrade to PAS v2.7 before you upgrade to <%= vars.app_runtime_abbr %> v2.11.

* Some partner service tiles may be incompatible with <%= vars.app_runtime_abbr %> v2.11.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.app_runtime_abbr %>.
  <br/><br/> For information about which partner service releases are currently compatible with <%= vars.app_runtime_abbr %>
  v2.11, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> v2.11

<%= vars.app_runtime_abbr %> v2.11 includes the following major features:

### <a id='lts'></a> Long-Term Support for <%= vars.app_runtime_abbr %> v2.11

<%= vars.app_runtime_abbr %> v2.11 is a long-term supported (LTS) version of <%= vars.app_runtime_abbr %>. <%= vars.app_runtime_abbr %> v2.11 will be supported through April 2024.

Over the lifecycle of <%= vars.app_runtime_abbr %> v2.11, <%= vars.company_name %> will release security patches that occasionally include feature enhancements and maintenance updates.
<%= vars.company_name %> will also continue to release new versions of <%= vars.app_runtime_abbr %>.

You can jump upgrade directly from previous versions of <%= vars.app_runtime_abbr %> to the LTS version of <%= vars.app_runtime_abbr %>.
For more information, see [Jump Upgrading to TAS for VMs v2.11](../../operating/jump-upgrades.html).

### <a id='vcf-compatibility'></a> Deployment on VMware Cloud Foundation

<%= vars.app_runtime_abbr %> v2.11 can be deployed on VMware Cloud Foundation (VCF) v4.1. For
instructions and more information, see
[Deploying TAS for VMs to VCF](../../operating/vmc.html).

### <a id='vmc-compatibility'></a> Deployment on VMware Cloud on Amazon Web Services

<%= vars.app_runtime_abbr %> v2.11 can be deployed to VMware Cloud (VMC) on
Amazon Web Services (AWS). For instructions and more information, see
[Deploying TAS for VMs to VMC](../../operating/vcf.html).

### <a id='timestamps'></a> Optionally Use Human-Readable Timestamps for Component Logs

<%= vars.app_runtime_abbr %> v2.11 introduces RFC3339 log format support for several <%= vars.app_runtime_abbr %> components. You can configure these components to produce logs with human-readable RFC3339 timestamps with the **Timestamp format for component logs** configuration option in the <%= vars.app_runtime_abbr %> tile. Logs that use human-readable timestamps are often easier to debug.

RFC3339-formatted timestamps follow the RFC3339 spec, include nine points of precision where possible, and are in UTC. For example:

* 2019-11-21T22:16:18.750673404Z
* 2019-11-21T22:16:18.750000000Z

For more information about configuring the **Timestamp format for component logs** field, see [System Logging](https://docs.pivotal.io/application-service/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

In <%= vars.app_runtime_abbr %> v2.11.0, if you select the **Converge to human-readable RFC3339 format** option under **Timestamp format for component logs**, then the following components and related jobs use RFC3339 timestamps:

| Component | Jobs |
| ------------ | ----- |
| `Logging` | `log-cache-nozzle`, `loggregator_agent`, `loggr-forwarder-agent`, `loggr-syslog-agent`, `prom_scraper`, `doppler`, `loggregator_trafficcontroller`, `reverse_log_proxy`, `reverse_log_proxy_gateway`, `log-cache-cf-auth-proxy`, `log-cache-gateway`, `log-cache-syslog-server`, `log-cache`, `loggr-syslog-binding-cache`, `loggr-upd-forwarder`, `syslog_forwarder` |
| `CAPI` | `cc_deployment_updater`, `cc_uploader`, `cloud_controller_clock`, `cloud_controller_ng`, `cloud_controller_worker`, `rotate_cc_database_key`, `tps` |
| `UAA` | `uaa` |

This new feature is related to a breaking change. For more information, see <a href='#timestamps-breaking-change'>Timestamps for Component Logs in Diego Logs when Upgrading</a> below.

### <a id='cloud-foundry-v3-api-availability'></a> Cloud Foundry V3 APIs Availability

<%= vars.app_runtime_abbr %> v2.11 supports Cloud Foundry V3 APIs. This feature improves response
time when working with services. Use the Cloud Foundry V3 API endpoints when listing, creating, or
modifying any service that works with <%= vars.app_runtime_abbr %> v2.11 and later.

### <a id='stemcell-upgrade'></a> Looser Stemcell Version Requirements when Upgrading <%= vars.app_runtime_abbr %> v2.11.1 and Later

<%= vars.app_runtime_abbr %> v2.11.1 and later have loosened minor version restrictions for stemcells.
This allows you to upgrade to a newer <%= vars.app_runtime_abbr %> patch without upgrading the stemcell.

When you stage <%= vars.app_runtime_abbr %> for deployment, <%= vars.ops_manager %> installs <%= vars.app_runtime_abbr %> using the latest stemcell by default.

In <%= vars.app_runtime_abbr %> v2.11.0 and earlier, if the latest stemcell was different from the stemcell that was used when installing <%= vars.app_runtime_abbr %> previously, then <%= vars.ops_manager %> re-created all of the VMs in your <%= vars.app_runtime_abbr %> installation during the upgrade.

In <%= vars.app_runtime_abbr %> v2.11.1 and later, you can upgrade to later patches of <%= vars.app_runtime_abbr %> without upgrading the stemcell or re-creating all VMs.


## <a id='resolved-issues'></a> Resolved Issues

<%= vars.app_runtime_abbr %> v2.11 includes the following resolved issues:

### <a id='credhub-encryption-key'></a> CredHub Primary Encryption Key Verification

When you configure the CredHub server for <%= vars.app_runtime_abbr %>, you must select a primary encryption key.
In <%= vars.app_runtime_abbr %> v2.11, if you do not select a primary encryption key, or if you mark more than one key as the primary encryption key, deployment fails more quickly than in previous releases of <%= vars.app_runtime_abbr %>.

For more information, see [Configure CredHub](../../operating/configure-pas.html#credhub) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='capi-v2'></a> Apps Manager Uses the CAPI V2 Endpoint

For greater stability, Apps Manager uses the Cloud Controller API (CAPI) V2 endpoint instead of the experimental V3 endpoint.

### <a id='appsman-services'></a> Improved Handling for Disabled Service Plans in Apps Manager

In <%= vars.app_runtime_abbr %>, disabled service plans are handled gracefully in the Apps Manager UI.

### <a id='autoscaler-rabbitmq'></a> Improved App Autoscaler Handling of RabbitMQ-Based Autoscaling Rules

In <%= vars.app_runtime_abbr %> v2.11, App Autoscaler uses fewer resource-intensive RabbitMQ endpoints when available to reduce load on RabbitMQ.

## <a id='breaking-changes'></a> Breaking Changes

<%= vars.app_runtime_abbr %> v2.11 includes the following breaking changes:

### <a id='disable-ssl-certificate-verification-removed'></a> Option Removed: Disable SSL Certificate Verification for this Environment

In <%= vars.app_runtime_abbr %> v2.11.0 and later, the option to disable SSL certificate verification for an environment is removed.

Before you upgrade to <%= vars.app_runtime_abbr %> v2.11, you must deselect the option to disable SSL certificate verification in the **Networking** pane of the <%= vars.app_runtime_abbr %> tile.
For more information, see _Configure Networking_ in [Configuring <%= vars.app_runtime_abbr %>](../../operating/configure-pas.html#networking).

If the **Disable SSL certificate verification for this environment** option is enabled when you try to upgrade to <%= vars.app_runtime_abbr %>, the upgrade fails with the following error:

<pre class="terminal">
attempt to upgrade to PAS 2.11+ with Skip SSL Verification enabled, please disable
Skip SSL Verification prior to upgrade by un-checking "Disable SSL certificate
verification for this environment" under "Networking"
</pre>

If you plan to automate the installation of <%= vars.app_runtime_abbr %> v2.11, you must remove references to the corresponding property `.ha_proxy.skip_cert_verify`.

### <a id='transfer-encoding-stricter'></a> Gorouter Update to Golang v1.15 Introduces Stricter Transfer-Encoding Header Standards in <%= vars.app_runtime_abbr %> v2.11.0 and Later

In <%= vars.app_runtime_abbr %> v2.11.0 and later,
stricter header standards break Spring apps
that incorrectly set the header.

For information about how to avoid this breaking change,
see [Applications on TAS for VMs get 502 chunked response error](https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US) in the Knowledge Base.
You must complete the resolution steps described in this
Knowledge Base article before you upgrade to
<%= vars.app_runtime_abbr %> v2.11.0 or later.

<p class="note"><strong>Note</strong>: This breaking change was also present in
    Pivotal Application Service (PAS) v2.7.30, PAS v2.8.24,
    <%= vars.app_runtime_abbr %> v2.9.18, and <%= vars.app_runtime_abbr %> v2.10.10.
If you are on any of these versions or earlier,
you must upgrade to v2.7.31, v2.8.25, v2.9.21, or v2.10.11
before upgrading or jump upgrading to 2.11.0 or later.
For more information,
see <a href="https://community.pivotal.io/s/article/Application-Chunked-Error?language=en_US">Applications on TAS for VMs get 502 chunked response error</a>.</p>

### <a id='timestamps-breaking-change'></a> Timestamps for Component Logs in Diego Logs when Upgrading

The <strong>Timestamp format for component logs</strong> feature replaces the <strong>Format of timestamps in Diego logs</strong> feature in the <strong>App Containers</strong> pane of the <%= vars.app_runtime_abbr %> tile. However, when you upgrade to <%= vars.app_runtime_abbr %> v2.11, the option that was selected under <strong>Format of timestamps in Diego logs</strong> in your previous deployment is applied to <strong>Timestamp format for component logs</strong>. For more information, see <a href='#timestamps'>Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs</a>.

### <a id="dynamic-egress"></a> Dynamic Egress Policies Are Removed

You cannot upgrade to <%= vars.app_runtime_abbr %> v2.11 if you are using Dynamic Egress policies.

To see if you have Dynamic Egress policies, see [List Egress Policies](https://docs.pivotal.io/application-service/2-10/devguide/egress-policies.html#list-egress-policies) in the <%= vars.app_runtime_abbr %> v2.10 documentation.

To delete each of your policies, see [Delete an Egress Policy](https://docs.pivotal.io/application-service/2-10/devguide/egress-policies.html#delete-egress-policies) in the <%= vars.app_runtime_abbr %> v2.10 documentation.

## <a id='known-issues'></a> Known Issues

There are no known issues in this release of <%= vars.app_runtime_abbr %>.
